[2021-12-08 08:24] helendallas commented on #2748
@Fanevanjanahary @dimasciput Please confirm when these changes can be done, thanks

[2021-12-08 08:25] helendallas commented on #2786
@Fanevanjanahary @dimasciput
Any progress on this? Please let me know when it is done and whether I must check on testing or live.

[2021-12-08 08:26] helendallas commented on #2615
@dimasciput Please let me know when this is rolled out to live. Then I can close the ticket.

[2021-12-08 08:31] helendallas commented on #2853
@Fanevanjanahary @dimasciput
The default should be FBIS and GBIF turned on please, i.e. so that when a user first lands on the page, FBIS data is visible, and GBIF data is visible.

![image](https://user-images.githubusercontent.com/45286876/145174897-e8e6f889-abaa-473b-aeda-0fd55e18b01b.png)

[2021-12-08 08:34] helendallas commented on #2788
Thanks @Fanevanjanahary @dimasciput This looks fine on testing. Please roll out to live, than I can close the ticket.

[2021-12-08 08:47] helendallas commented on #2614
@dimasciput I am battling to upload data to testing. Says "processing Data" > 10 minutes, think there is a bug

![image](https://user-images.githubusercontent.com/45286876/145177351-3f203108-b885-4acf-aec4-107432952aa2.png)

Here is the excel file
[WT_G1BERG-DRIEH_03_03_2010 to 04_02_2011.xlsx](https://github.com/kartoza/django-bims/files/7674649/WT_G1BERG-DRIEH_03_03_2010.to.04_02_2011.xlsx)

[2021-12-08 08:49] helendallas commented on #2828
Closing this ticket as issues captured in #2614

[2021-12-08 08:49] #2828 closed

[2021-12-08 08:58] helendallas commented on #2779
@dimasciput Some of these data are from OdonataMAP. Either way if there is not biological data associated with it, then the sites should be removed.

![image](https://user-images.githubusercontent.com/45286876/145179073-3efb5048-05c7-4dc6-a2e0-1efceb36511f.png)

[2021-12-08 09:19] helendallas commented on #2819
@dimasciput The source is correct in the Source References, but is not being pulled down in the csv files. I am checking csv again.

![image](https://user-images.githubusercontent.com/45286876/145179640-ffb5ed40-0a1b-43f6-97f9-9c6b65745b56.png)

[2021-12-08 09:42] helendallas commented on #2849
@dim Reopening ticket as this source reference cannot be downloaded, so there is still an issue even though you uploaded it in the backend.

![image](https://user-images.githubusercontent.com/45286876/145185604-a6689ddd-b425-4ed3-8e5f-e293ab5d1e1f.png)

[2021-12-08 11:13] helendallas opened #2891 "Source reference issue"
I have tried to update the source reference for these but it just keeps creating new references. Please can you check what is going on.

![image](https://user-images.githubusercontent.com/45286876/145198924-644f46c4-d6a4-4586-a2ff-6b859181b7ab.png)

https://freshwaterbiodiversity.org/source-references/?&collectors=2729

It should all be the same source reference

[2021-12-10 12:28] helendallas opened #2892 "Error 500 when editing chemcial records in admin"
I tried to edit an incorrect cond value in admin-chemical records. I edited several, but then I received an error message
G1MAAT-GWEIR COND

[2021-12-14 06:37] FBIS-issues opened #2893 "502 bad gateway"
I have created a new site and input sass data. but when i submit the form to go to the next one, i get a 502 bad gateway page.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1228">User information </a>
Browser: Chrome
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/sass/74102/#
Screen resolution: 1366 x 768

[2021-12-17 14:36] FBIS-issues opened #2894 "Blyde river: opsaridium peringueyi not extinct"
In the blyde river (and i think the klaserie) opsaridium peringueyi is indicated as extinct (despite records of it). i have confirmed with dr francois roux of mtpa - it is not an extinct species.

thanks for a great product.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/3076">User information </a>
Browser: Chrome
Device: Desktop
Referrer: https://freshwaterbiodiversi

[2021-12-20 01:13] dimasciput commented on #2894
Resolved

[2021-12-20 01:13] #2894 closed

[2022-01-10 12:59] jeremyshelton opened #2895 "Testing site - not refreshing weekly?"
The testing site is not refreshing weekly, but it should be.
The frog data I uploaded to testing on 3 December 2021 are still there.

[2022-01-10 13:10] jeremyshelton commented on #2887
@dimasciput just a quick update that the testing site is still not working when I try to look at the recently-uploaded frog data. It gets stuck on 'Loading' the I try to do a frog data search from multiple sites: https://testing.healthyrivers.kartoza.com/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=2009&yearTo=2021&months=&boundary=&userBoundary=&referenceCategory=&spatialFilt

[2022-01-13 14:48] mmindje opened #2896 "RBIS testing site cannot test data more than once"
@dimasciput the RBIS TESTING SITE cannot allow us to test data more than once after we have got an error file corrected. We need to wait for the next day to retest the data. It keeps processing endlessly

![image](https://user-images.githubusercontent.com/64961274/149352029-cea36c25-68c1-4a0e-b3a9-8066e1636ad5.png)

[2022-01-13 14:51] mmindje opened #2897 "Removal of download request button duplicates"
Hi @dimasciput

Can you also remove one button for the download request in the final site

![image](https://user-images.githubusercontent.com/64961274/149352481-7d28d785-0383-46ce-9b1d-e7fc52335aa8.png)

[2022-01-13 15:23] mmindje opened #2898 "How to remove the Masterlist without deleting the full module?"
Hi @dimasciput we wanted to remove the master list for avians and odonates but without deleting again the modules. We had some slight issues to correct per se such as the species origins.

![image](https://user-images.githubusercontent.com/64961274/149357996-8adfb2a5-9827-4604-a1ae-f7d5ee0db9cd.png)

[2022-01-18 05:32] jeremyshelton commented on #2895
@dimasciput @timlinux even after the recent refresh, the testing site is still not the same as live site. For example, see Odonata module.
This makes it tricky to confidently test certain features and data sets.
@helendallas

[2022-01-18 12:53] jeremyshelton commented on #2887
**Update 18 Jan 2022**

@dimasciput testing site still getting stock on 'Loading' when I try to load the dashboard for amphibian data:
![Screen Shot 2022-01-18 at 2 50 51 PM](https://user-images.githubusercontent.com/44292029/149940755-01eee64b-d00f-4ed7-a390-0c17983d344b.png)

We need to try to resolve this before we add the new amphibian to the live site, so that we can test that the data on End

[2022-01-20 08:00] dimasciput commented on #2849
@helendallas this is fixed, you can now download the file.

[2022-01-20 08:05] dimasciput commented on #2887
most of the issues should be fixed now @jeremyshelton , but the site name is still an issue.

[2022-01-20 08:09] dimasciput commented on #2857
@jeremyshelton @helendallas any news about the url to get the data?

[2022-01-20 08:52] #2849 closed

[2022-01-20 09:22] dimasciput commented on #2838
![image](https://user-images.githubusercontent.com/1979569/150310350-30bd8a30-a8be-47ff-82c4-2b46db13aa31.png)
 Add a download button here

[2022-01-20 09:23] timlinux opened #2901 "Enable github actions to automate testing"
Tests should be run for each PR
Testing framework should be added if not already there.
All new PR's should be accompanied by tests covering new functionality
Any bug reports should be accompanied by regression tests when fixed

[2022-01-20 09:24] dimasciput commented on #2838
![image](https://user-images.githubusercontent.com/1979569/150310704-631f0002-3a45-490e-a584-a1393b73948e.png)

[2022-01-20 09:25] timlinux opened #2902 "We need to update the dependecies to latest"
Upgrade django and all deps to make sure they are on the latest versions to ensure we have the latest bug fixes and security fixes

[2022-01-20 09:29] jeremyshelton commented on #2786
@Fanevanjanahary @dimasciput let us know when this is ready for testing on live?

[2022-01-20 09:33] timlinux opened #2903 "We need the backups to be organised in a tower of hanoi"

[2022-01-20 09:34] timlinux opened #2904 "We need to block bots"

[2022-01-20 09:34] timlinux opened #2905 "We need to migrate to rancher2"

[2022-01-20 09:37] timlinux opened #2906 "We need to do a disaster fire drill"
Simulate that all hetzner infrastructure is offline and we need to bring up live on a new server.

What happens with geoserver, geocontext etc that come from remove servers?

[2022-01-20 09:51] timlinux opened #2907 "Remove geonode from the architecture"
For documents we can copy over the models to BIMS

[2022-01-20 09:57] Fanevanjanahary commented on #2786
@jeremyshelton @helendallas this is already done. You can review it please

[2022-01-21 08:00] dimasciput commented on #2896
@mmindje can you test again on testing please?

[2022-01-21 08:04] dimasciput commented on #2898
@mmindje currently we don't have this feature yet, I usually removed them in the server manually. Did you try fix the data or remove them? You can always re-upload the data with the same UUID, they will override the existing data.

[2022-01-21 08:15] jeremyshelton commented on #2857
@dimasciput I am following up with SANBI and will get back to you as soon as we have a link.
@helendallas do you think this is something that we will need to add to the master list as well?

[2022-01-21 09:30] jeremyshelton commented on #2786
Hi @Fanevanjanahary I don't see the requested filter options anywhere in the search bar yet? Do we need to re-harvest data sets from GBIF in order to get the data for the SA neighboring countries including Mozambique, Botswana, Zimbabwe, Namibia, Eswatini, Lesotho? It looks like there are still data gaps in these countries?
@dimasciput @helendallas @timlinux

[2022-01-21 09:47] dimasciput commented on #2897
@mmindje this is fixed in testing

[2022-01-21 13:47] amyburness commented on #2836
@dimasciput
I think that not all the points have been harvested from the following Geocontext location contexts/groups. Can you Harvest them all in the background?

![image](https://user-images.githubusercontent.com/77841514/150536820-86ed05dc-283f-4ea5-8168-fa5eb6e75559.png)

![image](https://user-images.githubusercontent.com/77841514/150536483-86128b3e-3d01-490e-854b-4c0ba5c33c66.png)

[2022-01-24 06:31] jeremyshelton opened #2908 ""Add SASS" button should say "Add Fish""
When I try to add fish data to a site with fish, the "Add SASS" button appears instead of the "Add Fish" button.

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecol

[2022-01-24 06:33] #2908 closed

[2022-01-24 11:39] mmindje commented on #2898
Sure, we will try and see how it works.
Regards

[2022-01-24 11:41] mmindje commented on #2897
Thank you- saw this issue is still unfixed in the final site.
Hope you also remember to fix it.

Thank you Dimas

[2022-01-24 12:50] jeremyshelton commented on #1797
@timlinux @dimasciput @Fanevanjanahary Can we please pick this up as a priority at the next sprint.
Thanks
@helendallas

[2022-01-24 12:51] jeremyshelton commented on #1797
@Fanevanjanahary @dimasciput I cant figure out which are the duplicate records. To do this we need a csv file that contains the following:

- FBIS Site Code
- Site description
- Latitude
- Longitude
- Sampling Date
- Taxon
- Broad Biotope
- Specific Biotope
- Substratum
- Sampling method
- Abundance measure
- Abundance value
- Collector/Owner
- Collector/Owner Institute
- Author(s)
- Year
- Source

[2022-01-24 13:05] helendallas commented on #2752
@Fanevanjanahary dates seemed to be problematic again, see here

![image](https://user-images.githubusercontent.com/45286876/150788002-ecb072ea-90fc-482d-80f4-544d812137b2.png)

https://freshwaterbiodiversity.org/site-visit/detail/189664/

Please can you check

[2022-01-24 17:17] jeremyshelton commented on #2858
@dimasciput @timlinux

From Brenda Daly at SANBI:

We, unfortunately, did not budget for API development in this phase of the NBIS Project.

The information will be accessible from the website via a GUID, however, we are still in UAT as we migrate from BRAHMS version 7 to 8 and currently are unable to provide stable GUIDs.

We hope to finalise the migration before the end of February.

[2022-01-24 17:18] jeremyshelton commented on #2858
Not sure where that leaves us, but I'll touch base with Brenda on this again in March.

[2022-01-25 01:49] dimasciput commented on #1797
Hi @jeremyshelton @helendallas , I will try to clean up some duplicate I can find using a script first, and then if there are still some duplicates left I will give you a csv file to check and investigate. Hopefully it will be ready by tomorrow or Thursday.

[2022-01-25 06:30] Fanevanjanahary commented on #2752
@helendallas I will check on it.

[2022-01-25 08:30] dimasciput commented on #2891
https://freshwaterbiodiversity.org/source-references/?&collectors=2729 fixed now

[2022-01-25 08:54] jeremyshelton opened #2911 "Issue with GBIF harvest on Testing site"
@dimasciput I am having trouble harvesting data for 7 frog taxa in the testing site. The taxa do exist on GBIF and the taxon names in the master list match those on GBIF. Any idea why these are returning zeros from the harvest?

https://testing.healthyrivers.kartoza.com/uploaded/harvest-session-log/25-1643099094_YhPAMLQ.txt

Here is the csv I uploaded to a module called 'FrogTest'
[Error taxa test

[2022-01-25 09:54] mmindje opened #2913 "We need a feature to add a call/song/ for species"
We need a feature to add a call/song/ for species like frogs or birds on the individual species dashboard the way we can now add image to the species?

That is to help us add more birds songs for instance that were are soon receiving  from the Planet Bird song project

![image](https://user-images.githubusercontent.com/64961274/150953718-bd209508-83b7-4294-b3c6-a7025d503828.png)

[2022-01-25 11:41] jeremyshelton commented on #2911
Thanks @dimasciput for fixing this on Testing site.
Please let us know as soon as it is deployed to live site so we can begin creating the new frog module.
Thanks

[2022-01-26 04:58] dimasciput commented on #2901
this is done

[2022-01-26 04:58] #2901 closed

[2022-01-26 07:04] dimasciput commented on #2902
this is done

[2022-01-26 07:04] #2902 closed

[2022-01-26 12:38] amyburness commented on #2836
Hi there @dimasciput

1. Issue not all the points are showing: I don't think that not all the points have harvested the information from the geocontext services I added.

2. No red line around the filter area: So I had a look at the requests and there is something weird going on the request should reference the name of the layer in GeoServer for example (hydrological_regions_dd). the request needs

[2022-01-27 09:48] dimasciput commented on #2614
@helendallas it's because you have the header incorrect, it should be "Water temperature" not "Temp". I added error message for that here https://github.com/kartoza/django-bims/pull/2923. Will deploy it later to testing.

[2022-01-27 11:42] dimasciput commented on #2854
This is fixed on live site

[2022-01-28 04:10] dimasciput commented on #2855
this shouldn't be an issue anymore

[2022-01-29 07:31] dimasciput commented on #2819
this is deployed to **testing**.

[2022-01-29 07:31] dimasciput commented on #2888
this is deployed  to testing

[2022-01-30 06:37] dimasciput commented on #2911
This is also deployed to live site

[2022-01-31 02:05] dimasciput commented on #2838
this is in testing

[2022-01-31 02:05] dimasciput commented on #2614
updated in testing

[2022-01-31 02:06] dimasciput commented on #2748
updated in testing

[2022-01-31 06:11] #2891 closed

[2022-01-31 06:12] jeremyshelton commented on #2911
Thanks @dimasciput

[2022-01-31 06:12] #2911 closed

[2022-01-31 06:13] jeremyshelton commented on #2895
This has been fixed.
Thanks @dimasciput

[2022-01-31 06:13] #2895 closed

[2022-01-31 06:14] helendallas commented on #2836
@dimasciput @amyburness Any solutions here yet?

[2022-01-31 06:14] jeremyshelton commented on #2786
@Fanevanjanahary @dimasciput please give an update on the status of this ticket?

[2022-01-31 06:15] jeremyshelton commented on #2887
This has been fixed.
Thanks @dimasciput

[2022-01-31 06:15] #2887 closed

[2022-01-31 06:37] dimasciput commented on #2836
@helendallas will look into it Thursday, I think the solution is just to refetch the geocontext data.

[2022-01-31 06:51] helendallas commented on #2788
Thanks looks good on live, closing ticket

[2022-01-31 06:51] #2788 closed

[2022-01-31 07:04] helendallas commented on #2158
Thanks look good on live, closing ticket

[2022-01-31 07:04] #2158 closed

[2022-01-31 07:08] helendallas opened #2926 "Source references - need to be able to upload pdfs > 3mb"
At the moment, and pdf that is about 3mb or greater does no upload. small docs work fine.

Here is a problem doc that wont upload
[Uploading Dallas & Rivers-Moore 2012 WRC Water Temperature 1799-1-12.pdf…]()
c

[2022-01-31 07:35] helendallas commented on #2614
Thanks, noted

[2022-01-31 07:35] #2614 closed

[2022-01-31 08:09] helendallas opened #2927 "Photograph dates not correct for water temperature form"
I uploaded 2009 water temperature data, and added a photograph, but today's date was added instead. I realise the water temperature is time series, so cannot select an actual date, but it is incorrect to give it today's date. It should rather be the year?

![image](https://user-images.githubusercontent.com/45286876/151758589-cacd4508-1741-4b4d-ae0c-e061a72a6a7d.png)

https://testing.healthyrivers.

[2022-01-31 08:10] helendallas commented on #2748
Thanks @dimasciput @Fanevanjanahary This looks great. Please roll out to live on thursday.

[2022-01-31 08:12] helendallas commented on #2889
Thanks, this is working fine, except for the date issue, please see ticket #2927 , repeated here

I uploaded 2009 water temperature data, and added a photograph, but today's date was added instead. I realise the water temperature is time series, so cannot select an actual date, but it is incorrect to give it today's date. It should rather be the year?

![image](https://user-images.githubuserconten

[2022-01-31 08:12] helendallas commented on #2889
I will rather close new ticket I created.

[2022-01-31 08:13] helendallas commented on #2927
Closing ticket as better to include in original ticket #2889

[2022-01-31 08:13] #2927 closed

[2022-01-31 08:26] helendallas commented on #2838
Thanks @dimasciput

I had hoped only the data for the quinary clicked by the user would download and that @amyburness could provide this file of the attribute data associated with each Hydrological Region Flow Type.

But if this is difficult to do, then just leave it as is. Hopefully the user will figure out to look up the quinary id, and codes in the consolidated file that is downloaded.

[2022-01-31 08:28] helendallas commented on #2855
Closing ticket, will reopen if issue persists once new user signs on to testing site

[2022-01-31 08:28] #2855 closed

[2022-01-31 08:42] #2854 closed

[2022-01-31 09:17] helendallas commented on #2819
@jeremyshelton please can you check this

[2022-01-31 09:17] #2615 closed

[2022-01-31 09:20] jeremyshelton commented on #2819
@helendallas I am literally busy testing this tight now 😅

[2022-01-31 09:21] helendallas commented on #2892
Working now, closing ticket

[2022-01-31 09:21] #2892 closed

[2022-01-31 09:23] helendallas commented on #2888
Please can you include option to filter by author as well. This will make it easier to find an existing source reference.

[2022-01-31 09:28] jeremyshelton commented on #2819
Looking good.
Thanks @dimasciput
Closing ticket.

[2022-01-31 09:28] #2819 closed

[2022-01-31 10:44] amyburness commented on #2838
@helendallas  and @dimasciput

For this data there are 2 version on the database one that has all of the data included and one that is the summary based on the summary data sent in the form of a materialised view of the larger dataset.

The materialised view (MV) it what is being visualised when the user click on the map so that there are not 100s of data to read through

@helendallas do you want

[2022-02-01 05:01] jeremyshelton opened #2928 "GBIF harvest - site code bug"
Site names are erroneously being generated from site descriptions and/or coordinates when harvesting frog data from GBIF.
![unnamed](https://user-images.githubusercontent.com/44292029/151912256-3b0f78bd-4e2b-47b3-b451-b22c7045aeb9.png)

[2022-02-01 05:07] jeremyshelton opened #2929 "GBIF harvest not working for some taxa"
The GBIF harvest from the frog master list resulted in six taxa returning zero data. However, these taxa are on GBIF and do have data associated with them. Looks like the same kind of issue that you had to fix on the testing site last week.

Here are the taxa:
Fetching : Amietia delalandii
URL : http://api.gbif.org/v1/occurrence/search?taxonKey=9311531&offset=0&hasCoordinate=true&hasGeospatialIssu

[2022-02-01 05:15] jeremyshelton opened #2930 "Master list upload issues"
When uploading the Anuran master list to the production site, there were two taxa that were duplicated by FBIS when the master list was uploaded (Tomopterna adiastola, Vandijkophrynus nubicola), and two other taxa that were on the master list but did not show up on FBIS (Xenopus laevis, Xenopus muelleri). I manually fixed this via the admin page, but there is nowhere for me to manually update the

[2022-02-01 05:20] dimasciput commented on #2930
@jeremyshelton what do you mean by 'Water Dependence' attribute? Can we do that before? Or is this new feature?

[2022-02-01 05:23] dimasciput commented on #2929
@jeremyshelton I can see the data in fbis :
https://freshwaterbiodiversity.org/map/#search/Amietia%20delalandii/taxon=&search=Amietia%20delalandii&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=36&validated=&sourceCollection=[%22gbif%22]&abioticData=&ecologicalCategory=&rank=&siteIdO

[2022-02-01 05:28] jeremyshelton commented on #2929
@dimasciput ok - a ran a second GBIF harvest last night and that seems to have now added the data for these (that were missed in the first harvest).
Closing ticket.

[2022-02-01 05:28] #2929 closed

[2022-02-01 05:29] jeremyshelton commented on #2930
@dimasciput it is a column in the Anuran master list that was added in taxon management. The same kind of thing as origin or endemism, but specific to frogs...

<img width="500" alt="Screen Shot 2022-02-01 at 7 22 15 AM" src="https://user-images.githubusercontent.com/44292029/151916893-e225ad3a-88e3-4be2-9bed-1f1606957a5e.png">

It is a column in the csv download, and we will request that this bec

[2022-02-01 05:33] dimasciput commented on #2930
@jeremyshelton you can add it here
![image](https://user-images.githubusercontent.com/1979569/151917645-e93aa754-7303-4eea-9cb8-80f8d2d42d7b.png)

You can copy the data from other taxon in the same module.

[2022-02-01 05:37] jeremyshelton commented on #2930
@dimasciput OK cool - let me try that 👍

[2022-02-01 06:28] jeremyshelton commented on #2930
@dimasciput

Order of columns in the .csv download: we need the water dependence column to be the next one after conservation status:

<img width="894" alt="Screen Shot 2022-02-01 at 8 26 21 AM" src="https://user-images.githubusercontent.com/44292029/151922317-db25298d-5296-4f5a-b388-8a613fc45f5b.png">

[2022-02-01 06:28] jeremyshelton commented on #2930
Done ✅

[2022-02-01 06:38] jeremyshelton commented on #2857
@dimasciput @helendallas

Here is the feedback from Brenda at SANBI:

We, unfortunately, did not budget for API development in this phase of the NBIS Project.

The information will be accessible from the website via a GUID, however, we are still in UAT as we migrate from BRAHMS version 7 to 8 and currently are unable to provide stable GUIDs.

We hope to finalise the migration before the end of Feb

[2022-02-01 06:39] jeremyshelton commented on #2857
I think this means that we must contact them again in March so that we can set up a GUID link to pull in the SANBI status for all taxa for which it exists?

[2022-02-01 07:24] dimasciput commented on #2930
We couldn't do that at the moment, new attribute will always be the last header.

[2022-02-01 07:24] jeremyshelton opened #2931 "Landing page module summaries"
@dimasciput please add Anura.
Also please change the breakdown category for Fish and Anura to Conservation Status.
Thanks
<img width="1308" alt="Screen Shot 2022-02-01 at 8 58 50 AM" src="https://user-images.githubusercontent.com/44292029/151927971-3c8e1d4f-caa6-4360-82e6-5870e91471ac.png">
imas

[2022-02-01 07:25] jeremyshelton commented on #2930
@dimasciput OK then. This is not urgent.
We can look at it again at a later stage.
Closing ticket.

[2022-02-01 07:25] #2930 closed

[2022-02-01 08:15] helendallas commented on #2838
Yes @amyburness When the user clicks on a quinary they get the attributes shown on the screen, but it would be useful for the user to be able to then  download the full data for each point. If this is a mission then is it possible for them to be able to download the MV for a point that they have clicked?

[2022-02-02 04:23] jeremyshelton commented on #2928
@dimasciput do you have a feel for how big a fix this is?
I know it is no longer a FBIS sprint, but we really don't want to have all of these wrong site codes up on the production site.
Please advise

[2022-02-02 06:08] dimasciput commented on #2928
@jeremyshelton the fix itself is pretty easy, but the time to fetch and generate all the missing site codes will take 2-3 days. Because there are about 11k new sites. I will start working on the fix tomorrow.

[2022-02-02 06:20] amyburness commented on #2838
@dimasciput
If I put the full table on geoserver can you make the request pull from that one instead of the MV?

[2022-02-03 11:19] dimasciput commented on #2836
@helendallas @amyburness the red line is showing up now, and I have started the script to fetch the geocontext data. It will take a while.

[2022-02-03 12:49] dimasciput commented on #2888
![Uploading image.png…]()

@helendallas added in testing

[2022-02-03 12:50] mmindje opened #2936 "We need a meeting with Helen"
The meeting is simply to have again a session of data cleaning and uploading to the system- this time we can take all the processes under @helendallas 's supervision to assure we are cnfident enough about what we have beenb doing in cleaning of data.

[2022-02-03 13:04] mmindje opened #2937 "Discrepancies in Data"
Just an example, IN INVERTEBRATES

![image](https://user-images.githubusercontent.com/64961274/152347897-2d811957-2248-4ecf-b071-b46f3dc232d4.png)

As you see above from the Taxon management- the numbers of total taxonomy is different from the ones filtered from GBIF and RBIS.

![image](https://user-images.githubusercontent.com/64961274/152348165-ef2866ff-f400-421c-927a-7906d841ebd3.png)

[2022-02-03 13:09] mmindje opened #2938 "Training in data upload forms on how to add sites and occurrences to sites."
@Helendallas to include training in data upload forms on how to add sites and occurrences to sites.

[2022-02-03 13:15] mmindje commented on #2897
Hi @dimasciput Can you also remove the download button from the final site?
Thank you

[2022-02-03 13:16] mmindje commented on #2629
Hi @dimasciput - just following up on how to edit data fro GBIF if possible or what else can be done to update locations

[2022-02-03 13:17] mmindje commented on #2896
Is it an issue in the system @dimasciput

[2022-02-03 13:17] #2580 closed

[2022-02-03 13:27] jeremyshelton commented on #2928
Thanks for fixing @dimasciput

[2022-02-03 13:27] #2928 closed

[2022-02-03 14:48] amyburness commented on #2836
@dimasciput the red line is showing for the Hydrological region filter but not for:
*Hydrological Region Flow Type
* Thermal Framework
* System Resilience
* Model Accuracy

I'll have a look at the requests and see the issues and layers they need to pull from and give you the information.

[2022-02-04 10:01] mmindje commented on #2898
@helendallas we wanted to make some edits in the native status of species for two modules- how can that be done if we need to update the master list for Birds and odonates?

![image](https://user-images.githubusercontent.com/64961274/152509776-26cf7cec-6e5d-4281-b25e-b9099dcad4c9.png)

[2022-02-07 08:02] helendallas commented on #2898
@mmindje Let's arrange a training session on Taxon management. The documents have been prepared already in pdf and are available in the wagtail docs. I suggest you have a read and revert.

[Managing taxa in Taxon Management.pdf](https://github.com/kartoza/django-bims/files/8013350/Managing.taxa.in.Taxon.Management.pdf)

[2022-02-07 08:08] helendallas commented on #2938
I can do training but this can only be done once @dimasciput has added a button to allow a site and data to be added. Please confirm when this has been done on RBIS live and RBIS testing. thanks @dimasciput

![image](https://user-images.githubusercontent.com/45286876/152748615-dc077e4d-ada0-4877-a11b-34e0ec71bb62.png)
with the site form
![image](https://user-images.githubusercontent.com/45286876/1

[2022-02-07 08:11] helendallas commented on #2937
@mmindje The number of taxa in Taxon Management is based on your Master list. In this case there are 66 taxa.
The Number of taxa in the map, including GBIF and RBIS data, is dependent on which taxa have occurrence records. If you have a taxon in the master list, but it does not have any occurrence records, then it will not come up on the map.

That is why the taxa do not always match. I suggest yo

[2022-02-07 08:17] helendallas commented on #2936
@mmindje Shall we have a session this thursday during our normal slot. Can I go ahead and delete all the modules on the testing site? except odonate adults

Then you and your team should be ready to :

- Create an avian module, upload the avian master list, upload avian occurrence data (NB use the final files used for the RBIS live)
- Create an amphibian module, upload the amphibian master list, u

[2022-02-07 08:23] mmindje commented on #2898
Thank you Helen- will meet my team and pass through the document in Wagtail.

On Mon, 7 Feb 2022 at 10:02, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*"Knowledge

[2022-02-07 09:33] mmindje commented on #2936
Thank you so much for this. Thursday is very okay. Maybe you can fix the
time at your convenience and the team can join.
Regards

On Mon, 7 Feb 2022 at 10:17, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*

[2022-02-07 09:39] mmindje commented on #2936
Yes, all modules can be deleted and the team can work on the new creation
accordingly under your supervision.
Regards

On Mon, 7 Feb 2022 at 11:32, Mapendo MINDJE ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Rese

[2022-02-07 09:55] helendallas commented on #2936
@mmindje Lets start a bit earlier. Can I suggest 09h00. I will send a zoom link to you all as I refer it to google meet.

[2022-02-07 21:15] mmindje commented on #2936
Sure, that works for me.

On Mon, Feb 7, 2022 at 11:55 AM Helen Dallas ***@***.***>
wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*"Knowledge is not a collection of information but a connect

[2022-02-08 06:54] helendallas commented on #2835
So @amyburness @dimasciput
There are 23,113 sites on FBIS

![image](https://user-images.githubusercontent.com/45286876/152933907-7b77ef30-f3c3-4d64-aa69-b8b3a9e7056e.png)

However if I apply the System Resilience filter, only 177 sites are returned

![image](https://user-images.githubusercontent.com/45286876/152934042-751fae52-12f2-4c5f-89d8-2dc0af6bda42.png)

Please investigate why this is happen

[2022-02-10 09:48] #2936 closed

[2022-02-10 09:48] #2898 closed

[2022-02-10 09:48] #2937 closed

[2022-02-10 13:14] amyburness commented on #2838
@dimasciput the full dataset is on GeoServer here this is what the download should point to so that the user gets the full data set,  [kartoza:flow_regime_type_full](https://maps.kartoza.com/geoserver/web/wicket/bookmarkable/org.geoserver.web.data.resource.ResourceConfigurationPage?name=flow_regime_type_full&wsName=kartoza)

[2022-02-12 02:42] dimasciput opened #2940 "Error uploading fish data in RBIS"
The error log :
[code]

Increase the max_length for collector/owner institute field.

[2022-02-14 11:42] jeremyshelton opened #2941 "Third party data downloads not working"
CSV data downloads for third party data (inwards, minisass) not working.

[2022-02-15 04:06] dimasciput commented on #2941
@jeremyshelton I think this is an issue from their side.

[2022-02-15 21:21] amyburness commented on #2836
@dimasciput
can you update the red outline for the filter Hydrological Region Flow Type.
![image](https://user-images.githubusercontent.com/77841514/154148702-386fd6c5-ce96-4d5d-8c77-99d841d26a94.png)

The request is not referencing the correct layer (mv_flow_regime_type_full) and filter (flow_region_type) I think for example the requests need to look something like this:

https://freshwaterbiodiv

[2022-02-15 21:40] amyburness commented on #2835
@dimasciput

For the filter red lines for the thermal framework we need to updated they are not referencing the right layer (thermal_framework).
![image](https://user-images.githubusercontent.com/77841514/154153786-bf88c9aa-cfa6-4bd4-a8ca-8b040997f77d.png)

Can you change the requests for each too something like the below:

For Thermal framework Filter
https://freshwaterbiodiversity.org/bims_proxy

[2022-02-16 07:21] helendallas opened #2943 "Duplicate source references being created"
Some source references are duplicated. @dimasciput needs to investigate why the system changed the permission of the files

Examples:
https://freshwaterbiodiversity.org/source-references/?&collectors=359
![image](https://user-images.githubusercontent.com/45286876/154214640-6dd1465a-a240-41d7-aa83-761022ce3eb4.png)

https://freshwaterbiodiversity.org/source-references/?&collectors=&q=The%20thermal%

[2022-02-16 10:12] mmindje opened #2944 "Getting stuck on Amphibians and invertebrate data upload on the official site."
Dear @dimasciput and @helendallas

Could you please help us to know what is happening with the RBIS official website's functionalities? The Data Team has successfully uploaded both amphibians and invertebrates data sets on the testing site but failed on the official site.  Here are the results from the testing site
![Testing](https://user-images.githubusercontent.com/64961274/154241912-a7599d50-f5

[2022-02-16 10:51] helendallas commented on #2748
Still not rolled out to live @dimasciput ? I thought this was meant to happen a week ago?

[2022-02-16 10:52] helendallas commented on #2889
@Fanevanjanahary Any progress on fixing this?

[2022-02-16 10:53] helendallas commented on #2838
@dimasciput Any progress?

[2022-02-16 10:55] helendallas commented on #2888
@dimasciput please confirm when author(s) filter has been added and this is deployed to live

[2022-02-16 11:59] helendallas commented on #2941
So @dimasciput
I get a security warning on Firefox bu then am able to download csv, Jeremy and Aneri cant download.
![Uploading image.png…]()

[2022-02-16 12:03] helendallas commented on #2931
When a new Taxon Group is added, it should automatically be added to the headline dashboard.

[2022-02-16 12:09] helendallas opened #2945 "Landing page dashboard"
At the moment, Dimas needs to specify what is visualised, i.e. origin, Ecological category, conservation status etc.

Two requests related to this:

Firstly, fish and anurans should both be by Conservation Status, and Algae by Division

Secondly, Is it possible to develop functionality in Admin where we can choose what to display?  Let's chat this through. If an easy task, then action, if it is go

[2022-02-16 12:13] helendallas commented on #2776
@dimasciput The linkages between VM and FBIS columns are the same as for OdonataMAP.

[2022-02-16 12:32] #2944 closed

[2022-02-16 12:35] jeremyshelton commented on #2776
[Column Header linkages between VM and FBIS (Frogs).xlsx](https://github.com/kartoza/django-bims/files/8079873/Column.Header.linkages.between.VM.and.FBIS.Frogs.xlsx)

[2022-02-16 12:40] helendallas opened #2946 "Please can we add a new drawer in Data Sources for the Virtual Museum Data"
At the moment Odonata Map is a separate Taxon module - Odonate adults

Since we will be bringing in more Virtual Museum data, we thought it would be better to allow users to select or deselect data from the VM - OdonataMAP and FrogMAP at the moment.

Please can you explore adding the drawer Virtual Museum to our Data Sources

[2022-02-16 12:41] jeremyshelton commented on #2946
![Screen Shot 2022-02-16 at 2 36 37 PM](https://user-images.githubusercontent.com/44292029/154266548-46de2087-afb7-483c-8108-a2976b0e569e.png)

[2022-02-16 12:42] helendallas commented on #2853
Please can we also add Virtual Museum to be automatically clicked on
see #2946

[2022-02-16 12:55] helendallas commented on #2839
https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date

[2022-02-16 13:02] jeremyshelton opened #2947 "System for flagging records used in decision tools"
We are keeping track of the UUIDs of all records used in national Decision Support Tools.
We would like to add a tab in the search bar (at the bottom of search bar, under owner) that allows one to filter data based on the 'decision tool label' assigned to a record.

The first step is to build the functionality for us to be able to upload a csv with UUIDs of records that were used in a specific dec

[2022-02-16 13:23] helendallas commented on #2681
We have had a rethink at this approach. It will be simpler to be able to filter using existing or new layers including :

- National Rivers Map
- National Wetlands Map
- National Dams Map

We will park this for now until the layers are ready.

[2022-02-16 14:28] jeremyshelton opened #2948 "Record type - a new column in upload templates and forms"
New column in all data upload templates and forms called 'Record type' (under sampling effort), with the 5 categories as drop downs.

**Record type**
- Visual observation
- Photographic record
- Specimen collection
- Acoustic record
- DNA sample

This is a binary category, and one or more of the record types can be checked for each occurrence data record.

@helendallas @timlinux

[2022-02-16 16:09] mmindje commented on #2940
Fish data were successfully uploaded- we had to reduce the longer texts. @dimasciput will work on the issue for the future

[2022-02-17 07:43] helendallas commented on #2889
Not fixed yet @dimasciput @Fanevanjanahary
This photo was added to water temperature for 2009 but has been given today's date.

[2022-02-17 07:44] dimasciput commented on #2889
@helendallas did you test in on testing? Unfortunately you have to reupload the image so it can get the correct date.

[2022-02-17 07:47] helendallas commented on #2748
Thanks Looks great, closing ticket

[2022-02-17 07:47] #2748 closed

[2022-02-17 07:50] helendallas commented on #2838
@dimasciput @amyburness This is still just a huge download of all data, rather than a download of data for the quinary selected.

[2022-02-17 07:53] helendallas commented on #2888
Thanks for adding Author(s) as a filter.

Is it possible to be able to add a button. The work around is the add the Source reference first but this is more complex for the user.
![image](https://user-images.githubusercontent.com/45286876/154429992-9a24bb8c-02b2-4242-9cf3-62cb40712e8f.png)

So that if the report etc is not showing then the author can ask to add a new Source reference.

[2022-02-17 08:05] helendallas commented on #2889
I tested on testing, a while ago and noted the issue. then tried again on live today but still showing todays date

[2022-02-17 08:11] helendallas commented on #2836
Thanks this seems to be working now, closing ticket

[2022-02-17 08:11] #2836 closed

[2022-02-17 08:15] helendallas commented on #2837
Thanks @amyburness @dimasciput Filter working nicely now, closing ticket

[2022-02-17 08:24] helendallas commented on #2835
@dimasciput @amyburness

Thermal framework layers looks good but filters not working:

Upland and lowland does not return all the relevant sites

Resilience: 405,108 sites (FBIS) but with all filters clicked only 5,612 sites

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter

[2022-02-17 08:32] helendallas commented on #2786
So @dimasciput @Fanevanjanahary We dont know what is happening with this ticket. Please see @jeremysheltons question above, copied here again.

Requested filter not visible, do we need to reharvest GBIS data for this to show?

[2022-02-17 08:45] helendallas commented on #2844
I have asked Dimas if I can manually delete
So Dimas

The biotopes admin form currently has a whole lots of old stuff that is not used.

Can I safely delete if there is not data associated with it.

This has data….so no deleting
![image](https://user-images.githubusercontent.com/45286876/154438437-1ecbd6c2-0f6e-49f8-82fa-a3f0787a88ec.png)

This has no data, so I can delete
![image](https://user-im

[2022-02-17 09:16] helendallas commented on #2844
Completed by Helen, closing ticket

[2022-02-17 09:16] #2844 closed

[2022-02-17 11:13] helendallas opened #2949 "Please add a Edit button to Water temperature data"
At the moment I cannot go back to the Water temperature upload form and edit the source reference or photo etc.

**Please can you add this in, so that the data can be edited.**
This would then open up the original Water temperature form: which could then be saved and updated

![image](https://user-images.githubusercontent.com/45286876/154469578-2fbbd83d-b273-48e1-a3c7-e411efc80762.png)

![image](h

[2022-02-18 09:54] helendallas opened #2950 "Please add an error message when water temperature data upload gets stuck"
At the moment water temperature data that is not correctly formatted does not upload, u the user is not warned that there is a problem. It just stays "Checking data""

Please add an error message reflecting the correct column headers and that it has to be a csv file. etc.

[2022-02-18 10:53] helendallas opened #2951 "Please check the upload Start and End Times"
I am not sure these are working properly anymore as I tried to upload data that started at 18:00 and ended at 23:00 but it gave me an error message.

![image](https://user-images.githubusercontent.com/45286876/154669347-4e286f6d-8307-435a-ab28-ba7a9ea5a1b5.png)

[2022-02-18 11:07] helendallas commented on #2951
@dimasciput Yes, I didnt screenshot though . I will try do it again and copy it....

[2022-02-18 11:15] helendallas commented on #2951
Ok, I reran using data for a month, starting at 18:00 , ending at 23:00

![image](https://user-images.githubusercontent.com/45286876/154672170-23d23eb7-e556-451e-a817-f0775f5af4c4.png)

Here is the file as an xls.
[Start End time test.xlsx](https://github.com/kartoza/django-bims/files/8096630/Start.End.time.test.xlsx)

[2022-02-18 11:22] helendallas commented on #2951
I did the above on testing but had the same error on live

[2022-02-18 12:14] helendallas opened #2952 "Please can you find a way to upload water temperature data that is more than 12 months long"
At the moment the system does not work if the time series data are more than 1 years worth. We have several sites where the data are at least 2 years, sometimes longer.

Please can you find a way to allow the upload of water temperature time series data that is > 1 year long.

Here is an example of data that are >24 months
[WT_E1OLIF-ABBUL_19_11_2008 to 10_02_2011.xlsx](https://github.com/kartoza/

[2022-02-18 12:34] helendallas opened #2953 "Can we add water temperature time series data that has gaps in it?"
Some data have gaps in it, for example the attached file:

It would be good to be able to upload these data

Should they be left blank?

![image](https://user-images.githubusercontent.com/45286876/154683386-8255078b-497e-4f0a-a285-2849aff6c77a.png)
[WT_E1OLIF-ABDAM_18_11_2008 to 09_02_2011.xlsx](https://github.com/kartoza/django-bims/files/8097137/WT_E1OLIF-ABDAM_18_11_2008.to.09_02_2011.xlsx)

[2022-02-21 08:31] mmindje opened #2954 "500 - SERVER ERROR- We fail to add a source reference"
Hello @dimasciput ,
We are attempting to add a source reference but it seems there is an issue into the server in both testing ad final site - may be look in to that issue

500 - SERVER ERROR

![image](https://user-images.githubusercontent.com/64961274/154916965-01a8858f-865a-4742-8299-5a703ba53e6d.png)

[2022-02-21 10:37] mmindje opened #2955 "Creating a source reference"
Hello dear @helendallas , we need also to know how to deal with the error bellow
Thank you

![image](https://user-images.githubusercontent.com/64961274/154938463-2b9acf6a-7b88-4afd-8e55-b61d1435c710.png)

[2022-02-22 05:36] dimasciput commented on #2949
@helendallas and what about the existing water temperature data? Can user edit them?

[2022-02-22 05:40] dimasciput commented on #2951
@helendallas yes it's because only the first data started at 18:00, next period started at 0:00, that's why you get these errors.
![image](https://user-images.githubusercontent.com/1979569/155069890-e20d392a-381f-4bc8-a86a-14d96c2a8c24.png)

The easiest solution is for the user to separate these data into two files.

[2022-02-22 05:43] dimasciput commented on #2947
@jeremyshelton I still don't quite understand, please elaborate more at the sprint meeting

[2022-02-22 05:44] dimasciput commented on #2948
@jeremyshelton we couldn't add a dropdown to csv only excel file

[2022-02-22 05:45] dimasciput commented on #2948
@jeremyshelton but I will add the dropdown to the occurrence form

[2022-02-22 07:37] helendallas commented on #2949
@dimasciput

I own all the existing data in FBIS, and yes I will need to be able to edit the associated data, not the water temperature data. So I will need to be able to go to the water temperature form, add source reference, add photo.

Also I guess if I noticed the data looks strange then I could re-upload the csv and I assume it would be overwritten if the Date Time was the same.

Same rules n

[2022-02-22 07:40] helendallas commented on #2955
@mmindje
What was the reference? An article with a DOI? url? pdf publications report?

[2022-02-22 07:46] mmindje commented on #2955
This was just a Thesis.
Thank you

On Tue, Feb 22, 2022 at 9:41 AM Helen Dallas ***@***.***>
wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*"Knowledge is not a collection of information but

[2022-02-22 07:51] helendallas commented on #2955
Did you provide the url?

[2022-02-22 08:06] jeremyshelton commented on #2947
@dimasciput OK 👍

[2022-02-22 08:09] mmindje commented on #2955
No url privided! The data was just digitized

On Tue, Feb 22, 2022 at 9:51 AM Helen Dallas ***@***.***>
wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*"Knowledge is not a collection of infor

[2022-02-22 08:10] jeremyshelton commented on #2948
@dimasciput yes - dropdown in the occurrence form, and excel data upload template.
It should also feature as a new column in .csv data downloads.

[2022-02-22 08:15] mmindje commented on #2955
Here are the two files both masterlist and occurence data
[Cleaned_Master-list-data-file-_-Plants-xlsx 17Feb2022.xls](https://github.com/kartoza/django-bims/files/8114817/Cleaned_Master-list-data-file-_-Plants-xlsx.17Feb2022.xls)
[Cleaning ongoing-Occurrence-data-file-_-Plants-xlsx 20 Feb 2022.csv](https://github.com/kartoza/django-bims/files/8114818/Cleaning.ongoing-Occurrence-data-file-_-Plants-

[2022-02-22 08:37] helendallas commented on #2955
@mmindje You will not be able to add occurrence data that does not have metadata associated with it.

You have to select the Reference category from the drop down list. Check your notes .

Then you have to provide either a DOI, url, pr document link (we still need to train in this). Only unpublished data does not need one of these.

Please refresh by reading the docs I already provided.

[2022-02-22 08:43] helendallas commented on #2951
Ok thanks @dimasciput So basically there must be a fill 24h worth of data, so that each day starts at the same time. I will add to upload notes. Closing ticket.

[2022-02-22 08:43] #2951 closed

[2022-02-22 08:43] mmindje commented on #2955
I see- let us again refresh - thank you

[2022-02-22 09:41] timlinux commented on #2947
![imagem](https://user-images.githubusercontent.com/178003/155105371-64880387-c64f-410e-afa6-71e23e05b5e2.png)

[2022-02-22 09:58] helendallas opened #2956 "Thermal dashboard - allow users to select start and end period for visualising the data"
At the moment, we are only able to visualise data per calendar year, 2009 or 2010 etc, using the dropdown.

Please can you add the option to allow the user to specify the start date and end date for plotting the graph and generating tables, so for example the hydrological year 1 October to 30 September.

[2022-02-22 13:40] amyburness commented on #2400
@dimasciput
I have updated all the labels in the DB for:
* Present Ecological State 1999
* Present ecological State 2018
* River Condition 1999

Can you please re-harvest the data from Geo-context to update them?

[2022-02-22 14:40] #2955 closed

[2022-02-23 06:03] Fanevanjanahary commented on #2665
Hi, @helendallas please can you check if this data in step one is correct so I can continue the next step?

the txt file: [0812567_W.txt](https://github.com/kartoza/django-bims/files/8122207/0812567_W.txt)

and the step one: [0812567_W.csv](https://github.com/kartoza/django-bims/files/8122205/0812567_W.csv)

[2022-02-23 08:59] Fanevanjanahary commented on #2952
Hi @helendallas the system can upload data more than a year, I've tried [WT_E1OLIF-ABBUL_19_11_2008 to 10_02_2011.xlsx](https://github.com/kartoza/django-bims/files/8097003/WT_E1OLIF-ABBUL_19_11_2008.to.10_02_2011.xlsx) and it doesn't work since there are 2 days which they are mission row (the first and the last days) I've removed them and it works.

[2022-02-24 04:13] dimasciput commented on #2665
@helendallas can you check the files from Faneva?

[2022-02-24 09:37] helendallas commented on #2665
@dimasciput @NickRivers-Moore already responded by email. He is not yet comfortable with github

Hi Faneva,

Just responding to the mail below from Helen.

I downloaded the text and csv files from the links below.

From my understanding:
•	The text file is the raw data;
•	The csv file is the first step in the conversion.  I confirm that this look correct (the example in 0008782.xlsx – third tab =

[2022-02-24 09:45] dimasciput commented on #2835
![2022-02-24_16-44](https://user-images.githubusercontent.com/1979569/155499554-1ce28ffc-d12f-4bfd-96f0-6b232160c890.png)
![2022-02-24_16-43](https://user-images.githubusercontent.com/1979569/155499564-c45902f5-778c-442d-8927-1588cdf7ed7e.png)

The red line is now showing up.

[2022-02-24 09:50] dimasciput commented on #2835
![image](https://user-images.githubusercontent.com/1979569/155500420-7422ae5f-3ff1-4251-9cb7-8cfa2319865a.png)

@helendallas currently fetching thermal data for all sites

[2022-02-24 10:01] dimasciput commented on #2956
@helendallas deployed in testing

[2022-02-24 10:01] dimasciput commented on #2949
@helendallas deployed in testing

[2022-02-28 07:59] helendallas commented on #2835
Thanks @dimasciput . Still only 144,385 sites showing when all resilience categories are clicked.

![image](https://user-images.githubusercontent.com/45286876/155945928-968cac87-fc17-454c-a419-0eca413884d6.png)

Is data still being fetched?

[2022-03-01 08:02] helendallas commented on #2949
@dimasciput
Not sure if this is working properly, I edited
https://testing.healthyrivers.kartoza.com/water-temperature-form/edit/?siteId=9980&year=2009

but its stuck on processing

![image](https://user-images.githubusercontent.com/45286876/156128909-a3457c47-b812-4eed-a907-4a6e89355152.png)

[2022-03-01 08:06] dimasciput commented on #2949
@helendallas what did you update?

[2022-03-01 08:07] helendallas commented on #2956
SO the reason for this was to allow users to visualise data for a 1 year period that doesnt follow a calendar year.

So for example the hydrological year 1 October 2008 to 30 September 2009.

At the moment it allows us to choose a smaller date range within a year, which is also useful.

![image](https://user-images.githubusercontent.com/45286876/156129581-e7c7f529-b94b-4450-8209-72fb4063767f.png)

[2022-03-01 08:11] helendallas commented on #2949
I thought I had to update everything ....uploaded csv , added photo and study ref

[2022-03-01 08:11] helendallas commented on #2949
It would be better to have form show what was already there.....then I could just add the missing bit e.g. change the study ref

[2022-03-01 08:15] helendallas commented on #2926
sorry not working
![image](https://user-images.githubusercontent.com/45286876/156130818-432407b2-d68d-486b-b5a9-20b9f7faf619.png)

[2022-03-01 08:19] dimasciput commented on #2956
@helendallas Unfortunately the current dashboard wasn't built with that in mind, so we're going to be changing many things. I think it's better to leave it for now, we can improve it later.

[2022-03-01 08:24] dimasciput commented on #2926
@helendallas can you send me the pdf again, the above link is not working

[2022-03-01 08:43] dimasciput commented on #2926
@helendallas https://testing.healthyrivers.kartoza.com/source-references/?&q=test%20large%20data it's working fine for me the uploader. Can you screenshot your form before uploading, and share it here?

[2022-03-01 08:48] helendallas commented on #2926
here we go @dimasciput

![image](https://user-images.githubusercontent.com/45286876/156135817-9cd078b5-2e49-42e6-a1af-96999bd1927e.png)

[2022-03-01 08:55] dimasciput commented on #2926
@helendallas for the authors, did you write it yourself or choose from the dropdown?

[2022-03-01 08:59] helendallas commented on #2926
I chose from the dropdown

[2022-03-01 09:02] dimasciput commented on #2926
@helendallas I couldn't replicate this issue in testing site, I uploaded the source reference here with the same details : https://testing.healthyrivers.kartoza.com/source-references/?&q=Water%20temperature%20and%20the%20ecological%20reserve.

What browser did you use?

[2022-03-01 09:03] helendallas commented on #2889
Okay seems fine now, once photo is uploaded again, thanks

[2022-03-01 09:04] helendallas commented on #2926
firefox

[2022-03-01 09:05] helendallas commented on #2926
Thanks @dimasciput I can use the one you added since a lot of the data are linked to that study reference. Then I will check again using google, maybe its a browzer issue?

[2022-03-01 09:06] dimasciput commented on #2926
But it's still on the test site, did you test it on the live site?

[2022-03-01 09:08] helendallas commented on #2926
Going to do now, will revert

[2022-03-01 09:13] dimasciput commented on #2776
@jeremyshelton @helendallas currently fetching all frog occurrences from virtual museum in testing site.
![image](https://user-images.githubusercontent.com/1979569/156139879-0b301580-4ab4-4f1c-8083-de9fe9c53f56.png)

I think it will be finished tomorrow.

[2022-03-01 09:16] helendallas commented on #2926
Still getting the error message????? even on google chrome
 I type in the date , is that correct
2012

And notes in blank.

[2022-03-01 09:23] dimasciput commented on #2926
@helendallas one second, I think I found the issue.

[2022-03-01 09:24] helendallas commented on #2949
Checking each section individually

- Successfully added a photo to an existing site
- Successfully changed source reference
- Re-uploading CSV file - this seems to be a problem, gets stuck on processing

https://testing.healthyrivers.kartoza.com/water-temperature-form/edit/?siteId=9980&year=2009

![image](https://user-images.githubusercontent.com/45286876/156141696-6ebfd3d9-6fb7-44bc-bdd4-c150b02

[2022-03-01 09:26] helendallas commented on #2952
Hi @Fanevanjanahary
Sorry I dont understand what you mean by mission rows? Please can you explain, thanks

[2022-03-01 09:27] dimasciput commented on #2952
@helendallas I think she meant missing rows

[2022-03-01 09:29] dimasciput commented on #2949
@helendallas please email me the csv file.

[2022-03-01 09:30] helendallas commented on #2952
Ok thanks @dimasciput I will test again

[2022-03-01 09:37] dimasciput commented on #2926
@helendallas please can you try it again on testing.

[2022-03-01 09:57] helendallas commented on #2926
Success
![image](https://user-images.githubusercontent.com/45286876/156147255-5e4408fc-8df7-4a01-a1cc-9409e63e9718.png)

[2022-03-03 01:37] dimasciput commented on #2400
@amyburness the geocontext is not returning any value for this category : https://staging.geocontext.kartoza.com/api/v2/query?registry=group&key=national_biodiversity_assessment_2018&x=30.876&y=-24.763&outformat=json.

@helendallas unfortunately I couldn't re-harvest the data because the data is still empty from geocontext.

[2022-03-03 03:57] dimasciput commented on #2776
@jeremyshelton I have fetched the frogmap data in the testing, but I forgot to add a boundary check so you will see sites outside SA. I have added the check in the latest commit, should I re-harvest the data in testing? Or just harvest it in the live site?

[2022-03-03 03:59] dimasciput commented on #2949
@helendallas please try it again.

[2022-03-03 04:53] jeremyshelton commented on #2776
Thanks @dimasciput
Looking good.
I am downloading the csv and will have a close look at the data tomorrow.
One thing I noticed is the boundary needs to be clipped as per GBIF:
<img width="671" alt="Screen Shot 2022-03-02 at 8 38 58 PM" src="https://user-images.githubusercontent.com/44292029/156427095-5d0acb91-dfff-4d86-837a-2b2fa353b417.png">

[2022-03-03 04:58] jeremyshelton commented on #2776
Hi @dimasciput 👆Responded yesterday, but forgot to hit send 🤦
Happy for it to go straight to live with the boundary check added.
But I just want to first check out the data .csv to make sore all is in order before we deploy on live.
I requested it 10 hrs ago, but nothing in my inbox yet.
Can you perhaps send me a .csv with all the FrogMap data, or must I request another csv download?
Thanks

[2022-03-03 05:00] jeremyshelton commented on #2776
@dimasciput from the dashboard, I can see that the endemism data from the frog master list are not showi
<img width="412" alt="Screen Shot 2022-03-03 at 6 59 45 AM" src="https://user-images.githubusercontent.com/44292029/156499406-dc0bce86-fcce-41d2-ac25-3ae3270d9c4b.png">
ng:

[2022-03-03 05:19] dimasciput commented on #2776
@jeremyshelton yes please try downloading it again, but maybe try smaller datasets first.

[2022-03-03 05:36] jeremyshelton commented on #2776
@dimasciput OK, but spatial and temporal filters are not working on the testing site?

[2022-03-03 05:47] dimasciput commented on #2776
@jeremyshelton it's working, I just tested

[2022-03-03 05:54] dimasciput commented on #2776
@jeremyshelton please hold the testing, I'm going to deploy the decision support tool feature.

[2022-03-03 06:05] dimasciput commented on #2947
@jeremyshelton deployed in testing, you can upload the data here https://testing.healthyrivers.kartoza.com/admin/bims/decisionsupporttool/. There's also a button to download the template.

[2022-03-03 06:45] jeremyshelton commented on #2776
OK @dimasciput
Let me know when it's ready for me to test.
Also, I did a hard refresh & can now see the filters 👍

[2022-03-03 06:46] dimasciput commented on #2776
@jeremyshelton you can test it now

[2022-03-03 07:21] helendallas commented on #2952
Thanks @Fanevanjanahary @dimasciput I checked this now and it is working. Excellent.  Please roll out to live

[2022-03-03 07:23] helendallas commented on #2888
Let me close this for now. I will add via Source References

[2022-03-03 07:23] #2888 closed

[2022-03-03 07:24] helendallas commented on #2950
Thanks this seems to be working well, please deploy to live

[2022-03-03 08:49] helendallas commented on #2931
Thanks @dimasciput

Please can you use the same colour palette that is FBIS

NOT
![image](https://user-images.githubusercontent.com/45286876/156528775-7d296826-ee51-4049-88ea-de867309c266.png)

RATHER
![image](https://user-images.githubusercontent.com/45286876/156529630-092ee861-f3d3-499b-94da-88a2b5ca56a5.png)

[2022-03-03 09:06] helendallas opened #2971 "We need to see sites that only have water temperature data"
At the moment, only sites that have occurrence data are visible on the map.

However, with the addition of the thermal module, this needs to be revised so that sites that have **water temperature data only**, will become visible on the map, when the filter is clicked.

These dont have to be visible always, but need to show when the filter is clicked

Abiotic data - Water Temperature (time series)

[2022-03-03 15:11] amyburness commented on #2400
@dimasciput
I have updated all the layers in Geocontext and they are now calling up the data.

For each filter the requests should look a bit like the one below:

**Present ecological state 1999 filter**
https://freshwaterbiodiversity.org/bims_proxy/https://maps.kartoza.com/geoserver/wfs?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image/png&TRANSPARENT=true&LAYERS=present_ecological_state_1999

[2022-03-04 05:32] jeremyshelton commented on #2776
@dimasciput I have done a few frog VM data download requests from testing site, but have not yet received a .csv to test?

[2022-03-08 12:19] helendallas commented on #2889
@Fanevanjanahary PLease can you check this. I uploaded some photos to a site, but then they were not there later, and others were added to a different site.
Thanks

[2022-03-08 12:25] helendallas commented on #2889
@dimasciput

Here is one example site - I added a photo to this site, but its not there, then I added a photo to a different site (G1WOLW-ABDAM) and that photo is now visible for E1ROND-KEURB

https://freshwaterbiodiversity.org/water-temperature/10358/2009/?taxon=&search=E1ROND-KEURB&siteId=10358&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilte

[2022-03-08 13:35] helendallas opened #2972 "Please check - Water temperature data csv download and graphs not matching time series"
Please can you check the data uploaded that is only a few months of the year.

https://freshwaterbiodiversity.org/water-temperature/9980/2011/?taxon=&search=H2ROOI-WORCE&siteId=9980&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=%5B%5D&modules=&validated=&sourceCollection=%5B%22fbis%22%5D&abioticData=&

[2022-03-08 13:37] #2950 closed

[2022-03-08 13:37] #2956 closed

[2022-03-08 13:37] #2926 closed

[2022-03-08 13:38] #2949 closed

[2022-03-08 13:38] #2952 closed

[2022-03-10 07:26] jeremyshelton commented on #2941
@dimasciput this is working now for inwards.
However, the minisass records are not loading, so I can't test those...

[2022-03-10 07:45] jeremyshelton commented on #2947
Thanks @dimasciput - busy testing this today.

[2022-03-10 08:00] jeremyshelton commented on #2931
@dimasciput can you also please adjust the Algae breakdown to reflect division?
Thanks
<img width="702" alt="Screen Shot 2022-03-10 at 9 58 37 AM" src="https://user-images.githubusercontent.com/44292029/157615291-f7e9a712-91d3-4322-a633-cfce401df1cb.png">

[2022-03-10 08:03] jeremyshelton commented on #2786
@helendallas we are working through this ticket on slack.
I have advised @dimasciput that if this is going to be too complex or time consuming then we must just leave the data clip at the SA boundary....

[2022-03-11 16:23] jeremyshelton commented on #2776
@dimasciput FrogMap VM data looking good on testing site.

Just two small issues in the CSV that need fixing: (1) Endemism column is blank but should not be because all of these taxa have endemism categories assigned on the master list, and (2) "Photographicrecord" should be two words:  "Photographic record"

Once these are fixed, then I am happy for this to be deployed to the production site.

<i

[2022-03-16 09:22] helendallas commented on #2946
Please add the following text for the Virtual Museum drawer

The Virtual Museum (https://vmus.adu.org.za/) is a platform for citizen scientists to contribute to biodiversity projects. It is managed by The Biodiversity and Development Institute (http://thebdi.org/) and The FitzPatrick Institute of African Ornithology (http://www.fitzpatrick.uct.ac.za/).

[2022-03-16 09:41] helendallas commented on #2838
@amyburness PLease cna you see what the solution is here. thanks

[2022-03-16 09:48] helendallas commented on #2835
@amyburness Please cna you also speak to this ticket. Why are there relatively few sites , about 1/4 being returned. Please read ticket, thanks

[2022-03-16 09:49] helendallas commented on #2400
@amyburness Please can you follow up on this. so we can finalise and close, thanks

[2022-03-16 09:50] helendallas commented on #2665
@Fanevanjanahary Please update me on progress. Has this been completed????

[2022-03-16 09:56] helendallas commented on #2853
So to confirm,
all Data Sources should be on by default, FBIS, GBIF and Virtual Museum
The user should be able to turn off all of these as needed

[2022-03-16 09:59] helendallas commented on #2779
@Fanevanjanahary @dimasciput

Please get back to us on this ticket. The only sites for validation should be the ones added by users, not GBIF or VM, or uploaded as bulk upload by FBIS Admin.

[2022-03-16 10:09] helendallas opened #2977 "We need to be able to see sites where there is only water temperature data"
At the moment, if a site does not have an occurrence record, then the site is not visible on FBIS.

However, with the addition of the thermal module and water temperature data, we need to be able to add a site that only has water temperature data. And this needs to be visible on FBIS. It can only show when the Abiotic Data - Water temperature (Time series) is selected.

![image](https://user-image

[2022-03-16 10:10] helendallas commented on #2977
duplicate ticket, closing

[2022-03-16 10:10] #2977 closed

[2022-03-16 10:19] Fanevanjanahary commented on #2665
@helendallas, Nick said in his last email that the last step is correct, I will convert all the station's files and will send them to you. I've written a script on QGIS to convert the data here https://gist.github.com/Fanevanjanahary/5d6c7faf26d99174846d574e3fc32a2b if you maybe need it

[2022-03-16 10:59] helendallas commented on #2798
@jeremyshelton Please check if this is still an issue

[2022-03-16 11:09] amyburness commented on #2835
@dimasciput

Hey Hey I am having a look at the Location sites on FBIS for the Thermal Framework data an I have found that not all of the points have the location context for the thermal framework data.
Thermal Framework
System Resilience
Model Accuracy
I don't think all of the points are harvesting data from Geocontext.
I think there may be a similar issue for
Hydrological regions
Hydrological reg

[2022-03-16 11:56] helendallas commented on #2835
So why is all data not been harvested?  I suspect there is an issue with geocontext.

[2022-03-16 12:01] helendallas commented on #2858
On hold until SANBI revrerts

[2022-03-16 12:02] helendallas commented on #2681
On hold until SANBI layers are ready

[2022-03-16 12:03] helendallas commented on #2860
On hold until SANBI reverts

[2022-03-16 12:04] helendallas commented on #2832
On hold for SANBI to do once training has been completed

[2022-03-16 12:20] helendallas commented on #2651
So for now we do not have a better rivers coverage or dataset. Until SANBI/DWS improve this layer we will need to live with this. I will label On hold until SANBI revert

[2022-03-16 12:54] helendallas commented on #2629
@dimasciput

What Mapendo needs is the Rwandan country border to be smaller so that non-Rwandan sites are not included in RBIS.
@mmindje We cannot edit GBIF data from RBIS. As mentioned previously.

[2022-03-16 12:56] helendallas commented on #2897
This has been fixed, closing ticket

![image](https://user-images.githubusercontent.com/45286876/158594564-aeceab4d-0f61-4c53-a68d-fd8c815901d0.png)

[2022-03-16 12:56] #2897 closed

[2022-03-16 13:03] helendallas commented on #2625
@mmindje Have you checked if this is working, i.e. are common names being added when they are uploaded. I see that noe have been added for the amphibians. Were they included in the csv file you uploaded?

![image](https://user-images.githubusercontent.com/45286876/158595855-32293e5b-abcd-4e10-b20f-3d031061a415.png)

[2022-03-16 13:17] #2570 closed

[2022-03-16 13:19] #2541 closed

[2022-03-16 13:20] helendallas commented on #2896
This is working now, closing ticket

[2022-03-16 13:20] #2896 closed

[2022-03-16 13:24] helendallas opened #2978 "Add Site option to RBIS, and add different biodiversity"
@dimasciput Please add a button to allow a site and data to be added.

![image](https://user-images.githubusercontent.com/45286876/158599659-b90b2c2f-1e29-4fd3-a852-be1c30d07d85.png)

And ability to add different taxa

![image](https://user-images.githubusercontent.com/45286876/158599753-b8ce42d8-b80e-4cb8-b23e-54fba8b322d2.png)

[2022-03-16 14:43] helendallas commented on #2603
Closing this ticket as duplicated in #2978

[2022-03-16 14:43] #2603 closed

[2022-03-16 14:53] helendallas commented on #2510
Closing this ticket as data team are reviewing

[2022-03-16 14:53] #2510 closed

[2022-03-16 14:56] helendallas commented on #2202
Lets close this ticket as not critical

[2022-03-16 14:56] #2202 closed

[2022-03-16 14:59] helendallas commented on #2303
I dont think this is solvable. Closing ticket

[2022-03-16 14:59] #2303 closed

[2022-03-16 15:02] helendallas commented on #1902
Closing as already actioned.

[2022-03-16 15:02] #1902 closed

[2022-03-16 15:03] helendallas commented on #1248
Closing ticket as already actioned.

[2022-03-16 15:03] #1248 closed

[2022-03-16 15:04] helendallas commented on #1184
Closing ticket as actioned in Taxon Management

[2022-03-16 15:04] #1184 closed

[2022-03-16 15:06] helendallas commented on #1290
Long term this should be addressed by training SANBI GIS personnel to manage the spatial layers. Closing this ticket

[2022-03-16 15:06] #1290 closed

[2022-03-16 15:07] #1880 closed

[2022-03-16 15:16] #2206 closed

[2022-03-16 15:21] helendallas commented on #2221
Closing this ticket as it cannot be resolved with the current rivers layers issues

[2022-03-16 15:21] #2221 closed

[2022-03-16 15:28] helendallas commented on #2441
Closing ticket as already resolved

[2022-03-16 15:28] #2441 closed

[2022-03-16 15:31] helendallas commented on #2504
Closing as no longer an issue

[2022-03-16 15:31] #2504 closed

[2022-03-16 15:33] helendallas commented on #2537
Closing ticket as resolved with updates to Source References

[2022-03-16 15:33] #2537 closed

[2022-03-16 15:35] helendallas commented on #2540
Closing ticket as best solution is to provide training to SANBI GIS personnel.

[2022-03-16 15:40] helendallas commented on #2752
@Fanevanjanahary Please update me on this ticket.

[2022-03-16 15:41] helendallas commented on #2749
Closing this ticket as it is unclear and has been taken over by the #2947

[2022-03-16 15:41] #2749 closed

[2022-03-16 15:42] helendallas commented on #2808
Closing

[2022-03-16 15:43] helendallas commented on #2818
Fixed, closing

[2022-03-16 15:43] #2818 closed, assigned to dimasciput

[2022-03-16 15:44] helendallas commented on #2821
This is a repeat offender - Amy is trying to resolve again

[2022-03-16 15:44] #2821 closed, assigned to nobody

[2022-03-16 15:45] helendallas commented on #2850
This comes from GBIF, cannot be fixed in FBIS

[2022-03-16 15:45] #2850 closed

[2022-03-16 15:46] #2852 closed

[2022-03-16 15:47] helendallas commented on #2873
@helendallas to review and create the thermal screening dashboard.

[2022-03-16 15:54] helendallas commented on #2873
@dimasciput I cant get the triage off this ticket. Please can you help as I need to work on it before the next sprint.

![image](https://user-images.githubusercontent.com/45286876/158632077-8c2f4681-b9f5-47ef-a45a-0be10b195c14.png)

[2022-03-16 15:54] #2893 closed

[2022-03-17 07:42] helendallas opened #2979 "Photograph in water temperature dashboard getting mixed up"
I added a photo to E1ROND-KEURB 2008 and saved the form.

![image](https://user-images.githubusercontent.com/45286876/158758133-066ada60-7bf1-4511-9173-25472b94ee0e.png)

Then I selected a new site and wanted to add the photo for that site, BUT the photo from the previous site was there.

![image](https://user-images.githubusercontent.com/45286876/158759077-a049d48a-321b-4353-b075-34807a5a9a6b.png

[2022-03-17 07:42] helendallas commented on #2889
I have created a new ticket #2979 , closing this one now

[2022-03-17 07:42] #2889 closed

[2022-03-17 07:58] helendallas commented on #2972
Here is the xls file I uploaded,

[H2ROOI-WORCE 01_12_2008 to 03_02_2011.xlsx](https://github.com/kartoza/django-bims/files/8282469/H2ROOI-WORCE.01_12_2008.to.03_02_2011.xlsx)

you can see the 2008 starts on the 12/2/2008  12:00:00 AM, but the graph and csv starts from the 2008-11-11 00:00:00. Not sure why this is.

[H2ROOI-WORCE 2008 csv file.xlsx](https://github.com/kartoza/django-bims/files/828

[2022-03-17 08:02] dimasciput commented on #2972
@helendallas @Fanevanjanahary looks fine from the admin page, so probably bug in the chart https://freshwaterbiodiversity.org/admin/bims/watertemperature/?o=2&q=H2ROOI-WORCE

[2022-03-17 10:01] helendallas commented on #2943
@dimasciput This is really impeding our ability to manage the source references - here is another example

![image](https://user-images.githubusercontent.com/45286876/158785085-9336afe8-552b-4b4e-ac70-a2ebcc335c63.png)

Is it not possible to create functionality for us to combined duplicates as you have done for unpublished data

[2022-03-18 08:13] amyburness opened #2981 "The Geomorphological zone drawer disappears after being added and saved."
**Describe the bug**
The drawer for Geomphological Zone disappeared after being set and saved.

**To Reproduce**
Steps to reproduce the behavior:
1. The drawer for Geomphological Zone disappeared after being set and saved.
2. All of the base data and links are there but it appears to be removed automatically from the Location context filter group orders a day after set.

**Expected behavior**
The

[2022-03-21 13:12] jeremyshelton commented on #2776
**@jeremyshelton @dimasciput I need to have FrogMap data on live site for the JRS final report for Odonata MAp.**

@helendallas I have tested the FrogMap data on Testing Site. There are just two fixes needed for errors picked up on the csv: (1) Endemism column is blank, and (2) "Photographicrecord" should be two words:  "Photographic record". I am waiting to hear back from @dimasciput about these

[2022-03-21 13:15] jeremyshelton commented on #2400
@amyburness @dimasciput @NyakudyaA is this now done? Ready for us to test?

[2022-03-21 13:34] #2798 closed

[2022-03-21 13:50] jeremyshelton commented on #2858
@helendallas I've followed up with SANBI on this, so lets see what they come back with...

[2022-03-22 06:13] helendallas commented on #2776
Sorry @jeremyshelton I forgot the anuran master list is already on live.

@dimasciput Do we need to upload the master list again to get the BDI links included?

I haven't yet received the list from Ryan, so I think once the two issue highlighted by Jeremy above, please go ahead and harvest from VM

[2022-03-22 06:33] amyburness commented on #2400
@dimasciput I removed the commas that where creating the issue with the labels. let me know if it works with the updating?

[2022-03-22 07:50] jeremyshelton commented on #2947
@dimasciput any further progress on this one?

[2022-03-22 07:56] jeremyshelton opened #2982 "Metadata table not loading (again)"
@dimasciput this is an issue that has happened several times - the metadata table not loading in detailed dashboard, even after hard refresh.

<img width="1356" alt="Screen Shot 2022-03-22 at 9 48 00 AM" src="https://user-images.githubusercontent.com/44292029/159433677-c09d1898-c6cb-4e1f-bdec-5bc5ded43282.png">

I wonder if there is a way to fix this issue more sustainably?

Thanks

@helendallas @

[2022-03-22 09:09] timlinux commented on #254
@dominicschaff could you take this one on since deploying ORBIS is fresh in your head?

[2022-03-22 09:10] timlinux commented on #865
Closing this for now - we will address it once we have some clarity from GBIF etc and want to do two-way syncing.

[2022-03-22 09:10] #865 closed

[2022-03-22 09:10] timlinux commented on #868
Out of scope, closing.

[2022-03-22 09:10] #868 closed

[2022-03-22 09:11] timlinux commented on #1168
This is a big job and we may need an entire sprint to deal with it.

[2022-03-22 09:12] timlinux commented on #1305
Closing - we can manage on an as-needed basis.

[2022-03-22 09:12] #1305 closed

[2022-03-22 09:12] timlinux commented on #1364
We switched to using google, no longer needed.

[2022-03-22 09:12] #1364 closed

[2022-03-22 09:14] helendallas commented on #1168
@timlinux We may not need this anymore so lets discuss further. This is an old ticket, and also speaks to #2338

[2022-03-22 09:17] timlinux commented on #1797
Yes I think we will probably need to allocate around 3 days to deal with this programmatically. I am thinking we could perhaps take a different approach and include metabase in our stack which will let us make ad hoc, free form queries. It is very user friendly and does not need a programmer to be able to gain insights like listing duplicates etc.

[2022-03-22 09:19] timlinux commented on #2072
@NyakudyaA I am going to close this since I cannot see a concrete need for it right now. Please reopen if I am missing something.

[2022-03-22 09:20] timlinux commented on #2115
Closed as stale - reopen if concrete need arises.

[2022-03-22 09:20] #2072 closed

[2022-03-22 09:23] timlinux commented on #2207
Closing as stale, we can reopen when we want to spend time on the map again.

[2022-03-22 09:23] #2207 closed

[2022-03-22 09:25] timlinux commented on #2217
Cant currently test as award layer is disabled. Can you reneble please @dimasciput ?

[2022-03-22 09:25] #2235 closed

[2022-03-22 09:30] timlinux commented on #2338
I think we can close this one since it is already back referenced from #1168

[2022-03-22 09:30] #2338 closed

[2022-03-22 09:30] timlinux commented on #1168
Please also follow discussion at #/2338

[2022-03-22 09:34] timlinux commented on #2350
You can create these offline now and upload in the admin page. Automating the creation of these sheets will probably take a lot of work and we have a good workflow for manal creation, so I am going to close for now.

[2022-03-22 09:34] #2350 closed

[2022-03-22 09:35] timlinux commented on #2388
Any news on this @mmindje - it would be great to have this added to the platform.

[2022-03-22 09:37] timlinux commented on #2391
I think this is still valid - we really should provide backlinks to the source repo etc. and make it clearer that the whole platform is open source.

[2022-03-22 09:41] timlinux commented on #2414
Any update on this @bimeobed ? I am going to close this for now as the ticket is really old and there has been no activity around it. I think it is clear for you that you can go into GeoServer and change the styles as needed.

[2022-03-22 09:41] #2414 closed

[2022-03-22 09:43] timlinux commented on #2450
Closing this for now @NyakudyaA since there is no activity.

[2022-03-22 09:43] #2450 closed

[2022-03-22 09:46] timlinux commented on #2452
Here is the one we ship with healthsites.io:

[code]

[2022-03-22 09:47] timlinux commented on #2617
Closing this as stale. Please re-open if the need for this capability is pressing.

[2022-03-22 09:47] #2617 closed

[2022-03-22 09:49] timlinux commented on #2618
We already have an alternative implementation in admin. Closing for now.

[2022-03-22 09:49] #2618 closed

[2022-03-22 09:50] timlinux commented on #2619
Closing this for now - we will focus on water quality for the remainder of the project.

[2022-03-22 09:50] #2619 closed

[2022-03-22 09:51] timlinux commented on #2469
You can manage this in the partners section and footer section in the landing page now.

[2022-03-22 09:52] timlinux commented on #2620
Closing as stale.

[2022-03-22 09:52] #2620 closed

[2022-03-22 09:53] timlinux commented on #2624
We will create the 'mothership site' for this rather.

@amyburness can you plan some time for this. We will do this pro-bono so please do not log against FRC. Please give an estimate of how many days and then work with Dimas to get your design deployed. Looking for wagtail theme galleries would be great.

[2022-03-22 09:53] dimasciput commented on #2982
this is a bug from harvesting the data from gbif, I'll fix it in the next sprint

[2022-03-22 09:55] timlinux commented on #2627
See also #2624 @amyburness and include that in your planning

[2022-03-22 09:55] timlinux commented on #2624
Incorporate in #2627 please

[2022-03-22 09:56] amyburness commented on #2624
@timlinux

I will have a look I have seen some nice clean and simple themes that could work for this.
I will assign some time to this and #2627 next week.

[2022-03-22 10:23] jeremyshelton commented on #2982
OK cool.
Thanks @dimasciput

[2022-03-23 16:04] mmindje commented on #2388
So far, we have not received the meteo data- we still following up with this.

[2022-03-24 08:52] #2661 closed

[2022-03-24 08:53] dimasciput commented on #2669
It is showing up now
![image](https://user-images.githubusercontent.com/1979569/159878867-aea38143-5b32-44f1-9723-bbef12542dc7.png)

[2022-03-24 08:53] #2669 closed

[2022-03-24 08:54] dimasciput commented on #2670
Hi @bimeobed, any updates on this?

[2022-03-24 08:58] dimasciput commented on #2947
@jeremyshelton yes I think we have some limitation on how many data can be handled at once because the process is not done in the background like the occurrence uploader. Is it okay to limit like 500 data at once for now?

[2022-03-24 09:10] dimasciput commented on #2885
this is added now

[2022-03-24 09:10] #2885 closed

[2022-03-24 09:11] dimasciput commented on #2907
it is now removed with the new instance

[2022-03-24 09:11] #2907 closed

[2022-03-24 09:27] dimasciput commented on #2839
add delete site visit functionality

[2022-03-24 09:27] dimasciput commented on #2948
@Fanevanjanahary any updates on this?

[2022-03-24 09:28] dimasciput commented on #2400
@amyburness thanks, will be harvested next week

[2022-03-24 09:37] dimasciput commented on #2941
need to  check on minisass website

[2022-03-24 09:38] #2853 closed

[2022-03-24 10:02] Fanevanjanahary commented on #2948
hey @dimasciput, the sample data I've used to test it didn't work. Where can I find sample data for it please?

[2022-03-24 10:31] helendallas commented on #2943
@dimasciput Yes thats fine, as long as you show ,e where and how to do it, thanks

[2022-03-24 16:14] bimeobed commented on #2670
Hi @timlinux  we are still waiting the data from Rwanda Mereological agency and we are happy to use that data from worldclim  unfortunately me and Admire we try to download it but is too big difficult to clip by using my computer

[2022-03-24 16:46] NyakudyaA commented on #2670
Do you need help for us to download this for you and clip it to the country extent ?

[2022-03-24 17:29] bimeobed commented on #2670
Yes it will  be great. May  be it is an issues of my computer when I try to clip out Rwanda  it takes  long time at the end fairs  that why we decide to wait data from meteo but when we get these data from worldclim we can prefer to use it
thank you for your help.

[2022-03-25 06:34] helendallas opened #2984 "Please check why logos for Odonate adults and Anurans are removed eveytime the testing site mirrors the live site"
At the moment after the sunday sinc of the testing and live sites, the logos for Odonate adults and Anurans disappear.  I know we cna add them easily in Taxon Management but there must be a bug in the system. @dimasciput Please can you check this, thanks

![image](https://user-images.githubusercontent.com/45286876/160066885-59a7f1d6-06a2-4e82-b937-f20db9491943.png)

![image](https://user-images.gi

[2022-03-25 06:44] helendallas opened #2985 "We need to be able to monitor downloads of graphs and csv"
At the moment we keep a record of Download requests, and User Sign ups.

![image](https://user-images.githubusercontent.com/45286876/160068599-93ab745a-9799-4357-bc3c-a4f10d26e09f.png)

We do not have a way to monitor what graphs a user downloads. Please can @timlinux and @dimasciput explore options for this for sprint 6

[2022-03-25 06:47] helendallas opened #2986 "We need to be able to track what data users have uploaded to FBIS"
At the moment we get an email when a user adds SASS or other data. However it is not very easy to summarise the number of data added to FBIS by users.

Please can @timlinux @dimasciput explore options for making it easier to report on the data uploaded to FBIS by the users.

[2022-03-25 06:50] helendallas commented on #2838
@dimasciput as discussed in a sprint planning meeting, this will take half a day. I am going to put this ticket on hold for now as there are more urgent tickets needing to be sorted first.

[2022-03-25 06:51] NyakudyaA commented on #2670
We need to do the following

- [ ] Download data from https://www.worldclim.org/
- [ ] Source the Rwanda boundary preferably from RBIS
- [ ] Buffer the boundary slightly so that when you clip you prevent the staircase effect for rasters
- [ ] clip all the rasters you have downloader
- [ ] Create a model/script to automate this process

[2022-03-25 10:39] helendallas opened #2987 "Please delete all Dallas 1995 invertebrate data"
We previously tried to resolve this issue but it is still problematic. It arose from bringing in **Dallas 1995** from the Biobase, when the same data (SASS) was already in the River Database.

The easiest solution is for @dimasciput to delete all occurrence records and associated data with the source reference : 1623 records.
I have checked them all and they are all in the FBIS as SASS data.

![im

[2022-03-25 11:12] helendallas opened #2988 "Issue with SASS ecological category graphs"
Please can you check why some graphs are now using a combined geom zone. The combined should only be used for those specified and where upper and lower are not available:  Here is the original table I shared with you. These were definately working, but now some are not working.  Plase can you check @dimasciput

[Table 2_1_Summary Statistics.pdf](https://github.com/kartoza/django-bims/files/8349874

[2022-03-25 11:17] helendallas commented on #2988
Okay so I went into the site and fetch geom zone....and then it started working.

There is clearly a bug in the geocontext geom zone and it is now impacting ecol category interpretation. Please cna you investigate. thanks

[2022-03-25 11:58] helendallas commented on #2988
here is another example:

https://freshwaterbiodiversity.org/sass/dashboard/9890/?taxon=&search=&siteId=9890&collector=%5B%22Helen%20Dallas%22%5D&category=&yearFrom=1991&yearTo=1994&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,sa_provinces,Western%20Cape%22]&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22,%22gbif%22,%22virtua

[2022-03-25 12:02] helendallas commented on #2988
So when I fetch geom zone, and open site again the ecol category chart is fixed.

[2022-03-25 12:50] helendallas opened #2989 "Fix Author filter in Source References"
I created a few Source references, e.g.

![image](https://user-images.githubusercontent.com/45286876/160123715-93ce6c6b-6b74-4179-94d7-d3d61400a345.png)

Now if I search on author =  Helen Dallas, these are returned, even though I ma not the owner

[2022-03-25 13:46] helendallas commented on #2948
@jeremyshelton Can you get back to @Fanevanjanahary thanks

[2022-03-28 06:48] Fanevanjanahary commented on #2665
@helendallas I've emailed you and Nick the link to download the data converted. Please let me know if you have any problems. Thank you

[2022-03-28 09:47] timlinux opened #2992 "Documenting workflows for metabase analytics"
# Example workflows with metabase

## Create a base question

Give me a list of every site visit and the taxa collected on those visits, along with the IUCN status:

![image](https://user-images.githubusercontent.com/178003/160371989-bec4d7c3-6c05-46a1-b758-a98e8418b7b3.png)

![image](https://user-images.githubusercontent.com/178003/160372216-3f388c09-5f02-4fa1-bde7-1568fc3568ae.png)

![image](htt

[2022-03-28 12:57] mmindje opened #2993 "Water quality data template"
Dear Helen
### On the questions you asked us - here, we have some replies.
In relation to the water quality (physico-chemistry) data sent please can you answer the following:

1. Does this wq data have companion biological occurrence records?
**A/The water quality data are stand-alone data and no occurrence records are attributed to them.**

2. Is this data that will be manually manipulated into a

[2022-03-28 14:10] jeremyshelton commented on #2948
@Fanevanjanahary are you testing by uploading data via the form, or by uploading a spreadsheet?

[2022-03-28 16:38] bimeobed commented on #2670
Thank you very much @Jeremy-Prior  now the precipitation data has been successful uploaded in Geonode  I think we can schedule a session with admire to see the way we can display these data on the graph bcse I am not able to do that
![Image](https://user-images.githubusercontent.com/73634159/160445418-59920fee-4af2-403f-861a-ee8267309be4.png)

[2022-03-28 19:22] Fanevanjanahary commented on #2948
@jeremyshelton via the form

[2022-03-29 06:04] dimasciput commented on #2988
@helendallas I have checked the data in the admin page, it seems it's not getting the geomorphological data from geocontext. That's why it uses **combine** in the chart.

@amyburness please could you check wether this site has geomorphological data? https://freshwaterbiodiversity.org/admin/bims/locationsite/9890/change/

Geocontext url : https://staging.geocontext.kartoza.com/api/v2/query?registry

[2022-03-29 07:11] Fanevanjanahary commented on #2752
@helendallas  I tested and got this

![image](https://user-images.githubusercontent.com/12623986/160554053-bd08468c-f43f-40ac-bb03-eea701b6cf0b.png)

[2022-03-29 09:38] jeremyshelton commented on #2948
@Fanevanjanahary I don't see any option to specify record type in the fish form on the testing site.
This option should be available under Sampling effort on all taxon upload forms:
<img width="961" alt="Screen Shot 2022-03-29 at 11 36 58 AM" src="https://user-images.githubusercontent.com/44292029/160582237-634ffbe6-f3d1-4229-8044-22881048779b.png">
Does that make sense?

[2022-03-29 09:43] jeremyshelton commented on #2776
@dimasciput is the VM data harvest now complete?
Can I start testing this on the production site?

[2022-03-29 10:19] jeremyshelton commented on #2776
@dimasciput the VM frog data on production site are looking good now.

- Endemism is now fixed. Thanks.

- However, Photographicrecord still needs to be split into two words.

- If possible, could you also adjust the Source and Title columns to read:
FrogMap Virtual Museum, FitzPatrick Institute of African Ornithology, University of Cape Town

[2022-03-29 10:46] dimasciput commented on #2776
This string is coming from the VM, I can fix the existing data but not for future data.

[2022-03-30 02:45] dimasciput commented on #2987
the occurrence records have been deleted.

[2022-03-30 07:40] helendallas commented on #2987
Thanks @dimasciput

[2022-03-30 07:40] #2987 closed

[2022-03-30 07:54] helendallas commented on #2752
Okay, seems okay again I will close for now. Thanks @Fanevanjanahary

[2022-03-30 07:54] #2752 closed

[2022-03-31 06:27] jeremyshelton commented on #2947
@dimasciput as discussed, we need to be able to add thousands of records at a time - for example the DFFE Screening Tool comprises 6000+ records that we need to flag. Ideally we would like to do this by uploading a single csv.

[2022-03-31 06:31] jeremyshelton commented on #2985
@dimasciput @timlinux one option is to ask the user what their use for the data is, in terms of reference categories (a compulsory step prior to downloading), and then an option to add more details about the output.

<img width="209" alt="Screen Shot 2022-03-31 at 8 29 54 AM" src="https://user-images.githubusercontent.com/44292029/160990898-320fbc42-0d04-4531-b7f4-a1fe3db8445e.png">

[2022-03-31 11:34] dimasciput commented on #2971
@helendallas please test this on testing

[2022-03-31 11:35] dimasciput commented on #2989
@helendallas fixed on testing

[2022-03-31 11:35] dimasciput commented on #2947
@jeremyshelton can you test it on testing? Thanks

[2022-03-31 11:39] dimasciput commented on #2982
@jeremyshelton this is fixed on live site, since it's a data issue

[2022-03-31 11:43] jeremyshelton commented on #2982
@dimasciput thanks.
Looks good.
Closing.

[2022-03-31 11:43] #2982 closed

[2022-03-31 11:45] dimasciput commented on #2941
it is working now in live and testing

[2022-03-31 11:47] jeremyshelton commented on #2941
Thanks @dimasciput
Looks good.
Closing.

[2022-03-31 11:47] #2941 closed

[2022-04-01 04:49] dimasciput commented on #2400
@jeremyshelton I'm still harvesting the updated data

[2022-04-01 04:51] dimasciput commented on #2946
@helendallas @jeremyshelton please test on testing

[2022-04-01 04:52] dimasciput commented on #2659
I have checked and survey from sass collection is unvalidated when created.

[2022-04-01 04:52] #2659 closed

[2022-04-01 04:55] dimasciput commented on #2948
@Fanevanjanahary can you also make sure record type is included in the csv download?

[2022-04-01 05:00] dimasciput commented on #2859
@jeremyshelton please test on testing site

[2022-04-01 08:17] helendallas commented on #2946
@dimasciput Perfect thanks. Please deploy to live

[2022-04-01 08:22] helendallas commented on #2989
Look good, please deploy to live

[2022-04-01 08:22] #2989 closed

[2022-04-01 08:27] helendallas commented on #2776
Thanks @dimasciput I edited the Source Reference, easy for us to do @jeremyshelton . Closing ticket now as all looks ok.

[2022-04-01 08:27] #2776 closed

[2022-04-01 11:56] jeremyshelton commented on #2400
@dimasciput OK - let me now when it's ready to test 👍

[2022-04-01 11:57] jeremyshelton commented on #2948
Thanks @dimasciput
@Fanevanjanahary - let me know if you need more input here, or when you want me to test.
Thanks

[2022-04-01 12:11] jeremyshelton commented on #2859
@dimasciput this looks good 👍
Please deploy to production site.

[2022-04-01 12:12] jeremyshelton commented on #2776
Great.
Thanks @helendallas

[2022-04-04 06:57] dimasciput commented on #2953
@helendallas can you test the chart in testing?

[2022-04-05 10:58] helendallas commented on #2971
Cant test as get error message
![image](https://user-images.githubusercontent.com/45286876/161739420-1e90243d-8ce8-4e20-b0de-f83a0c4e5d86.png)

[2022-04-05 10:59] helendallas commented on #2984
still missing here

![image](https://user-images.githubusercontent.com/45286876/161739776-582dd346-d4ba-4691-9dd3-deef97d410eb.png)

[2022-04-05 12:39] helendallas commented on #2979
Any update on this ticket?

[2022-04-05 13:17] helendallas opened #3008 "The X close button doesnt work on the water temperature form"
When I click X, the form does not close and I cannot get back to the map

![image](https://user-images.githubusercontent.com/45286876/161762093-de523273-4840-431f-be66-19bfe8555176.png)

Instead it takes me to the site form

![image](https://user-images.githubusercontent.com/45286876/161762291-841cd5b4-2ad9-4810-9eac-a1c7f6649dc8.png)

And then back to the water temp form when I try to close that

[2022-04-05 13:17] dimasciput commented on #2971
@helendallas it seems we keep getting this error when the file is too big, can I spend some time to improve the uploader? I probably need like 3-4 hours.

[2022-04-05 13:24] helendallas commented on #2971
Yes please do @dimasciput thanks. Sometimes it works, but not always and then its hard to backtrack. Please let me know when it is resolved, thanks

[2022-04-05 13:47] helendallas commented on #2953
@dimasciput Same issue with gateway timeout, will test again once resolved.

[2022-04-05 14:59] jeremyshelton commented on #2947
@dimasciput this appears to be working now.
We had about 80 upload errors that said that this records (uuids) do not exist.
Busy investigating & will revert.

[2022-04-06 07:41] #2981 closed

[2022-04-06 08:34] jeremyshelton commented on #2947
@dimasciput We are not able to check the errors because fish data download requests are not working on FBIS production site. Please let me know when fish data downloads are working again so that we can test.
Thank you.

[2022-04-06 09:16] dimasciput commented on #2947
@jeremyshelton please try it again, the data is pretty big that's why it might take a long time. You also can try download from testing since it's a mirror of live site.

[2022-04-06 09:50] dimasciput commented on #2971
@helendallas please try uploading it again in testing

[2022-04-06 11:06] helendallas commented on #2971
Is now uploading 18,000 plus records. Its shows uploaded, but then green block with text at thetop disappears, so if you are running it in the background it then one can miss it. Please can you add it back, thanks

![image](https://user-images.githubusercontent.com/45286876/161961223-7db764d4-4704-4482-b449-5feb84e17c6d.png)

[2022-04-06 14:16] helendallas opened #3016 "Please show the notes field in Source References"
At the moment when we update a Peer-reviewed scientific article, the Notes, field is not visible, although it is there when one first uploads the Peer-reviewed scientific article

Editing Peer-reviewed scientific article
![image](https://user-images.githubusercontent.com/45286876/161995180-cdf975b2-d048-4b6c-baad-f39782b8110d.png)

Adding Peer-reviewed scientific article
![image](https://user-imag

[2022-04-07 07:17] helendallas commented on #2953
@dimasciput @Fanevanjanahary
So when I add the data where the date time is compete but there is missing data, then I get an error message:
![image](https://user-images.githubusercontent.com/45286876/162141564-f8799258-821c-44ad-8ec1-943d8ae43b52.png)

Here is the xls file

[G1BERG-BRBM1 26-Oct-07 TO 21-May-09.xlsx](https://github.com/kartoza/django-bims/files/8440477/G1BERG-BRBM1.26-Oct-07.TO.21-M

[2022-04-07 07:23] dimasciput commented on #2953
@helendallas ah I think we have some misunderstanding, we thought gap means that you don't provide the data for certain dates but instead the date is in still in csv with just empty string.
Ok let me update it.

[2022-04-07 07:27] helendallas commented on #2953
Yes, that's correct, thanks

[2022-04-07 08:30] timlinux opened #3017 "Water quality import module"
These will become sites. The extra info can be in the description.

![imagem](https://user-images.githubusercontent.com/178003/162153513-eb2fd551-29ae-46ee-8e5f-c26a4ed6ec9f.png)

Sampling dates need to be consistently entered:

![imagem](https://user-images.githubusercontent.com/178003/162153678-a6604133-579d-4a1e-8b8d-34a2099c56a5.png)

Can the individual readings be left out - I dont think they

[2022-04-12 11:22] jeremyshelton commented on #2859
I see this now on production site.
Closing ticket.

[2022-04-12 11:22] #2859 closed

[2022-04-12 11:38] jeremyshelton commented on #2948
@Fanevanjanahary has there been any further progress here?
Anything ready for me to test yet? Or anything you are still stock with that I can help with?
Thanks

[2022-04-12 12:14] jeremyshelton commented on #2947
Thanks @dimasciput
My downloads from live sit still not coming through, but that is a separate issue.
The Decision support tool is working well.
Thank you.
Closing ticket.

[2022-04-12 12:14] #2947 closed

[2022-04-12 12:56] jeremyshelton commented on #2786
@dimasciput please provide an update on this ticket.
Looks like data boundaries on testing and production are both clipped to SA border.
If this is going to be a time-suck, then lets rather park it for now and leave the data clipped to SA Boundary, which is actually fine.
Please advise.

[2022-04-13 03:22] jeremyshelton opened #3019 "Please delete all data from Shelton et al. 2018"
@dimasciput please can you delete all data from this reference, including the reference itself:
![unnamed](https://user-images.githubusercontent.com/44292029/163093657-9d907e04-9cf4-46e2-8a32-87d1c4a0b3a3.png)
Thanks

[2022-04-13 06:01] Fanevanjanahary commented on #2948
Hi, @jeremyshelton I think @dimasciput already deployed this on the test.

[2022-04-14 08:19] dimasciput commented on #3019
@jeremyshelton all the occurrence records with this source reference have been deleted.

[2022-04-14 09:14] jeremyshelton commented on #3019
Thanks @dimasciput

[2022-04-14 09:14] #3019 closed

[2022-04-14 09:17] jeremyshelton commented on #2948
Thanks @Fanevanjanahary
Looks good on testing. Happy for you to deploy to production 👍

[2022-04-17 10:06] dimasciput commented on #2400
![image](https://user-images.githubusercontent.com/1979569/163709923-a842aecf-6e0f-4fcf-865e-a9a92cd67713.png)

@jeremyshelton I have updated the geocontext data, please test on live site.

[2022-04-18 12:54] jeremyshelton commented on #2400
@dimasciput @amyburness

I've tested this on production site.

For Critical Biodiversity Area (CBA) Provincial - the Western Cape filter is now working, but no red lines showing as for other provinces.
<img width="1105" alt="Screen Shot 2022-04-18 at 1 36 02 PM" src="https://user-images.githubusercontent.com/44292029/163811208-5f902b78-cdc3-4971-8b24-a5394cb25c83.png">

For the NBA labels - nearly

[2022-04-20 07:13] helendallas commented on #2938
@dimasciput Please can you set time aside to add the

Add Site
Add forms

To RBIS.

I need to train the team on how to add single sites and biological data records

[2022-04-20 07:14] helendallas commented on #2978
@dimasciput Please can you set time aside to add the

Add Site
Add forms

To RBIS.

I need to train the team on how to add single sites and biological data records

[2022-04-20 07:19] helendallas commented on #2993
@mmindje Any further progress on this?

@timlinux @dimasciput Can we discuss this at our RBIS meeting tomorrow?

[2022-04-20 09:37] helendallas commented on #2971
Thanks @dimasciput Looking great now and working well. Is this rolled out to live yet?

[2022-04-20 10:16] helendallas commented on #2953
Is it easier to remove the missing date and dates rather than leaving it blank. I can do this easily but then not sure about satrt and end time. Should always be the same ? 00:00-23:00 etc

[2022-04-20 10:24] helendallas commented on #2953
As in this file:
[G1BERG-00310 26-Oct-07 TO 21-May-09 Missing dates excluded.xlsx](https://github.com/kartoza/django-bims/files/8520639/G1BERG-00310.26-Oct-07.TO.21-May-09.Missing.dates.excluded.xlsx)

Please revert and then deploy to live please

[2022-04-21 08:21] timlinux commented on #3017
The chem codes should comply with the named vocabulary for BIMS

![imagem](https://user-images.githubusercontent.com/178003/164409751-599f8d5a-1643-43c9-ac62-56628b01af75.png)

Can we get the data structured into a sheet that looks like this.

site code | site description | date | lat | long | chemical code 1 | chemical code 2 | ...|
------------|----------------------|-------|------|------|------

[2022-04-21 08:44] timlinux commented on #3017
Can we get the data structured into a sheet that looks like this.

site code | site description | date | lat | long | chemical code 1 | chemical code 2 | ...|
------------|----------------------|-------|------|------|-----------------------|-------------------------|----|

The following rules can apply:

* the chem code should match one of the named codes in FBIS (more can be added if needed)
* if

[2022-04-21 09:01] timlinux commented on #3017
See walkthough here

https://youtu.be/IxnIpSZ7txI

[2022-04-21 10:58] timlinux commented on #2388
@NyakudyaA can you please meet up with @bimeobed and help him get the context setup for the climate layers he has published on geonode.

[2022-04-21 11:13] helendallas opened #3022 "Admin need to be able to add a new Chem Unit"
At the moment I am able to edit Chemistry unit table, but I cannot add a new unit.

I can click on Chem Code
But if the Unit is not in the dropdown list, I cannot add it.

![image](https://user-images.githubusercontent.com/45286876/164445891-59722665-8fbb-4260-b4f2-bd176eb06021.png)

In this example I need to be able to add
Cfu/100ml

[2022-04-21 11:28] NyakudyaA commented on #2388
@bimeobed  Are you available tomorrow for me to walk your through this

[2022-04-22 05:49] dimasciput commented on #2217
We can implement number 2 and 3, but for number 1 we have to ask the provider to update their data.

[2022-04-22 06:00] dimasciput commented on #2786
@jeremyshelton we haven't had a chance to address this last sprint, if you want we could prioritize this ticket for the next one. What do you think?

[2022-04-22 06:09] dimasciput commented on #2972
this should already fixed in testing, please can you test it @helendallas

[2022-04-22 06:26] helendallas commented on #2217
Thanks @dimasciput Hugo also responded privately saying he could action, could you liaise with him, thanks

[2022-04-22 06:31] bimeobed commented on #2388
Thank you @NyakudyaA  Now I am on field could we plan on Monday?

[2022-04-22 06:32] helendallas commented on #2972
Thanks @dimasciput @Fanevanjanahary Looks fine now. PLease deploy to live

[2022-04-22 06:38] helendallas commented on #2988
@dimasciput Is this fixed on live or testing?

[2022-04-22 06:47] helendallas commented on #2988
So it seems that even if a site is slightly off the gem zone line, it does now get context data??  We need a work around for this.

![image](https://user-images.githubusercontent.com/45286876/164618983-35d254c2-386f-413c-94ae-b5a000078d3b.png)

https://freshwaterbiodiversity.org/sass/dashboard/9875/?taxon=&search=&siteId=9875&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&r

[2022-04-22 06:49] helendallas commented on #2988
and the ecoregion is there
![image](https://user-images.githubusercontent.com/45286876/164619287-0a50a457-9d17-4007-a62d-e89b07daf929.png)

https://freshwaterbiodiversity.org/admin/bims/locationsite/9875/change/?_changelist_filters=q%3DG1BERG-FORES

[2022-04-22 07:13] timlinux commented on #2988
If the user has set a refined geomorphological zone, that should be used in preference over the geocontext one.

[2022-04-22 07:26] timlinux commented on #2779
@dimasciput to do one last check here before we are done

[2022-04-22 07:34] timlinux commented on #2786
Conclusion from our sprint planning call: Let's finish this up if it is in the order of ~1/2 days work.

[2022-04-22 07:40] dimasciput opened #3023 "Generate database diagram"

[2022-04-22 07:49] timlinux commented on #2986
TODO:

- [ ] Dimas to add a link to metabase from FBIS admin menu
- [ ] Tim and Dimas to come up witha standard dashboard that has stats for uploads and downloads

[2022-04-22 08:15] helendallas commented on #2988
@dimasciput These are the geom classes that each geom zone needs to be assigned:

Upper: Mountain headwater stream, Mountain stream, Transitional, Upper foothill
Lower: Lower foothill, Lowland river

![image](https://user-images.githubusercontent.com/45286876/164646432-125bfa28-9831-4869-85d5-91753e37713d.png)

[2022-04-22 08:43] helendallas opened #3024 "Fix unclassified Geomorphological zones"
Some sites are listed in the Geomorphological Filter as Unclassified, and yet when I go in to edit the site, they do have  geom zone.

@dimasciput to fix in the backend in the next sprint.

There are 160 such sites, I can manually correct them by going into the site edit and fetching geom zone…but better to find out why this happened.

https://freshwaterbiodiversity.org/map/#search//taxon=&search=

[2022-04-22 09:25] helendallas commented on #2625
Helen emailed @mmindje and thacien to get latest master lists, so that I can check if this has been resolved.

[2022-04-22 09:32] helendallas commented on #2319
Closing ticket as this is being brought in from VM only

[2022-04-22 09:32] #2319 closed

[2022-04-22 10:00] helendallas commented on #2978
For now we have forms ready from FBIS for the following taxonomic groups :

- Fish
- Amphibians - called Anura in FBIS
- Invertebrates

We will need to create new ones for

- Birds
- Plants

 I suggest you add these already and then I will work with the RBIS team to modify the forms.

The Odonates are pulled in the OdonataMAP so we dont offer functionality to add records to this taxon group.

[2022-04-22 10:12] helendallas commented on #2993
The upload template is ready:

[RBIS Water Quality Data Template.xlsx](https://github.com/kartoza/django-bims/files/8539760/RBIS.Water.Quality.Data.Template.xlsx)

Next step is for Dimas to enable uploading of physico-chemical data at a new site, and at an existing site.

[2022-04-22 10:13] helendallas commented on #2320
Closing this ticket as we have created upload forms for FBIS

[2022-04-22 10:13] #2320 closed

[2022-04-22 10:30] helendallas commented on #2452
@mmindje Here are some details from Tim for the document you wanted to produce

[2022-04-22 10:40] helendallas commented on #3017
Links to #2993

WQ template included in this ticket

[2022-04-22 15:06] mmindje commented on #2625
Hello @helendallas Yes, see attached the masterlists uploaded
[Newly-Cleaned_Master-list-data-file-_-Plants-xlsx 22Feb2022.xls](https://github.com/kartoza/django-bims/files/8541989/Newly-Cleaned_Master-list-data-file-_-Plants-xlsx.22Feb2022.xls)

[Cleaned- Master-list-NewPlandata-file-_-Plants-xlsx-28Feb2022-xlsx.xlsx](https://github.com/kartoza/django-bims/files/8541999/Cleaned-.Master-list-NewPl

[2022-04-22 15:21] mmindje commented on #2993
Thank you so much, we shall also revise the form and see how to use the
data.

On Fri, 22 Apr 2022 at 12:12, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*"Knowled

[2022-04-25 06:29] #2946 closed

[2022-04-25 06:37] helendallas commented on #2972
@Fanevanjanahary @dimasciput

There still seems to be an issue with data which is not a full year. Issue is not consistent and sometimes it works fine. Please can you check and revert.

See below:

https://freshwaterbiodiversity.org/water-temperature/9980/2008/?taxon=&search=&siteId=9980&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&refere

[2022-04-25 06:47] helendallas commented on #2972
Here is another example:
https://freshwaterbiodiversity.org/water-temperature/84552/2008/?taxon=&search=&siteId=84552&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=%5B%5D&modules=&validated=&sourceCollection=%5B%22fbis%22%2C%22gbif%22%2C%22virtual_museum%22%5D&abioticData=&ecologicalCategory=&rank=&si

[2022-04-25 07:06] dimasciput commented on #2972
Hi @helendallas I fixed this just now, but haven't deployed to live yet. Will deploy to test site later today.

[2022-04-25 07:29] helendallas commented on #2979
@Fanevanjanahary @dimasciput Please fix this soonest

here all photos are showing up on the edit dashboard

https://freshwaterbiodiversity.org/water-temperature-form/edit/?siteId=10358&year=2008

[2022-04-25 07:47] helendallas commented on #2979
Further to above, the correct photo comes up when viewing the data but when I open Edit 2008 or Edit 2009 etc, then I see all the photos from multiple sites.  This may become confusing. Can you make it that you only see the photos uploaded for the site/sampling date. Thanks

[2022-04-25 07:48] helendallas commented on #2971
Working although there is a delay. Closing ticket

[2022-04-25 07:48] #2971 closed

[2022-04-25 07:49] helendallas commented on #2953
@dimasciput @Fanevanjanahary Please feedback on this ticket following my comments above. Thanks

[2022-04-25 08:08] dimasciput commented on #2786
@jeremyshelton this has been added to live site, please test it.

[2022-04-25 08:09] dimasciput commented on #2972
@helendallas this is fixed in testing

[2022-04-25 08:21] helendallas opened #3033 "Ecological Category classes should use Refined Geomorphological Zone if specified instead of Geomorphological Zone"
**As per our discussion in the sprint, please revise the categorisation for Ecological Categories to use
Refined Geomorphological Zone** if it is populated, over the spatially derived **Geomorphological Zone**, as this is more accurate as it has been ground truthed.

![image](https://user-images.githubusercontent.com/45286876/165049015-bfc6725c-d327-4bd0-8d55-63ca4a107dfa.png)

[2022-04-25 08:30] helendallas commented on #2988
Thanks @dimasciput Grey zones seem to be sorted but not sure if you completed all three issues:

-     If the user has set a refined geomorphological zone, that should be used in preference over the geocontext one.
-     If the site GM zome in set in the model check why it is not reflected in the chart sometimes
-     In some cases it seems that the GM zone lookup from geocontext fails - we need t

[2022-04-25 08:38] helendallas commented on #2972
Excellent thanks @dimasciput All looking  fine now. Please deploy update to live and I can close the ticket

[2022-04-25 08:42] dimasciput commented on #2988
Yes @helendallas , it should checked all those 3 points.

[2022-04-25 09:05] helendallas commented on #2988
Ok thanks, I will have another check on testing

[2022-04-25 09:19] helendallas commented on #2988
Few issues:

Ecological category graph should show have Upper or Lower, at the moment it is Undefined

![image](https://user-images.githubusercontent.com/45286876/165058799-6cc9f243-8a71-4db4-ad70-4369e1b8ff48.png)

Otherwise seems to be working fine thanks @dimasciput

[2022-04-25 09:30] jeremyshelton commented on #2786
Thanks @dimasciput
This seems to be working fine.
A few small adjustments needed.
1. Please group the province and country filters into separate drawers called 'South African Province' and 'Neighboring Country' (as per the image below).
2. Please remove red lines from filter selections for neighboring countries (but please do not remove these for provinces)
3. Default selection should be all data

[2022-04-25 09:40] dimasciput commented on #2786
@jeremyshelton
The first requirement stated this :
[code]
So the few adjustment you proposed may take more time than we planned and are also not included in this ticket. So perhaps could you create another ticket?

[2022-04-25 09:54] jeremyshelton commented on #2786
@dimasciput
**We suggest this be included by adding a new sub-drawer underneath 'province' with dropdown for neighboring countries. The drawer name can be changed from 'Province' to 'Province and Neighboring Country'**

👆But this original request corresponds to requirement 1 (shown in the picture), so I think it should remain a part of this ticket? ...or perhaps my original request was not clear e

[2022-04-25 09:58] helendallas commented on #2786
I cant check as I cant see any spatial filters....I have tried HArd refresh but still nothing

![image](https://user-images.githubusercontent.com/45286876/165066841-2671ee35-a3b5-4fde-a6ce-da247e09b74d.png)

[2022-04-25 10:02] helendallas commented on #2979
Is it also possible to show photographs for a site regardless of the year it was associated with.

So for e.g. If I only have a photo for 2008, and I go to 2009, I get the placeholder picture.
Can we instead get the photo from 2008 and whatever other photos are available for the site, with the date shown as it already does.

[2022-04-25 10:10] helendallas commented on #2979
The same as it does in the SASS dashboard: where you can scroll through photos and dates are shown

https://freshwaterbiodiversity.org/sass/dashboard/9909/?taxon=&search=G2EERS-JONKE&siteId=9909&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22,%22gbif%2

[2022-04-25 10:12] helendallas commented on #2953
Okay I retested this on live and it is working fine. Data with missing records added., Closing ticket

[2022-04-25 10:12] #2953 closed

[2022-04-25 10:12] dimasciput commented on #2979
So for e.g. If I only have a photo for 2008, and I go to 2009, I get the placeholder picture.
Can we instead get the photo from 2008 and whatever other photos are available for the site, with the date shown as it already does.

@helendallas do you want to show all images even if they are not uploaded from water uploader form?

[2022-04-25 10:14] helendallas commented on #2979
Yes please, that will be most useful, as long as the year and or date is shown with the photo. Is this possible?

[2022-04-25 10:21] dimasciput commented on #2979
@helendallas yes it's possible, I will deploy it before finishing my day.

[2022-04-25 10:22] helendallas commented on #2979
Brilliant thanks Dimas !!!

[2022-04-25 10:52] helendallas opened #3036 "Hide Thermal Metrics if water temperature data is not a full year"
At the moment, if less than a years data are available, the thermal metrics are shown. This is inaccurate as the thermal metrics should only be calculated when there is a full years data.

Is it possible to hide the Thermal Metric section when data are less than a full years worth, and just give Monthly Magnitudes.

I realise @dimasciput this is extra but thinking about it it can be misleading if

[2022-04-25 10:54] helendallas commented on #3036
Or perhaps when there is < 10 months data, so that one gets more accurate annual statistics

[2022-04-25 10:59] dimasciput commented on #2979
@helendallas I have deployed the fix to testing, please check it

[2022-04-25 11:12] helendallas commented on #2979
Some seem to be blank
![image](https://user-images.githubusercontent.com/45286876/165077559-8386ed66-4114-46b9-ae25-c43f7a2bf544.png)

https://testing.healthyrivers.kartoza.com/water-temperature/10358/?taxon=&search=&siteId=10358&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sou

[2022-04-25 11:13] helendallas commented on #2979
Working well on other sites I checked.

[2022-04-26 01:54] dimasciput commented on #2786
@helendallas it's only available on the live site because it's a data issue

[2022-04-26 02:03] dimasciput commented on #2786
Also, note the difference between 'drawer' and 'sub-drawer'.

I thought from the meeting we're going to merge this under one drawer and call it **Province and Neighboring country**. These requests are more difficult than we planned, basically we have to change again the layer that produces the boundary (separate the layers), change the logic on how to check whether the site is inside the correct b

[2022-04-26 02:19] dimasciput commented on #3036
@helendallas yes it's possible and it's not too difficult. @Fanevanjanahary can you handle this one? Thanks

[2022-04-26 02:22] dimasciput commented on #2979
Yes because the media files have not been brought from live site to testing. I have deployed to live site this morning, can you check it there too? Thanks.

[2022-04-26 02:43] dimasciput commented on #3024
@helendallas I have updated this on live site, please can you check it again.

[2022-04-26 03:36] dimasciput commented on #2400
@jeremyshelton I have fixed the remaining issues, please check on live site.

[2022-04-26 05:43] dimasciput commented on #2972
@helendallas this has been deployed to live

[2022-04-26 06:58] helendallas commented on #2979
Thanks @dimasciput Look great, working well. Closing ticket

[2022-04-26 06:58] #2979 closed

[2022-04-26 07:07] helendallas commented on #3024
Thanks @dimasciput Many are fixed. I will go through the balance and check. Closing ticket

[2022-04-26 07:11] helendallas commented on #2972
Thanks @dimasciput Looking great. Closing ticket

[2022-04-26 07:11] #2972 closed

[2022-04-26 07:49] helendallas commented on #2839
Thanks Dimas that great, still an issue with these 3 site/sampling dates.

They should be validated but still showing as unvalidated;  I am not sure why?

Please can you change them in the backend, or show me how to change them

![image](https://user-images.githubusercontent.com/45286876/165249131-5746b8b9-6f28-4938-a4b8-8a756b0f4ecf.png)

https://freshwaterbiodiversity.org/site-visit/list/?valida

[2022-04-26 07:53] helendallas commented on #2839
Also seems to be the same issue with some for the fish data, shows as unvalidated, but the the Validate button has disappeared...

![image](https://user-images.githubusercontent.com/45286876/165250197-9451cf71-93f2-4678-83a3-14c19fca6ab3.png)

[2022-04-26 08:35] helendallas commented on #3024
Please can you check again as several sites are not being correctly classified even though the geom zone is there. for e.g.

![image](https://user-images.githubusercontent.com/45286876/165257954-94bdd93f-ff63-4610-9f5e-53fc43bbdcef.png)

![image](https://user-images.githubusercontent.com/45286876/165258022-a94ea424-303d-41b9-8a39-58dc85f5399c.png)

then when I edit site and click fetch geom zone:

[2022-04-26 08:37] helendallas commented on #3024
Here is the url to sites still unclassified

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,geo_class_recoded,Unclassified%22]&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&site

[2022-04-26 08:41] helendallas commented on #3033
This has already been fixed via ticket #2988

[2022-04-26 08:41] #3033 closed

[2022-04-26 09:19] helendallas opened #3041 "Revise River Name to use Original River Name is added by user"
So several of our users are getting frustrated with the issue of river names. Essentially the 1:500 000 rivers layer from DWS, where we derive the river name, is not accurate enough or the river is not named on this layer, so then the wrong name gets given to the river.

I included the option to allow the user to capture the **Original River Name**.

Is it possible to recode the back end in a simi

[2022-04-26 11:18] jeremyshelton commented on #2786
@dimasciput the original request was for a **new sub-drawer** underneath 'province' with dropdown for neighboring countries. The **drawer** name can be changed from 'Province' to 'Province and Neighboring Country'

...in other words, to have the SA Provinces and Neighboring Countries grouped into **separate sub-drawers** within the overarching drawer called 'Province and Neighboring Country'.

My

[2022-04-26 11:24] helendallas commented on #2786
@jeremyshelton @dimasciput

What is there now is what I understood from the ticket and our discussions.

It will be easy to unclick neighbouring countries if one only wants data in SA.

I am happy with it as it is

[2022-04-26 11:24] helendallas commented on #2786
sorry I didnt mean to close the ticket

[2022-04-26 11:25] jeremyshelton commented on #2786
OK thanks @helendallas
I'm happy to go with the group vote on this 👍

[2022-04-26 11:35] helendallas commented on #2786
@jeremyshelton I reckon as long as we indicate to users - especially SANBI who will use data for the NBA - that we have included sites on transboundary rivers of neighbouring countries then it will be fine.

Can I close the ticket?

[2022-04-26 12:09] jeremyshelton commented on #2786
@helendallas 👍

[2022-04-26 12:09] #2786 closed

[2022-04-26 12:18] helendallas commented on #2400
@jeremyshelton Can you check this one and close if all sorted, thanks

[2022-04-26 12:46] helendallas commented on #2931
@Fanevanjanahary @dimasciput
I just noticed that the invertebrates have a different look to the others when you scroll over,

![image](https://user-images.githubusercontent.com/45286876/165302711-f6f29925-bb06-452c-a69a-3015e3789619.png)

Is it possible to change this to be like the others where you get the Ecological Category shown as the arrow hovers over it

[2022-04-26 13:12] jeremyshelton commented on #2400
@dimasciput I am still getting no red outline for Critical Biodiversity Area (CBA) Provincial - the **Western Cape** filter

[2022-04-26 13:21] dimasciput commented on #2400
@jeremyshelton yes sorry I missed that, ok now it should be working.

[2022-04-26 14:12] jeremyshelton commented on #2400
Thanks @dimasciput
Sorted.
Closing ticket 👍

[2022-04-26 14:12] #2400 closed

[2022-04-26 14:22] jeremyshelton commented on #2948
Thanks @Fanevanjanahary & @dimasciput
This looks good on the live site 👍
For the bulk data upload templates - can we just add a column to the end called record type?

[2022-04-27 04:05] dimasciput opened #3044 "Can't open unpublished source reference in admin page"
When opening the source reference admin page specifically for unpublished data it will return 403 Forbidden.

[2022-04-27 08:57] dimasciput commented on #3041
@helendallas I have deployed the update to testing, please test it there.

[2022-04-27 09:40] dimasciput commented on #3016
Please test on testing @helendallas

[2022-04-27 09:41] dimasciput commented on #3008
Deployed to testing

[2022-04-27 10:05] dimasciput commented on #3024
@helendallas do you want us to re-fetch the geomorphological zone data for all unclassified sites?

[2022-04-28 01:23] #3044 closed

[2022-04-28 01:25] dimasciput commented on #2988
@helendallas fixed on testing https://testing.healthyrivers.kartoza.com/sass/dashboard/9890/?taxon=&search=&siteId=9890&collector=%5B%22Helen%20Dallas%22%5D&category=&yearFrom=1991&yearTo=1994&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=%5B%22value,sa_provinces,Western%20Cape%22%5D&reference=&endemic=&conservationStatus=%5B%5D&modules=&validated=&sourceCollection=%5B%22fbis%22

[2022-04-28 06:16] helendallas commented on #3024
Yes please @dimasciput as several should have geom zones, but are shown as unclassified

[2022-04-28 06:28] helendallas commented on #2988
Thanks @dimasciput Looks good except please change

Combine to Combined

![image](https://user-images.githubusercontent.com/45286876/165690726-01eb9440-58bb-421c-9e6b-e212d223b0b4.png)

[2022-04-28 06:37] helendallas commented on #3041
Great @dimasciput seems to be working well and will make a big difference to users.  PLease deploy to production

[2022-04-28 06:43] helendallas commented on #3008
Thanks @Fanevanjanahary @dimasciput This is working well, please deploy to live

[2022-04-28 06:45] helendallas commented on #3016
Thanks @Fanevanjanahary @dimasciput This looks fine, please deploy to live

[2022-04-28 06:52] helendallas commented on #3036
Sorry @dimasciput @Fanevanjanahary I am still seeing the Thermal Metric table when the water temperature data in a year is < 10 months.

So to confirm,

If the data from 1 Jan...to 31 Dec is less than 10 months worth, then the Thermal Metric table should be hidden, as the statistics shown for this do not make sense.

See this example, only have data for 2 months

https://testing.healthyrivers.kart

[2022-04-28 07:01] dimasciput commented on #3036
@helendallas it seems the testing is not updated with this fix yet, let me re-deploy

[2022-04-28 07:06] dimasciput commented on #3023
![collection records diagram](https://user-images.githubusercontent.com/1979569/165696260-107ac384-a142-4c4c-bacb-3284f0f4d21b.png)

[2022-04-28 07:37] helendallas commented on #3036
Ok @dimasciput Let me know when its ready for testing. It woudl be great to have those tickets ready deployed to live before the end of this sprint :)

[2022-04-28 07:42] helendallas commented on #3041
Just a thought, after this is deployed to production, how will the site codes be updated. Obviously only the first part of the Site code should be updated:

**G2EERS**-

Not the second part:
**JONKE**

or **00001**

etc

[2022-04-28 07:46] dimasciput commented on #3036
@helendallas I have updated the testing site, please check again. I will try to deploy to live site later today.

[2022-04-28 07:53] helendallas commented on #3036
Working nicely, thanks @dimasciput

[2022-04-28 07:58] dimasciput commented on #3041
@helendallas the number will be automatically incremented if there is already a site with the same number. We don't want to have two sites with the same site code.

[2022-04-28 08:15] helendallas commented on #3041
Okay, that makes sense, but if the Site Code does not have a number then the second half of the code wont be changed?

[2022-04-28 08:25] timlinux commented on #2985
Maybe one more option for 'Other' or 'No specific use'

[2022-04-28 08:31] helendallas commented on #2985
Yes I think its needs to be a bit more specific than reference category

- Scientific article
- Report
- Thesis
- Presentation
- Proposal
- No specific use

Is it possible to make this something that we as Administrators can change as needed.

[2022-04-28 08:53] timlinux commented on #2985
For this ticket we will build a table on the backend with this structure:

Date | User id | Resource Type | Resource Name | Taxon | Site |  Survey |Purpose | Dashboard
------|------------|---------------------|-------| ----------|-------|---------|-----------|-------------|
22-04-2022 | 1 | Chart | SASS Charts  | | |Presentation| https://testing.healthyrivers.kartoza.com/sass/dashboard-multi-sites

[2022-04-28 09:50] timlinux commented on #2986
I came up with something like this in Metabase. It can show all the users in aggregate like this:

![image](https://user-images.githubusercontent.com/178003/165723966-92770853-f687-4681-b870-effb03c99515.png)

Or you can filter it based on the user's last name:

![image](https://user-images.githubusercontent.com/178003/165723001-a2722e45-15b2-4d75-ac23-478bf520079f.png)

If this is in line with wh

[2022-04-29 07:02] #3036 closed

[2022-04-29 07:06] #3016 closed

[2022-04-29 12:09] helendallas opened #3050 "Deleting a site with water temperature data"
At the moment I cannot delete water temperature or a site where there is water temperature data.

I get a

![image](https://user-images.githubusercontent.com/45286876/165941339-d3901845-c00e-40b1-88cb-53e0b3e7b609.png)

when trying to delete the site with the water temperature data -  here is the site

E1OLIF-DUPL

[2022-04-29 12:18] helendallas opened #3051 "Uploading water temp data to a site that already has water temp data"
We need to be able to overwrite existing water temperature data in cases where the incorrect data has been added.

For example: for H1HOLS-STET2 I added data that still had -99, for missing values instead of being blank.

So the stats and graphs dont make sense.

https://freshwaterbiodiversity.org/map/#search/H1HOLS-STET2/taxon=&search=H1HOLS-STET2&siteId=&collector=&category=&yearFrom=&yearTo=&mo

[2022-04-29 15:35] helendallas commented on #2985
Thanks @timlinux I am afraid I am a bit confused why these 4 FBIS queries are here and how they will be used to in reference to this ticket.

In this ticket we just want a pop up message that asks a user what they intend using the data/graph/table for:
Then the user selects on of the following from a dropdown list that we need to be able to manage and update

-     Scientific article
-     Report

[2022-05-02 20:57] timlinux commented on #2985
@helendallas The 4 queries are just different example use cases of where a user might be downloading images or CSV files, and the columns in the table are intended to provide sufficient detail to allow you to contextualise what kind of resources people have downloaded and what they searched for to arrive at the download. The intention is to do as you request in your last post above, and show the u

[2022-05-03 09:13] helendallas commented on #2943
@Fanevanjanahary Please report today on how to fix this in admin, we are battling to work.

Here is another example:
Database: Inkomati-Usuthu Catchment Management Agency Database

Two databases have been created, one for SASS data and one for Fish, but they are called the same.

![image](https://user-images.githubusercontent.com/45286876/166429549-289c15cf-4d21-4719-ab14-2e33cbd9731f.png)

Does @

[2022-05-03 11:09] Fanevanjanahary commented on #2943
Hi @helendallas

@dimasciput already deployed this on the test, you can merge source references from the admin page.

- First, you need to change a source reference to verified
- Then select at least 2 sources references including one verified
- In the action, select _Merge source references_

[2022-05-04 07:26] helendallas commented on #2943
@Fanevanjanahary Where do I find Source References?

Please send me the url.

If I go into Admin, its not listed in BIMS????

[2022-05-04 08:32] Fanevanjanahary commented on #2943
@helendallas, sorry for not mentioning it.

https://freshwaterbiodiversity.org/admin/bims/sourcereference/

[2022-05-04 10:52] helendallas opened #3052 "ORBIS - Upload Taxonomic data - error message 'canonicalName'"
When I Uploaded Taxonomic data into ORBIS, I got an error message I have not received before. I do not know what it means as the species are on GBIF.

For amphibians two taxa (Xenopus laevis and Xenopus muelleri) did not upload. Reason provided in error file: last column was:  'canonicalName'

I also got 27 errors for Birds, same 'canonicalName'

Here is the error file
[error_Botswana_Amphibian_Ma

[2022-05-04 10:57] helendallas opened #3053 "ORBIS - Conservation status filter is missing"
The filter for Conservation Status is missing

![image](https://user-images.githubusercontent.com/45286876/166668722-d7b06a41-52e9-4bfd-9ffa-0b5c6dae6f71.png)

[2022-05-04 11:04] helendallas commented on #3052
Strangely they have been pulled down in GBIF, even though they are not in our master list as they didnt upload

![image](https://user-images.githubusercontent.com/45286876/166669476-615f2123-5128-4b04-83d4-5980aa645b22.png)

![image](https://user-images.githubusercontent.com/45286876/166669370-c7b42803-3fc8-49dc-b9d8-32d08744a82f.png)

And then disappear when I select the amphibian module, not sur

[2022-05-04 12:29] helendallas commented on #2943
So I went onto FBIS testing site but then for some reason I got taken to the FBIS production and I didnt realise it. I then merged these three references, and now they have disappeared completely. When I clicked explore it took me to the live site....something strange is going on.

I hope @dimasciput can get these data back

![image](https://user-images.githubusercontent.com/45286876/166681158-53d

[2022-05-05 07:26] helendallas commented on #2943
So I tested this again on testing this time and after merging, the reference disappears. Clearly not working properly.

I merged these
![image](https://user-images.githubusercontent.com/45286876/166878858-4e615b19-25a6-454d-a0b0-2ff4f7879a57.png)

Now source reference is gone on testing.

[2022-05-05 09:41] helendallas commented on #2217
Hugo has attended to some aspects, please @dimasciput see his response here:

Sorry it took so long but finally got the chance to implement the changes. Now the units are included, the file is also labelled with the monitoring ID name. The only thing left is for you guys to deal with the monitoring point overlap as it will need to be done within FBIS.

The API url needs to be updated as well from

[2022-05-05 10:03] helendallas commented on #2993
Closing ticket as better to have in data project board: see ticket
https://github.com/mmindje/Data-management-FRC-RBIS/issues/55

[2022-05-05 10:03] #2993 closed

[2022-05-05 10:42] helendallas opened #3054 "We need to be able to add Physico-chemical data to a Site"
Please add buttons to View and Add Physico-chemistry data. It should read:

**Physico-chemistry**

**Add physico-chemical data**

![image](https://user-images.githubusercontent.com/45286876/166903528-1cd05e2e-9c26-4d52-8a91-2d7d64126412.png)

All physico-chemical data should be visible, regardless of whether it has biological records associated with it or not. Similar logic to Water Temperature da

[2022-05-05 10:55] helendallas opened #3055 "We need to be able to bulk upload Physico-chemical data"
We need to be able to upload a spreadsheet of physico-chemical data using this template: This needs to available in Admin section.

The processes should be the same as for the uploading of biological occurrence data. The assumption is the physico-chemical variable must already be in the Chemistry unit table. If it is missing then an error message must alert the admin person that the variable is mi

[2022-05-05 10:56] helendallas commented on #3017
Closing ticket by way of ticket #3055 and #3054

[2022-05-05 10:57] #3017 closed

[2022-05-05 11:00] helendallas opened #3056 "We need to be able to Add a new Source Reference when adding Physico-chemical data to a site"
When physico-chemical data is added to a site, we need to be able to choose or add a new Source Reference.

At the moment, we can only choose a Source Reference. We need to be able to Add a new Source Reference here as well please.

Then Choose or Add Source Reference - we actually also need to be able Add Source Reference here for water temp module as well (I will create another linked ticket)

!

[2022-05-05 11:27] helendallas commented on #2625
I am closing this ticket as I have checked the uploading on testing site and it works. **Common Name** needs to have a capital N

[2022-05-05 11:27] #2625 closed

[2022-05-05 11:36] helendallas commented on #2469
@timlinux Please show me where this is done. I tried the landing page but it does not update

![image](https://user-images.githubusercontent.com/45286876/166915213-502cf029-50aa-42d5-9e7c-ba20ddc947e0.png)

but it is still showing as:

![image](https://user-images.githubusercontent.com/45286876/166915268-656134ff-c24d-41fc-be79-ea41ef671d90.png)

[2022-05-05 14:36] timlinux commented on #2388
@NyakudyaA can you please meet up with @bimeobed and help him get the context setup for the climate layers he has published on geonode.

[2022-05-06 13:35] helendallas opened #3057 "Study References with Water temperature data not visible in filter"
Studies added that only have water temperature data not biological records, are not visible in the Study Reference filter

![image](https://user-images.githubusercontent.com/45286876/167142919-75796795-c54d-45d9-86bd-77287ac9588c.png)

PLease can you check, as one should be able to search for any study reference

[2022-05-07 19:13] NyakudyaA commented on #2388
@bimeobed I am setting up a 10 am meeting on Monday to complete this. Will send the calendar invite

[2022-05-08 19:16] bimeobed commented on #2388
Thank you  @NyakudyaA   I got the invitation , I confirm my attendance  tomorrow .

[2022-05-09 10:41] Jeremy-Prior commented on #2670
I've updated the names and descriptions of the GeoTiff layers to include the years from which the data was averaged.

[2022-05-10 06:40] helendallas commented on #2985
Thanks @timlinux but this ticket is about adding a pop up form that a user has to complete when they download a graph or csv file.

[2022-05-10 06:41] helendallas commented on #2986
Perhaps what you wrote in #2598 is what you mean with the tables?

[2022-05-10 09:06] helendallas opened #3059 "Please check two Biological records with Kartoza_admin as owner"
There are many sites where Kartoza_admin is the owner in the Biological Records table
![image](https://user-images.githubusercontent.com/45286876/167591507-5f005779-1edc-449a-ac69-7320369202a1.png)

https://freshwaterbiodiversity.org/admin/bims/biologicalcollectionrecord/?o=8

Here is an example:
Please check if these are real or fictitious records and delete if the latter.

They are both at the s

[2022-05-10 09:07] helendallas commented on #2986
We could keep it simple for now and rely on the **Biological collection records** table in Admin for extracting stats on the number of biological occurrence records added.

If the filters were improved here

![image](https://user-images.githubusercontent.com/45286876/167587132-97f12d37-ad35-4076-aa5f-0082aa3d082b.png)

By adding in these filters: then we could manually extract information at the e

[2022-05-10 12:05] jeremyshelton commented on #2986
@helendallas that makes sense to me.
It should be quite simple to make our own plots from those filtered data 👍

[2022-05-10 12:30] jeremyshelton commented on #2985
@helendallas

What about including Conservation planning & management, Environmental Impact Assessment, Other (detail in notes), Educational resource...in addition to the below?

Scientific article
Report
Thesis
Presentation
Proposal
No specific use

[2022-05-10 13:15] timlinux commented on #2985
Hi @helendallas

Yes I do understand that. When they download a chart or CSV, the data needs to be stored in our back end system recording who downloaded what - otherwise we cannot generate any meaningful report from the interactions. The table I showed is what we would store on the backend with examples of how we would record downloads of different types of resources. I hope that makes sense now?

[2022-05-11 12:09] bimeobed commented on #2670
Hello, @NyakudyaA  Already climate data for 10 m resolution has been registered in service registry but  I try to make group interact fair. Could you help me to fix this issues?
![image](https://user-images.githubusercontent.com/73634159/167846002-49d85cdf-8497-4222-a906-9731e3b83b3d.png)

Now to register the layer in service registry work well
![image](https://user-images.githubusercontent.com/73

[2022-05-11 12:17] bimeobed commented on #2670
@NyakudyaA  when  I sent this the message  how may I fix this?
![image](https://user-images.githubusercontent.com/73634159/167847781-f0744167-24e7-49d7-a88a-9e7805afce1a.png)

[2022-05-11 21:46] timlinux commented on #2986
That approach is ok for me, though I think it would be good to chat about it - ultimately I would like to also work to systematise things so that out the box we can provide metrics.

[2022-05-12 08:13] timlinux commented on #2985
Apologies I was not explicit in saying that the table would be a backend table that gets added to after the user fills in the popup when they download a resource.

[2022-05-12 08:38] timlinux opened #3060 "We need a mobile app"
We need a mobile app with these priorities:

* SASS Capture
* Fish Capture
* Basic physicochemistry (e.g. dissolved O2)
* Location Site Capture + photo(s)

The app needs to work online / offline.

We don't need dashboard or other features from the website.

Focus on Android first then iOS.

The location sites need to be stored on the phone and refreshed regularly when you have connectivity.

We ca

[2022-05-13 07:06] bimeobed commented on #2670
Hello @NyakudyaA  Could you help me to fix this issues because group interact does not work or may I continue to upload precipitation data for 5m we will update group interact after

[2022-05-13 07:14] NyakudyaA commented on #2670
Hi @bimeobed I will take a look shortly and revert

[2022-05-13 08:03] aneriswanepoel opened #3061 "Unable to add new source reference"
Unable to add new source references (see screenshot).

![image](https://user-images.githubusercontent.com/55532903/168238098-b000bab8-8828-4c2e-986c-62883d46ef17.png)

[2022-05-13 08:15] bimeobed commented on #2670
Thank  you very much @NyakudyaA

[2022-05-13 08:35] NyakudyaA commented on #2670
@bimeobed This is fixed now.
![rwanda-geocontext](https://user-images.githubusercontent.com/2510900/168244296-ad0a4422-94a4-4e8a-840e-5164b891c114.png)

All the layers being used in geocontext need to be publicly visible unless you add credentials when registering the service in geocontext

![2022-05-13_10-35](https://user-images.githubusercontent.com/2510900/168244712-e535b32d-32e9-4c31-a701-ac2c

[2022-05-13 09:15] bimeobed commented on #2670
Thank you very much @NyakudyaA  Now it is working well let register the remaining layers for 5m

[2022-05-17 11:01] dimasciput commented on #3055
@helendallas this has been added to testing.rbis.kartoza.com, here's the url : https://testing.rbis.kartoza.com/upload-physico-chemical/

[2022-05-19 09:16] helendallas opened #3066 "Taxon Dashboards not working correctly"
In ORBIS, the overview and detailed dashboards are not showing up all the links to IUCN, GBIS or origin and endemism.

On the map and in the detailed dashboard, the map shows all records, not just the selected taxon.

![image](https://user-images.githubusercontent.com/45286876/169258071-7a18d73e-d7f6-4d11-bc52-4df7ff075e01.png)

https://orbis.kartoza.com/map/#species-detail/taxon=1323&search=&site

[2022-05-19 09:20] helendallas opened #3067 "PLease check biodiversity module"
We are not seeing all the biodiversity records, when no biodiversity module is selected.  Please can you check why this is happening

https://orbis.kartoza.com/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22gbif%22]&abiotic

[2022-05-19 09:27] helendallas opened #3068 "Reptiles - not showing in Search Result when name is selected, only when occurrences is selected"
No records visible here:

![image](https://user-images.githubusercontent.com/45286876/169260233-011632d7-b64a-42db-a455-d0371a22c3a2.png)

When we select occurrences, the records are visible

![image](https://user-images.githubusercontent.com/45286876/169260372-70b589f9-520b-4331-b3ab-4d8d21a454dc.png)

[2022-05-19 10:21] helendallas opened #3070 "ORBIS - Endemism filter does not have all categories"
Please can you check why only Widespread is showing. there should also be subregional endemic

![image](https://user-images.githubusercontent.com/45286876/169270651-ddabbbc4-0be1-4b94-9735-923ba28b24a9.png)

![image](https://user-images.githubusercontent.com/45286876/169270900-5d6d9a0b-6ae5-4b50-8d40-087be1c73e46.png)

Endemism also missing in Taxon overview and detailed dashboards

[2022-05-19 10:31] helendallas commented on #3055
@dimasciput getting error message
![image](https://user-images.githubusercontent.com/45286876/169273529-c7c1ad27-261e-46b2-a391-febc8e472ece.png)

[2022-05-19 10:35] helendallas commented on #3022
@dimasciput This is in review, but I am not sure where to test it? FBIS testing?

[2022-05-19 10:36] dimasciput commented on #3055
@helendallas please login first

[2022-05-19 10:40] dimasciput commented on #3022
@helendallas sorry, rbis testing.

[2022-05-19 21:01] timlinux commented on #3070
Are there actually occurrence records for these taxa?

[2022-05-19 21:04] timlinux commented on #3066
@dimasciput this is probably a side effect of me quickly knocking together a layer in GeoServer for the sites to show up. Could you clone the query / view from FBIS - I suspect without it the CQL filters passed to GeoServer will not work.

[2022-05-20 01:41] dimasciput commented on #3070
Fixed from the admin.

[2022-05-20 01:41] #3070 closed

[2022-05-20 01:59] dimasciput commented on #3053
@helendallas this is fixed, I will close this now

[2022-05-20 01:59] #3053 closed

[2022-05-20 02:00] dimasciput commented on #3068
@helendallas this should be fixed now, please check

[2022-05-20 02:19] dimasciput commented on #3066
@helendallas this should be fixed now

[2022-05-20 02:19] dimasciput commented on #3052
@helendallas I will check this next week

[2022-05-20 07:36] helendallas commented on #3068
@dimasciput Thanks fixed, will close ticket

[2022-05-20 07:36] #3068 closed

[2022-05-20 07:39] helendallas commented on #3066
Thanks @dimasciput Looks good, closing ticket.

[2022-05-20 07:39] #3066 closed

[2022-05-20 07:41] helendallas commented on #3067
Fixed, closing ticket

[2022-05-20 07:41] #3067 closed

[2022-05-20 11:34] helendallas opened #3071 "Creating a Reference Thermograph - Modelled Dashboard"
In the future we would like to create a dashboard that provides a Reference Thermograph and associated radar diagrams for modeled water temperature.

There are several aspects to this:

- Water temperature will be modeled from air temperature, using relevant air/water temperature models
- These water temperature data will be used to generate a Reference Thermograph for each Air Temperature Station

[2022-05-20 12:01] helendallas commented on #2665
Thanks @Fanevanjanahary @dimasciput We have gone through this data and it is looking good. I will close the ticket.

[2022-05-20 12:02] #2665 closed

[2022-05-20 12:07] helendallas commented on #2988
Thanks @Fanevanjanahary Fixed, closing ticket

[2022-05-20 12:07] #2988 closed

[2022-05-20 12:17] helendallas commented on #2948
@dimasciput Please respond re adding a column to the bulk data upload templates. We cna action if yes, as long as the coding is set up to ingest the data correctly.

@jeremyshelton Once we here the response from Dimas, It may be worth testing an bulk data upload with this column included to check that the data is added correctly.

[2022-05-20 12:18] helendallas commented on #2839
@dimasciput Please check this a revert in the next sprint

[2022-05-20 12:23] helendallas commented on #2835
Anything more on this @dimasciput @timlinux ?
I recall that at our last meeting you spoke about the geocontext issues that were being experienced. It would be good to resolve this.

[2022-05-20 12:26] helendallas commented on #2943
@dimasciput Please prioritise fixing this as it is impacting our work. The study reference disappeared after I merged them in the backend.

[2022-05-20 12:31] helendallas commented on #2217
@dimasciput I cant check this as the data is stuck

![image](https://user-images.githubusercontent.com/45286876/169528542-adbde8a5-fc76-48f2-bb89-736ce79a820b.png)

[2022-05-20 13:21] helendallas commented on #3055
Thanks @dimasciput

A few tweeks: Please change to Upload Physico-chemical Data in
Dropdown and Upload form

![image](https://user-images.githubusercontent.com/45286876/169534449-7933aa07-053c-44d9-9785-a0b66fb95970.png)

![image](https://user-images.githubusercontent.com/45286876/169534157-89f60bae-a2e5-4468-a095-85e55f4bef68.png)

[2022-05-20 13:22] helendallas commented on #3055
Please can you copy the Chemical Unit table fro FBIS to RBIS. I dont want to have to recreate all these variables.  Once this is done then I can test it. Alternatively please roll out to FBIS testing.

[2022-05-20 13:34] helendallas commented on #3022
@dimasciput Please can you add this and ticket #3055 to FBIS testing.

RBIS does not yet have any physico-chemical data.
![image](https://user-images.githubusercontent.com/45286876/169537579-cab78f70-f523-4806-859d-6c95c491ce85.png)

Also please can you import the Chemical Unit table from FBIS to RBIS
![image](https://user-images.githubusercontent.com/45286876/169537758-39d71d23-c6f9-4de8-a70d-49d

[2022-05-24 11:45] helendallas commented on #2217
Thanks, working on testing. Please deploy to live

[2022-05-24 11:46] helendallas commented on #3061
@aneriswanepoel Please can you check if this is now working and revert, thanks. On testing site.

[2022-05-24 11:51] helendallas commented on #2839
@dimasciput I am still not able to validate this record.

https://testing.healthyrivers.kartoza.com/site-visit/list/?validated=[%22non%20validated%22]&o=date&collectors=%5B562%5D  The validate button is missing.

[2022-05-24 11:57] helendallas commented on #2985
I don't understand what I am seeing when I click on this link

This is what I get
![image](https://user-images.githubusercontent.com/45286876/170029102-429fb3bc-8720-4d7a-9a3e-fa1ec8634402.png)
then
![image](https://user-images.githubusercontent.com/45286876/170029070-e7f1ab17-927b-48b3-91ec-a8f21c3ad9a9.png)

[2022-05-24 12:03] helendallas commented on #3022
Thanks this seems to be working. Please deploy to live (FBIS and RBIS)

[2022-05-24 12:39] dimasciput commented on #2985
@helendallas try download any graph in the dashboard, it will show you the pop up form with download purpose dropdown. And you can add more option from **Download Request Purpose** admin page.
If you want to see the list of downloads go to this link https://testing.healthyrivers.kartoza.com/admin/bims/downloadrequest/.

[2022-05-25 08:19] bimeobed commented on #2670
Hi @NyakudyaA  I hope you are doing well now all precipitation data ( 5m prec and 2.5M Prec )has been registered  the remaining task is to reload into the graph and also to make group read does not work on my side could you help me to check this issues? I try to flow the guidance you sent to me but it can't work
![image](https://user-images.githubusercontent.com/73634159/170215420-d472c789-0d2d-4f

[2022-05-25 08:43] helendallas opened #3077 "Fix chemistry data by merging two Chemical Units"
I found an issue with the chemical units, where two are the same but have different descriptions. Please can you merge these in the backend.  The correct one is:

Nitrogen: dissolved inorganic (NH4+NO3+NO2)-N

![image](https://user-images.githubusercontent.com/45286876/170220509-e3122bdd-d482-4730-b384-a289d691a7ed.png)

[2022-05-25 12:21] aneriswanepoel commented on #3061
@helendallas okay it's working now

[2022-05-25 13:11] helendallas commented on #3054
Thanks @dimasciput   Several issues:

1) Please fix spacing here to look nicer:

![image](https://user-images.githubusercontent.com/45286876/170261244-79412b24-ec5c-4067-b08f-858bc7a3501e.png)

2) When I click on Add physico-chemical data here - the Add water temperature data form opens

3) When I add physico-chemical data here: the correct form opens
![image](https://user-images.githubusercontent

[2022-05-25 13:57] NyakudyaA commented on #2670
I will check them and revert after testing

[2022-05-27 09:24] aneriswanepoel commented on #3061
@helendallas @dimasciput tried to add a document now (on live) and it's not working

[2022-05-27 10:04] dimasciput commented on #3061
@aneriswanepoel please try it again now

[2022-05-27 10:38] dimasciput commented on #3061
please do hard refresh first.

[2022-05-27 11:06] helendallas commented on #2985
Thanks @dimasciput I have gone through each dashboard, all working with pop up showing except:

Physico-chemical dashboard
Download as CSV

[2022-05-27 11:50] jeremyshelton opened #3080 "Info buttons for Data Source text"
@dimasciput is it possible to 'hide' the text descriptions for Data Sources in a clickable info button? That way we will be able to see all three of the Dara Source options at the same time.

![Screen Shot 2022-05-27 at 1 38 14 PM](https://user-images.githubusercontent.com/44292029/170693629-116dc7d1-480d-4ccf-974c-ecd9e005179e.png)

[2022-05-30 06:54] aneriswanepoel commented on #2808
Site code not in the correct format (live site):
![image](https://user-images.githubusercontent.com/55532903/170934076-53825e11-d58c-4a6c-8cd0-ddf6dd5f7aec.png)
 @helendallas @dimasciput

[2022-05-30 07:52] NyakudyaA commented on #2670
@bimeobed This is now fixed
![2 5m](https://user-images.githubusercontent.com/2510900/170943914-e3fb43ab-bcae-42c5-9f87-fcb9b77eb200.png)
![5m-prec](https://user-images.githubusercontent.com/2510900/170943923-308faa1e-3381-4895-8a58-abb640a2c76b.png)

@dimasciput Can you take over to show the graphs

[2022-05-30 10:32] bimeobed commented on #2670
Thank you very much @NyakudyaA

[2022-05-30 14:16] helendallas commented on #3080
Similar to the "Metadata" in the layers? Is that what you had in mind @jeremyshelton ?

[2022-05-30 14:31] helendallas commented on #2779
@dimasciput Please check this as there are still VM sites that shouldnt be there

![image](https://user-images.githubusercontent.com/45286876/171012104-97619236-4bc1-4da3-b373-2213bb04428d.png)

[2022-05-30 14:36] helendallas opened #3081 "Show new sites even if biological data has not been added - urgent"
@dimasciput
Please can you prioritise this ticket please.

A user added 3 sites. But not any biological data as her colleague was going to add the SASS data after she has created all the sites. This is a common work flow.

These are the sites:
![image](https://user-images.githubusercontent.com/45286876/171013928-1a3794d9-5baa-4a79-879c-01ba321516a3.png)

Can you please change it so that a site sho

[2022-05-31 06:27] jeremyshelton commented on #3080
@helendallas @dimasciput
Yes, exactly like that.

[2022-05-31 06:35] #2808 closed

[2022-06-01 03:16] dimasciput commented on #3081
@helendallas this should be fixed now, can you test it again.

[2022-06-01 03:17] dimasciput commented on #3052
@helendallas this should be fixed in orbis, can you test it again please

[2022-06-01 07:51] #3052 closed

[2022-06-01 09:15] dimasciput commented on #3081
@helendallas can you test on testing site? You might need to create a new site.

[2022-06-01 10:15] dimasciput commented on #3081
@helendallas yes sorry I forgot to update something, please try it again

[2022-06-01 10:30] helendallas commented on #3081
Thanks @dimasciput Seems to be working now.

[2022-06-01 10:41] helendallas commented on #3081
Same with the site I created, now appears in dropdown list twice
![image](https://user-images.githubusercontent.com/45286876/171386450-59e06119-ae63-4c9a-b7fd-4439b6c079a3.png)

[2022-06-01 11:56] dimasciput commented on #3081
@helendallas should be fixed now

[2022-06-02 00:07] dimasciput commented on #3081
@helendallas this has been deployed to live site.

[2022-06-02 01:41] dimasciput commented on #3050
please test on testing

[2022-06-02 01:50] dimasciput opened #3085 "We need to deploy new geocontext to RBIS server"
Currently RBIS is using the latest BIMS version which requires the latest geocontext version.

[2022-06-02 08:20] dimasciput commented on #2943
@helendallas the issue with this feature has been fixed now, please test on testing.

[2022-06-02 09:41] helendallas commented on #3077
Thanks @dimasciput Closing ticket

[2022-06-02 09:41] #3077 closed

[2022-06-02 09:44] helendallas commented on #3081
Great thanks, checked , closing ticket

[2022-06-02 09:44] #3081 closed

[2022-06-02 09:45] #3061 closed

[2022-06-03 07:04] helendallas opened #3088 "Check dates for SASS - Historical data earliest and latest record"
Historical data earliest and latest record flips the dates around? Earliest should be 2020-02-24 but coming as 2024-02-20

![image](https://user-images.githubusercontent.com/45286876/171804376-0878410b-e2e1-4b08-b77e-910cf4d590af.png)

![image](https://user-images.githubusercontent.com/45286876/171804405-6b3c5113-9321-4918-bb3b-2e2dba51a1a7.png)

[2022-06-03 07:55] helendallas opened #3089 "We need to be able to get the GBIF id for individual points"
Sometimes a site is in the ocean, or has an incorrect georeference. These are often GBIF data.

![image](https://user-images.githubusercontent.com/45286876/171811784-f6a78ffe-f37d-4f01-b04c-2cddff24d727.png)

The upstream organisation, e.g. SANBI, would be willing to correct the data point but need the GBIF id to do this.

Can we include a ink to the GBIF record in the Site dashboard - perhaps in

[2022-06-03 08:05] helendallas commented on #2542
This is has come back :(
Please can you fix again

![image](https://user-images.githubusercontent.com/45286876/171813912-21344895-b0d9-4a99-9840-e235cf28fcf8.png)

[2022-06-03 08:36] helendallas commented on #2629
Here is an example of GBIF sites outside Rwandan Country boundary
![image](https://user-images.githubusercontent.com/45286876/171819315-56572c6c-ca10-417f-8edd-885f4f2d5569.png)

[2022-06-03 08:57] helendallas commented on #2542
@dimasciput I have asked the RBIS team to upload the master lists again with the correct endemism names. I think the problem has come in that they used the description as well.

![image](https://user-images.githubusercontent.com/45286876/171822849-6aab3756-3b62-4296-a30b-fab0f8ff0fd3.png)

[2022-06-03 09:15] helendallas opened #3091 "Validation of sites and records"
I dont think that this is working correctly as there are data showing as unvalidated but they were uploaded by the RBIS data team using the occurrence upload templates and should therefore all be automatically validated.

![image](https://user-images.githubusercontent.com/45286876/171825907-bbd651df-b71e-47d8-8a41-e00809f5a51a.png)

Please can you check and make all data in RBIS validated.

Also t

[2022-06-03 09:19] helendallas opened #3092 "Add Chemistry - Abiotic list - variables to RBIS"
Please add Chemistry unit table to RBIS. It si currently blank.

Use the variables in the FBIS table that are clicked to Show in Abiotic List

![image](https://user-images.githubusercontent.com/45286876/171826359-bca7fe5b-17b1-4fbc-b259-576b31a24b56.png)

[2022-06-09 07:09] helendallas commented on #2839
@dimasciput Please can you check what the issue is here. It is still an issue that these records are unvalidated, I think it may occur if the data are edited?????

The validate option has dissapeared

Here are some more examples:
![image](https://user-images.githubusercontent.com/45286876/172786450-b74552b9-676f-4b6a-afa2-38390032cf6f.png)

[2022-06-10 01:10] dimasciput opened #3095 "Show add taxon in site visit update form"

[2022-06-10 02:44] #3095 closed

[2022-06-10 06:48] dimasciput commented on #3088
This is fixed and deployed to live and testing
@helendallas

[2022-06-10 08:42] helendallas commented on #3088
Thanks @dimasciput Looking fine now

[2022-06-10 08:42] #3088 closed

[2022-06-10 08:49] dimasciput commented on #3059
@helendallas This has been fixed, they are old data that should be removed. Perhaps they come back when we restored the data from old database.

[2022-06-10 08:56] helendallas commented on #2943
![image](https://user-images.githubusercontent.com/45286876/173029684-7dabda2d-da27-40ca-9326-23ee037dca20.png)

Thanks @dimasciput Working now. Please deploy to live

[2022-06-10 09:02] helendallas commented on #3050
Thanks. I am now able to delete the site that only has water temperature data. Please deploy to live

[2022-06-10 09:09] helendallas commented on #3059
Thanks, closing ticket

[2022-06-10 09:09] #3059 closed

[2022-06-10 09:12] helendallas commented on #3024
I will do this manually. Closing ticket

[2022-06-10 09:12] #3024 closed

[2022-06-13 07:52] helendallas opened #3099 "Check why some records have Source Reference as None"
![image](https://user-images.githubusercontent.com/45286876/173305502-1d83a70d-732e-48fa-b22d-de4d12f004ca.png)

Please can you fix these records to be Source Reference =  FBIS. I am not sure why they are recorded as None?

[2022-06-13 07:53] helendallas commented on #2839
Thanks @dimasciput Closing ticket now.

[2022-06-13 07:53] #2839 closed

[2022-06-13 07:54] #2943 closed

[2022-06-13 08:00] helendallas commented on #2943
Checking on Live:
![image](https://user-images.githubusercontent.com/45286876/173306472-0706a9f2-fbe4-43bb-9b2c-5518e80d11dc.png)
 and merged

![image](https://user-images.githubusercontent.com/45286876/173306930-1a3e6f22-9abd-4245-b41b-fc574d97a636.png)

[2022-06-13 08:01] #3050 closed

[2022-06-13 08:56] helendallas commented on #2217
@dimasciput  Not working - stuck on fetching

![image](https://user-images.githubusercontent.com/45286876/173308209-b22a27ef-aefe-431d-8695-f0c8213acb05.png)

[2022-06-13 09:36] helendallas commented on #3022
Closing as working on FBIS testing and live and RBIS testing

[2022-06-13 09:36] #3022 closed

[2022-06-13 10:06] bimeobed commented on #2670
Hello @dimasciput   Could you help us  to show precipitation data on graph . I and Admire already we registered in service registry and in GeoNode.

[2022-06-13 10:27] helendallas commented on #3055
@dimasciput I have tried it on FBIS testing and RBIS testing.

RBIS testing - the uploaded data look fine, however neither the Abiotic / Physcio-chemical or Owner filters do not work, so I had to find site codes in backend.

I uploaded dummie data under my name: Helen Dallas as the owner on RBIS.
![image](https://user-images.githubusercontent.com/45286876/173325772-b25ce929-8ac5-47d3-ace6-099719d2

[2022-06-13 10:32] helendallas commented on #3057
Now study reference is showing up but it is not filtering the data

![image](https://user-images.githubusercontent.com/45286876/173335102-c86fd030-6a40-4ea5-af7d-cbb47346a662.png)

[2022-06-13 10:48] helendallas commented on #2985
These all seem to be working, except, the Physico-chemical dashboard

![image](https://user-images.githubusercontent.com/45286876/173337712-6f337e9f-374b-47d3-9ccb-459e0c684e19.png)

Download as csv

![image](https://user-images.githubusercontent.com/45286876/173337760-f782226a-3215-4fc9-821f-639453bea8a3.png)

https://freshwaterbiodiversity.org/physico-chemical/11056/?taxon=&search=&siteId=11056&

[2022-06-13 10:49] helendallas commented on #2948
Awaiting response from @dimasciput

There is a question re has the uploading of the occurrence file been revised so we can include record type as a column. If yes, I can close ticket, if no, I will create a new ticket and close this one

[2022-06-13 11:08] helendallas commented on #3056
So this isn't working correctly, some issues:

I added Date, Select an existing Source Reference, add data, and submit. It takes me to the validate screen at the end. I think it should rather just show the site?

https://testing.rbis.kartoza.com/site-visit/list/?validated=[%22non%20validated%22]&o=date

Then when I add the date, and select Add New Source Reference, which I then add, submit,

The d

[2022-06-13 11:15] helendallas opened #3100 "Metadata not being added to Physco-chemical dashboard"
Once physico-chemical data have been added to as site, the Source Reference of the data shold be listed in the Metadata table.

It is presently missing in both RBIS and FBIS.

https://testing.rbis.kartoza.com/physico-chemical/8429/?taxon=&search=-01206&siteId=8429&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservati

[2022-06-13 11:18] helendallas commented on #3092
I will rather train the RBIS team to do this based on the variables their stakeholders need to include in RBIS. Closing ticket and shifting to data management github board.

[2022-06-13 11:18] #3092 closed

[2022-06-13 11:22] helendallas commented on #2978
@dimasciput The Add site needs to show Rwanda, not South Africa.

![image](https://user-images.githubusercontent.com/45286876/173343053-44a8d2eb-c966-4e44-bd6e-56e04a2880cc.png)

![image](https://user-images.githubusercontent.com/45286876/173343149-780e801b-1523-45f3-a2d3-f9c241ac93e4.png)

[2022-06-13 11:25] helendallas commented on #2978
I then added coordinates in Rwanda but got an error message on submit

![image](https://user-images.githubusercontent.com/45286876/173343424-112543d4-cba4-406c-926b-68c172e4dcd4.png)

Lastly, not all modules visible to add data

![image](https://user-images.githubusercontent.com/45286876/173343526-e2a3cb87-d28f-4f20-82a6-491f59bfb821.png)

[2022-06-13 11:27] helendallas commented on #3054
This works except for issues I raised in ticket #3056

[2022-06-13 13:29] helendallas opened #3101 "Remove or revise Locate by Farm portion"
At the moment the Locate by tool, includes Locate by Farm portion. The RBIS team need to determine if this is relevant and revise if necessary.

![image](https://user-images.githubusercontent.com/45286876/173364465-baee5944-0eb5-425a-b422-1140b430b9fc.png)

![image](https://user-images.githubusercontent.com/45286876/173364420-057e04bf-d743-4d46-8c26-573e58f0205c.png)

Liaise with @dim if necessary

[2022-06-13 13:40] helendallas opened #3102 "Spatial layer - Soil needs to be categorised"
At the moment the soils layer has no differentiation o the basis of Series or any other logical differentiator.

Can you check @bimeobed which is the correct column for this data to be visualised.

![image](https://user-images.githubusercontent.com/45286876/173366679-454c8d3a-98b9-471e-af10-4f0254116e9f.png)

[2022-06-13 13:44] helendallas opened #3103 "Spatial layer - Rwanda Forest cover"
This layer is currently not categorised. It seems that Density is an important categorisation variable, with different densities captured in this column. Perhaps a gradient map of density would work.

@bimeobed Can you discuss with the team

![image](https://user-images.githubusercontent.com/45286876/173367244-b643ccd0-c1cb-4187-8b21-024440bc17f3.png)

[2022-06-13 14:23] helendallas opened #3104 "We need to standardise Unvalidated"
At the moment several terms are used to describe data that has not been validated including:

- Non validated
- Unvalidated

In filters:
![image](https://user-images.githubusercontent.com/45286876/173374404-8c839c96-672e-4f51-9091-3dfbeb95eb52.png)

In Validate record:
![image](https://user-images.githubusercontent.com/45286876/173374640-156e1fea-a13e-494d-86f1-66e5979efe3b.png)

I suggest we stan

[2022-06-13 15:15] bimeobed commented on #3103
Thank you @helendallas .We will discuss on this with my team

[2022-06-15 06:23] helendallas opened #3105 "Existing abiotic data does not show when editing a sitevist data"
At the moment, if one edits SASS, fish or other data, and then clicks next Next and is taken to the Abiotic Form, if data exist for the site visit, these data do not show on this form. So the user thinks they need to add the data again.

This was an error identified a while ago, but the ticket seems to have got lost.

Its quite important to always show the abiotic data including physico-chemical d

[2022-06-15 06:48] dimasciput opened #3106 "Can't update sass owner"
Error :
http://sentry.kartoza.com/kartoza/freshwaterbiodiversity/issues/3335/

[2022-06-15 12:11] jeremyshelton commented on #3089
....and an equivalent for the Virtual Museum records.
I assume that those records also have some sort of unique identifier?
@helendallas @dimasciput

[2022-06-15 12:13] jeremyshelton opened #3107 "GBIF ID not coming through in csv data downloads?"
Hi @dimasciput Here is an example of are GBIF ID and associated information is not coming through in the CSV download:

[3cb0e1c2bd252badee5c9fdc40520b66796eae28b2fbcdac64c5e0a0655772ea.csv](https://github.com/kartoza/django-bims/files/8945658/3cb0e1c2bd252badee5c9fdc40520b66796eae28b2fbcdac64c5e0a0655772ea.csv)

[2022-06-15 12:17] jeremyshelton opened #3108 "GBIF ID not showing in CSV data downloads"
@dimasciput the GBIF ID and other associated columns are blank in CSV downloads for fish and frog data. Also, there is no record identifier information coming through for VM data either.

<img width="1307" alt="Screen Shot 2022-06-15 at 1 30 57 PM" src="https://user-images.githubusercontent.com/44292029/173824512-354f8d82-b47c-4170-85e8-03b2b225df84.png">

@dimasciput @helendallas

[2022-06-15 12:22] jeremyshelton opened #3109 "Dashboard image downloads not working"
The downloaded image from this button appears blank.

<img width="431" alt="Screen Shot 2022-06-15 at 1 58 09 PM" src="https://user-images.githubusercontent.com/44292029/173825664-6b66ddcc-17c1-45e2-b755-6ee6be39e7fd.png">
<img width="568" alt="Screen Shot 2022-06-15 at 2 21 01 PM" src="https://user-images.githubusercontent.com/44292029/173825676-30d147b5-0286-47dc-a377-7a23b07fff80.png">

[2022-06-16 08:06] timlinux commented on #3055
Can I suggest along with the menu change We make a group header called upload and then remove the upload prefix from all entriees

[2022-06-16 08:09] timlinux commented on #3055
Also we should remove this section for RBIS:

![image](https://user-images.githubusercontent.com/178003/174023849-90b54001-1258-4164-8b57-f5a2c727837b.png)

[2022-06-17 07:08] helendallas opened #3110 "Harvesting from GBIF not working correctly on FBIS testing"
Please check the GBIF harvesting: Two issues:

It hangs , I ran it for Odonate adults and plants and both stopped early on.
It brings down data for the of Africa, not just SA.

![image](https://user-images.githubusercontent.com/45286876/174244647-91e19348-20f6-4de7-a9dd-38a5b3e58b69.png)

![image](https://user-images.githubusercontent.com/45286876/174244672-782961fb-bc95-4af1-aaf5-6aedd419d27c.png

[2022-06-17 07:13] helendallas opened #3111 "Download request for large dataset did not finish"
I requested invertebrate data that is 100k+ data, but it stopped processing.
From @dimasciput
Bad news, it seems the backend stopped processing the data.

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=&s

[2022-06-17 10:03] helendallas opened #3112 "Correct SASS data form - order of taxa"
Please can you change display order of Leptophlebiidae and Oligoneuridae

![image](https://user-images.githubusercontent.com/45286876/174276146-46a47734-9e23-402e-989f-cc017ac72245.png)

It should match the field data from and be as follows: If not there may be data capture errors.

- Leptophlebiidae
- Oligoneuridae

[2022-06-17 10:31] helendallas opened #3113 "We need a system to link synonyms to the origin"
At the moment, we are adding taxa that are synonyms of another taxon,

e.g Lonchura cucullate (Lonchura cucullata (Swainson, 1837)) is the accepted name on GBIF
Spermestes cucullata Swainson, 1837 is a synonym of Lonchura cucullate

**Oher examples, even at family level:**
Melaniidae is a synonym of Thiaridae
Helodidae is a synonym of Scirtidae

![image](https://user-images.githubusercontent.com/4

[2022-06-20 05:34] jeremyshelton opened #3114 "User not receiving csv download?"
FBIS user Joshua Weeber requested a vac download for anuran data.
I approved the download, but he did not receive it in his email (including spam).

[2022-06-20 07:57] jeremyshelton opened #3115 "Reassigning Virtual Museum (and possibly GBIF) records to Record type"
We need to reassign 'Visual observation' and 'Photographic record' for data coming in from the Virtual Museum (and possible GBIF as well) to record type, instead of sampling method (which it is currently).
@helendallas @dimasciput @timlinux
**Conversation needed about this at our next catchup call**

[2022-06-20 08:19] jeremyshelton opened #3117 "Adding 'National Conservation Status'"
@dimasciput is it possible to add 'National Conservation Status' as a field in taxon management + CSV downloads?
We can add this to the master list as a new column next to Conservation Status (global).

<img width="1018" alt="Screenshot 2022-06-20 at 10 10 50" src="https://user-images.githubusercontent.com/44292029/174556368-366bf689-70bc-4759-82c8-327074d8d26c.png">

Conversation needed at our ne

[2022-06-20 08:45] jeremyshelton commented on #2858
@dimasciput is it possible to add 'National Conservation Status' as a field in taxon management + CSV downloads?
We can add this to the master list as a new column next to Conservation Status (global).
Then we can do the linking with the SANBI species pages when they provide us with links for the species pages.

[2022-06-20 08:53] jeremyshelton opened #3118 "Improving citation instructions for FBIS"
We need to add a prominent section to the landing page that explains exactly how to cite data downloaded from the FBIS.
The current Citation guidelines tab is not accessible and comprehensive enough.

It is important that it is easy for users to accurately cite the original source from which the data came, in addition to the general FBIS citation info. For example, in addition to the below, we nee

[2022-06-20 09:25] dimasciput commented on #3110
Please test again on testing @helendallas , you need to reupload the taxa list

[2022-06-20 09:32] dimasciput commented on #3114
@jeremyshelton please ask them to redownload the data again.

[2022-06-20 11:07] jeremyshelton commented on #3114
@dimasciput I have done so.
Will let you know the outcome.

[2022-06-20 11:38] jeremyshelton commented on #3114
@dimasciput I get this when trying to approve the download:
<img width="276" alt="Screenshot 2022-06-20 at 13 37 49" src="https://user-images.githubusercontent.com/44292029/174593702-fc00c3f2-5874-4db2-8cb3-9db200e1141f.png">

[2022-06-20 12:27] dimasciput commented on #3114
@jeremyshelton I think it's because the file is too big, let me fix it tomorrow

[2022-06-20 12:37] jeremyshelton commented on #3114
OK thanks @dimasciput

[2022-06-21 03:26] #3106 closed

[2022-06-21 03:37] dimasciput commented on #3109
@jeremyshelton I couldn't replicate this issue, what browser did you use? Can you try it again?

[2022-06-21 03:37] dimasciput commented on #3109
@jeremyshelton I couldn't replicate this issue, what browser did you use? Can you try it again?

[2022-06-21 03:48] dimasciput commented on #3114
@jeremyshelton please ask the user to check their inbox.

[2022-06-21 03:51] jeremyshelton commented on #3114
@dimasciput OK will do.
Will revert.

[2022-06-21 04:01] jeremyshelton commented on #3109
This is what I get when I click on the download. Am I doing something wrong?
<img width="1308" alt="Screenshot 2022-06-21 at 05 50 09" src="https://user-images.githubusercontent.com/44292029/174713116-ec037a63-d507-43f3-9748-391b508e1d9d.png">

[2022-06-21 04:06] dimasciput commented on #3107
@jeremyshelton you already created this ticket here : https://github.com/kartoza/django-bims/issues/3108, please close this one

[2022-06-21 04:06] #3107 closed

[2022-06-21 04:08] jeremyshelton commented on #3107
@dimasciput OK 👍

[2022-06-21 04:21] jeremyshelton commented on #3109
https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=[%22fbis%22,%22gbif%22,%22virtual_museum%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy=name&polygon=[[17.984619140625,-34.0

[2022-06-21 06:14] dimasciput commented on #3105
@helendallas this is fixed in live site

[2022-06-21 06:16] dimasciput commented on #3111
@helendallas can you test it again in live site please, I have made some improvements in the backend side.

[2022-06-21 06:20] dimasciput commented on #3112
Fixed in live

[2022-06-21 06:42] dimasciput commented on #3099
Hi @helendallas , it's because they don't have occurrence records. Source reference is attached to occurrence record/abiotic record/water temperature data.

It seems these site visits only have abiotic records, the legacy abiotic data doesn't have source reference. Should we assign them to FBIS?

[2022-06-21 07:20] helendallas commented on #3099
OK thanks @dimasciput I think there are some errors in here for e.g. Toni Olsen data is all linked to fish data.

These records don't come up when I search on Owner =  Toni Olsen. I cant check what abiotic data has been added, but there shouldn't be any that is not linked to fish data?  How can I see what abiotic data are associated with these site visits.

https://freshwaterbiodiversity.org/map/#

[2022-06-21 07:25] helendallas commented on #2984
Thanks @dimasciput Looks great, closing ticket

[2022-06-21 07:25] #2984 closed

[2022-06-21 07:28] helendallas commented on #3110
So I uploaded the wetland plant list and harvested from GBIF overnight. It all appears to be working well now, thanks @dimasciput I will now close the ticket. I will test again for Odonate adults later today as well.

[2022-06-21 07:28] #3110 closed

[2022-06-21 07:42] helendallas commented on #3105
Thanks @dimasciput Looking good now. closing ticket

[2022-06-21 07:42] #3105 closed

[2022-06-21 07:46] dimasciput commented on #3108
@helendallas @jeremyshelton can I change 'gbif id' to 'upstream id' instead? So we can use it to put gbif id or vm id.

[2022-06-21 07:46] helendallas commented on #3112
Thanks, closing ticket

[2022-06-21 07:46] #3112 closed

[2022-06-21 07:54] helendallas commented on #3108
That's fine with me @jeremyshelton ?

[2022-06-21 07:56] jeremyshelton commented on #3108
👍

[2022-06-21 08:09] helendallas commented on #3111
Great that is really useful

[2022-06-21 08:22] dimasciput commented on #3111
@helendallas apologies, it seems the system won't be able to handle this. I will come up with a better solution.

[2022-06-21 08:26] helendallas commented on #3111
Has it stopped. Its not often one would do such a large data extraction but in this instance I wanted to check records on mass for inverts, so it would be good to come up with a solution if possible. Thanks @dimasciput

[2022-06-21 08:32] helendallas commented on #3111
ah okay

[2022-06-21 09:21] dimasciput commented on #3111
@helendallas I think we also should limit the size of the download for normal users, we can have situation with multiple users requesting 100k+ data at once. What if we add message if the download is too big, they can email the admin directly to get the data?

[2022-06-21 09:29] helendallas commented on #3111
Agreed, makes sense

[2022-06-21 09:32] dimasciput commented on #3111
@helendallas I will do that in another ticket

[2022-06-21 09:57] dimasciput commented on #3080
Please test on testing @jeremyshelton

[2022-06-21 09:57] dimasciput commented on #3108
Please test on testing @jeremyshelton

[2022-06-21 11:44] jeremyshelton commented on #3080
Perfect.
Thanks @dimasciput
This can be rolled out to live.

[2022-06-21 12:00] jeremyshelton commented on #3108
@dimasciput it looks like the the upstream id's are now coming through, but the data are not separated into columns so it's not east to test and check this properly (see below)
<img width="1458" alt="Screenshot 2022-06-21 at 13 57 17" src="https://user-images.githubusercontent.com/44292029/174793948-e5f24484-6dae-4a85-84fe-fd66026db6ae.png">

[2022-06-22 03:59] dimasciput commented on #3108
@jeremyshelton @helendallas I think it was issue with your excel, you need to set the excel to separate data by comma.

[2022-06-22 04:23] dimasciput commented on #3100
@helendallas I'm going to remove this from fbis project, will address it with RBIS time

[2022-06-22 05:01] jeremyshelton commented on #3108
@dimasciput hat is strange, because for my downloads on the live site the data are separated into columns automatically:

<img width="1149" alt="Screenshot 2022-06-22 at 06 59 06" src="https://user-images.githubusercontent.com/44292029/174947177-6a0d03a8-cba9-4d0c-98d2-02add470f001.png">

Is the testing site currently a mirror of live site?

[2022-06-22 05:22] dimasciput commented on #3108
@jeremyshelton yes it's a mirror, did you download the data in live site from email or download request page?

[2022-06-22 05:30] jeremyshelton commented on #3108
@dimasciput I downloaded it from the testing site because I did not receive an email download notification following my download request.

[2022-06-22 05:55] dimasciput commented on #3108
You need to check your spam folder, I think testing will always go to spam.

[2022-06-22 06:20] helendallas commented on #3108
Hi @jeremyshelton and @dimasciput
I received the file in Spam, so easy to find. And it opened as normal in excel.. Try and revise your default settings in excel Jem.

[2022-06-22 06:56] helendallas commented on #3108
ID is showing up, please deploy to production

[2022-06-22 07:14] helendallas commented on #2858
@dimasciput Please can you tackle this soon so that we can upload the both - to revise

@dimasciput we need to add in a new column to the taxon master list upload templates:

Conservation status -> Conservation status (Global)
New column = Conservation status (National)

These changes need to be coded into the search bar/filtering, and added into CSV downloads. The existing CVS formats need to be

[2022-06-22 07:17] helendallas commented on #2857
@dimasciput This can all be implemented except Find National Red List Status (SANBI) as detailed above. The api/link for this is pending feedback from SANBI.

Perhaps just include for now and then once we have the link we can activate the API

[2022-06-22 07:58] dimasciput commented on #3113
@helendallas this is still in work in progress : https://github.com/kartoza/django-bims/pull/3124

[2022-06-22 08:32] jeremyshelton commented on #3108
@helendallas @dimasciput - yes, it looks like the upstream identifier is being pulled through for both GBIF and VM data.

Still a few issues to resolve:

- I see no information in the 9 columns to the right, which should be populated with data?
**Dataset key | Occurrence id | Basis of record | Institution code | Collection code | Catalog number | Identified by | Rights holder | Recorded by**
If th

[2022-06-22 08:37] dimasciput commented on #3108
https://www.gbif.org/occurrence/{upstream_id}

It will make the csv significantly bigger. Here's the url for Virtual Museum : https://vmus.adu.org.za/vm_view_record.php?database=safap&prj_acronym=FrogMAP&db=safap&URL=http://adu.org.za/frog_atlas.php&Logo=images/frogmap_logo.png&Headline=Frog%20Atlas%20of%20Southern%20Africa&Use_main_filter=0&User_id=&Full_name=&serve_sp_list=1&drop_down_list=0&ass

[2022-06-22 08:48] jeremyshelton commented on #3108
Yeah, I also found that GBIF page, but it does not seem to be working?
@dimasciput are you able to find a GBIF record using that page + GBIF ID?

Yeah - that's a long url. Maybe not appropriate for csv.

[2022-06-22 08:56] dimasciput commented on #3108
@jeremyshelton yes it should be, the key is coming from gbif. If you can't open it in gbif, they probably delete the page but still keep the record in database, I'm not sure. Which id is not working?

[2022-06-22 10:52] dimasciput commented on #3111
@helendallas so I managed to resolve this issue in testing, and I found another issue, the csv file size is 22GB, so it's not possible to send it by email. And it takes up a lot of space on the server.  Here's the link if you want to download it : https://testing.healthyrivers.kartoza.com/uploaded/processed_csv/kartoza_admin/6e256a155ff0d49ddcd64bf38d9a2542565bc6e40ca746dee82d5b4ffae56821

Just ad

[2022-06-23 04:55] dimasciput commented on #3085
The new version of geocontext has been deployed

[2022-06-23 04:55] #3085 closed

[2022-06-24 03:42] dimasciput commented on #3055
Yes currently it's not possible to do this, the search is getting more complicated with a lot of parameters. I think we should discuss this before I try to address this myself.

[2022-06-24 06:05] dimasciput commented on #3056
This record is for record collection, I think we need to discuss this with Tim as well. Because we have three different types of records, and they have different properties.

[2022-06-24 07:39] helendallas commented on #3055
Okay @dimasciput Lets discuss. I am available now if you want to chat

[2022-06-24 07:43] dimasciput commented on #3055
@helendallas are you available early next week Helen? I will send you an invite.

[2022-06-24 07:49] helendallas commented on #3055
Hi sorry no. I am away next week. I can meet the following week, 6th.

[2022-06-24 08:30] helendallas commented on #2469
Please be explicit as to where this can be updated thanks @dimasciput

[2022-06-24 08:51] dimasciput commented on #2469
@helendallas you can edit it here https://testing.rbis.kartoza.com/admin/bims/sitesetting/1/change/, find 'Copyright text'.

[2022-06-24 09:01] helendallas commented on #2469
Got it thanks

[2022-06-24 09:35] helendallas commented on #3100
Has this been rolled to FBIS testing as well yet?

[2022-06-24 09:37] helendallas commented on #3100
Looks good on RBIS testing, still needs to be actioned on FBIS

[2022-06-24 09:38] helendallas commented on #2469
Please deploy to live

[2022-06-24 09:56] helendallas opened #3132 "Adding data to a site"
Once a site has been created, a user needs to add their data by selecting the relevant button here:

![image](https://user-images.githubusercontent.com/45286876/175509949-b8bae089-cf89-4bc9-bf37-397a2558530f.png)

**Comments thus far:**

- Some need to be removed: Add SASS data
- Singular/plural mixed up - can admin fix these somewhere and if so where? For e.g. should be Add Amphibian data not Add

[2022-06-24 10:12] helendallas commented on #3132
What is the basis for taxa being included at a new site: e.g Odonates

![image](https://user-images.githubusercontent.com/45286876/175513673-9bf57c1b-e646-48e4-a1db-3f00b387dafe.png)

Add Taxon is not working for -
Macroinvertebrates
Birds

Others are working in that the names come up when I type 3 letters

[2022-06-24 10:15] helendallas commented on #3132
Also Add SASS should be hidden
![image](https://user-images.githubusercontent.com/45286876/175514815-eac0d11e-7634-49f6-97f7-47fe787c7f5c.png)

And probably also Add water temperature data
![image](https://user-images.githubusercontent.com/45286876/175514955-10c39745-48f2-4928-b3e5-99d0ffa80659.png)

Are we as admin able to select which ones to include. I can envisage this would be useful with rol

[2022-06-24 10:26] helendallas commented on #3055
@dimasciput This should be UPLOAD not DOWNLOAD

![image](https://user-images.githubusercontent.com/45286876/175516616-b2048a7a-fb41-41af-9df7-5f651ffad654.png)

[2022-06-24 11:38] dimasciput commented on #3055
@helendallas ah yes sorry! Such a rookie mistake.

[2022-06-24 12:30] helendallas commented on #3055
:)

[2022-06-27 09:30] dimasciput commented on #3132
@helendallas

- Some need to be removed: Add SASS data

You can enable or disable SASS from adming page here : https://testing.rbis.kartoza.com/admin/bims/sitesetting/1/change/

- Singular/plural mixed up - can admin fix these somewhere and if so where? For e.g. should be Add Amphibian data not Add Amphibians data , etc.

Ok, I added singular name field, and admin can update it here : https://test

[2022-06-27 09:32] dimasciput commented on #3132
@helendallas

These are the closest recorded taxa within a 25 km radius.

[2022-06-28 00:56] dimasciput commented on #3089
@helendallas @jeremyshelton hi, what do you think about this  implementation https://github.com/kartoza/django-bims/pull/3135 ?
So we show gbif species links, not occurrences, because we can have 100+ records per site and the user interface will look ugly and will also affect performance.

[2022-06-29 01:02] dimasciput commented on #3089
@helendallas @jeremyshelton also you can get these gbif/museum record ids when you download the csv, so I don't think this is necessary?

[2022-07-01 02:41] dimasciput commented on #2469
deployed to live

[2022-07-01 02:41] #2469 closed

[2022-07-01 02:42] dimasciput commented on #3100
deployed to live

[2022-07-01 02:42] #3100 closed

[2022-07-01 02:42] dimasciput commented on #2978
deployed to live

[2022-07-01 02:42] #2978 closed

[2022-07-01 03:14] dimasciput commented on #3132
@helendallas please give it a test in testing site

[2022-07-01 05:40] dimasciput commented on #2945
@Fanevanjanahary can you try to tackle this? You only need to focus on the second point. Maybe we can add a new field in taxon_group model to indicate what kind of chart will be displayed in the dashboard. For now the choices are conservation status, division, sass, origin and endemism.

[2022-07-01 05:41] dimasciput commented on #2945
Please also add tests

[2022-07-01 07:17] dimasciput commented on #3091
This is fixed in live site

[2022-07-01 07:43] helendallas commented on #3089
We can limit this to single site dashboards only?

Users will most use this for single sites, It needs to be in the dashboard if possible, not only the csv as this then requires extra detective work.

[2022-07-01 08:04] dimasciput commented on #3089
@helendallas we can still have 1000+ gbif occurrences per site, for example : https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=H3KOGM-00001&siteId=25043&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22,%22gbif%22]&abioticData=&ecologi

[2022-07-01 08:51] helendallas commented on #3089
Thanks @dimasciput Yes, its a tricky one when there a lots of records. This came from a user, so keen to implement. Yes, I am happy with a Download button to download GBIF ids.

Thanks

[2022-07-01 08:53] dimasciput commented on #3089
@Fanevanjanahary can you implement this? Please add the button in the single site dashboard.

[2022-07-01 08:55] #2948 closed

[2022-07-01 08:55] #3080 closed

[2022-07-01 08:55] #3108 closed

[2022-07-01 08:56] dimasciput commented on #2857
@helendallas this has been added in the admin page, please check in testing.

[2022-07-01 08:58] dimasciput commented on #2858
@helendallas the csv has been updated with the new column. Regarding the filter, do you want to add a new filter sub panel called Conservation status (National) ?

[2022-07-01 09:04] dimasciput commented on #3051
Ready to test in testing.

[2022-07-01 09:10] dimasciput commented on #2217
@helendallas please test again on live site

[2022-07-01 09:13] helendallas commented on #3091
Thanks @dimasciput Looks fine, closing ticket

[2022-07-01 09:13] #3091 closed

[2022-07-01 09:20] dimasciput commented on #3057
@helendallas for now if you want to see water temperature data you have to check water temperature data in the abiotic module.

[2022-07-01 09:22] dimasciput commented on #2629
I have removed gbif occurrences outside Rwandan Boundaries, and also added smaller country buffer to fix future gbif data.

[2022-07-01 09:48] helendallas commented on #2858
Will it be a problem if National categories differ from Global categories?

I suspect this will be the case. So We will need a tick button to show which to include for Global versus National.

Maybe
https://freshwaterbiodiversity.org/admin/bims/iucnstatus/

should be renamed Conservation status. or else we have two separate tables in BIMS, one for Global ?IUCN and one for National?

[2022-07-06 09:13] helendallas commented on #2629
Thanks @dimasciput Looks good. Some sites are still not naming correctly, but I think it is to do with geocontext data not being fetched. I have set the location sites to:

![image](https://user-images.githubusercontent.com/45286876/177515149-0102a59e-94e7-4718-980f-1e06547e9b0a.png)

I will close this ticket now

[2022-07-06 09:13] #2629 closed

[2022-07-06 09:52] dimasciput commented on #2185
Please give it a test on testing.

[2022-07-18 10:19] jeremyshelton commented on #2948
@dimasciput we are still awaiting a response on this ticket? Thanks

[2022-07-18 10:22] jeremyshelton commented on #3109
@dimasciput this seems to be working fine now.
I previously tested it using both safari + chrome.
Closing ticket.

[2022-07-18 10:22] #3109 closed

[2022-07-18 11:28] jeremyshelton commented on #3114
@dimasciput the user did finally receive the download (in his spam folder, after three attempts).
However he picked up multiple issues with the data file that I will detail in a separate ticket.

[2022-07-18 11:28] #3114 closed

[2022-07-18 11:35] jeremyshelton commented on #2857
@dimasciput I am struggling to find this in the testing site admin page.
Can you perhaps send a link?

[2022-07-18 12:29] jeremyshelton opened #3141 "CSV downloads: multiple issues (urgent)"
@dimasciput @helendallas @timlinux

We have users engaging with the csv downloads and encountering problems.

**Main issues summarised below:**
1. There are over 1000 columns with lots of column repeats (I think this issue is specific to Anuran data).
2. For GBIF & VM records there is no additional information coming through about the source from which the data originated. For example, no GBIF ID

[2022-07-18 13:43] dimasciput commented on #2857
@jeremyshelton in the testing site, go to taxon management page, click edit for one of the species.

[2022-07-19 05:15] jeremyshelton commented on #2857
@dimasciput Ah OK - got it.
@helendallas should we wait for the SANBI links, or should we go ahead and update the National statuses manually once this is rolled out to live?

[2022-07-20 05:37] dimasciput commented on #2388
Climate data is now visible on the live site:
![image](https://user-images.githubusercontent.com/1979569/179904696-06c0cadd-6d9f-4ea5-b05b-c275265d2cb2.png)

https://rbis.ur.ac.rw/map/#search/CKIV3307-00179/taxon=&search=CKIV3307-00179&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&

[2022-07-20 05:43] bimeobed commented on #2388
@dimasciput Many thanks the data has been successfully uploaded

[2022-07-20 05:47] #2388 closed

[2022-07-20 06:04] dimasciput commented on #2616
Added in RBIS production site, closing this ticket.

[2022-07-20 06:04] #2616 closed

[2022-07-20 06:15] dimasciput commented on #2913
@mmindje before we start implementing this feature please give us the sample data first.

[2022-07-20 06:21] helendallas commented on #3051
@dimasciput I uploaded the corrected data to the 2009 year for H1HOLS-STET2 , but it is just spinning......and I cant do anything else or get out.

![image](https://user-images.githubusercontent.com/45286876/179910790-9078d832-b8b7-41f6-9433-c3e830d30e3f.png)

Please can you check what the issue is, thanks

[2022-07-20 06:30] helendallas commented on #2217
Working thanks, closing ticket

[2022-07-20 06:32] dimasciput commented on #3051
@helendallas can you try it again please?

[2022-07-20 06:35] helendallas commented on #2857
Thanks @dimasciput

@jeremyshelton Can you liaise with Nancy and Brenda to find out if the species pages are ready and if they have urls, and how Dimas can access them using an API.  Perhaps show then the taxon management shot.

![image](https://user-images.githubusercontent.com/45286876/179913170-23f52425-85cb-4dd8-b818-032af3570234.png)

Then lets make a call.