[2021-06-17 06:49] #2645 closed

[2021-06-17 07:03] #2381 closed

[2021-06-17 07:12] helendallas commented on #2612
Closing this ticket as it is already captured in #2592

[2021-06-17 07:20] dimasciput commented on #2555
@helendallas please try it again

[2021-06-17 07:42] helendallas commented on #2555
@dimasciput Looks fine now thanks.

Have you ensured that when OdonataMap data is harvested that duplicate site codes are not created?

Can I close?

[2021-06-17 07:50] dimasciput commented on #2555
@helendallas For odonata, the system will create a new site with a unique site code.

[2021-06-17 07:50] dimasciput commented on #2555
@helendallas yes I think we can close this.

[2021-06-17 07:52] helendallas commented on #2444
@Fanevanjanahary @dimasciput

I use Firefox - all downloads working on fish, invert, algal and odonata adults dashboards.

Still no download option for SASS dashboard:
Overview
Metadata table

![image](https://user-images.githubusercontent.com/45286876/122354383-39907080-cf51-11eb-992f-d6b3fd542146.png)

![image](https://user-images.githubusercontent.com/45286876/122354405-41501500-cf51-11eb-9d4d-

[2021-06-17 07:53] #2555 closed

[2021-06-17 08:27] helendallas opened #2650 "We need to be able to add new publications and reports in Source references"
Before we upload new occurrence data we need to be able to add reports as pdf in the Source Reference admin.

![image](https://user-images.githubusercontent.com/45286876/122359536-ec62cd80-cf55-11eb-9245-da80b68460a3.png)

I suspect this only applies to published reports that require a pdf to be uploaded. Then we insert the document link into the upload file in the column:

Document Upload Link
e.

[2021-06-17 08:44] jeremyshelton opened #2651 "River names disappear when zoomed in"
When zooming in on the map, all river names disappear completely when zoomed in close to the finest river scale:

![Screenshot 2021-06-17 at 10 41 33](https://user-images.githubusercontent.com/44292029/122362796-b83cdc00-cf58-11eb-9dd5-a004e82aa1cb.png)

[2021-06-17 09:57] dimasciput commented on #2204
Hi @helendallas , I forgot about this ticket, I have deployed this to testing if you want to test it.
Here's the demo:

https://user-images.githubusercontent.com/1979569/122375061-184d7580-cf8d-11eb-93c8-05f8c08c444f.mp4

[2021-06-17 10:29] dimasciput commented on #2621
@helendallas please check on testing

[2021-06-21 08:54] dimasciput commented on #2444
@jeremyshelton @helendallas please test on the testing site, Faneva should have fixed it.

[2021-06-21 10:24] helendallas commented on #2621
@dimasciput @Fanevanjanahary

Looking good, thanks. A few questions or comments:

- Please can you move **Download requests** below **Validate records**
- **Update records** has disappeared - I think this should be added to **User - below Profile and Site Visits**  @dimasciput ? does this make sense. Is this to allow a user quick access to their records? Not sure how it works or if still needed.
-

[2021-06-21 10:43] helendallas commented on #2204
@dimasciput Looking great, easy and clear. Thanks

Happy for you to deploy to live site.

[2021-06-21 11:27] helendallas commented on #2444
@dimasciput @Fanevanjanahary

All downloads now working. However **Ecological category** has some extra blocks? And please make font of axis larger and darker, and dots larger.

![image](https://user-images.githubusercontent.com/45286876/122753841-1c320e00-d293-11eb-97c9-2c6cfff443fe.png)

Also with the SASS charts, the title (SASS charts - ASPT) is not needed, and the colour coding should say the

[2021-06-22 03:38] dimasciput commented on #2621
@helendallas we don't need `Update records` anymore, since user can update their record from site visit page.

[2021-06-22 06:54] helendallas commented on #2621
@dimasciput Thanks, that is what I suspected :)

[2021-06-23 06:15] dimasciput commented on #2566
Hi @helendallas , I'm sorry I forgot to download the file and now the link has expired. Could you reshare it again?

[2021-06-23 07:00] dimasciput commented on #2625
Hi @helendallas @jeremyshelton it should work now in the testing, here's how to test it :
- Download taxa file in taxon management
- Change or add new name in common name column
- Upload the file in taxa uploader

[2021-06-23 11:59] helendallas commented on #2625
@dimasciput I did this but the new name is added, and does not replace the old one - I changed the following common names in the Fish module

Taxon | Scientific name and authority | Common Name
Actinopterygii | Actinopterygii | Unknown
Ambassis natalensis | Ambassis natalensis Gilchrist & Thompson, 1908 | **Helen One**
Amphilius uranoscopus | Amphilius uranoscopus (Pfeffer, 1889) | **Jeremy one**

[2021-06-23 12:37] helendallas commented on #2566
Hi @dimasciput  Link still active above, shows highlighted taxa that should not be included (see link at top of the ticket)

All Odonates downloaded form FBIS 2021_03_23 Ex Odonata adult data.xlsx

[2021-06-23 12:50] helendallas commented on #2598
@Fanevanjanahary @dimasciput Still not working on SASS dashboard.

![image](https://user-images.githubusercontent.com/45286876/123099295-584fa500-d432-11eb-85df-a0cc316648e1.png)

[2021-06-23 12:51] helendallas commented on #2512
@dimasciput Where is this deployed and where can I test this ?

[2021-06-24 04:08] dimasciput commented on #2566
@helendallas but that's the old issue, I think I already fixed it. Can you try it again maybe?

[2021-06-24 06:19] dimasciput opened #2659 "SASS form is not working with the new site visit validation"
Need to make sure site visit is created with validated value set to False.

[2021-06-24 06:21] helendallas commented on #2566
@dimasciput Yes an old issue but I tested it again and it was still a problem. I will run an extraction of all Odonata data gain although it takes a long time.

[2021-06-24 07:51] dimasciput commented on #2444
@Fanevanjanahary can you check Helen's feedback.

[2021-06-24 07:54] dimasciput commented on #2444
This might be bit tricky with our charting library. Can we park this for later?

[2021-06-24 07:54] dimasciput commented on #2444
@helendallas

[2021-06-24 08:01] dimasciput commented on #2625
@helendallas please try again in testing, should be fixed now. I also fixed the utf-8 csv.

[2021-06-24 09:40] timlinux opened #2661 "Spreadsheet importer should validate on geography too"
When I upload data from a spreadsheet if I have a coordinate e.g. with the negative missing in front of a latitude, we should flag those records. The matching should be done against the instance geography. e.g. the SA boundary.

[2021-06-24 09:55] timlinux commented on #2651
Actually there are two scale zones that don't have names and then the labels come back on:

![fbis-river-blindspot](https://user-images.githubusercontent.com/178003/123243221-b768f480-d4da-11eb-83b3-d7cf86ea6db4.gif)

[2021-06-24 10:14] NyakudyaA commented on #2651
I will check them and fix

[2021-06-24 10:38] helendallas commented on #2612
@dimasciput As per our chat today, please can you add the functionality to delete a record for now, so that we can do this ourselves for our rogue records.

[2021-06-28 09:03] helendallas commented on #2614
Here is a file of hourly water temperature data for more than one year.

[WT_G2EERS-JONKE_10_11_2008 to 13_02_2011.xlsx](https://github.com/kartoza/django-bims/files/6724780/WT_G2EERS-JONKE_10_11_2008.to.13_02_2011.xlsx)

Here is a file of 30 minute water temperature data for more than one year.

[DuToits Feb 2021 WT Data.xlsx](https://github.com/kartoza/django-bims/files/6724897/DuToits.Feb.2021.

[2021-06-28 10:14] helendallas commented on #2615
The procedure is described in the word document and the excel file for the thermal metrics and thermograph will be emailed as Github do not support macro enabled xls files.

[Metrics spreadsheet notes.docx](https://github.com/kartoza/django-bims/files/6725386/Metrics.spreadsheet.notes.docx)

[2021-06-30 08:12] helendallas opened #2665 "Conversion of air temperature data"
We need air temperature data from 973 stations to be converted from ASCII file format to spreadsheet format.
Then these are used to calculate an “average” mean temperature for each day of the year.

The details of the process and associated files are provided in the word document:

[Thermal Module_Notes on air temperature data.docx](https://github.com/kartoza/django-bims/files/6739159/Thermal.Modu

[2021-06-30 08:25] helendallas commented on #2444
@dimasciput Happy to park reformatting of graphs. I will create a ticket in FBIS 2.
@Fanevanjanahary Have you fixed the issues with the SASS graphs?

However Ecological category has some extra blocks? can you delete these?

![image](https://user-images.githubusercontent.com/45286876/122753841-1c320e00-d293-11eb-97c9-2c6cfff443fe.png)

[2021-06-30 08:28] helendallas opened #2666 "Revise font and size of download graphs"
SASS dashboard: Ecological category - please make font of axis larger and darker, and dots larger.

![image](https://user-images.githubusercontent.com/45286876/122753841-1c320e00-d293-11eb-97c9-2c6cfff443fe.png)

Also with the SASS charts, the title (SASS charts - ASPT) is not needed, and the colour coding should say the ecological category not ASPT etc.  as below the SASS chart at the moment.

Se

[2021-06-30 08:34] #2204 closed

[2021-06-30 10:52] Fanevanjanahary commented on #2444
Hi @helendallas I've already removed it, the PR is not merged yet since I'm changing the legend in SASS charts

![image](https://user-images.githubusercontent.com/12623986/123948418-0d8dda00-d9aa-11eb-8625-5d747951670e.png)

[2021-06-30 13:06] helendallas commented on #2444
@Fanevanjanahary Thanks, please confirm when it is ready to be checked.

[2021-06-30 13:08] helendallas commented on #2621
@Fanevanjanahary

Please confirm when the order has been revised as follows:

- Please can you move Download requests below Validate records

And rolled out to production site on FBIS, thanks

[2021-06-30 13:16] helendallas commented on #2408
@dimasciput @Fanevanjanahary
Please can you add tool tips/ hover over text for these buttons, View, Update, Send for validation

![image](https://user-images.githubusercontent.com/45286876/123966867-171d3f00-d9b6-11eb-9121-d5da2a75e0fd.png)

![image](https://user-images.githubusercontent.com/45286876/123966672-ea692780-d9b5-11eb-90d3-0ba9933af726.png)

Please confirm when this is done so I can che

[2021-07-01 08:38] timlinux commented on #1797
Also we should use biotope for uniqueness check so that we take into account the fact that the same organism can be found in the same site and date but in different habitats.

[2021-07-01 08:42] timlinux opened #2669 "RBIS Forest Cover"
@dimasciput can you check why the forest cover layer does not show up in the spatial filter group.

![image](https://user-images.githubusercontent.com/178003/124094276-8a738f00-da50-11eb-858d-4bf238a46742.png)

[2021-07-01 08:46] timlinux opened #2670 "We need to review CHIRPS data for rainfall data"
https://www.chc.ucsb.edu/data/chirps

Can we review this dataset in terms of its suitability (over Worldclim - https://www.worldclim.org/) and if you are happy to use it, we can deploy for RBIS.

[2021-07-01 09:12] timlinux commented on #2603
On FBIS:

![image](https://user-images.githubusercontent.com/178003/124098889-dfb19f80-da54-11eb-95a5-c338e27bf7fa.png)

[2021-07-01 09:16] timlinux opened #2671 "Please redeploy staging on CoE infrastructure"
@iPelino reports that the issue with the hosting company in Rwanda is resolved. Can we please deploy the latest staging onto the staging server and review performance. If it is running well we can move production there too after.

[2021-07-01 10:08] helendallas opened #2672 "Metadata table does not showing GBIF database as a Source Reference"
I selected to include GBIF as a data source, but this is not shown on the metadata table. It should, so that the user is aware that GBIF database is included.  This should be a single line in the table, saying **Global Biodiversity Information Facility (GBIF), Date** as in our Source References.

![image](https://user-images.githubusercontent.com/45286876/124106515-90736b00-da64-11eb-92ec-85e88169

[2021-07-01 10:10] helendallas commented on #1797
@Fanevanjanahary

So the hierarchy for checking for duplicates is:

Site Code - Sampling Date - Biotope - Taxon

Biotope is the aquatic habitat that the fish or invertebrate is sampled in. They are in BIMS- Biotopes. The BIotope includes three levels and I think it should be a combination of **Broad - Specific - Substratum** to ensure only real duplicates are included.

[2021-07-01 10:29] helendallas opened #2673 "CSV files not correct again"
I assisted a user to download data for the species

![image](https://user-images.githubusercontent.com/45286876/124108803-c9144400-da66-11eb-8e5f-9ed51df63961.png)

The CSV file downloaded does not appear to have the correct Source Reference Data for GBIF data -  the Source and Reference Category should be included and owner should not be Kartoza_Admin etc.

here is the file
[Wynand Malherbe Biomp

[2021-07-01 11:28] helendallas commented on #2615
The Metrics spreadsheet Blank, with macros, and the example with hourly data are shared via the dropbox folder.
FRC_Kartoza Thermal Module/ Thermal metrics and thermograph

[2021-07-02 10:34] helendallas opened #2674 "Spatial layers and filters for thermal module"
For the thermal module, five new spatial layers need to be added, with four of these to be included as filters as well.

All layers have been shared in our dropbox folder:
FRC_Kartoza Thermal Module/Spatial Layers and filters

**Spatial layers and filters**

- Köppen Climate  Zones - spatial layer and filter  - in spatial filter
- Flow regions - spatial layer and filter (Similar layout to SA ecore

[2021-07-02 10:36] helendallas commented on #2650
@dimasciput @Fanevanjanahary This is actually quite an urgent task as we cannot upload new data upload files until this has been added.

[2021-07-09 02:07] dimasciput commented on #2592
@jeremyshelton @helendallas please try it on testing. For now only staff or admin user can delete the records.

[2021-07-09 05:39] jeremyshelton commented on #2592
Thanks @dimasciput

I think it is fine for this functionality to be restricted to staff and admin for now.

I was able to successfully delete a record on testing. I deleted am erroneous P. phlegethon record from site N4WITR-00041.

I did however notice a few issues when doing so:

<img width="1193" alt="Screenshot 2021-07-09 at 06 34 07" src="https://user-images.githubusercontent.com/44292029/1250

[2021-07-09 05:41] dimasciput opened #2676 "Improve site validation page"
- [ ] Make the input text fill the empty space for **Site Code** filter
![image](https://user-images.githubusercontent.com/1979569/125028358-140b0880-e0b2-11eb-8e62-d03d2a079459.png)

- [ ] Add reset button to clear the filter
![image](https://user-images.githubusercontent.com/1979569/125028663-a27f8a00-e0b2-11eb-8fec-022c0809ee33.png)

- [ ] Hide "Go" button if no filter is selected

- [ ] Add "E

[2021-07-09 06:22] dimasciput commented on #2673
@helendallas please test, I have changed all the owner to GBIF.

[2021-07-09 06:26] dimasciput commented on #2592
Those are site visit's owner not site's owner, and don't worry about that since it's not mirror to live site. Probably I changed it when I did some testing.

[2021-07-09 06:28] dimasciput commented on #2592
Yes because it's basically updating a site visit, that's why you still need to go to other pages. I can come up with better solution, but also I need more time. So probably for now hopefully this is an acceptable solution?

[2021-07-09 06:30] dimasciput commented on #2592
Let me fix this one

[2021-07-09 06:30] jeremyshelton commented on #2592
**Yes because it's basically updating a site visit, that's why you still need to go to other pages. I can come up with better solution, but also I need more time. So probably for now hopefully this is an acceptable solution?**

@dimasciput OK that's fine.

[2021-07-09 06:34] jeremyshelton commented on #2592
@dimasciput OK that sounds good. We can streamline the process later if it needs more time.
-------
Still not sure why collector/owner institution is incorrectly showing as 'CapeNature' on live site for these records. The correct institution is 'South African Institute for Aquatic Biodiversity' as per the ingested data spreadsheet - do you think we need to correct this manually for this study, or

[2021-07-09 06:44] dimasciput commented on #2592
@jeremyshelton I fixed issue number 1, please test again

About issue number 3, maybe we can open another ticket since it's not related to this issue.

[2021-07-09 06:58] jeremyshelton commented on #2592
@dimasciput issue 1 fix is working fine now. Ready to deploy to live site.

Will create a new ticket for issue 3.

Thank you.

[2021-07-09 07:14] jeremyshelton opened #2678 "Incorrect collector/owner institution for fish data"
1. **Owner issue**: There are still a lot of records with Owner incorrectly listed as FBIS Admin: for example 533 fish records and 17 invert records. This must be an error on the FBIS end, because these the Owner information in the ingested spreadsheets is correct.

2. **Collector/owner institution issue**:  Collector/owner institution is incorrectly showing as 'CapeNature' on live site for record

[2021-07-09 10:23] jeremyshelton opened #2679 "Testing site must mirror live site"
@dimasciput
It is difficult to use testing site to test data and functionality unless it is an exact mirror of the live site.
Is it possible to schedule a weekly reset of testing to match live site?
@helendallas

[2021-07-09 10:26] jeremyshelton opened #2680 "Data upload getting stuck on testing"
Fish data upload getting stuck on testing, but not completing.
Works fine on live.

[2021-07-09 10:33] jeremyshelton opened #2681 "Adding new freshwater Ecosystem Types"
Up until now we have only been focussing on biodiversity data from rivers.
However, moving forward we will nee to add some additional freshwater ecosystem types.

These will probably include: wetlands, dams, lakes.
This field will need to be included in:
- data upload template
- csv downloads
- filters
- dashboards

This will require a discussion to figure out the details.
@helendallas

[2021-07-15 07:58] dimasciput commented on #2625
@jeremyshelton please test this in testing, thanks

[2021-07-15 08:03] dimasciput commented on #2612
this is done in testing

[2021-07-15 08:05] dimasciput commented on #2593
Hi @helendallas , so what do you want me to do here? Delete old authors?

[2021-07-15 08:38] timlinux commented on #2643
@iPelino can you please meet with @dimasciput so that you can resolve it together.

[2021-07-15 08:42] timlinux opened #2683 "Landuse / land cover / forestry layer not working"
![image](https://user-images.githubusercontent.com/178003/125757713-eb285293-035d-4f8c-9952-60655cf225e4.png)

@dimasciput can you please investigate why and also review the wagtail docs to ensure the process is properly described based on the current platform.

[2021-07-15 08:48] #2643 closed

[2021-07-16 02:19] dimasciput commented on #2683
Update :
- the forest cover filter is now working properly

[2021-07-16 09:14] iPelino opened #2684 "Home page not opening (500 Server error)"
But other parts like admin and wagtail are still working

[2021-07-16 09:26] dimasciput commented on #2684
Thanks, I'm checking it now

[2021-07-16 09:29] dimasciput commented on #2684
@iPelino ok it's fixed.

[2021-07-16 09:29] #2684 closed

[2021-07-16 13:54] jeremyshelton commented on #2612
@dimasciput from what I can tell this has been done in testing, but not yet rolled out to live? Or am I missing something?

Testing:
<img width="1242" alt="Screenshot 2021-07-16 at 15 53 00" src="https://user-images.githubusercontent.com/44292029/125959023-f6cda0fb-acf1-450b-9b0a-6f2007b29842.png">

Live:
<img width="1164" alt="Screenshot 2021-07-16 at 15 53 07" src="https://user-images.githubuser

[2021-07-16 14:01] jeremyshelton commented on #2612
Then

[2021-07-16 14:01] jeremyshelton commented on #2592
@dimas let us know when this is ready for testing in live.

[2021-07-16 14:36] jeremyshelton commented on #2625
@dimasciput do I first need to delete the taxon before uploading the corrected taxon?
Is the Taxa uploader the same thing as using the 'Add a Taxon' button?

<img width="1159" alt="Screenshot 2021-07-16 at 16 32 27" src="https://user-images.githubusercontent.com/44292029/125964426-8cfa83ef-3f13-4725-a089-34899bed1760.png">

Perhaps it's best for @helendallas and I to work through this when she's b

[2021-07-20 04:21] #2612 closed

[2021-07-20 04:22] jeremyshelton commented on #2592
@dimasciput please roll this out to Live site as soon as possible.
Thank you.

[2021-07-20 04:41] jeremyshelton opened #2689 "Metadata not showing"
Metadata are not showing in dashboard for some sites and records on the Live site.
Here is an example: https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=65853&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=&modules=1&validated=&sourceCollection=&abioticData=&ecologicalCategory=&

[2021-07-20 04:44] jeremyshelton commented on #2444
@Fanevanjanahary @dimasciput
Is this now ready to be tested?

[2021-07-20 04:46] jeremyshelton commented on #1797
@Fanevanjanahary @dimasciput would you like us to test this now, or are you still working on it?

[2021-07-20 05:01] jeremyshelton opened #2690 "Incorrect base layer whe adding fish data"
Base layer default when adding new data to a sits should be same as for map and 'add a site' workflow': Bing Satellite Hybrid.
At the moment it is a different layer.
https://freshwaterbiodiversity.org/fish-form/?siteId=65892
![Screenshot 2021-07-20 at 06 59 35](https://user-images.githubusercontent.com/44292029/126264538-556f1e12-499d-47df-b23e-74e360e24a64.png)

[2021-07-20 05:49] dimasciput commented on #1797
@jeremyshelton you can test it in the testing site

[2021-07-20 05:49] dimasciput commented on #2444
@jeremyshelton not ready yet

[2021-07-20 05:51] dimasciput commented on #2689
@jeremyshelton it's showing up for me
![image](https://user-images.githubusercontent.com/1979569/126268575-be018b02-618b-4930-9e65-250af2f276b0.png)

[2021-07-20 06:00] jeremyshelton commented on #2689
@dimasciput OK it's showing up for me now too.
However, when I tested it an hour ago it was not there on both Chrome and Safari.
@helendallas @aneriswanepoel @Janette-Lumley have you also experienced intermittent metadata visibility on dashboards? If not, then perhaps it's an issue on my end? I have experienced this several times in the past...

[2021-07-20 06:01] jeremyshelton commented on #2444
Thanks @dimasciput
Will wait for your signal before testing.

[2021-07-20 06:24] aneriswanepoel commented on #2689
@jeremyshelton yes I have also noticed it a couple times

[2021-07-20 10:55] helendallas commented on #2625
@jeremyshelton This is on the testing site right?

We really need the testing to be a mirror image of live site @dimasciput Is it possible to action this please? Soonest.

@jeremyshelton I will have a session with you on the work flow for managing taxa. Have you read my notes? Its written for Rwanda but applicable to FBIS as well.

[Managing taxa in Taxon Management.pdf](https://github.com/kartoza

[2021-07-20 11:03] helendallas commented on #2593
@dimasciput Not to worry, I will check and fix using merg users. Safe this way.

[2021-07-20 11:16] jeremyshelton commented on #2625
@helendallas **This is on the testing site right?** yes - in testing

**We really need the testing to be a mirror image of live site @dimasciput Is it possible to action this please? Soonest.**
@helendallas please see ticket #2679

**@jeremyshelton I will have a session with you on the work flow for managing taxa. Have you read my notes? Its written for Rwanda but applicable to FBIS as well.**
Tha

[2021-07-20 11:42] jeremyshelton opened #2691 "Occurrence data upload: taxon error"
@dimasciput
When uploading fish occurrence data csv file, error file returns for certain records: 'Taxonomy does not exist for this group'. However, the taxonomy data are correct in the upload file. Therefore, there should not be an error message for these data.
This has happened in the past as well.
In the error file, the **Taxon** and **Taxon rank** and other columns appear erroneous - it looks

[2021-07-20 13:56] helendallas commented on #2443
@dimasciput We have manually fixed all of these. There were some that didn't want to change colour, but the minority. So I am closing the ticket.

[2021-07-20 13:56] #2443 closed

[2021-07-20 14:03] helendallas commented on #2673
@dimasciput Thanks thats sorted. Closing ticket

[2021-07-20 14:03] #2673 closed

[2021-07-20 14:09] helendallas commented on #2598
@Fanevanjanahary Please respond to this ticket. The River Management unit is still not being populated for this example site.
@dimasciput please can you also check and revert.

[2021-07-20 14:18] helendallas commented on #2644
Fixed closing

[2021-07-20 14:18] #2644 closed

[2021-07-20 14:25] helendallas commented on #2625
@dimasciput CSV download in taxon management is now not working on testing.

[2021-07-21 06:14] Fanevanjanahary commented on #2598
Hi @helendallas we have already fixed This ticket

https://testing.healthyrivers.kartoza.com/sass/dashboard/27291/?taxon=&search=&siteId=27291&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy=n

[2021-07-21 06:18] helendallas commented on #2598
@Fanevanjanahary Thanks but has it been rolled out to FBIS live yet?????  Its hard to keep track of what has been fixed on testing and when it is rolled out.  Please can you check and revert. @dimasciput

[2021-07-21 06:47] dimasciput commented on #2598
@helendallas not yet, but please test on testing first. I will try to deploy to live site tomorrow.

[2021-07-21 11:28] jeremyshelton commented on #2678
@Janette-Lumley @aneriswanepoel

[2021-07-21 11:37] jeremyshelton opened #2692 "Data upload: adding a geocontext timer?"
Since it is not possible to upload new data until the geocontext from the previous upload is complete, is it possible to add something that shows us 'geocontext % progress' for each upload, so that we know when to start the next one?
@helendallas @timlinux

[2021-07-21 12:02] helendallas commented on #2678
@jeremyshelton Agreed their are issues with owner. I picked up a lot of Rivers database data that dont have owner and which dont have rivers databse 2015 as the source reefrence :(

[2021-07-22 03:40] #2676 closed

[2021-07-22 04:03] dimasciput commented on #2691
@jeremyshelton have you upload the fish data to the correct module?

[2021-07-22 04:15] dimasciput commented on #2689
Hi @jeremyshelton , maybe because the data that you see is not updated yet, it take an hour for the data to be updated. Can we close this ticket for now?

[2021-07-22 04:16] dimasciput commented on #2692
I have a different solution, the geocontext is done by different worker ( processor ), so this won't an issue again if you want to reupload the data.

[2021-07-22 04:20] jeremyshelton commented on #2691
@dimasciput yes, as far as I know this was uploaded to the fish module.
@aneriswanepoel can you confirm that this is correct?

[2021-07-22 04:27] jeremyshelton opened #2694 "Source References: add a document upload link button"
We need a button for uploading a new PDF in the source reference module, that leads to the links below:
https://freshwaterbiodiversity.org/documents/
https://testing.healthyrivers.kartoza.com/documents/

<img width="1142" alt="Screenshot 2021-07-22 at 06 23 55" src="https://user-images.githubusercontent.com/44292029/126589932-2274ea62-a2b4-4dce-9b9b-7a4bcaa5c076.png">

@aneriswanepoel
@helendallas

[2021-07-22 04:29] jeremyshelton commented on #2689
OK, I'll close this for now.
Will re-open ticket if the issue persists.

[2021-07-22 04:30] dimasciput commented on #2694
@jeremyshelton in the next version we don't want user to upload from document page, we will create a new page to do this instead. See this ticket https://github.com/kartoza/django-bims/issues/2650

[2021-07-22 04:47] jeremyshelton commented on #2694
OK thanks thanks @dimasciput

[2021-07-22 04:47] #2694 closed

[2021-07-22 05:21] jeremyshelton commented on #2691
@dimasciput yes - definitely the fish module 👍

[2021-07-22 06:31] jeremyshelton commented on #2691
Majority or records do not return an error. Only a subset of them.

[2021-07-22 06:55] jeremyshelton commented on #2691
@dimasciput OK we have found the issue - the error taxa seem to have a space after taxon name.
Will fix this and hopefully that sorts out the problem.

[2021-07-22 06:56] dimasciput commented on #2691
okay cool

[2021-07-22 06:57] jeremyshelton commented on #2692
@dimasciput OK, but we are currently unable to upload fish occurrence data to testing site, presumably because it is still fetching goecontext from a previous upload? If that is the case, how do we know when we can start uploading the next spreadsheet?

[2021-07-22 06:58] #2691 closed

[2021-07-22 06:58] dimasciput commented on #2692
@jeremyshelton one sec, let me fix it quickly.

[2021-07-22 07:03] jeremyshelton commented on #2692
@dimasciput OK

[2021-07-22 07:15] dimasciput commented on #2692
@jeremyshelton please try it again

[2021-07-22 07:21] jeremyshelton commented on #2692
@dimasciput we have tested it again (on testing site) with two data sets that definitely do match the upload template, but on both occasions it returns this error:

<img width="1029" alt="Screenshot 2021-07-22 at 09 19 50" src="https://user-images.githubusercontent.com/44292029/126602812-809da9d0-2bb8-4547-b6d7-a227b5b167ac.png">

[2021-07-22 07:26] dimasciput commented on #2692
@jeremyshelton it seems you saved the csv with different format, you need to save csv with comma instead of semicolon
![image](https://user-images.githubusercontent.com/1979569/126603227-17520e6a-2117-4a13-a1d3-3a52a793090a.png)

[2021-07-22 07:42] jeremyshelton commented on #2692
@dimasciput OK which .CSV format must I use on Mac?

[2021-07-22 07:43] dimasciput commented on #2692
@jeremyshelton which editor you use on mac?

[2021-07-22 08:09] helendallas commented on #2692
@dimasciput This is the same problem I have experienced on testing for ages.

[2021-07-22 08:12] helendallas commented on #2692
@dimasciput @jeremyshelton My issue was also related to the wrong csv choice. I gues it is working now, although I havent checked for a while

[2021-07-22 08:15] jeremyshelton commented on #2692
@dimasciput OK I have fixed my .CSV format from ; to ,

However, even with that fixed, spreadsheet upload on testing is still getting stuck.

[2021-07-22 08:21] dimasciput commented on #2692
@jeremyshelton is it still stuck now?

[2021-07-22 08:26] jeremyshelton commented on #2692
@dimasciput OK upload worked.
There were some errors.
Fixed errors from error file.
Now not able to upload corrected file, maybe because it is fetching geocontext info?

<img width="1067" alt="Screenshot 2021-07-22 at 10 25 05 AM" src="https://user-images.githubusercontent.com/44292029/126610095-95407af7-b2f6-4d06-b670-2c5cd9988cac.png">

[2021-07-22 08:34] dimasciput commented on #2692
@jeremyshelton one moment, I actually forgot to deploy the fixes to testing.

[2021-07-22 08:34] jeremyshelton commented on #2692
@dimasciput OK :)

[2021-07-22 08:43] dimasciput commented on #2692
@jeremyshelton should be fine now

[2021-07-22 08:48] jeremyshelton commented on #2692
@dimasciput so far, so good:

<img width="1175" alt="Screen Shot 2021-07-22 at 10 48 11 AM" src="https://user-images.githubusercontent.com/44292029/126612698-eadf21ee-eeb2-4141-86b6-ac38ee9c125e.png">

[2021-07-22 08:54] jeremyshelton commented on #2692
@dimasciput 🥳

<img width="1091" alt="Screen Shot 2021-07-22 at 10 54 02 AM" src="https://user-images.githubusercontent.com/44292029/126613435-90767e34-e877-4dae-bec9-acd50d0e67fb.png">

[2021-07-22 08:57] jeremyshelton commented on #2692
@dimasciput just uploaded another and it went through smoothly. Looks like its working well now.
Are we now ready to deploy this upload functionality to live site?

[2021-07-22 08:58] dimasciput commented on #2692
I'm deploying to live site now

[2021-07-22 08:58] jeremyshelton commented on #2692
Excellent.

[2021-07-22 09:20] dimasciput commented on #2497
@helendallas this is fixed and deployed to live.

[2021-07-22 09:21] dimasciput commented on #2625
@helendallas this is fixed and deployed to live.

[2021-07-22 09:21] dimasciput commented on #2408
@helendallas this is deployed to live.

[2021-07-22 09:22] dimasciput commented on #2439
@helendallas this is fixed and deployed to live.

[2021-07-22 09:36] helendallas commented on #2497
@dimasciput error

![image](https://user-images.githubusercontent.com/45286876/126618817-fe59ab1f-32e7-4e94-96ad-399581d7e933.png)

[2021-07-22 10:00] NyakudyaA commented on #2651
The layer name in question is `sa_rivers` coming from kartoza geoserver

[2021-07-22 11:11] helendallas commented on #2439
@dimasciput The data shown here is strange. Its my data, and came in with the Rivers databse, but I am not seeing any of the new data that users have added to FBIS.  I should see all non-validated data

![image](https://user-images.githubusercontent.com/45286876/126630232-2a583e5f-00d5-4d93-83a7-c9f54c932a09.png)

[2021-07-22 11:12] helendallas commented on #2439
also the sampling date says 4 dec 2020, but its not
![image](https://user-images.githubusercontent.com/45286876/126630449-631872c3-4d70-43a4-835c-c6c3c874e750.png)

[2021-07-22 11:13] helendallas commented on #2408
Thanks @Fanevanjanahary Closing ticket

[2021-07-22 11:13] #2408 closed

[2021-07-22 11:19] helendallas commented on #2439
@dimasciput What is happening is that it is filtering by my name when I hit See unvalidtaed data  -this should not happen as the only way to validate is to see all unvalidated data regardless of the owner.

[2021-07-22 11:23] helendallas commented on #2439
So most dates do not match between SASS record and that listed on the site visit for in the column Sampling date

[2021-07-22 11:24] helendallas commented on #2460
@dimasciput How do I validate a site?

[2021-07-22 11:25] helendallas commented on #2625
@dimasciput PLease can you deploy to RBIS as well - that goes for all the recent fixes please

[2021-07-22 11:36] jeremyshelton commented on #2651
@NyakudyaA @dimasciput
From what I can tell there are no river names showing between the 2km and 5km zoom levels.
This makes it confusing when navigating the map.
Is there an easy way to get the river names showing at this scale?

[2021-07-22 11:40] NyakudyaA commented on #2651
@jeremyshelton I have assigned one of our interns to fix this.

[2021-07-22 11:46] jeremyshelton commented on #2692
@dimasciput @helendallas @aneriswanepoel

Occurrence data upload to live working perfectly.
No FBIS having following upload.

Thank you @dimasciput
Closing ticket.

[2021-07-22 11:46] #2692 closed

[2021-07-22 11:52] jeremyshelton commented on #2651
Great.
Thanks @NyakudyaA

[2021-07-22 12:17] jeremyshelton commented on #2689
@dimasciput this seems to be a re-occurring issue
Metadata at bottom of dashboards not showing unless a hard reset is done.
This is the case for several different browsers and users.

[2021-07-22 12:24] aneriswanepoel opened #2697 "Existing FBIS site codes not recognized in new occurrence data upload"
Occurrence data uploaded for two existing sites X2CROC-MALEL & X2CROC-NKONG but new sites created instead of the new data being linked to the existing sites (which is what is supposed to happen).

@helendallas @jeremyshelton

[2021-07-23 05:49] jeremyshelton commented on #1797
@dimasciput @Fanevanjanahary thanks - where is this tool?
...don't see it in the Administration tab?

[2021-07-23 05:58] jeremyshelton opened #2698 "Delete a site button"
We need to be able to delete a site.
Currently it is not possible to delete a record if it is the only record at a site, but we need to be able to do this:

<img width="1183" alt="Screen Shot 2021-07-23 at 7 56 44 AM" src="https://user-images.githubusercontent.com/44292029/126742604-1d3c5e71-b7bd-4f95-8d7f-8c56e40cf431.png">

@helendallas @timlinux

[2021-07-23 06:30] jeremyshelton opened #2699 "GBIF harvesting - not working"
GBIF fish data harvesting is not working.
Gets stuck on the first taxon.

@Janette-Lumley @helendallas

[2021-07-23 06:35] Fanevanjanahary commented on #1797
@jeremyshelton you can find it in summary report
 https://testing.healthyrivers.kartoza.com/summary-report/

[2021-07-23 06:39] jeremyshelton commented on #1797
Thanks @Fanevanjanahary
For future reference: how and where can we generate a summary report?

[2021-07-23 06:48] helendallas commented on #1797
@jeremyshelton It is is adminstration/summary report.

The worrying thing is there are

![image](https://user-images.githubusercontent.com/45286876/126746581-08a91be0-57ca-4701-8ab3-6f167ae14c3c.png)

Also there is no way to fix these.....we need further guidance and discussion on this @dimasciput @Fanevanjanahary

[2021-07-23 06:58] jeremyshelton commented on #1797
OK thanks @helendallas
Trying to download the .csv file, but it is stuck on 'processing'?

[2021-07-23 06:59] Fanevanjanahary commented on #2460
@helendallas you can find it here https://freshwaterbiodiversity.org/nonvalidated-site/

[2021-07-27 12:17] jeremyshelton opened #2700 "Fish data upload taxonomy error"
@dimasciput we continuously get the "Taxonomy does not exist for this group" even after I've double checked everything is correct (no spaces, matches the master list etc). The other spreadsheets that also contain these "erroneous" taxa have all uploaded successfully so the taxa aren't the problem...

Upload file:
[1. KNP fish data 2009 for uploading.csv](https://github.com/kartoza/django-bims/file

[2021-07-28 04:30] dimasciput commented on #2700
@jeremyshelton @aneriswanepoel I found a hidden space. It's between Enteromius and viviparus
![image](https://user-images.githubusercontent.com/1979569/127263844-7c19a97e-77ba-466b-b491-f680b5a75eea.png)

[2021-07-28 04:47] dimasciput commented on #2697
@aneriswanepoel did you test it on testing or live site? can you send me the file please

[2021-07-28 04:51] jeremyshelton commented on #2700
Thanks @dimasciput
Missed that. Most extra spaces have occurred at the end of the name 🧐
Will update and upload - sure that will work now.
@aneriswanepoel

[2021-07-28 04:51] jeremyshelton commented on #2697
@dimasciput this was on testing site.
@aneriswanepoel will send file through shortly.

[2021-07-28 04:52] dimasciput commented on #2697
@aneriswanepoel @jeremyshelton with the current system, if they have different coordinate (lat, lon). The system will create a new site instead. So do you want to remove the old sites?

[2021-07-28 04:55] jeremyshelton commented on #2697
@dimasciput the new data should be added to the existing site if (1) the FBIS site code is specified in the data upload template and/or (2) they have the same coordinates as an existing site.

@aneriswanepoel @helendallas

[2021-07-28 05:16] jeremyshelton commented on #2697
@dimas here is an example of a spreadsheet that was uploaded to testing but existing FBIS codes were not combined with existing sites with the same site codes, which is what should happen.

[5. IA Russell PhD for uploading.csv](https://github.com/kartoza/django-bims/files/6890481/5.IA.Russell.PhD.for.uploading.csv)

@aneriswanepoel

[2021-07-28 05:33] dimasciput commented on #2697
@jeremyshelton I just checked, and the site from the csv has coordinate (-25.4575, 31.53556) whereas the existing site has coordinate (-25.486, 31.502). So what should system do? Merge the sites, and use the updated coordinate?

[2021-07-28 05:47] jeremyshelton commented on #2697
@dimasciput I think the logic when uploading new data should be:
Merge sites when:
1. FBIS site codes are specified in the upload CSV. But the original site coordinates should be used (not updated with the new ones).
2. Or, when the coordinates in the uploaded CSV match those of an existing site.

[2021-07-28 07:29] dimasciput commented on #2697
This is fixed on testing

[2021-07-28 08:51] jeremyshelton commented on #2697
Thanks @dimasciput.
We have tested issues 1 and 2 on testing site.
**Issue 1** is now fixed. Thank you.
**Issue 2** is not. When we uploaded a new record (without FBIS site code) with the same coordinates as an existing FBIS site, a new site is created instead of the new one being merged with the existing one.
@aneriswanepoel

[2021-07-28 09:06] jeremyshelton commented on #2697
From @aneriswanepoel : So it seems like FBIS will pull the code if its in the spreadsheet, but doesn't recognize coordinates that belong to an existing site 🤔

[2021-07-28 09:09] dimasciput commented on #2697
The coordinate need to be exact the same @jeremyshelton, can you give me the lat and lon for the site.

[2021-07-28 09:18] aneriswanepoel commented on #2697
@dimasciput

This is the existing code on FBIS:
![image](https://user-images.githubusercontent.com/55532903/127297188-614a45d0-dc5d-44c4-a456-1be58c97ed8a.png)

Co-ordinates in the spreadsheet are identical:
[FBIS testing dummy sheet - new.xlsx](https://github.com/kartoza/django-bims/files/6891793/FBIS.testing.dummy.sheet.-.new.xlsx)

[2021-07-28 10:54] jeremyshelton commented on #2697
@dimasciput let us know if you are able to resolve this issue?
The we can test it on testing and deploy this functionality to live site.
Thanks.

[2021-07-28 12:33] aneriswanepoel opened #2702 "Source Reference search results not producing all linked sites"
When searching for this Source Reference, FBIS only shows 8 sites but there should be 21 sites:

![image](https://user-images.githubusercontent.com/55532903/127322385-fb8149f9-74fe-41bd-a1be-d3017dfe2119.png)

If you search the Owner of the data, all 21 sites are shown:

![image](https://user-images.githubusercontent.com/55532903/127322520-a73c6bd2-3658-47dd-bb5c-d048382e1008.png)

The metadata fo

[2021-07-29 09:16] dimasciput commented on #2697
@jeremyshelton @aneriswanepoel please try again on testing

[2021-07-29 09:38] aneriswanepoel commented on #2697
@dimasciput @jeremyshelton yes it's working now

[2021-07-29 10:10] jeremyshelton commented on #2697
Thanks @dimasciput

Please roll this new data upload functionality (both the site code and site coordinate fixes) out to the live site & let us know when that's done.

@aneriswanepoel

[2021-07-30 02:18] dimasciput commented on #2697
@jeremyshelton @aneriswanepoel
Deployed to live site.

[2021-07-30 03:28] jeremyshelton commented on #2697
Thanks @dimasciput
Good work.

[2021-07-30 11:16] aneriswanepoel opened #2704 "Fish data to be deleted"
Some fish data will need to be deleted from FBIS, and then re-ingested once existing site code issue is fixed:

@dimasciput please can you delete the following from FBIS:

[1. KNP fish data 2009 for uploading.xlsx](https://github.com/kartoza/django-bims/files/6914810/1.KNP.fish.data.2009.for.uploading.xlsx)
[5. IA Russell PhD for uploading.xlsx](https://github.com/kartoza/django-bims/files/6907126

[2021-08-02 05:54] helendallas commented on #2702
@dimasciput Here is another example of Source Reference not showing in filter even though it has been uploaded to FBIS and is shown in the metadatable

![image](https://user-images.githubusercontent.com/45286876/127810814-f91b9aed-ed63-4439-8ad7-c40138790791.png)

[2021-08-02 06:51] jeremyshelton commented on #2697
@dimasciput this is not working on live site. Did you deploy the upload fixes from testing to live?
We uploaded a spreadsheet (see below) to live site and the site codes were not pulled through. New sites were incorrectly created, instead of the sites being merged with the existing sites with the same codes.

So we now need to (1) remove these data and (2) re-upload them once you confirm that this

[2021-08-02 06:59] helendallas commented on #2697
@jeremyshelton Agreed this functionality need to be working, but for the data already uploaded there is a work around to use the Merge Site functionality. On the Lasso tool.  It may be faster than deleting all the data and reuploading.

[2021-08-02 07:04] jeremyshelton commented on #2697
OK thanks @helendallas
@aneriswanepoel how many sites would we need to do this for?

[2021-08-02 07:19] dimasciput commented on #2697
I just checked, and it is updated. Let me quickly restart the server.

[2021-08-02 07:21] aneriswanepoel commented on #2697
Looks like its about 12 sites

[2021-08-03 07:31] helendallas commented on #2497
@dimasciput Please check this. It goes to
file:///C:/Users/Helen%20Dallas/AppData/Local/Temp/Taxa_list.csv.htm

And I can still not access the file

[2021-08-03 07:35] helendallas commented on #2557
@dimasciput Column order still needs fixing  -For all please move Family before Genus,

Once done I can close the ticket

[2021-08-03 07:43] helendallas commented on #2621
closing ticket, fine in FBIS

[2021-08-03 07:43] #2621 closed

[2021-08-03 07:43] #2598 closed

[2021-08-03 07:46] helendallas commented on #1797
@dimasciput @Fanevanjanahary
Please can we discuss this at our meeting tomorrow. This tool needs to be accessible from the Admin dropdown, and we need to be able to check and then fix duplicate records, so the workflow needs to :
1. Identify potential duplicate records
2. Allow us to be able to fix these records
Perhaps I do not yet understand the workflow, so please can you talk us through this D

[2021-08-03 08:00] helendallas commented on #2460
@Fanevanjanahary @dimasciput Following this link takes me to this page:

 ![image](https://user-images.githubusercontent.com/45286876/127978324-08f9a688-11fe-42f3-a7a0-0d4737851028.png):

then when I click on the site I get the screen below, which has lots of data missing

![image](https://user-images.githubusercontent.com/45286876/127978535-c8696353-4f56-4c86-b4dc-d09d1d2cd948.png)

I need to be

[2021-08-03 08:13] helendallas commented on #2439
@dimasciput Please can we discuss this tomorrow.

When I click Validate records on Administration, I need to see all Unvalidated data.
Then I need to be able to apply a filter to select a subset.
What is missing but which is critical is Module - as the person checking fish data will be different to invertebrate data.

Also I am not sure why there is the Send for Validation button? For users this s

[2021-08-03 08:17] helendallas commented on #2444
@Fanevanjanahary @dimasciput Please let me know when this is ready for testing. Its been two weeks

[2021-08-03 08:19] helendallas commented on #2400
@timlinux PLease can you give Admire a nudge about this ticket....Its been a long time. thanks

[2021-08-03 08:20] helendallas commented on #2462
@dimasciput Please cna you update me on this ticket.

[2021-08-03 08:21] #2593 closed

[2021-08-03 08:21] helendallas commented on #2558
@dimasciput Please can you update me on this ticket

[2021-08-03 08:50] helendallas commented on #2625
@dimasciput Has this been rolled out to RBIS. I uploaded amphibian master list again that includes common names and they are not visible in Taxon Management. Please check and revert.

[2021-08-03 08:56] dimasciput commented on #2625
@helendallas not yet unfortunately, I'll deploy it tomorrow morning

[2021-08-03 08:58] helendallas commented on #2625
@dimasciput ok thanks

[2021-08-03 09:22] helendallas commented on #2704
@aneriswanepoel Closing this ticket after our discussion yesterday. Please confirm that you agree.

[2021-08-03 09:22] #2704 closed

[2021-08-03 09:25] helendallas commented on #2698
@jeremyshelton We can already do this on the Site edit form, see screenshot. I am closing ticket.

![image](https://user-images.githubusercontent.com/45286876/127992067-f4e83db1-e690-4798-88be-76faf0662d85.png)

[2021-08-03 09:25] #2698 closed

[2021-08-03 09:26] helendallas commented on #2700
Closing ticket.

[2021-08-03 09:26] #2700 closed

[2021-08-03 09:27] helendallas commented on #2680
@jerem was this resolved. Please close ticket if yes

[2021-08-03 09:30] helendallas commented on #2690
@Fanevanjanahary This should apply for adding all new data: fish, invertebrates, algae, SASS

[2021-08-03 10:01] helendallas commented on #2699
@dimasciput Please can you check this our soonest

[2021-08-03 10:03] aneriswanepoel commented on #2704
Yes I agree!

[2021-08-03 10:04] aneriswanepoel commented on #2680
@helendallas yes it was.

[2021-08-03 10:04] #2680 closed

[2021-08-03 10:10] helendallas opened #2705 "Multiple databases being created when occurrence data uploaded"
We had this issue previously. Why when occurrence data is uploaded and assigned the same Source, in this case database, the Source Reference list it multiple times. It should be one database if it has the same name

![image](https://user-images.githubusercontent.com/45286876/127998519-32a0d4c9-af99-4ab5-a908-f9169f8c3670.png)

This was recently uploaded by @aneriswanepoel

[2021-08-03 11:46] helendallas commented on #2697
@aneriswanepoel Please can you check if this functionality is working on the live site and revert

[2021-08-03 13:11] aneriswanepoel commented on #2697
@helendallas no does not seem to be working

[2021-08-03 13:58] helendallas commented on #2566
@dimasciput

So I have just extracted all data from the Odonate adult module. The attached excel file highlights all the records that are definately not OdonataMap data but which belong to specific studies uploaded to FBIS. They have been incorrectly assigned to OdonataMap as the source. I have no idea how this has happened.

![image](https://user-images.githubusercontent.com/45286876/128027192-bd

[2021-08-04 02:04] dimasciput commented on #2566
That means they don't have owner/collector in the source, the system will set the owner to admin.

Ok, will check it today.

[2021-08-04 02:07] dimasciput commented on #2697
@aneriswanepoel @helendallas have you tested it again yesterday?

[2021-08-04 03:42] dimasciput commented on #2566
@helendallas this is fixable, the cause of this problem is the script I use to update all odonate reference data to the museum also updates other odonate data that doesn't belong to the adult odanate group. So sorry, it was my fault.

[2021-08-04 04:56] dimasciput commented on #2566
@helendallas this should be fixed now

[2021-08-04 04:58] dimasciput commented on #2705
@helendallas this is because they have different years, so it will create a new database record.

[2021-08-04 04:59] dimasciput commented on #2705
@helendallas do you want to remove year data from database source?

[2021-08-04 05:02] dimasciput commented on #2699
@jeremyshelton did you test it on testing or live?

[2021-08-04 05:02] dimasciput commented on #2699
![image](https://user-images.githubusercontent.com/1979569/128124794-50857f83-7096-4178-bd57-c772a1ceb4f8.png)
Looks fine on testing

[2021-08-04 05:54] aneriswanepoel commented on #2697
@dimasciput yes tried it yesterday and again this morning and still not working

[2021-08-04 06:06] dimasciput commented on #2697
@aneriswanepoel can you send me the file?

[2021-08-04 06:12] dimasciput commented on #2697
@aneriswanepoel what was the issue? existing site code or coordinate?

[2021-08-04 06:14] aneriswanepoel commented on #2697
@dimasciput issue is existing site code specified in spreadsheet but not pulled onto FBIS

[2021-08-04 06:15] dimasciput commented on #2697
@aneriswanepoel which site code?

[2021-08-04 06:23] helendallas commented on #2705
@dimasciput Yes please can you remove the date. Aneri must of misunderstood. Thanks

[2021-08-04 06:25] aneriswanepoel commented on #2697
@dimasciput so for example B7OLIF-00205 should be B7OLIF-MAMBA because that is what was specified in the spreadsheet. But maybe the issue is the co-ordinates aren't exactly the same?

For this set of data that I have been uploading @helendallas and I agreed that it's fine if new codes are generated because a lot of the data is old and might not be 100% accurate in terms of site codes.

But for fut

[2021-08-04 06:28] helendallas commented on #2699
@dimasciput This is on live. We wanted to reharvest fish using the updated taxon list.

[2021-08-04 06:31] aneriswanepoel commented on #2705
@helendallas I see there is also some other data that was uploaded where FBIS automatically added the year to the source. @dimasciput do you need a list of these data or is it a setting that you can change and will apply to all sources?

[2021-08-04 06:32] dimasciput commented on #2699
@helendallas ok checking...

[2021-08-04 06:42] dimasciput commented on #2699
@helendallas @jeremyshelton it should works now :slightly_smiling_face:

[2021-08-04 06:45] helendallas commented on #2699
@thanks

[2021-08-04 07:12] timlinux commented on #2444
As discussed in our meeting today we can hold out on fixing this in favour of implementing https://www.highcharts.com

That will take a couple of days of @dimasciput tims so we will move that over to FBIS2.

[2021-08-04 07:14] timlinux opened #2707 "We need to replace the charts with highcharts"
Our charting lib is old and has some limitations, we should refactor it, replacing it with highcharts.

See also https://github.com/kartoza/django-bims/issues/2444

[2021-08-04 07:18] dimasciput commented on #2462
@helendallas checking...

[2021-08-04 07:20] timlinux commented on #2400
@amyburness to please follow through with @NyakudyaA and try to get this closed out by weeks end?

Thanks!

[2021-08-04 07:31] dimasciput commented on #2439
Will remove the owner filter

Will add this

Will remove this process

- Uploaded data will be validated automatically

[2021-08-04 07:32] timlinux commented on #2462
Checked with the backup from PG_bims_gis.02-August-2021.dmp

![image](https://user-images.githubusercontent.com/178003/128140284-715388a7-1a55-4be1-98ef-7ca83153d1e1.png)

But it still has Africa-wide data

![image](https://user-images.githubusercontent.com/178003/128140209-ff56dd5d-ea09-4a12-9752-315601bf598e.png)

[2021-08-04 07:36] timlinux commented on #2462
Also looking on FBIS we have 20,628 sites:
![image](https://user-images.githubusercontent.com/178003/128140734-c65297e8-35de-4f91-8c67-6ad9afabec37.png)

But in the database we have:

[code]

[2021-08-04 07:37] dimasciput commented on #2460
@Fanevanjanahary can you add the link to site edit?

[2021-08-04 07:56] helendallas commented on #2439
@dimasciput PLease keep filter Owner, but when it is blank, then all unvalidated records must be shown, The option to filter on owner is useful but should be optional

[2021-08-04 07:57] helendallas commented on #2462
@tim I suspect this may be OdonataMap data which Dimas filters out......

[2021-08-04 08:16] dimasciput commented on #2557
Fixed on live @helendallas

[2021-08-04 08:33] helendallas commented on #2497
@dimasciput still not working....downloaded csv file has the following in it:

<html><body><h1>504 Gateway Time-out</h1>
The server didn't respond in time.
</body></html>

[2021-08-04 08:35] helendallas commented on #2557
Thanks checked fine now, closing ticket

[2021-08-04 08:35] #2557 closed

[2021-08-04 09:00] dimasciput commented on #2462
@helendallas @timlinux Ok I have removed all the sites without occurrences outside SA, will check it in the QGIS later.

[2021-08-04 11:01] helendallas commented on #2699
Working now, closing

[2021-08-05 07:16] helendallas commented on #2566
Thanks all sorted now.

[2021-08-05 07:16] #2566 closed

[2021-08-05 07:48] helendallas commented on #2650
As a work around @dimasciput We added documents using the link you provided.

Use this link:
https://freshwaterbiodiversity.org/documents/?limit=5&offset=0

I did notice that these documents are not yet in the Source References though, so not sure if you still need to pull them in. I just wanted to give you a heads up before you tackle this ticket. Thanks

[2021-08-05 13:11] helendallas commented on #2439
@dimasciput I have also noticed that the sampling dates are wrong...

![image](https://user-images.githubusercontent.com/45286876/128355431-99f67d64-46b0-48ba-a7ff-974042c00840.png)

[2021-08-05 16:56] NyakudyaA commented on #2400
Updated layer - Need to be fetched also from geocontext
- [x] Ecological Support Area
- [x]  Ecosystem threat status
- [x] Ecosystem protection level
- [ ] nfepa_fishsanctuaries_all_species - We need to get a new layer with proper values. This layer currently has either 1 or 2 values (Need to check on BGIS)

To be fetched again in geocontext by @dimasciput

- [ ] National protected area @dimascipu

[2021-08-06 06:36] jeremyshelton opened #2710 "Delete data from a site visit and a study reference"
We need to functionality to delete data from:

1. all occurrence records associated with a Site Visit
2. all occurrence records and associated data for a Study Reference

This request is carried over from ticket #2592 which I have now closed.

@helendallas @aneriswanepoel

[2021-08-06 06:38] jeremyshelton commented on #2592
Part 2 and 3 of this ticket have been transferred to new ticket: #2710

[2021-08-06 06:38] #2592 closed

[2021-08-06 09:23] helendallas opened #2711 "Please remove abiotic data from Site Location form"
At the moment the associated abiotic data is shown for each site, if it exists. This does not make sense as the abiotic data is linked to a site visit -  I suggest we remove it here as it is shown with Site visit data
@jeremyshelton What do you think?

https://freshwaterbiodiversity.org/location-site-form/update/?id=9949

![image](https://user-images.githubusercontent.com/45286876/128488204-c7ddf9

[2021-08-06 10:59] helendallas opened #2712 "Error message after updating geomorpohologial zone"
When I edit Site Location form, and run the

Fetch data for Geomorphological zone, and the hit Save

I get an error message and the new zone is not save.
![image](https://user-images.githubusercontent.com/45286876/128500649-c784ac6e-9c0e-4f03-b883-20a239abcf58.png)

Here is the site:
https://freshwaterbiodiversity.org/location-site-form/update/?id=9906

[2021-08-06 12:46] dimasciput commented on #2712
@Fanevanjanahary can you check this bug?

[2021-08-06 13:56] helendallas opened #2713 "SASS taxa from SASS v 4, alwasy missing if I edit SASS data"
This is a recurring issue - please can you try and fix it.

When I edit old SASS data, that included Trichoptera (cased caddis 1 ) etc., then after editing and saving, it is always left out, so score etc are wrong.

Here is the original data before I edited it.  I did not edit the SASS data at all.
![image](https://user-images.githubusercontent.com/45286876/128520925-dc24296c-3517-40de-9289-3a5fb4

[2021-08-10 09:56] helendallas commented on #1867
@dimasciput Please can you check why site codes changed again.
https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22622%22]&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy

[2021-08-10 12:01] aneriswanepoel opened #2716 "CSV download file errors"
CSV download file has some errors, such as records without co-ordinates

@dimasciput @jeremyshelton

[2021-08-11 03:32] jeremyshelton opened #2717 "Data clipping to SA boundary not working"
We still have data points falling outside of SA boundary:
<img width="641" alt="Screen Shot 2021-08-11 at 5 28 17 AM" src="https://user-images.githubusercontent.com/44292029/128965412-42ee7ac1-54e2-4b68-820d-85e3c3f8a41b.png">

[2021-08-11 03:37] jeremyshelton opened #2718 "Delete a site"
It would be great to have the ability for us to delete a site.
At present, we are able to delete occurrence records, but not all of them because there needs to be at least one record associated with an existing site.
@helendallas @timlinux

[2021-08-11 03:47] jeremyshelton opened #2719 "Delete a reference (and all sites and data associated with it)"
Please delete all data and sites from the below reference:

Peer-reviewed scientific article. Jeremy Shelton, Olaf Weyl, Karen Esler & Bruce Paxton	2018. Temperature mediates the impact of non-native rainbow trout on native freshwater fishes in South Africa’s Cape Fold Ecoregion. Biological Invasions.

http://dx.doi.org/10.1007/s10530-018-1747-7

[2021-08-11 03:55] jeremyshelton commented on #2716
@dimasciput here is the erroneous .csv file:

[7ea51120cdaf2cb5485001be6789889a168d1d1fa6a71fdf76975a878d79df21.csv](https://github.com/kartoza/django-bims/files/6965749/7ea51120cdaf2cb5485001be6789889a168d1d1fa6a71fdf76975a878d79df21.csv)

[2021-08-11 06:42] helendallas commented on #2718
@jeremyshelton We already have the functionality to delete a site: see link and screen shot

https://freshwaterbiodiversity.org/location-site-form/update/?id=30701

![image](https://user-images.githubusercontent.com/45286876/128981203-ddfe0e5c-87a9-4d3d-9bfa-e649cfbdb7b5.png)

What we dont yet have is to be able to delete a Site Visit for a Non-SASS site, as per this screenshot and link
https://fr

[2021-08-11 06:52] jeremyshelton commented on #2718
@helendallas OK got it.
Yes, what you say makes sense.
I think this request is covered in #2710  ?
If so I will close this ticket (#2718)

[2021-08-11 06:54] helendallas commented on #2718
@jeremyshelton Sure but maybe just copy the screenshot and link to the @2710

[2021-08-11 07:13] helendallas opened #2720 "Owners still not correct or missing in CSV file"
I extracted all SASS summary data for the Western Cape, and many still don't have owner.

I have investigated and think there are two issues:
1) New SASS data captured on FBIS, does not have owner included in the CSV even though they are added to the SASS form when the data are captured:  Here is an example: https://freshwaterbiodiversity.org/sass/view/2264/

![image](https://user-images.githubuse

[2021-08-11 07:15] helendallas commented on #2710
What we dont yet have is to be able to delete a Site Visit for a Non-SASS site, as per this screenshot and link
https://freshwaterbiodiversity.org/sass/view/11029/

![image](https://user-images.githubusercontent.com/45286876/128981415-7c568ce8-8afe-48cf-a312-7cf27241679a.png)

We need to same for the algae, invert and fish dashboards, and all others going forward.
https://freshwaterbiodiversity.or

[2021-08-11 07:15] helendallas commented on #2718
Added to #2710. closing ticket

[2021-08-11 07:15] #2718 closed

[2021-08-11 07:27] helendallas commented on #2720
**### Here's another one, and the scores are also incorrect;**
https://freshwaterbiodiversity.org/sass/view/11237/

![image](https://user-images.githubusercontent.com/45286876/128987689-5135b4f1-8c66-4dc8-85b5-845318bfa872.png)

![image](https://user-images.githubusercontent.com/45286876/128987619-e6ac7b2a-0f26-448d-91fc-a8e91b0f620c.png)

[2021-08-11 07:34] aneriswanepoel opened #2721 "Site corrections not reflecting on map when merging sites"
When editing the co-ordinates of a site that is incorrect (eg a site in the ocean or a site outside of South Africa) and merging it with an existing site, the corrected site is not reflected on the map. The incorrect site still shows. It is the same when deleting a site - the site still shows on the map.

eg: TYOL-00001 (I have tried to correct this site twice but it is still shown in the ocean)

[2021-08-11 07:41] helendallas commented on #2712
@dimasciput @Fanevanjanahary Not sure if you have fixed this or not as no one responded to my ticket! It seems to be working now, so will close ticket for now. Please always feedback to me via the ticket when something is fixed.

[2021-08-11 07:41] #2712 closed

[2021-08-11 07:43] helendallas commented on #1867
@dim and @helen to discuss tomorrow at 09h00. Closing ticket.

[2021-08-11 07:43] #1867 closed

[2021-08-11 07:50] helendallas commented on #2720
Another one:
https://freshwaterbiodiversity.org/sass/view/11057/

![image](https://user-images.githubusercontent.com/45286876/128990410-3891d671-7160-46f2-8945-89adbeabb331.png)

And when I tested it, if I edit site and click next then the owner shows up in the csv.

@dimasciput Please investigate and fix thanks

[2021-08-12 03:03] dimasciput commented on #2558
@helendallas I updated all occurrences to correct species for Austroglanididae. I'm not really sure the cause of this, but probably it was old bug that has been fixed.

[2021-08-12 03:11] dimasciput commented on #2720
@helendallas I'll check it today

[2021-08-12 04:38] dimasciput commented on #2719
@jeremyshelton the reference and all records and site associated with it has been removed from the site.

[2021-08-12 04:38] dimasciput commented on #2719
*live site

[2021-08-12 04:55] jeremyshelton commented on #2719
@dimasciput
But I can still see the reference there:
<img width="335" alt="Screen Shot 2021-08-12 at 6 49 36 AM" src="https://user-images.githubusercontent.com/44292029/129140234-e4da8bdf-2192-477b-9274-12938c4b4285.png">

And the sites and data are still there too:
Here is an example - https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=9129&collector=&category=&yearFrom=&ye

[2021-08-12 05:30] dimasciput commented on #2719
Yes I think it's still stored in memory, should be fine as they no longer exist in the system anymore.

they are not associated with the source reference.

[2021-08-12 05:58] dimasciput commented on #1797
@Fanevanjanahary please download the duplicate records, and share it here.

[2021-08-12 05:59] dimasciput commented on #2717
@jeremyshelton please don't create a new ticket when the old ticket is still up. https://github.com/kartoza/django-bims/issues/2462

[2021-08-12 05:59] #2717 closed

[2021-08-12 06:04] dimasciput commented on #2721
@aneriswanepoel you just need to refresh the browser, because the old data is still stored in browser.

[2021-08-12 06:04] jeremyshelton commented on #2717
@dimasciput sorry, but it's not always easy to know if there is already an existing ticket for the issue.
Particularly if not created by FRC (in this case it was Tim).
I always check first, but there will be occasions when we miss an old ticket for the same issue.

[2021-08-12 06:06] jeremyshelton commented on #2711
@helendallas agreed.

[2021-08-12 06:07] dimasciput commented on #2462
@helendallas @jeremyshelton there are some sites outside boundary that has occurrences, I didn't remove them. Can you check if we can remove it or not.

[2021-08-12 06:11] jeremyshelton commented on #2719
@dimasciput OK, then can you also please delete all date from this reference also:
<img width="250" alt="Screen Shot 2021-08-12 at 8 10 20 AM" src="https://user-images.githubusercontent.com/44292029/129146771-ef2fc3a6-2974-4cf1-9e10-aca1315233f8.png">

[2021-08-12 06:13] jeremyshelton commented on #2462
@dimasciput we are trying to do this, but it is not working.
Please see ticket #2721.

[2021-08-12 06:14] aneriswanepoel commented on #2721
@dimasciput I have tried refreshing (Ctrl + F5) and still not working...

[2021-08-12 06:26] dimasciput commented on #2721
@aneriswanepoel which site did you update?

[2021-08-12 06:28] aneriswanepoel commented on #2721
@dimasciput one of the sites is TYOL-00001

[2021-08-12 06:32] dimasciput commented on #2721
Are you trying to remove it or change the coordinate?

[2021-08-12 06:35] dimasciput opened #2724 "Update geocontext to use the new version"
@Fanevanjanahary can you test if it's working correctly?

[2021-08-12 06:36] aneriswanepoel commented on #2721
@dimasciput I am trying to change co-ordinates and merge it with an existing site

[2021-08-12 06:39] dimasciput commented on #2721
@aneriswanepoel can you give me the steps you have done?

[2021-08-12 06:40] Fanevanjanahary commented on #2690
- Fish

![image](https://user-images.githubusercontent.com/12623986/129149740-e5d58acc-76d0-4017-a316-43b0850bb120.png)

- Invertebrates
![image](https://user-images.githubusercontent.com/12623986/129149451-28b55c6f-c22c-4631-acd8-3d8c277a3a7a.png)

- Algae
![image](https://user-images.githubusercontent.com/12623986/129149541-a430df1c-408f-4e39-a7f8-f0dd8ea173e2.png)

- SASS
![image](https://user-

[2021-08-12 06:43] #2558 closed

[2021-08-12 06:50] aneriswanepoel commented on #2721
1. Clicked "Edit" on dashboard
![image](https://user-images.githubusercontent.com/55532903/129150260-e9643415-c666-4f6b-9d51-23fffa8f68ab.png)

2. Entered the correct co-ordinates and clicked "Update"
![image](https://user-images.githubusercontent.com/55532903/129150542-9d4a9fa2-ee7b-48e8-acf1-8a8fe7b7f6d2.png)

3. Clicked "Use the existing site"
![image](https://user-images.githubusercontent.com/

[2021-08-12 06:52] dimasciput commented on #2721
When you clicked this, you actually change to different site. You can't merge sites from this page, you can only merge sites with the lasso tool. Maybe just update the lat and lon manually, and then click save.

[2021-08-12 06:55] helendallas commented on #2439
The dates were different to what was on the sheets. Since I have already validated these they are gone now.

[2021-08-12 06:57] helendallas commented on #2697
@dimasciput This really needs to get fixed.
I uploaded invert data yesterday and all had FBIS Site codes, but only half have been retained

![image](https://user-images.githubusercontent.com/45286876/129151683-33d4a9e1-2b45-44e4-8288-383f79903144.png)

Here the xls fine
[Dallas H. and Day J. 1992.xlsx](https://github.com/kartoza/django-bims/files/6973376/Dallas.H.and.Day.J.1992.xlsx)

[2021-08-12 07:22] aneriswanepoel commented on #2721
Okay then maybe I should update the co-ordinates, and then go to the sites and merge the, with the lasso tool

[2021-08-12 07:41] Fanevanjanahary commented on #1797
I Will share, It takes a long time

[2021-08-12 08:47] dimasciput commented on #2439
@helendallas I have updated this, please check it again.

[2021-08-12 08:48] dimasciput commented on #2721
Ok thanks, please close when it's done

[2021-08-12 08:48] dimasciput commented on #2720
@helendallas this is fixed on live site, please test

[2021-08-12 08:50] dimasciput commented on #2719
@jeremyshelton do you want to delete all 113 records associated with that reference?

[2021-08-12 08:56] helendallas commented on #2439
@dimasciput I am not seeing any unvalidated data now?

https://freshwaterbiodiversity.org/site-visit/list/?validated=[%22non%20validated%22]&o=date

[2021-08-12 08:57] dimasciput commented on #2439
@helendallas I think I misunderstand something, so I validated existing data for now. But the new data will come up in the unvalidated, is that okay?

[2021-08-12 08:58] dimasciput commented on #2439
@helendallas Or should I set all user added data to be unvalidated?

[2021-08-12 09:00] helendallas commented on #2439
@dimasciput

We still need to validate data that users have uploaded directly to FBIS (SASS, fish) ......is it possible to show these?

All data uploaded by admin, or imported from rivers or biobase should be validated.

[2021-08-12 09:01] helendallas commented on #2439
Yes, please set all user added data to unvalidated. I assume data uploaded by admin using the upload csv will still be validated?

[2021-08-12 09:05] helendallas commented on #2720
Still checking owners but something strange happening in CSV, see sampling date: 19-02-1998
![image](https://user-images.githubusercontent.com/45286876/129169913-7860c527-97ae-41df-be0b-55a503b77905.png)

![image](https://user-images.githubusercontent.com/45286876/129169934-f9446d19-3b64-4be3-aa7f-7817c2ef8306.png)

[2021-08-12 09:07] dimasciput commented on #2720
@helendallas will you create a different ticket for this? I think it's just a small bug in the downloader.

[2021-08-12 09:07] dimasciput commented on #2720
and close this one if it looks ok

[2021-08-12 09:09] helendallas opened #2725 "Bug in csv downloader for SASS Summary data"
Something strange happening in CSV, see sampling date: 19-02-1998

![image](https://user-images.githubusercontent.com/45286876/129169913-7860c527-97ae-41df-be0b-55a503b77905.png)

![image](https://user-images.githubusercontent.com/45286876/129169934-f9446d19-3b64-4be3-aa7f-7817c2ef8306.png)

[2021-08-12 09:10] helendallas commented on #2720
Ok new ticket created, just waiting on download, then will check and revert, thanks

[2021-08-12 09:12] dimasciput commented on #2725
@helendallas can you copy the filter list in the csv here please

[2021-08-12 09:24] helendallas commented on #2725
url:
https://freshwaterbiodiversity.org/sass/dashboard/9859/?taxon=&search=G2DIEP-ABBOT&siteId=9859&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,primary_catchment_area,Region%20G%22]&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=9859&o

[2021-08-12 14:44] jeremyshelton commented on #2719
@dimasciput yes please.
Thank you

[2021-08-13 02:26] dimasciput commented on #2719
@jeremyshelton ok done

[2021-08-13 03:23] jeremyshelton commented on #2719
@dimasciput
Checked.
Looks good.
Thank you.
Closing ticket.

[2021-08-13 03:23] #2719 closed

[2021-08-13 03:46] dimasciput opened #2727 "Dallas 1995 etc issues"
[Dallas 1995 etc issues.docx](https://github.com/kartoza/django-bims/files/6979738/Dallas.1995.etc.issues.docx)

- [ ] Delete Dallas 1995 data from first source reference as this is the data imported from the Biobase and does not show as SASS data.
- [ ] Check why the links to the other source references are not working
- [ ] Check why some Sites and SASS data imported from Rivers Database are not

[2021-08-13 06:56] helendallas commented on #2439
Thanks @dimasciput Looking good, a few issues I have noticed:
 Owner still not coming through, sometimes blank even though there is an owner -  these are all me
e.g.
![image](https://user-images.githubusercontent.com/45286876/129315704-98ed5b96-c2b0-485e-bec7-5b5a6a709063.png)

https://freshwaterbiodiversity.org/sass/view/2376/

However when I apply the owner filter as well then my name is there

[2021-08-13 08:18] helendallas opened #2728 "Sampling date is wrong on Site Visit validation form"
As per ticket #2439 The Sampling date shown on the dashboard, is not correct.

Please see these examples, where dates are all different.
![image](https://user-images.githubusercontent.com/45286876/129326476-7a6a2cbd-c634-414e-9d4d-84f436407e3a.png)

https://freshwaterbiodiversity.org/sass/view/12983/

https://freshwaterbiodiversity.org/sass/view/3198/

https://freshwaterbiodiversity.org/sass/view/

[2021-08-13 08:35] helendallas commented on #2439
@dimasciput So I recently went through the validation process, Dale Kindler had added both SASS data (correct) and invert data that was the same, so duplicate site visits. I deleted the non-SASS data, and then went back to validate the correct SASS data, but no longer have the option.

![image](https://user-images.githubusercontent.com/45286876/129329010-5bd3f7cd-f756-4e77-895d-004a5a78f349.png)

[2021-08-13 08:40] dimasciput commented on #2439
@helendallas how did you delete the non-sass data?

[2021-08-13 08:41] dimasciput commented on #2439
you can only delete SASS site visit for now, so probably you deleted the SASS data instead.

[2021-08-13 08:58] helendallas commented on #2439
@dimasciput I just rejected it on the validation page, I initially saw sets of data, but sadly didnt take a screenshot,

[2021-08-13 08:59] helendallas commented on #2439
Nope the SASS data is still there

https://freshwaterbiodiversity.org/sass/dashboard/31388/?taxon=&search=&siteId=31388&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=[%22non%20validated%22]&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=31388&orde

[2021-08-13 09:00] dimasciput commented on #2439
@helendallas yep I can see the data in the admin page too, will fix it

[2021-08-13 09:11] dimasciput commented on #2439
@helendallas apparently there are 5 records that are not SASS data, but captured by Dale. Should I remove them?

[2021-08-13 09:13] helendallas commented on #2439
@dimasciput Yes, what happened was he didnt realise SASS data should be captured using the SASS form, and so captured some data using the general invertebrate dashboard. I pointed out his error, but he then couldnt delete these data before capturing the data correctly using the SASS data capture form. Make sense?

[2021-08-13 09:14] dimasciput commented on #2439
Yep, let me remove them :+1:

[2021-08-13 09:25] helendallas commented on #2439
@dimasciput Can you please include Owner in the sort

![image](https://user-images.githubusercontent.com/45286876/129336069-aaeab5d7-d038-4769-a558-e06b4492237f.png)

[2021-08-13 09:37] dimasciput commented on #2439
@helendallas might be tricky for that, probably need a new ticket

[2021-08-13 09:39] dimasciput commented on #2439
https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non%20validated%22%5D&o=date&site_code=A2APIE-ERASM

This is fixed

[2021-08-13 10:11] helendallas commented on #2439
@dimasciput ok if tricky, I will just use filter.

I still don see option to validate....for this site
![image](https://user-images.githubusercontent.com/45286876/129341849-af10c94d-9416-4925-801f-b12b24be6936.png)

[2021-08-13 10:14] dimasciput commented on #2439
@helendallas when you reject the data, the data will come back to the owner, and they need to fix it and click "Ready for validation". Once in review mode, you can then approve or reject it again. But for this case, let me just set to in review manually for now.

[2021-08-13 10:20] helendallas commented on #2439
Thanks, I rejected the data from the other site that had the same code and sampling date, not this one. but happy for you to do manually so I can validate it.

[2021-08-13 11:03] helendallas commented on #2728
I think the date been shown on the Site Visit form is the date the data were entered or edited, not the sampling date.

[2021-08-13 11:09] helendallas commented on #2728
But also another issue???
![image](https://user-images.githubusercontent.com/45286876/129348504-a097f082-d168-48dc-b8a7-2623edf352e9.png)

On form: July 17, 2021
On data sheet: 07/31/2017
![image](https://user-images.githubusercontent.com/45286876/129348598-6e642b88-ee1b-43a9-be6a-ab16cc40f868.png)

https://freshwaterbiodiversity.org/sass/view/12894/

[2021-08-13 12:11] helendallas opened #2729 "Fix filter = owner"
There is a problem with the owner. I cannot find all owners in the filter, even though they exists.

Also the Owners are not always shown in Site Visits form, even though they are often there.

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=site__site_code&page=4

[2021-08-13 12:12] #2727 closed

[2021-08-13 13:05] helendallas opened #2730 "Please check why quite a lot of Rivers Database 2015 data is now showing as unvalidated"
This ticket is linked to #2439 but I didn't want it to get lost. These sites also don' t show Owner

e.g.
![image](https://user-images.githubusercontent.com/45286876/129361109-4b657c45-b7d2-4571-85bf-75522d82c85e.png)

![image](https://user-images.githubusercontent.com/45286876/129361137-60f2bc35-2ca4-4d6d-8778-d122ef59ff31.png)

https://freshwaterbiodiversity.org/sass/view/1776/

[2021-08-13 13:29] helendallas opened #2731 "Dont make edited data become unvalidated"
This tikcet relates to ticket #2439

At the moment, any data Site or SASS that I go into to check or edit, then becomes unvalidated.

Is there a way to ensure that going forward only data that are added by a user end up in the validation queue. This applies across all data types, SASS, algae, invert, fish etc.

If you have already actioned this please close ticket. I didnt want this getting lost.

[2021-08-13 13:33] helendallas opened #2732 "Remove data capturer in Site Visit form for Validation"
Ticket is linked to #2439

Data Capturer is still showing - not necessary: e.g. Aneri captured the data but James/Jeremy is the Owner, only need James shown

![image](https://user-images.githubusercontent.com/45286876/129316074-29c1b1ad-6601-44df-bf8b-a30432c72ffb.png)

other examples:
![image](https://user-images.githubusercontent.com/45286876/129316209-ffca0b60-9e53-49ac-b679-1e36f479a865.png)

[2021-08-13 13:54] helendallas opened #2733 "Provide access to national SASS auditor to update SASS accreditation of users"
Please can  you show me how to create a group of users that get access t being able to update the SASS accreditation status of users on a regular basis.

![image](https://user-images.githubusercontent.com/45286876/129367748-3c1173ab-ff57-4f48-89de-ed5d2ffbb659.png)

[2021-08-13 14:02] helendallas opened #2734 "Please check why quite a lot of Rivers Database 2015 data does not have an Owner"
Linked to ticket #2439

A lot of data migrated from the Rivers Database 2015, does not have an Owner associated with it.

In addition to individuals, including Helen Dallas, Liz Day, Jeanne Gouws, there are some where the owner was an organisation, including

- Umgeni Water
- DWAF WC

[2021-08-16 05:11] jeremyshelton commented on #2400
@NyakudyaA nfepa_fishsanctuaries_all_species - On FBIS live site the default currently shows all quaternary catchments. Then checking the boxes 1 and 2 shows a subset of the data, but does not show. catchment boundaries (which it should).

Also, what do 1 and 2 represent.

the Metadata shows that there should be 4 different fields for this layer, and then various codes within each? However, the la

[2021-08-16 05:39] NyakudyaA commented on #2400
Please check the answer 👆 above this response. I have answered this

This is also answered above. @dimasciput can you please fetch these values again from geocontext. They have been fixed

[2021-08-16 08:07] helendallas commented on #2697
@dimasciput When will you be able to fix this. It is holding up a lot of our work. If the Site Code in the upload file matches an existing FBIS Site code, then the uploaded data should be added to the existing site.

See this link, all these data I uploaded have been given new site codes, instead of linking to existing site codes. This functionality was working, so I am not sure why it is problema

[2021-08-16 08:49] jeremyshelton commented on #2697
@helendallas @dimasciput @aneriswanepoel
We are having similar issues with fish data uploads, after it appeared to be fixed previously.
@helendallas today and tomorrow are public holidays in Indonesia.

[2021-08-17 04:24] jeremyshelton commented on #2400
@dimasciput let me know when geocontext is updated and I will test.

Please can you update the layer description to:

The overall status used to distinguish between sub-quaternary catchments that contain at least one Critically Endangered/Endangered species (pink) versus those containing at least one population of Vulnerable or Near-Threatened species (red). Status = 2 indicates that at least one

[2021-08-17 04:52] jeremyshelton commented on #2690
@Fanevanjanahary thank you.
Looks good.
Closing ticket.

[2021-08-17 04:52] #2690 closed

[2021-08-17 05:27] NyakudyaA commented on #2400
I have updated this @jeremyshelton

[2021-08-17 05:48] jeremyshelton opened #2736 "Delete a reference - bug"
Study reference persists after (1) all data were deleted and (2) the reference was deleted in the Source References tab?
I would think that once these have been done the reference should no longer be on FBIS?

<img width="606" alt="Screen Shot 2021-08-17 at 7 45 21 AM" src="https://user-images.githubusercontent.com/44292029/129670352-6500db75-10c0-4ce8-9b05-91f2be901b5d.png">

[2021-08-18 04:15] dimasciput commented on #2736
@jeremyshelton it takes some time to update as the data is being cached in the system to improve performance.

[2021-08-18 04:18] dimasciput commented on #2716
I didn't see the error in the csv, can you point out which record? @jeremyshelton @aneriswanepoel

[2021-08-18 04:19] dimasciput commented on #2710
@Fanevanjanahary I sized this ticket to 5, please let me know if you need more or less time.

[2021-08-18 04:19] jeremyshelton commented on #2736
OK thanks @dimasciput for letting me know 👍

[2021-08-18 04:19] #2736 closed

[2021-08-18 04:22] dimasciput commented on #2679
@jeremyshelton @helendallas there is currently no automated process to do this, it's possible I think but it's not that easy. Do you want us to spend some time to add this? Probably need half a day to one day.

[2021-08-18 04:52] jeremyshelton commented on #2679
@dimasciput thanks for the update.
Understood.
This is definitely a priority, so please go ahead and allocate the required time.
Perhaps a weekly synchronization with the live site (running over the weekend) might be best?
@helendallas ?

[2021-08-18 05:29] jeremyshelton opened #2737 "We need more GBIF fields (when pulling data)"
@dimasciput @timlinux

- [ ] We need to pull more fields in with the GBIF data. These can be harvested alongside GBIF data and shown in csv downloads.
- [ ] For example, we need to know which are the SAIAB data (institutionCode), which are museum specimen-linked (basisOfRecord) etc, GBIF ID (gbifID).

There may also be some others.

@helendallas

[2021-08-18 05:36] aneriswanepoel commented on #2716
So we think the errors are from GBIF - think we can close this ticket now?

[2021-08-18 05:37] #2721 closed

[2021-08-18 10:50] Fanevanjanahary commented on #1797
Can't upload CSV here so I put it on NextCloud DropZone/FBIS

[2021-08-18 11:29] helendallas commented on #1797
@Fanevanjanahary How do I access it? Can you share with Wetransfer?

https://wetransfer.com/

[2021-08-18 12:45] Fanevanjanahary commented on #1797
@helendallas please find here https://we.tl/t-rdAH4XNmTl

[2021-08-18 13:12] helendallas commented on #1797
@Fanevanjanahary @dimasciput I cant figure out which are the duplicate records. To do this we need a csv file that contains the following:

- FBIS Site Code
- Site description
- Latitude
- Longitude
- Sampling Date
- Taxon
- Broad Biotope
- Specific Biotope
- Substratum
- Sampling method
- Abundance measure
- Abundance value
- Collector/Owner
- Collector/Owner Institute
- Author(s)
- Year
- Source

[2021-08-18 14:25] Fanevanjanahary commented on #1797
@helendallas if they are in the same  `site`   also if the value of `date`,  `biotope`,  `specific_biotope`,  `substratum`, `taxonomy`,
            `abundance_number` are same

[2021-08-19 05:41] dimasciput commented on #2737
I think we already did, but @Fanevanjanahary can you check this.

[2021-08-19 05:53] dimasciput commented on #2731
Hi @Fanevanjanahary , can you handle this one. Thanks

[2021-08-19 05:54] dimasciput commented on #2732
@Fanevanjanahary just show owner, no need to display the collector

[2021-08-19 07:22] dimasciput commented on #2497
@helendallas please test this, now the process will be similar to other downloads.

[2021-08-19 08:21] dimasciput commented on #2728
@helendallas this should be fixed now, please check it again

[2021-08-19 08:47] jeremyshelton commented on #2699
@dimasciput @Fanevanjanahary
We urgently need to use this tool.
It was fixed before and is no longer working?
Let us know when it is up and running again and we will test 👍

[2021-08-19 08:51] dimasciput commented on #2699
@jeremyshelton what was the issue? I just checked and it's working

[2021-08-19 08:55] jeremyshelton commented on #2699
@dimasciput sorry I see that the comment I added to this ticket this morning is not here (maybe it disappeared when I reopened the ticket).

Anyway, the issue is that the GBIF harvester is getting stuck on species 14:

![unnamed](https://user-images.githubusercontent.com/44292029/130039534-aad974d4-1160-4fa2-b8e2-16b01a1024ff.png)

Is it working for you beyond species number 14?

[2021-08-19 08:55] jeremyshelton commented on #2699
We were running it for all of the fish species...

[2021-08-19 08:56] dimasciput commented on #2699
can you run it again, I will check the error logs

[2021-08-19 08:58] jeremyshelton commented on #2699
OK will do 👍
Running it now & will report back 👍

[2021-08-19 11:44] jeremyshelton commented on #2699
@dimasciput we did another run and it's working fine now.
Maybe it was a break in internet connection that stopped the previous harvest.
Thank you.
Closing ticket.

[2021-08-19 11:44] #2699 closed

[2021-08-20 01:50] Fanevanjanahary commented on #2731
I think this is already fixed @helendallas

![validated](https://user-images.githubusercontent.com/12623986/130166243-32f5d1af-3519-427a-bc1c-31bf5ed83dcb.gif)

[2021-08-20 05:49] jeremyshelton opened #2742 "Problem when deleting occurrence record via site visit tab"
Site N4DENS-00003 has two occurrence records. I want to delete one of them. However, when I do so then both records, as well as the site dissappear?

![Screen Shot 2021-08-20 at 7 47 15 AM](https://user-images.githubusercontent.com/44292029/130185786-e6ffe8ff-2a23-4925-9d88-e24eb073f431.png)
im

https://testing.healthyrivers.kartoza.com/site-visit/update/7383/

@aneriswanepoel @helendallas

[2021-08-20 06:57] #2710 closed

[2021-08-20 06:59] dimasciput commented on #2731
Hi @Fanevanjanahary maybe check the data that is "In review" mode. When the admin/staff updates the data, it should still be in review mode.

[2021-08-20 07:32] Fanevanjanahary commented on #2731
Alright

[2021-08-20 11:41] aneriswanepoel opened #2745 "Site code generator not working"
When creating a new site, the site code generator gets stuck on "Generating"

![image](https://user-images.githubusercontent.com/55532903/130227901-b98139a9-ba90-477f-9d60-475609423bd8.png)

@dimasciput @jeremyshelton

[2021-08-20 12:52] Fanevanjanahary commented on #2731
@dimasciput it works as well for the data "In review"
![in-review](https://user-images.githubusercontent.com/12623986/130235872-3c34574d-2083-4214-bc92-6d183c576a39.gif)

[2021-08-23 09:00] helendallas commented on #2497
@dimasciput Thanks that is better, all work fine except algae csv is only downloading 374 species instead of 444 taxa.
Please can you check what is happening here.

[2021-08-24 10:18] helendallas commented on #2732
Thanks, fixed.

[2021-08-24 10:18] #2732 closed

[2021-08-24 10:23] #2728 closed

[2021-08-25 05:04] dimasciput commented on #2462
Can we close this one @jeremyshelton ?

[2021-08-25 06:12] helendallas commented on #2462
@dimasciput We can close this although Tim had a note to check co-ords. Happy to leave for now

[2021-08-25 06:12] #2462 closed

[2021-08-25 06:21] #2731 closed

[2021-08-25 06:31] helendallas commented on #2497
I will investigate this further, to try and understand the issue., closing ticket

[2021-08-25 06:31] #2497 closed

[2021-08-25 06:34] helendallas commented on #2439
Closing this ticket as outstanding issues have their own ticket now

[2021-08-25 06:36] dimasciput commented on #2460
@helendallas I added the menu to go to this page in the testing site, I haven't deployed it yet to live. Probably end of today.

[2021-08-25 06:36] helendallas commented on #2460
@dimasciput @Fanevanjanahary We still don't have **Validate Site** as a dropdown on the admin, so it cannot be accessed easily. I havent been able to check this.

[2021-08-25 06:37] dimasciput commented on #2734
@helendallas I found the name in collector section, should I move the collector name to owner for data that doesn't have owner and organization as the owner?

[2021-08-25 06:43] helendallas commented on #2460
Ok thanks, I will check on testing

[2021-08-25 06:44] helendallas commented on #2734
Yes, that should be fine, thanks

[2021-08-25 06:45] helendallas commented on #2460
Seems to be a problem
https://testing.healthyrivers.kartoza.com/nonvalidated-site/?page=2

![image](https://user-images.githubusercontent.com/45286876/130739959-10842081-d73c-4e1d-8db0-d43aa6b9001b.png)

[2021-08-25 06:48] helendallas commented on #2697
@dimasciput PLease can you check this issue, which is a recurring one

[2021-08-25 06:57] helendallas commented on #2727
@dimasciput These are not all sorted? e.g. some riversdbase sites still missing. This is worrying as I only happen to know these sites because they are mine.....what if other river dbase sites didnt get imported?

e.g. J2FONT-SWART

[2021-08-25 08:57] dimasciput commented on #2734
@helendallas can you check it again? should be fixed now

[2021-08-25 09:03] dimasciput commented on #2730
@helendallas should be fixed now

[2021-08-25 09:49] timlinux opened #2748 "We need a detailed Thermal Dashboard"
We need to be able to see the details of the graphs and tables generated in tickets #2615 as well as the normal site information as shown below
![Thermal dashboard overview shot](https://user-images.githubusercontent.com/45286876/134522589-0ed4c061-a422-4f21-85b8-6750bbfd29fb.png)

Thermograph example:
![Thermograph](https://user-images.githubusercontent.com/45286876/134523347-55cf2643-b039-43f8-8

[2021-08-25 10:20] timlinux opened #2749 "Add filter for surveys e.g. IUCN/NBA"
![image](https://user-images.githubusercontent.com/178003/130773430-e20e8731-8509-4940-ab18-74ca39b609d7.png)

[2021-08-25 11:59] helendallas opened #2750 "SiteVisit Validation filter = Algae - is not working"
When I filter using Algae, I get invertebrate data

https://freshwaterbiodiversity.org/site-visit/list/?validated=%5B%22non+validated%22%5D&o=date&page=&modules=22&sourceCollection=%5B%22fbis%22%5D

![image](https://user-images.githubusercontent.com/45286876/130786616-551924ca-ab52-4796-b516-25f75037f2be.png)

[2021-08-27 07:34] helendallas opened #2752 "Please can you standardise the date format - it is confusing"
Please see this example, where dd and mm get confused and potentially mixed.

In FBIS, this date is shown as 10-03-2011

![image](https://user-images.githubusercontent.com/45286876/131085347-e68e3c02-f802-498e-89c7-34c89aa25979.png)

https://freshwaterbiodiversity.org/sass/view/12053/

However in the CSV file downloaded it is shown as 03-10-2011, which is the same as in the original Rivers Data
E1

[2021-09-01 01:55] dimasciput commented on #2745
Hi @aneriswanepoel can you check again on testing?

[2021-09-01 08:03] dimasciput commented on #2650
@helendallas @jeremyshelton hi, currently I'm busy working on this feature.

[2021-09-02 11:06] helendallas commented on #2730
Closing ticket, seems ok

[2021-09-02 11:06] #2730 closed

[2021-09-02 11:16] helendallas commented on #2734
@dimasciput Some still seem to be missing but I am going to close the ticket and get Janette to manually update fro the original database.

[2021-09-02 11:16] #2734 closed

[2021-09-02 11:25] helendallas commented on #2439
Closing ticket, not satisfactorily resolved yet though

[2021-09-02 11:25] #2439 closed

[2021-09-02 11:26] helendallas commented on #2460
@dimasciput Please jump in and help here. we need site validation fixed and rolled out onto FBS live asap, please

[2021-09-02 11:27] helendallas commented on #2400
@jeremyshelton Is this done? If so please closed ticket.

[2021-09-02 11:33] helendallas commented on #2729
@dimasciput This seems to be working , thanks closing ticket

[2021-09-02 11:33] #2729 closed

[2021-09-03 08:31] #2711 closed

[2021-09-03 08:34] helendallas commented on #2745
@dimasciput I checked this now on testing, generator working for rivername, site code and geomorphological zone.

[2021-09-03 08:37] helendallas commented on #2745
Not sure if you already rolled the fix to live but it is also working on live site but seems to take longer.

[2021-09-03 08:39] helendallas commented on #2697
@dimasciput
Please can you update us on this issue soonest so that we know when it is fixed and we can continue uploading data

[2021-09-03 08:40] helendallas commented on #2716
Closing ticket

[2021-09-03 08:40] #2716 closed

[2021-09-04 09:10] jeremyshelton commented on #2400
@helendallas I think we are still waiting for the goeocontext update on live site before this can be tested?
@dimasciput ?

[2021-09-05 04:53] dimasciput commented on #2697
@helendallas @jeremyshelton ok I'm on it

[2021-09-05 04:57] jeremyshelton commented on #2697
Thanks @dimasciput

[2021-09-05 07:16] dimasciput commented on #2697
@jeremyshelton @helendallas I have added the fix to testing site, will you test there first?

[2021-09-05 07:16] dimasciput commented on #2697
I have cloned the database from live site to testing

[2021-09-06 09:46] helendallas opened #2756 "Issue with displaying of Site Visit data sampled in different biotopes"
I noticed that in the Site Visit form, data are not displayed correctly as biotopes are not included in the hierarchy:
**Site + Sampling date (= SiteVisit),  - Broad biotope - Specific biotope - substratum**:

### For example: this site:
https://freshwaterbiodiversity.org/site-visit/detail/134542/
![image](https://user-images.githubusercontent.com/45286876/132195391-67915132-6849-45ed-b78c-7d6eb1c

[2021-09-06 11:52] helendallas commented on #2697
@aneriswanepoel Please can you upload some data to testing that has the same code as an existing FBIS site, and let us know if this is working. Then Dimas can roll to live. Thanks

[2021-09-06 13:29] jeremyshelton commented on #2697
I have cloned the database from live site to testing
@dimasciput thanks.
Is this something that is going to happen regularly from now on?
How often will testing be synched with live?
@helendallas

[2021-09-06 13:32] jeremyshelton opened #2757 "Adding data to a site"
When adding data to an existing site, we need to see the rivers layer ion the map.
<img width="1176" alt="Screen Shot 2021-09-06 at 3 27 09 PM" src="https://user-images.githubusercontent.com/44292029/132224986-42828178-904c-4b7f-8784-b3b1b715f5ae.png">

[2021-09-07 05:44] aneriswanepoel commented on #2697
I have tried on testing and a new code is being made instead of using the existing one that I specified in the spreadsheet (co-ordinates also exactly the same as what is on FBIS)

Should be the existing code B7OLIF-MAMBA:
![image](https://user-images.githubusercontent.com/55532903/132290280-57bc378a-554a-4e8b-9068-f23e03a1dc93.png)

Should be existing code X3SABI-OLIFA:
![image](https://user-image

[2021-09-07 06:06] dimasciput commented on #2697
thanks for the report, let me check

[2021-09-07 06:10] dimasciput commented on #2697
@aneriswanepoel are these site codes not in the system previously?

[2021-09-07 06:13] aneriswanepoel commented on #2697
@dimasciput they are in FBIS live but not testing. Sorry let me make another spreadsheet to upload using existing sites from Testing rather

[2021-09-07 06:21] aneriswanepoel commented on #2697
@dimasciput okay tried again and it is working now

[2021-09-07 06:23] dimasciput commented on #2697
ok thanks @aneriswanepoel

@jeremyshelton @helendallas I will deploy the fix and also with the new geocontext features tomorrow morning my time, the live site will be down in a moment.

[2021-09-07 06:27] helendallas commented on #2697
@dimasciput I need to work on live site today. If you deploy your time tomorrow morning that will be great as we will be sleeping.

[2021-09-07 07:07] helendallas opened #2759 "Source references not downloadable in metadata table"
When I try to download this report i get an error message:

https://freshwaterbiodiversity.org/sass/dashboard-multi-sites/?taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=%5B%22862%22%5D&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&sit

[2021-09-07 07:19] helendallas opened #2760 "CSV of abiotic data not downloading correct data for some sites"
We have tried to download csv of abiotic data for sites of the Source Reference =
![image](https://user-images.githubusercontent.com/45286876/132300716-c554a013-0b16-4a2b-beed-036f2740300b.png)

For 33 of the sites, the data returned is for the incorrect and is always for the site: H4HOUT-DEHOE. These are also the sites that were only assessed once in Nov 1995.  The sites assessed more than once r

[2021-09-07 07:42] dimasciput commented on #2759
@helendallas Fixed, it was an issue in the server

[2021-09-07 07:49] helendallas commented on #2759
@dimasciput Thanks so much ! Working

[2021-09-07 07:49] #2759 closed

[2021-09-07 08:09] helendallas commented on #2713
@dimasciput Any chance you can see what the issue is here. We need to check through a lot of SASS data and are unable to do this until this is resolved. Because in going to edit the data errors are introduced.

[2021-09-07 08:16] dimasciput commented on #2713
@helendallas not yet, will look into it later.

[2021-09-07 08:46] helendallas commented on #2705
@dimasciput Progress on this? I don't mind manually fixing in Source references, but don't want it to keep happening eveytime we upload new occurrence data.

It should just be the **Source** column that is imported for **Database**, and **Unpublished data** - not the year, so that multiple database or sets of data are not created.

Can I manually fix for Unpublished data? and Databases? Or is it s

[2021-09-07 09:06] helendallas commented on #2705
@dimasciput I have manually combined the Unpublished data, but this does not work for databases.

[2021-09-07 09:08] dimasciput commented on #2705
Hi @helendallas , yes for databases I need to do it from backend. I also need to update the uploader script to not add the year to database.

[2021-09-07 09:10] dimasciput commented on #2705
@helendallas can you for now remove the year from nepid database, I will merge it from backend.

[2021-09-07 09:11] helendallas commented on #2705
Okay thanks Dimas, please let me know when this is done so that we can continue with our uploading, without creating multiple databases or unpublished datasets.

[2021-09-07 09:12] helendallas commented on #2705
Okay, I will do now, there are some others, I will capture in ticket . Thanks

[2021-09-07 09:30] helendallas commented on #2705
@dimasciput I am done, the following databases need to be merged, as there are multiple versions of each:

- Nepid fish database
- Rivers Database 2015
- South African National Parks Fish Database
- Mpumalanga Tourism and Parks Agency
- Limpopo Department of Environmental Affairs, Fish Database
- Ecosun Fish database
- Clean Stream Biological Services database
- FRC monitoring database

[2021-09-07 09:31] helendallas commented on #2705
@dimasciput A thought in terms of future maintenance - how difficult would it be to develop the functionality to allow an admin person to merge database in the same way as it is done for Unpublished data?

[2021-09-07 10:51] helendallas opened #2761 "We need to be able to add a new Unpublished data"set"
At the moment you are forced to select from the list of existing unpublished datasets. However, if a user needs to create a new dataset it is not possible.

Please can you allow for the ability to "**Add New**" in the same way as for the Database:
![image](https://user-images.githubusercontent.com/45286876/132332716-cf06222c-7d9c-4958-b8d7-5c861be48e9e.png)

![image](https://user-images.githubuser

[2021-09-07 11:31] helendallas commented on #2672
Closing ticket, fixed now
![image](https://user-images.githubusercontent.com/45286876/132337563-3d77f9aa-d70f-46ae-9041-d05db05a9ea4.png)

[2021-09-07 11:31] #2672 closed

[2021-09-07 11:33] helendallas opened #2762 "Please fix type of reference category"
I have found some instances where the reference is a PhD thesis, but it is included as a peer-reviewed scientific paper:
![image](https://user-images.githubusercontent.com/45286876/132334225-569ff61c-2400-4b46-949d-f8e2bf8dfa21.png)

https://freshwaterbiodiversity.org/edit-source-reference/121/?next=/source-references/%3Ftype%3D%26collectors%3D2416%252C1550%26page%3D%26q%3D

This example needs to

[2021-09-07 12:01] helendallas commented on #2460
@dimasciput @Fanevanjanahary Please give me an update on this. I see it is on testing but not as we need it. Clearly it still needs rmore work

![image](https://user-images.githubusercontent.com/45286876/132341087-86ec4aee-c58f-49af-8e95-cd91062ee016.png)

[2021-09-07 12:11] helendallas commented on #2679
Agreed, this is important, especially when we come to training data providers. They will need to work on the testing site only during the training so this needs to mirror the live site 100%.

[2021-09-07 12:13] helendallas commented on #2571
@dimasciput I am going to close this as I dont expect it will come up much, especially for FBIS

[2021-09-07 12:13] #2571 closed

[2021-09-07 12:14] helendallas commented on #2750
Closing this ticket as I realised it is most likely because no one has added new data.

[2021-09-07 12:14] #2750 closed

[2021-09-08 01:59] dimasciput commented on #2460
@helendallas it's on live now, we could improve the style/layout later, but I think this should be enough for this ticket.

[2021-09-08 06:12] helendallas commented on #2460
@dimasciput Thanks. Where there is no Owner? How can these be blank?

When I view and edit, I get an error message when saving
![image](https://user-images.githubusercontent.com/45286876/132455771-d686bf4e-117d-40cc-9845-946374687d46.png)

[2021-09-08 06:27] dimasciput commented on #2460
@Fanevanjanahary can you check this issue?

[2021-09-08 07:53] helendallas commented on #2460
@dimasciput @Fanevanjanahary

Also there are now over 3,500 sites to validate. This cant be right???? Sites for validation should only include sites that a user add themselves using the FBIS online platform. Not sites migrated through Biobase, Rivers database or by FBIS admin uploading them.

[2021-09-08 07:54] dimasciput commented on #2460
@helendallas I will fix this one.

[2021-09-08 08:16] dimasciput commented on #2460
@helendallas what about sites that created from GBIF? Should we also automatically validated them?

[2021-09-08 08:49] helendallas commented on #2460
No, we cnat validate GBIF sites, as we know they are often wrong, but we can also not fix them in FBIS. We need to exclude from Site Validation, van you include the filter as for records?

[2021-09-08 09:31] helendallas commented on #2705
@dimasciput Is this fixed yet. We are needing to upload new data needed for species distribution modeling which is on a tight timeframe, but if we upload it will create multiple database again if date is still included.

Please revert soonest

[2021-09-09 02:14] dimasciput commented on #2705
Hi @helendallas you can go ahead uploading the data now, I have merged the database and also added the fix in the uploader script.

[2021-09-09 08:34] helendallas opened #2764 "GBIF harvesting must be for genus, species and subspecies only"
Please specify that data harvested from GBIF must be **genus, species and subspecies** only.

Please deploy on both FBIS testing and FBIS production (live)

[2021-09-09 08:39] timlinux commented on #2388
Checked in with OBED again - he will check Beth to decide if we want to use a global dataset in the interim.

[2021-09-09 08:53] timlinux opened #2766 "Landuse spatial filter not working"
Reported by Obed. @dimasciput can you check please?

[2021-09-09 14:26] helendallas opened #2767 "PLease add a confirm or select button to Find GBIF in Change Taxonomy"
At the moment when you click Find GBIF, the closest match is added, and this is sometimes incorrect.

![image](https://user-images.githubusercontent.com/45286876/132704086-b1d3cafc-89a4-45a2-83e8-b6d5dc14f723.png)

Is it possible to include an option screen as below, where the GBIF options are listed, to ensure that mistakes are not made by adding the incorrect taxon.

![image](https://user-images

[2021-09-10 07:31] #2764 closed

[2021-09-13 06:09] jeremyshelton opened #2772 "GBIF data not coming through to FBIS"
@dimasciput @Fanevanjanahary GBIF data are not coming through properly on FBIS.

For example, a query for the fish taxon Pseudobarbus afer on FBIS (with GBIF turned on in source) produces 230 records, of which 6 are labelled GBIF.

However, there are 353 records for this taxon on GBIF, most of which have coordinates, and so should be displayed on FBIS.

There are also multiple issues with missing

[2021-09-13 06:18] dimasciput commented on #2772
Hi @jeremyshelton , can you give us example for these cases :

- Titles are appearing in the source column
- Sources appearing in the title column
- Lots of incorrect or missing data (blank cells) from multiple columns: Collector/owner, Collector/owner institute, Authors, Source, Reference category, title, DOI/URL

[2021-09-13 06:19] dimasciput commented on #2772
Have you checked that they are within the SA border? We received thousands of data from GBIF, but had to delete it because it was out of bounds.

[2021-09-13 06:28] jeremyshelton commented on #2772
@dimasciput

Titles are appearing in the source column **- row 117**
Sources appearing in the title column **- row 96**
Lots of incorrect or missing data (blank cells) from multiple columns: Collector/owner, Collector/owner institute, Authors, Source, Reference category, title, DOI/URL - Row 1 has no source, institute, author, year, ref category, title, url/doi

All GBIF records appear to be from

[2021-09-13 06:31] jeremyshelton commented on #2772
@dimasciput this is quite strange because when we downloaded the data csv for P afer from FBIS (GBIF turned on) a couple weeks ago there were 389 records, but now there are only 230?

[2021-09-13 06:39] jeremyshelton commented on #2772
@dimasciput there are two separate issues here:

1. FBIS not showing the correct number of records for a taxon (for P. afer we should have 209 records uploaded to FBIS + 343 records from GBIF with coords = 552 total records)
2. Jumbled/missing data in .csv download (this seems to be a recurring issue?)

@helendallas

[2021-09-13 06:42] dimasciput commented on #2772
I just checked and it's an old data from May that doesn't have reference anymore, maybe just remove this

I don't see this problem in the csv, GBIF is database record that's why it appears as a title -> https://freshwaterbiodiversity.org/edit-source-reference/689/?next=/source-references/%3F%26q%3DGBIF

It appears both in source and title, because this entry doesn't have source.
https://freshwater

[2021-09-13 06:45] dimasciput commented on #2772
@jeremyshelton I just removed a lot of gbif data that located outside SA

[2021-09-13 06:49] jeremyshelton commented on #2772
@dimasciput but all the GBIF data for P. afer fall inside SA boundary, so surely non of those would have been removed?
https://www.gbif.org/species/2359874

[2021-09-13 06:55] helendallas commented on #2772
@jeremyshelton Why dont you extrarct data from GBIF and then DImas can check what is going on. I am also battling to get my head around the fact that so few data are being returned. Doesnt make sense

[2021-09-13 06:59] dimasciput commented on #2772
Hi @jeremyshelton @helendallas , will you harvest gbif data again for Fish and Invert?
Let me investigate the issue tomorrow morning.

[2021-09-13 07:28] jeremyshelton commented on #2772
@helendallas I have already done this - see above attached csv called 'p afer - gbif download.csv'

[2021-09-13 07:29] jeremyshelton commented on #2772
OK @dimasciput - we are harvesting fish and inverts from GBIF again.

[2021-09-13 12:33] jeremyshelton commented on #2772
@dimasciput

Restoring FBIS to Saturday's version seems to have resolved **issue 1** - the incorrect number of records.

Then for **issue 2**:
- What do you mean by an old data set from May? What data are these? How/why must they be removed?
- Sources appearing in the title column - see below screenshot from FBIS csv download.
![Screen Shot 2021-09-13 at 2 28 16 PM](https://user-images.githubuserc

[2021-09-14 07:50] helendallas opened #2774 "We need to be able to add site to Lesotho and eSwatini"
As discussed previously we need to  be able to add site to Lesotho and eSwatini  -at the moment I get an error message when I try and correct a site in Lesotho. I thought this had been sorted a while back?

![image](https://user-images.githubusercontent.com/45286876/133217667-3a64a711-6105-4f35-9a86-3ef8464afc78.png)

https://freshwaterbiodiversity.org/location-site-form/update/?id=10881

[2021-09-14 10:39] helendallas opened #2775 "Check data harvested from GBIF"
We are not sure that all the available data is coming down from GBIF and or is being removed when the South African border is filtered.

@dimasciput Please can you check.
Example file:

[GBIF Ephemeroptera.xlsx](https://github.com/kartoza/django-bims/files/7161118/GBIF.Ephemeroptera.xlsx)

So I went onto GBIF and ran an extraction query for Ephemeroptera, there are 10,000 + records, just for that

[2021-09-14 11:05] helendallas opened #2776 "FrogMAP - create API to harvest data from virtual museum"
Once the Frog Module has been created and the master list uploaded, then we need to create the api to regularly harvest from occurrence records from FrogMAP on the Virtual Museum.

FrogMAP data can be retrieved from the VM in the same way as the Odonata data, just substitute the name of the project in the API call, the rest should be the same. But unlike the Odonata, FrogMAP gets about 120 new rec

[2021-09-14 11:26] helendallas commented on #2775
see also ticket #2772

[2021-09-15 09:25] aneriswanepoel commented on #2678
I recently downloaded a CSV for fish data and experienced a similar issue... CSV download not the same as what was ingested:

Upload CSV:
![image](https://user-images.githubusercontent.com/55532903/133407402-a800f3c6-26dd-49ef-8640-79bdda18f29a.png)

Download CSV:
![image](https://user-images.githubusercontent.com/55532903/133407491-b832514d-315c-4f86-8e71-d8ffa3fa1685.png)

@jeremyshelton @helend

[2021-09-15 09:38] dimasciput commented on #2678
@aneriswanepoel @jeremyshelton @helendallas

Different `collector/owner insitute` is a problem, will check that.
But reference category database can't have author and year. These two fields will be ignored.

[2021-09-15 09:42] dimasciput commented on #2678
![2021-09-15_16-41](https://user-images.githubusercontent.com/1979569/133410338-cf8a08d2-b42f-4198-a203-2c6c8bad9fd7.png)

As you can see here, Andrew Deacon has changed their organisation to 'Clean Stream Biological Services', that's why it's different when you download the data.

@aneriswanepoel @jeremyshelton @helendallas

[2021-09-15 11:38] jeremyshelton opened #2777 "Incorrect (old) fish names appearing in fish data download (csv)"
Several fish taxa including Cheilobarbius capensis and serra, Amatolacypris trevelyani, Sedercypris calidus and erubescensare present in the fish .csv data downloads. However, these names are not present in the fish master list, and so should not appear in the csv data downloads.

[2021-09-15 11:46] jeremyshelton opened #2778 "Missing data in fish and invert csv downloads"
@dimasciput
We have noticed (looking as fish and invert csv downloads) that there are fairly large numbers of data points with missing data in certain fields like Water Management area and province. This information should be present for all records? An example is the screenshot below which shows that for fish 4000+ records have no WMA info.

<img width="271" alt="Screen Shot 2021-09-15 at 1 42 07

[2021-09-16 03:25] dimasciput commented on #2778
@jeremyshelton yes it's geocontext issue, will need to fetch it again.

[2021-09-16 03:45] dimasciput commented on #2777
@jeremyshelton Can you send us the downloaded file? It will easier to figure out the issue if we have the data.

[2021-09-16 03:48] dimasciput commented on #2460
@helendallas can we do it on different ticket, and let's close this one?

[2021-09-16 04:00] dimasciput opened #2779 "Exclude GBIF sites from Site Validation"
No, we can't validate GBIF sites, as we know they are often wrong, but we can also not fix them in FBIS. We need to exclude from Site Validation, can you include the filter as for records?

_Originally posted by @helendallas in https://github.com/kartoza/django-bims/issues/2460#issuecomment-915044200_

[2021-09-16 04:28] jeremyshelton commented on #2778
OK thanks @dimasciput

[2021-09-16 04:46] jeremyshelton commented on #2777
@dimasciput I have emailed you the fish file that was downloaded on Monday...

[2021-09-16 05:17] dimasciput commented on #2777
Hi @jeremyshelton I found some old data that was imported on 20 May, should we delete them?

[2021-09-16 05:17] dimasciput commented on #2777
I'm not really sure if it's 20 May this year or last year.

[2021-09-16 06:45] helendallas commented on #2460
Fine @dimasciput . I will close this ticket now, and will recheck site validation once the GBIF site have been removed.

[2021-09-16 06:45] #2460 closed

[2021-09-16 09:29] helendallas opened #2780 "Remove date when uploading unpublished datasets"
Please remove date when uploading unpublished data and database.

It is creating extra work for us having to go and combine unpublished datasets

I fixed all of these source reference a few weeks ago and now they are all wrong again :(

[2021-09-16 09:33] helendallas commented on #2780
Also the merge doesnt seem to be working

![image](https://user-images.githubusercontent.com/45286876/133588394-4978dc50-a3a0-4507-bddb-881de75c7213.png)

[2021-09-21 10:14] helendallas commented on #2745
Working as of 20 September 2021. Closing ticket

[2021-09-21 10:14] #2745 closed

[2021-09-21 11:31] helendallas commented on #2705
@dimasciput Still not sure this is working correctly, for either database or unpublished data. see example below:

![image](https://user-images.githubusercontent.com/45286876/134163022-abb00b69-ea24-4e36-9ba9-05204f597afd.png)

![image](https://user-images.githubusercontent.com/45286876/134163078-9ddff77f-6c2c-47d5-954d-39a7a32e7aea.png)

And we have manually had to combine unpublished datasets as

[2021-09-21 11:33] aneriswanepoel opened #2781 "DOI not recognized when uploading occurrence data"
FBIS is not recognizing the DOI when uploading occurrence data. Error message:
![image](https://user-images.githubusercontent.com/55532903/134163294-50060fcb-68a4-4b2b-ae6f-e561c9569851.png)

@dimasciput

[2021-09-21 14:27] helendallas opened #2782 "SOurce references not shoing even though document added"
We added a document to FBIS, using the link. It is visible on:

![image](https://user-images.githubusercontent.com/45286876/134189475-ed051596-7c51-4d7e-a748-eb67c59028b8.png)

https://freshwaterbiodiversity.org/documents/384

But it is not visible in Source References:

![image](https://user-images.githubusercontent.com/45286876/134189567-a70132cd-f67b-42da-a2a2-1cf5e45c47fa.png)

https://freshwa

[2021-09-21 14:38] helendallas opened #2783 "Duplicate (>1) peer-reviewed scientific articles in Source References"
Some source references have more than one , e.g. the are 3 of Part B of this paper, each with records attached.

https://freshwaterbiodiversity.org/source-references/?collectors=1249&page=

![image](https://user-images.githubusercontent.com/45286876/134191458-a32463aa-5755-48d2-a525-e166d1726386.png)

This seems to be a recurrent issue

[2021-09-21 14:40] helendallas commented on #2702
See ticket #2783 - this may be the cause of this issue since records are linked to 3 different source references

[2021-09-21 14:45] helendallas opened #2784 "The SA boundary needs to incude Lesotho and eSwatini"
As previously discussed the boundary of data included in FBIS needs to include data (FBIS and GBIF) in Lesotho and eSwatini, as well as an edge on neighbouring countries so that sites on the Namibia side of the Orange river are included, and shared rivers in Mozambique are included.

This needs to include FBIS data, so a user need to be able to add data in Lesotho etc , see ticket #2774 as well as

[2021-09-22 01:50] dimasciput commented on #2783
@helendallas I just checked the data, and they have different details, one of them have full detail like number, page, and correct date:

![2021-09-22_08-46](https://user-images.githubusercontent.com/1979569/134270532-bd2785f0-06a0-4a0d-abc3-24cd03045d10.png)

And the other one does not have these data. That's why duplicates occur.

This data comes from third party sources, so it's not a bug of ou

[2021-09-22 01:53] dimasciput commented on #2782
@helendallas this is still in progress, but we won't have to upload the document from the different page in the future. Once I have some days assigned to me to work on FBIS, I will finish this feature.

[2021-09-22 06:48] helendallas commented on #2400
@dimasciput @amyburness Has this been finalised?

[2021-09-22 06:51] helendallas commented on #2783
ok thanks, if I make the source references the same will they merge?

[2021-09-22 07:00] helendallas commented on #2783
@dimasciput But I don't understand. These data are all linked to the same DOI, which is the same on all source references, we don't add in page numbers etc

[2021-09-22 08:27] jeremyshelton commented on #2400
@dimasciput @helendallas
Here is a summary of fixed and unfixed issues relating to this ticket:

![Screen Shot 2021-09-22 at 10 26 03 AM](https://user-images.githubusercontent.com/44292029/134309255-468ff60a-34b9-482c-bfcd-5f8a3df80abe.png)

Spreadsheet available here:
https://www.dropbox.com/home/FRC_Kartoza%20Shared%20Folder%20for%20FBIS/Filters?select=FBIS+FILTER+TESTING_MAY2020.xlsx

[2021-09-22 09:38] helendallas commented on #2400
Thanks @jeremyshelton

@amyburness PLease see details above. It would be good to action so we can finally close this ticket.

[2021-09-22 12:50] helendallas commented on #2679
@dimasciput This needs to include a complete mirror including source references so that new data can be added to testing before live

[2021-09-22 12:59] helendallas commented on #2678
Checked and seems to be fine, closing

[2021-09-22 12:59] #2678 closed

[2021-09-22 13:01] #2720 closed

[2021-09-22 13:06] helendallas commented on #1797
@Fanevanjanahary Please can you share the duplicates files again. Sorry I didn't download it in time

[2021-09-22 13:22] #2725 closed

[2021-09-22 13:58] jeremyshelton opened #2786 "FBIS data boundary"
@dimasciput
We need to serve data from neighboring countries outside of SA.
Specifically, the data for the rivers shown on (or clipped for) FBIS - as indicated by the blue lines.

<img width="1010" alt="Screen Shot 2021-09-22 at 3 47 49 PM" src="https://user-images.githubusercontent.com/44292029/134356346-e37d0093-a1f6-40c7-98ef-c9e4e0843593.png">

We will need country as a filter, and as an attri

[2021-09-22 14:11] jeremyshelton commented on #2338
@helendallas and @jeremyshelton need to check interactions work (that we need) and which don't (that we need)

[2021-09-22 14:17] jeremyshelton commented on #2778
Thanks @dimasciput
Checked. All looks good.
Closing ticket.

[2021-09-22 14:17] #2778 closed

[2021-09-23 04:10] dimasciput commented on #2783
@helendallas it's not from us, the data came from the third party.

[2021-09-23 05:33] dimasciput commented on #2772
For database record, we didn't include year and source, database only have title. If we add year, then it will have multiple source references with the same database name.

[2021-09-23 05:35] dimasciput commented on #2775
@helendallas please can you check if this is fixed?

[2021-09-23 05:37] dimasciput commented on #2786
@jeremyshelton @helendallas this is pretty big ticket, because we need to update the boundary, filter and how gbif fetch the data. For now I sized this to 20, we need 2-3 days to implement this.

[2021-09-23 05:40] dimasciput commented on #2782
will be done in https://github.com/kartoza/django-bims/issues/2650

[2021-09-23 05:44] dimasciput commented on #2697
@aneriswanepoel @helendallas can we close this one?

[2021-09-23 05:46] dimasciput commented on #2689
@jeremyshelton which browser did you use?

[2021-09-23 06:22] aneriswanepoel commented on #2697
last time I checked it is working so I think we can close

[2021-09-23 07:03] helendallas commented on #2697
@dimasciput @aneriswanepoel I haven't checked recently if this is working. I wanted to but had to prepare real data first. I suggest we close this and then I will make a new ticket if the problem is persisting.

[2021-09-23 07:03] #2697 closed

[2021-09-23 07:19] helendallas commented on #2775
@dimasciput For Ephemeroptera: When I add GBIF data to the records, I get an extra 9,078 records, which is more in agreement with direct download from GBIF. and an extra 79,193 for all inverts.

FBIS only 44,129, and for all invertebrates 255,840
FBIS + GBIF 52,307, and for all invertebrates 335,033

I will close this ticket, thanks

![image](https://user-images.githubusercontent.com/45286876/1344

[2021-09-23 07:19] #2775 closed

[2021-09-23 07:26] helendallas commented on #2772
@dimasciput Agree, we dont want to add year as this creates multiple data sets. I added Global Biodiversity Information Facility (GBIF) as the source for GBIS data, so this will show up now in the csv.

![image](https://user-images.githubusercontent.com/45286876/134468759-7ca5a64e-ddc8-4945-abb0-7ec19bda2cd1.png)

I am going to close this ticket

[2021-09-23 07:26] #2772 closed

[2021-09-23 07:30] helendallas commented on #2783
@dimasciput Okay, so how do we merge these as they are clearly the same paper. And I suspect there are other examples of duplication in peer-reviewed scientific articles

[2021-09-23 08:28] timlinux opened #2787 "Water Quality"
This is a placeholder for the upcoming water quality module.

We expect to have an API access that lets us pull data from  https://waterportal.rwb.rw/location_info/WQ51

The process for developing the module will be:

@Deborahcyu and RBIS team to have a follow up meeting with the Rwandan Water Board to confirm data access via API details and any restrictions in how we may use the data.

RBIS Team

[2021-09-23 08:35] timlinux commented on #2787
Point data are enumerated as a long json object in the source of the page:

![image](https://user-images.githubusercontent.com/178003/134477282-f53cb770-ac01-4ac4-b87a-008253ffe9a6.png)

[2021-09-23 09:40] jeremyshelton commented on #2786
@dimasciput  SA neighboring countries include: Mozambique, Botswana, Zimbabwe, Namibia, Eswatini, Lesotho

[2021-09-23 10:47] helendallas commented on #2762
@dimasciput
These need to change to Published report or thesis: only 5 references, so please change in the backend.

![image](https://user-images.githubusercontent.com/45286876/134490094-99542fd6-9458-4293-b818-3374b5b48b5c.png)

![image](https://user-images.githubusercontent.com/45286876/134490157-c8c37d7b-631a-40f1-b9d6-49b95d2f56ec.png)

[2021-09-23 10:49] helendallas commented on #2777
@jeremyshelton Please check if this is still an issue and either add to current sprint or close ticket. thanks

[2021-09-23 11:43] helendallas opened #2788 "Plan how to include thermal and wetland water quality data in drawers"
At the moment we have the following:

![image](https://user-images.githubusercontent.com/45286876/134498923-4fb79d51-e669-4b0a-9a9a-5099a39a7aae.png)

We need to make provision for non-biodiversity data, including

- water temperature data - and associated components of the thermal module
- water quality data for wetlands

I would like to propose that we change to label for Module to **Biodiversit

[2021-09-23 12:46] helendallas opened #2789 "Taxon Management - revision to add attributes for a taxon"
You will recall discussion around the need to include more columns / attributes for some taxon groups, with each attribute linked to a taxon.  We then discussed the possibility to create a way for an admin person to add an attribute as required. This would need Dimas to work some magic.

For example: Fish already have **Eco-tolerance** as an extra column/attribute in the fish master list:

It woul

[2021-09-23 12:51] helendallas opened #2790 "Taxon Management - We need to include SA Red Listing"
At the moment the conservation status links to the IUCN red listing - this is perfect and correct.  The SANBI partners, who are doing the national red listing for SA species, have requested that we also include a link (API) to the SANBI Red Listing.

Nancy Job from SANBI will provide us with the link details.

Can this then be added next to the IUCN marker on Taxon Management

![image](https://use

[2021-09-23 14:22] helendallas commented on #2748
There is also a whole screening process and dashboard but I am not sure if we should be tackling this yet as I am concerned that it will use to much of our budget. see below

[Figure 7 Screening process.pdf](https://github.com/kartoza/django-bims/files/7218417/Figure.7.Screening.process.pdf)

[2021-09-27 08:07] jeremyshelton commented on #2777
@helendallas OK - I am doing another fish data dump & will feed back once that's ready...

[2021-09-27 12:00] jeremyshelton commented on #2777
@dimasciput @helendallas

OK, I have done a new data download & unfortunately this issue persists.

The incorrect names are names that I recently changed in taxon management:
Cheilobarbius capensis > Pseudobarbus capensis
Cheilobarbus serra > Pseudobarbus serra
Amatolacypris trevelyani > Pseudobarbus trevelyani
Sedercypris calidus > Pseudobarbus calidus
Sedercypris erubescens > Pseudobarbus erubes

[2021-09-27 13:10] Fanevanjanahary commented on #1797
@helendallas you can download it here  https://we.tl/t-WBogEY0Zlh

[2021-09-28 05:30] jeremyshelton opened #2798 "GBIF records mismatch"
1. If I select Reference category: Database and search FBIS Data only I get 259,943 records.
Then If I turn on GBIF in data sources this increases to 314,250 records. **Difference = 54,307** suggesting that there are only 54,307 records on available from GBIF? Surely this in incorrect?

2. However, if I then unselect the reference category filter I get 398,626 records for FBIS and 500,662 records

[2021-09-28 09:04] dimasciput commented on #2679
Testing site now will be updated automatically every Sunday.

[2021-09-28 10:54] helendallas commented on #2777
@dimasciput Please can you prioritise this in this sprint , thanks

[2021-09-29 01:45] dimasciput commented on #2777
@helendallas @jeremyshelton will do

[2021-09-29 06:24] dimasciput commented on #2756
Hi @helendallas I just realized this is little bit complicated when user want to edit their site visit data with multiple biotope data. Should we just split the data into two site visits? Even they are the same data and location, but they have different biotope.

[2021-09-29 06:30] helendallas commented on #2756
@dimasciput If you split it into two site visits, with different biotopes, how would the user then see the data and edit the data?

[2021-09-29 06:52] helendallas commented on #2756
@dimasciput Happy to chat or perhaps you can describe solution better before implementing.  Coult one not include a dropdown for Broad biotope here
![image](https://user-images.githubusercontent.com/45286876/135217437-e82758bc-cd65-4d9f-bd31-2d07d511a15b.png)

[2021-09-29 07:04] dimasciput commented on #2756
@helendallas yes I could add a dropdown there, it's easy to implement in detail page.
But when you go to edit page for this specific site visit, things will get complicated from the user interface side and also backend implementation, how will user update the biotope if there are two different biotopes and different collection records associated with them? And what if they want to add new biotope?

[2021-09-29 07:09] helendallas commented on #2756
mmm okay, I understand. So if you split it into two site visits, with each one having a biotope, then the user would go to for example the Site- sampling date - biotope, to see and edit data. That could work

[2021-09-29 07:57] jeremyshelton commented on #2689
@dimasciput chrome & safari
Hard resets sometimes make the metadata table appear, but sometimes not.
It almost always does not appear automatically.

[2021-09-29 07:58] dimasciput commented on #2689
@jeremyshelton this is fixed, will deploy it to testing today

[2021-09-29 08:01] jeremyshelton commented on #2689
Thanks @dimasciput

[2021-09-29 08:30] amyburness commented on #2400
Hi there Jeremy
when I click the link to the speak sheet it says it does not exist.
Can you give me access or email me a copy of it?
Thanks
Amy

On Wed, Sep 22, 2021 at 10:27 AM Jeremy Shelton ***@***.***>
wrote:

--
------------------------------------------------------------------------------------------
Amy Burness
Intern
Visit http://kartoza.com to find out about open source:
* Desktop GIS pro

[2021-09-29 09:01] dimasciput opened #2808 "Site code generator bug"
![image](https://user-images.githubusercontent.com/1979569/135237365-8c4a54e8-3909-4603-95d5-f12ce12707e8.png)

The whitespace from the river name should be removed when generating the site code.

[2021-09-30 03:11] dimasciput commented on #2762
@helendallas this is fixed in live site

[2021-09-30 03:29] dimasciput commented on #2702
@aneriswanepoel fixed in live site https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22695%22%2C%22775%22]&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy=name&polygon=

[2021-09-30 03:47] dimasciput commented on #2783
@helendallas this was fixed on the live site, there should be no more duplicates for peer-reviewed reference.

[2021-09-30 05:42] dimasciput commented on #2713
@helendallas this is fixed in live site

[2021-09-30 05:48] dimasciput commented on #2781
@Fanevanjanahary let me handle this one

[2021-09-30 06:03] dimasciput commented on #2767
@helendallas rolled out to testing and live site, please test

[2021-09-30 07:52] dimasciput commented on #2651
any updates on this @amyburness @NyakudyaA ?

[2021-09-30 08:55] dimasciput commented on #2761
Please test on testing site

[2021-09-30 08:56] dimasciput commented on #2737
Please test on the testing site

[2021-09-30 08:57] dimasciput commented on #2774
this is deployed in testing and production site.

[2021-09-30 08:58] dimasciput commented on #2808
fixed on testing

[2021-09-30 08:58] dimasciput commented on #2781
fixed on testing @aneriswanepoel

[2021-09-30 09:01] dimasciput commented on #2777
@jeremyshelton this is fixed only on production, will be mirrored to testing on Sunday automatically.

[2021-09-30 09:03] aneriswanepoel commented on #2781
@dimasciput thanks, working now. Will you let me know when it is working on Live too?

[2021-09-30 09:30] dimasciput commented on #2782
@aneriswanepoel can you add this document from the new add source reference page in testing?

[2021-09-30 10:04] aneriswanepoel commented on #2782
@dimasciput I am trying but the upload page is just loading...

[2021-09-30 10:21] aneriswanepoel commented on #2782
after some time it just says "500 - Server error"

[2021-09-30 10:28] jeremyshelton commented on #2777
Good stuff - thanks @dimasciput

[2021-10-01 01:32] dimasciput commented on #2782
@aneriswanepoel can you tell me your steps? Please share the document too here.

[2021-10-01 05:49] aneriswanepoel commented on #2782
@dimasciput
![image](https://user-images.githubusercontent.com/55532903/135571620-3e371f6f-bc84-4d20-acaf-724a49409eef.png)
![image](https://user-images.githubusercontent.com/55532903/135571633-d60b5eea-f658-42c0-8bf8-194c727214fc.png)

[2021-10-01 06:02] aneriswanepoel commented on #2782
[Biomonitoring baseline assessment_compressed.pdf](https://github.com/kartoza/django-bims/files/7264500/Biomonitoring.baseline.assessment_compressed.pdf)

@dimasciput okay I have made it smaller

[2021-10-01 06:08] dimasciput commented on #2782
@aneriswanepoel it works with the compressed document, can you try it again please?

[2021-10-01 06:10] aneriswanepoel commented on #2782
@dimasciput okay yes it's working now. Great. So the PDF was obviously too big when I first tried

[2021-10-01 07:09] helendallas commented on #2782
@dimasciput Working very nicely on testing. Please roll out to live

[2021-10-01 07:10] helendallas commented on #2781
@aneriswanepoel Please can you check if this isi working on live

[2021-10-01 07:12] helendallas commented on #2780
@dimasciput Is this fixed in testing?  @aneriswanepoel Please can you check on testing once Dimas responds

[2021-10-01 07:13] aneriswanepoel commented on #2781
no not working yet

[2021-10-01 07:14] dimasciput commented on #2780
Yes sorry, please test on testing first.

[2021-10-01 07:19] helendallas commented on #2808
@dimasciput I am checking on testing but white space is still there...

![image](https://user-images.githubusercontent.com/45286876/135580799-6ebb7484-51a6-4507-b9f1-315557fa9540.png)

[2021-10-01 07:21] dimasciput commented on #2808
Hi @helendallas I only fixed the site code generator in the site edit page, I haven't fixed the existing site codes error. Will do that in the live site.

[2021-10-01 07:30] helendallas commented on #2808
Ji @dimasciput Okay thanks, then it seems to be working fine. You can roll to live

[2021-10-01 07:33] aneriswanepoel commented on #2780
@helendallas checked on testing now and most dates have been removed but some still remaining:
![image](https://user-images.githubusercontent.com/55532903/135582698-d874bc3d-9e99-4027-be52-43572fc00d33.png)

[2021-10-01 07:38] helendallas commented on #2780
@aneriswanepoel did you upload a new set of data, you cna add data to testing as it gets reset every sunday. PLease add some of the unpublished data that created multiple sets before, maybe just change the name, and then also please test with database, and different dates, thanks

[2021-10-01 07:40] aneriswanepoel commented on #2780
@helendallas Oh okay I see what you mean. Okay will do

[2021-10-01 07:52] helendallas commented on #2774
@dimasciput Working on testing but I get error message on live. I tried to add a new site in Lesotho. this site: D1TSET-00002

![image](https://user-images.githubusercontent.com/45286876/135584737-c5626dae-14e1-448b-ab0f-f5f3ad6e39bc.png)

[2021-10-01 08:01] helendallas commented on #2689
@dimasciput checked on testing and seems to be working for now. PLease canyou roll out to live.

[2021-10-01 08:05] aneriswanepoel commented on #2780
@dimasciput I am trying to upload data to test the fixes, but get the error message "Taxonomy does not exist for this group" so can't upload.
[error_Fish_testing_-_1_October_2021_1.csv](https://github.com/kartoza/django-bims/files/7265312/error_Fish_testing_-_1_October_2021_1.csv)

[2021-10-01 08:06] aneriswanepoel commented on #2781
yeah tried it on live but still got the same error message. It worked on testing though so maybe it hasn't been rolled onto live yet?

[2021-10-01 08:13] helendallas commented on #2570
@dimasciput Working on testing, thanks. Please roll out to live on **FBIS and RBIS**

[2021-10-01 08:14] #2679 closed

[2021-10-01 08:17] helendallas commented on #2757
@dimasciput This looks fine in testing, please roll out to live

[2021-10-01 08:22] helendallas commented on #2780
@aneriswanepoel Please check there are no blank spaces - this issue has come up before

[2021-10-01 08:29] Janette-Lumley commented on #2760
@helendallas and @dimasciput I have checked and the data is downloading correctly. Thanks

[2021-10-01 08:31] helendallas commented on #2779
@dimasciput Many sites have no owners? not sure why if the GBIF sites have been excluded.
![image](https://user-images.githubusercontent.com/45286876/135589910-dc1c4342-ccb1-4b28-ba60-3ba285b6cdf1.png)

[2021-10-01 10:18] helendallas commented on #2760
Thanks @Janette-Lumley
CLosing ticket

[2021-10-01 10:18] #2760 closed

[2021-10-01 10:25] helendallas commented on #2492
@dimasciput This does not appear to be working.  It is adding records rather than selecting sites that include fish + inverts + algae , so

So if 10 sites had fish data, and of these 10 sites only 4 site also had Invert data , then only the 4 sites that had both fish and SASS data should be shown.

At the moment it is adding the 10 fish sites to the 4 invert sites and returning 14 sites (less if s

[2021-10-01 10:27] #2777 closed

[2021-10-01 10:32] helendallas commented on #2767
Thanks @dimasciput This works well Please roll out to live.

[2021-10-01 10:41] helendallas commented on #2780
I checked and species are on testing and csv looks correct
![image](https://user-images.githubusercontent.com/45286876/135606834-85f39b3f-d311-4870-a9ff-da50dbf979c7.png)

[2021-10-01 10:48] helendallas commented on #2762
Thanks @dimasciput closing ticket

[2021-10-01 10:57] helendallas commented on #2783
Thanks @dimasciput Looks good, closing ticket

[2021-10-01 10:57] #2783 closed

[2021-10-01 11:06] helendallas commented on #2762
Sorry @dimasciput I found one more -  it needs to be changed ro report/thesis

![image](https://user-images.githubusercontent.com/45286876/135610057-21bcd2b8-196a-43bc-bf0f-f980edf4e9e2.png)

[2021-10-01 11:08] jeremyshelton commented on #2737
OK @dimasciput
I'm on it. Will test now and feed back.

[2021-10-01 11:16] jeremyshelton commented on #2757
Thanks @helendallas
Yes, this is working nicely now. Thanks @dimasciput.
Agreed, this can roll out to live site.

[2021-10-01 11:22] jeremyshelton commented on #2702
@dimasciput this looks good now.
Closing ticket.

[2021-10-01 11:22] #2702 closed

[2021-10-01 11:40] helendallas commented on #2713
Thanks @dimasciput Seems to be correct now, closing ticket

[2021-10-01 11:40] #2713 closed

[2021-10-01 11:48] helendallas commented on #2761
Thanks @Fanevanjanahary @dimasciput  This is working well on testing. Please roll out to live

[2021-10-01 13:07] jeremyshelton commented on #2737
@dimasciput this looks good on testing site 👍
Please deploy to live.

[2021-10-03 21:07] Fanevanjanahary commented on #2742
@jeremyshelton  This is already fixed

![Peek 2021-10-04 00-01](https://user-images.githubusercontent.com/12623986/135771552-b2cdb875-49fc-4c40-8fa2-841ded17f2d4.gif)

[2021-10-05 07:05] aneriswanepoel commented on #2782
@dimasciput @helendallas doesn't seem to be working on Testing anymore. I get a "500 - Server Error" message

[2021-10-05 12:33] jeremyshelton commented on #2400
Sure thing @amyburness
Here it is.
[FBIS FILTER TESTING_SEP2021.xlsx](https://github.com/kartoza/django-bims/files/7285792/FBIS.FILTER.TESTING_SEP2021.xlsx)
..

[2021-10-05 12:37] jeremyshelton commented on #2742
OK looks good.
Thanks @Fanevanjanahary
Closing ticket now.

[2021-10-05 12:44] jeremyshelton commented on #2689
@dimasciput
Let me know when this has been done on live.
Thanks

[2021-10-12 11:04] jeremyshelton opened #2817 "csv downloads not working"
Have tried multiple data downloads over the past 24h, but no download requests are coming through via email or in the FBIS downloads tab.

[2021-10-14 09:23] aneriswanepoel opened #2818 "Incorrect country error"
When I update the Geomorphological Zone of a site and click Save, I get the message "Site is not in the correct country" even though the site is in South Africa:

![image](https://user-images.githubusercontent.com/55532903/137289326-90fdfa75-28f9-4b84-b915-891c5e6125ab.png)

![image](https://user-images.githubusercontent.com/55532903/137289404-5d595998-ae1a-4fa9-bda0-a66aef33fb21.png)

@dimasciput

[2021-10-14 10:28] #2742 closed

[2021-10-14 10:33] jeremyshelton commented on #2774
@dimasciput @helendallas
I have now checked this on the live site and it is working fine now - able to add new sites in Lesotho & Swaziland.
Closing ticket.

[2021-10-14 10:33] #2774 closed

[2021-10-14 10:47] #2767 closed

[2021-10-14 10:52] jeremyshelton commented on #2761
Thanks @dimasciput @Fanevanjanahary
This is working nicely on live site now.
Closing ticket.
@helendallas

[2021-10-14 10:52] #2761 closed

[2021-10-14 14:20] jeremyshelton commented on #2570
Thanks @dimasciput
This is looking good on live now, @helendallas
Closing ticket.

[2021-10-15 06:08] aneriswanepoel commented on #2782
still get an error message

[2021-10-15 06:17] aneriswanepoel commented on #2705
I have tried to upload dummy data to Testing to test this but the upload is not working (see #2780) so waiting for Dimas to sort that out

[2021-10-15 10:29] jeremyshelton opened #2819 "Fish data download issue"
Hi @dimasciput

I have just done a full fish data download, and the following issues have been noted:

- No Origin data are coming through.
- Large amounts of data have missing Endemism information.

This must be an error, because all fish taxa on our master list do have origin and endemism categories assigned?

There is also no 'Source' for records for 'Published report or thesis' or 'Peer-review

[2021-10-20 07:19] #2650 closed

[2021-10-20 08:50] amyburness commented on #2400
@helendallas we have updated the database and identified other background fixes that need to be done. @dimasciput will be implementing the changes next week in his sprint session.

[2021-10-21 08:50] helendallas opened #2820 "Please update the Source reference for peer-reviewed scientific articles to allow urls"
You have fixed the the Source references to allow a URL to be added when there is not DOI,

![image](https://user-images.githubusercontent.com/45286876/138244570-e8f2ffb0-d445-4aa2-a8a4-9c5ad35baeee.png)

However it has not been updated in the last page of the data form  -see below

![image](https://user-images.githubusercontent.com/45286876/138243977-7c5f2b8c-2dec-46a9-a89a-27518205baee.png)

[2021-10-21 09:16] timlinux commented on #2780
Waiting for Dimas to fix uploader on testing so that this can be checked.

[2021-10-21 09:18] timlinux commented on #2752
@dimasciput to confirm if deployed on testing or live and to add a label that we can mark issues as 'testing' or 'live'.

[2021-10-21 09:20] timlinux commented on #2158
@dimasciput will test on testing then deploy to live.

[2021-10-21 09:38] timlinux opened #2821 "Geomorphology drawer not opening on live"
![image](https://user-images.githubusercontent.com/178003/138252125-0ae744cf-09c9-4878-8091-7cc5b617bafc.png)

[2021-10-21 09:53] timlinux commented on #2788
![image](https://user-images.githubusercontent.com/178003/138254200-ebc9703e-c553-4e83-a3c1-03a1dc7379a3.png)

We can prioritise water temperature and water quality as new modules for now and then Helen and FRC team will figure out which other criteria to all filtering on.

Helen to share informative text to use on tooltips when you hover over them.

For the items we should use nice icons like we

[2021-10-21 10:20] timlinux commented on #2674
@amyburness can you set up a call with Helen and Nick so that you can get the layers from the dropbox and understand the requirements, then chat with  @NyakudyaA to understand how to set up the filters.

[2021-10-21 11:05] #2756 closed

[2021-10-21 12:24] amyburness commented on #2786
@dimasciput I have made the layer for sadac countries published it to Geoserver and a geojson if needed. Is this all you need from my side to update?

![sadac](https://user-images.githubusercontent.com/77841514/138275323-0e717953-c627-4f0c-81c1-1b5f2164d8c9.png)

[2021-10-25 01:57] dimasciput opened #2828 "Water temperature data uploader"
From https://github.com/kartoza/django-bims/issues/2614

Steps:

- Select an existing site or add a new site (exactly as before)
- Click “Add water temperature data”
- Select dates of water temperature logging period: Start date, End data (If this can be automatically picked up from the data then that would also be fine). Tim: Lets parse the file rather
- Is your data for a one year period? Yes/No

[2021-10-25 11:52] helendallas opened #2832 "Replace Water Management Areas with correct WMAs 2016"
The WMAs included in FBIS are the old ones. These were replaced in 2016 with a consolidated version of 9 WMAs.

![image](https://user-images.githubusercontent.com/45286876/138689843-ae83bf50-826f-4606-a0ba-fc00adbd94ea.png)

The shape file etc have been added to the Thermal folder and shared with Amy. The metadata can stay the same.
https://www.dropbox.com/sh/86u5maad4zau6bs/AAB4eKyuW8LgDNgLo6Tohy

[2021-10-26 09:05] helendallas opened #2835 "Spatial layer - Thermal framework"
We need a new layer and filter added, named "**Thermal Framework**". This is part of the Thermal module, see ticket #2674

**First** @NickRivers-Moore needs to add two columns to the Thermal framework.dbf file to include categories for:

- **System Resilience**: Very high Resilience, High Resilience, Medium Resilience, Low Resilience, Very low Resilience(using the categories in Dallas and Rivers-M

[2021-10-26 09:28] helendallas opened #2836 "Spatial layers - Hydrological Region"
We need a new layer and filter added, named "**Hydrological Region**". This is part of the Thermal module, see ticket #2674

First @NickRivers-Moore needs to revise the hydrological_regions_dd.dbf file to the correct WMAs as in the edited file:
Edited hydrological_regions_dd.xlsx

Nick also needs to provide a descriptive name (if possible) for each hydrological region that will be included in the

[2021-10-26 09:32] helendallas opened #2837 "Spatial layers - Flow Regime Type"
We need a new layer and filter added, named "**Flow Regime Type**". This is part of the Thermal module, see ticket #2674

**First** @NickRivers-Moore needs to create a second files of Flow type metrics.xlsx that only includes the sub-set of columns in the lookup table: Flow type metrics.xlsx  to show as attributes when the user clicks on the map. Nick also needs to highlight these columns in the o

[2021-10-26 09:45] helendallas opened #2838 "Add Hydrological Data to dashboards as downloadable csv files"
Once the Hydrological Regions and Flow Regime Types have been added to FBIS, please can a new section be added to each Dashboard where **Hydrological Data** can be downloaded as a csv file.

Below the current Abiotic data section in all dashboards.

All 144 values in the Flow type metrics.xlsx file should be shown for filtered sites in the selected Quin_IDs

[2021-10-27 10:39] helendallas opened #2839 "Validate record and add delete site visit button"
There are 3 sites/records that have been validated but which are still showing as unvalidated, but they Validate button is not visible

![image](https://user-images.githubusercontent.com/45286876/139050285-766489be-371d-4a90-a615-4a21bca2959b.png)

[2021-10-28 09:40] #2817 closed, assigned to dimasciput, fanevanjanahary

[2021-10-28 10:04] helendallas opened #2844 "BIMS Admin: We need to remove biotopes that are no longer user"
I think a lot of the biotopes in the BIMS admin are hang overs from earlier versions of FBIS. From an Admin perspective it would be good to delete the biotopes that are no longer used, or a re duplicates, or have upper/lower cases but which are the same.

https://freshwaterbiodiversity.org/admin/bims/biotope/

I am happy to work through this Dimas but need to  know the steps and to be confident th

[2021-10-28 11:55] helendallas opened #2846 "Source references issue"
@dimasciput Please can you check these issues with Source Reference and Uploaded occurrence data

I Uploaded invertebrate data for the **Berg River - 3 sites** - The source reference was already in FBIS, and had data associated with it already - **50 sites, Breede river** catchment (SASS data )

![image](https://user-images.githubusercontent.com/45286876/139250140-54a7fb4f-ff66-4017-8486-4c407f8f3

[2021-10-29 14:37] helendallas opened #2849 "Error when uploading new source reference"
I am getting an error message when uploading a new source reference. The doc is 20mb, but I cant reduce any more. I thought this issue had been resolved?

![image](https://user-images.githubusercontent.com/45286876/139453140-1b46573f-3b02-4677-8152-fcc30ae4bb3a.png)

![image](https://user-images.githubusercontent.com/45286876/139453155-171f546e-8628-4be4-82db-0d3ba9ef9016.png)

[2021-10-30 03:14] dimasciput commented on #2614
@helendallas it means there is a bug, can you share your file please?

[2021-10-30 03:16] dimasciput commented on #2614
nevermind, I got it

[2021-10-30 03:16] dimasciput commented on #2614
@helendallas I managed to upload all the data :
![image](https://user-images.githubusercontent.com/1979569/139518442-dbd24f96-edb7-4e6a-b02c-77e42642387d.png)

[2021-10-30 06:55] dimasciput commented on #2836
@amyburness let me know if you have published it to maps.kartoza.com.

[2021-10-31 20:28] FBIS-issues opened #2850 ""westdene pan nature reserve" should be called korsman bird sanctuary"
The site named as westdene pan nature reserve is commonly known and marked on maps as korsman bird sanctuary, please would you change it.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/3044">User information </a>
Browser: Chrome
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/map/#search/westdene%20pan%20nature%20reserve/taxon=&search=westdene%20pan%20nat

[2021-11-02 05:35] helendallas commented on #1797
As per our sprint planning meeting @dimasciput to check.

[2021-11-02 08:48] amyburness commented on #2835
@dimasciput I have uploaded the thermal layer to maps.kartoza.com. Please let me know if there are any issues or fixes needed.
![thermal geo](https://user-images.githubusercontent.com/77841514/139814534-ece52c41-a72c-4189-9a6e-0163ecfbfd8f.png)

[2021-11-02 08:48] amyburness commented on #2836
@dimasciput the layer is published and styled on maps.kartoza.com. Please let me know if there are any issues or fixes needed
![hydrological region](https://user-images.githubusercontent.com/77841514/139814028-91e49fd4-fe8c-4fee-8c7d-f8fc01cfca21.png)

[2021-11-03 08:21] amyburness commented on #2837
@helendallas @NickRivers-Moore I am having a problem with the table join becaus esome of the quin_id's are replicated in the data. The quin_ID is the same for 2 records that are different areas on the map.
Is this an error in the data ?

![Quin id same for 2 diff place](https://user-images.githubusercontent.com/77841514/140028051-14fe044c-6ca6-4c49-8e34-d1369ea9602c.png)
![Quin ID](https://user-im

[2021-11-03 08:22] amyburness commented on #2835
@dimasciput there may be an issue with the data of this one I am looking at it now i'll let you know when it is solved.

[2021-11-03 08:25] amyburness commented on #2835
@helendallas @NickRivers-Moore There is the same quin_id issue with this layer where the same quin_id is assigned for 2 different places.
![thermal quin issue](https://user-images.githubusercontent.com/77841514/140028601-7ab0ceac-ae67-4961-9831-cfaae138bc05.png)

![thermal quin issue 2](https://user-images.githubusercontent.com/77841514/140028593-e3af95cc-31fd-4552-9672-563cbfce3fff.png)

[2021-11-03 09:38] NyakudyaA commented on #2835
Maybe you need to merge them if it is really meant to be like that

[2021-11-03 10:28] helendallas commented on #2158
@Fanevanjanahary @dimasciput The date shown is now the date of the first assessment, not the date of the assessment where the photo was added.

For example:
https://freshwaterbiodiversity.org/sass/view/11485/
![image](https://user-images.githubusercontent.com/45286876/140044464-6c2dcd3d-b585-47d5-a094-b3c8737dd89c.png)

Instead we have the first date
![image](https://user-images.githubusercontent.

[2021-11-03 13:33] amyburness commented on #2786
@timlinux @dimasciput The boundaries layer is on Geocontext the staging one.
![geocontext](https://user-images.githubusercontent.com/77841514/140069525-13fc4c21-5c53-43f5-bf60-e4c71a0a8e26.png)

[2021-11-03 14:04] helendallas commented on #2835
@amyburness Glad you picked this up – there is not a mistake here, but it has to do with how the quinary catchments (a fifth level of catchments) were defined.  Each fourth-level (quaternary) catchment was broken down into three categories of landscape heterogeneity [see Subquinary field which lists these as a 1, 2 or 3].  This means that each quaternary catchment consists of AT LEAST three quinar

[2021-11-03 14:05] helendallas commented on #2835
From Amy:

Do I then assign the same flow type metric subset values to both of the records with the same quin id?

From Nick: YES

[2021-11-03 14:06] amyburness commented on #2835
@helendallas @NickRivers-Moore
Thanks I will do that.

[2021-11-03 14:12] helendallas commented on #2786
Thanks @amyburness

@dimasciput Please let us know when this is rolled out to FBIS testing, thanks

[2021-11-03 14:14] helendallas commented on #2400
@dimasciput Any more on this?

[2021-11-03 14:48] helendallas commented on #2828
@dimasciput I added data for one year to the site: G2EERS-JONKE. It appears to have uploaded successfully as I can see it when I click on Temperature -  although I cant check it as the data are not visualised yet.

![image](https://user-images.githubusercontent.com/45286876/140083026-66e8aa29-10b3-4574-9de7-519d2838f183.png)

The testing site no longer has the option to upload water temperature da

[2021-11-04 01:08] dimasciput commented on #2400
@helendallas this should be fixed in live

[2021-11-04 05:09] jeremyshelton commented on #2400
@dimasciput @amyburness
Thanks. Have tested on live site. Most issues now fixed. Two issues still outstanding - see red highlights in NOV2021 spreadsheet.

@helendallas

[2021-11-04 05:55] jeremyshelton commented on #2819
@dimasciput have you managed to change the source for Peer-reviewed scientific articles?

[2021-11-04 06:14] #2705 closed

[2021-11-04 06:15] #2780 closed

[2021-11-04 06:17] helendallas commented on #2788
Thanks Dimas - I will close this ticket for now although we might need to revise text at some stage but it needs a discussion with the FRC team

[2021-11-04 06:33] helendallas commented on #2788
@dimasciput

Please rename Drawer: **Abiotic Module**
Please rename Temperature: **Water Temperature**
Please rename Abiotic: **Physico-chemistry**

Then we can close

[2021-11-04 06:38] helendallas commented on #2789
Cant test at the moment @dimasciput , as dont want to mess with live site. We will test soon when we add Anuran module. Will close for now

[2021-11-04 06:38] #2789 closed

[2021-11-04 07:36] jeremyshelton commented on #2819
@dimasciput I see that the Source for Peer-reviewed scientific articles is still blank.
Attached is a download of forth from the Western Cape Province from this morning.
Please advise on the easiest way to populate the source field.
Thanks
[86f1f405b357c9fbc709120c0748d0bd3930ee41def7c33d0060a5ae3908f28c.xlsx](https://github.com/kartoza/django-bims/files/7473005/86f1f405b357c9fbc709120c0748d0bd393

[2021-11-04 08:22] amyburness commented on #2837
@helendallas @NickRivers-Moore

Another question when Joining the table's I have noted that for some data for example the record with quinary_id 629 in the Flow type layer  data there is no matching record 629 in the Flow type metrics_subset (see picture of excel spreadsheet and layer attributes).
![metric subset](https://user-images.githubusercontent.com/77841514/140280319-967a9086-54d8-4f1d-a973

[2021-11-04 12:29] FBIS-issues opened #2852 "Inwards export cvs does not appear to work"
When i try to download water quality data from the inwards coverage, it flashes to i guess a site to download the data but nothing is downloaded.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1007">User information </a>
Browser: Chrome
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/pages/help/
Screen resolution: 1366 x 768

[2021-11-08 07:31] amyburness commented on #2837
@helendallas @NickRivers-Moore I am just following up on the message above on the table join options?

[2021-11-09 07:57] helendallas commented on #2837
@amyburness @NickRivers-Moore As far as I know yes there will be missing data from the flow table as this is for quinaries in lesotho and eSwatini.

@NickRivers-Moore What about the other blanks????? in SA. Quite a few NB catchments are blank. Please cna you go and check and revert soonest. thanks @NickRivers-Moore

[2021-11-09 07:58] helendallas commented on #2400
@jeremyshelton Where is this file? please attach here as well

[2021-11-09 08:03] jeremyshelton commented on #2400
@helendallas these files are all in the same dropbox folder shared with Kartoza.
Here is the link: https://www.dropbox.com/s/2enzm6ja3f38wfm/FBIS.FILTER.TESTING_NOV2021.xlsx?dl=0
File attached as well.
[FBIS.FILTER.TESTING_NOV2021.xlsx](https://github.com/kartoza/django-bims/files/7502975/FBIS.FILTER.TESTING_NOV2021.xlsx)

[2021-11-09 08:04] helendallas commented on #2400
[FBIS.FILTER.TESTING_NOV2021.xlsx](https://github.com/kartoza/django-bims/files/7502978/FBIS.FILTER.TESTING_NOV2021.xlsx)

Found it @jeremyshelton

[2021-11-09 08:11] NickRivers-Moore commented on #2837
@amyburness let's go with the first option.  For the missing quinary catchments, what would then be returned?

[2021-11-09 08:18] helendallas commented on #2752
@Fanevanjanahary Have you fixed this last issue yet? Please respond on github so I can check and close ticket, thanks

[2021-11-09 08:24] helendallas commented on #2762
@dimasciput please can you fix this last one so I can close this ticket.
![image](https://user-images.githubusercontent.com/45286876/140888338-dbc5df2c-7893-44db-8b33-0e80df0130bf.png)

[2021-11-09 08:31] helendallas commented on #2158
@Fanevanjanahary Anything further on this? Is it possible to grab the data of the assessment to which the photo is attached and show this. @dimasciput ?

[2021-11-09 10:56] helendallas commented on #2651
@amyburness Any ideas on this on?

[2021-11-09 12:20] jeremyshelton opened #2853 "Data sources should all be on by default: FBIS, GBIF and Virtual Museum"
@dimasciput we have two requests for the Data Sources functionality:
1. Please can we change the Data Sources default to GBIF data turned on.
2. Please can we add, within the Data Sources drawer, the option to turn FBIS data on and off.
@helendallas @timlinux
<img width="419" alt="Screen Shot 2021-11-09 at 2 18 32 PM" src="https://user-images.githubusercontent.com/44292029/140923006-91376836-6f37-

[2021-11-10 06:02] helendallas commented on #2625
@dimasciput Checking if this has been deployed yet to RBIS? From August.

[2021-11-12 06:32] helendallas opened #2854 "Data with no site visit"
@dimasciput  Aneri and I were checking the data in unpublished, and there are 8 records assigned to 3 different sites that have data but no sampling date , so there is no site visit.

I cannot find how to fix/check this in the back end.

Here are the details:
@aneriswanepoel  So none of these sites have site visits (sampling dates), although they have data

https://freshwaterbiodiversity.org/map/#

[2021-11-12 06:35] helendallas opened #2855 "Issues when users sign up to testing site"
We receive this email

-----Original Message-----
From: Mail Delivery System <MAILER-DAEMON@kartoza.com>
Sent: Wednesday, November 10, 2021 10:24 AM
To: fbis@frcsa.org.za
Subject: Undelivered Mail Returned to Sender

This is the mail system at host kartoza.com.

I'm sorry to have to inform you that your message could not be delivered to
one or more recipients. It's attached below.

For further ass

[2021-11-15 11:29] jeremyshelton opened #2856 "Layer description: Water Source Areas"
@dimasciput or @amy

please remove the text in blue highlight from the water source areas: ground water layer description:
<img width="458" alt="Screen Shot 2021-11-15 at 1 26 33 PM" src="https://user-images.githubusercontent.com/44292029/141774446-7b0dbd96-75b2-412c-b0b2-675ac2cddbbe.png">

[2021-11-15 11:42] NyakudyaA commented on #2856
![swas-area](https://user-images.githubusercontent.com/2510900/141776291-b0883bf4-005a-4898-bff6-d7f06126e4cd.png)

Done @jeremyshelton

[2021-11-15 11:56] jeremyshelton opened #2857 "National Conservation Status - API to SANBI for category"
At the moment the conservation status links to the IUCN red listing - this is perfect and correct. The SANBI partners, who are doing the national red listing for SA species, have requested that we also include a link (API) to the SANBI Red Listing.

Nancy Job from SANBI will provide us with the link details.

@dimasciput in addition to the GBIF and IUCN buttons associated with species in Taxon man

[2021-11-15 12:45] jeremyshelton opened #2858 "Change to Conservation Status column in Master list"
@dimasciput we need to add in a new column to the taxon master list upload templates:

Conservation status  -> Conservation status (Global)
New column = Conservation status (National)

These changes need to be coded into the search bar/filtering, and added into CSV downloads. The existing CVS formats need to be used, just change the Conservation status to become 2 columns, called Conservation stat

[2021-11-15 12:48] jeremyshelton opened #2859 "Endemism tool tips not updating"
Tool tips in the endemism categories in the search/filter bar on the left of the map are not consistent with the descriptions in the Bims. If possible can these update automatically when changes are made in the Bims descriptions/

![image](https://user-images.githubusercontent.com/45286876/141929402-5c817d77-bb6f-4815-a070-177b65b2e098.png)

![image](https://user-images.githubusercontent.com/45286

[2021-11-15 13:13] jeremyshelton opened #2860 "Links on species pages"
@dimasciput the following links should appear on every species page, where possible:

**Overview**
- GBIF page
- BDI page

**Conservation status**
- Global Red List (IUCN)  page
- National Red List (SANBI) page

![Screen Shot 2021-11-15 at 3 11 31 PM](https://user-images.githubusercontent.com/44292029/141787863-30d9786b-b70f-4815-aad3-9cdab0a817d4.png)

@helendallas

[2021-11-16 06:07] helendallas commented on #2444
I am closing this ticket

[2021-11-16 06:09] helendallas commented on #2666
Clsoing this ticket see #2707

[2021-11-16 06:09] #2666 closed

[2021-11-16 06:11] helendallas commented on #2681
@jeremyshelton I recall we spoke about this and came up with ecosystem types? Please can you add here is we have

[2021-11-16 06:15] helendallas commented on #2790
Closing this as detailed in #2857

[2021-11-16 06:15] #2790 closed

[2021-11-16 06:23] #2820 closed

[2021-11-16 06:38] helendallas commented on #2400
These issues remain:

**Critical Biodiversity Area (CBA) Provincial:**  Provincial filters not working.   Returning national data instead of provincial. Western Cape missing, but  it should be there.

**National Biodiversity Assessment 2018 (NBA)** - River Condition 1999, Category labels should match those in NBA 2018, but don’t (see sheet 'nba2018'). 'Unmodified/Natural'  category filter not work

[2021-11-16 06:51] amyburness commented on #2400
@helendallas thanks I will take a look at this ASAP

[2021-11-16 08:30] jeremyshelton commented on #2681
@helendallas for the frogs, what they want is: River, Wetland, Terrestrial. We could also add Dam, but don't think it needs to get more complicated than this?

[2021-11-17 09:24] timlinux commented on #2779
@Fanevanjanahary can you please update your tickets at the end of each sprint to indicate where we are with the ticket?

[2021-11-17 09:31] timlinux opened #2861 "Owner and source file should be written to temp records"
![image](https://user-images.githubusercontent.com/178003/142174552-474f08d4-d80a-49cc-853a-5621799afa6e.png)

[2021-11-17 09:33] timlinux commented on #2861
Also uploader

[2021-11-17 09:34] timlinux commented on #2828
See https://github.com/kartoza/django-bims/issues/2779

[2021-11-17 09:37] timlinux commented on #2835
Can you give a status update on this please @amyburness ?

[2021-11-17 09:37] timlinux commented on #2837
Can you give an update on this please @amyburness ?

[2021-11-17 09:39] timlinux commented on #2836
@amyburness can you please publish this in geocontext and then into FBIS? Please ask @NyakudyaA and @Fanevanjanahary for help if you need to know how the process works (and update our docs in the process if they are not clear / complete).

[2021-11-17 09:42] timlinux commented on #2786
@dimasciput can you pull the GEOJSON from GeoServer and finish the  last steps.

[2021-11-17 09:44] timlinux commented on #2786
For the layer in the filter change from "Province" to "Province or Country"

[2021-11-17 09:46] timlinux commented on #2651
@amyburness can you try to make an updated version of the 1:50k rivers where you assign the closed 1:500k river name to each river segment if the 1:50k river name is missing?

[2021-11-17 09:49] timlinux commented on #2651
@amyburness can we set a time cap of four hours for you to resolve this? If you haven't come up with a workable solution by the end of that, leave a note here and I think we will abandon this task and wait for a decent national dataset.

[2021-11-17 09:50] timlinux commented on #2832
@amyburness we will pass this along to SANBI to work on once they have been trained up.

[2021-11-17 10:05] timlinux commented on #2665
@amyburness I am assigning this to you. I think it would be good to do it in QGIS using a model. Please review the requirements and the data and chat to me if you need inputs on how to approach this. Keep the project with the model around in case we want to tweak the process.

[2021-11-17 10:06] amyburness commented on #2836
@Tim yes I will do so today

[2021-11-17 10:12] amyburness commented on #2835
@timlinux this has been published to Geoserver. I will publish it to geocontext and FBIS with the other today.

[2021-11-17 14:42] helendallas commented on #2748
It would be good to also include the existing visualisations that you have for time series data that you showed us.

[2021-11-18 07:25] amyburness commented on #2836
@timlinux @helendallas
Update:
Current - Horological regions up as layer in the Layer selector (made it slightly see through by default so that the flow regime types can be seen below as discussed @helendallas) .

Today - Adding as a filter to the spatial filters.

![image](https://user-images.githubusercontent.com/77841514/142370181-a0a25616-f7a7-41f3-a20a-0380cd3a5a5c.png)

[2021-11-18 07:29] amyburness commented on #2835
@timlinux @helendallas
Update:
Current - Thermal Framework is up as layer in the Layer selector.
Today - Adding as a filter to the spatial filters.
![image](https://user-images.githubusercontent.com/77841514/142371231-195ea782-c22a-40e3-a6e7-32790beba79a.png)

[2021-11-18 07:33] amyburness commented on #2837
@timlinux @helendallas
Update:
Current - Flow regime Type up as layer in the Layer selector

Today - this one I need to review as there is some data not showing and something hinky going on, have a meeting with @NyakudyaA today to discuss

Todo - Adding as a filter to the spatial filters.

![image](https://user-images.githubusercontent.com/77841514/142371461-5b214299-5e6f-4a2b-b7df-c18b4ee6a6d9.pn

[2021-11-18 07:42] helendallas commented on #2837
Thanks @amyburness

typo....:)
![image](https://user-images.githubusercontent.com/45286876/142373038-a6f6201b-b752-4243-97c5-ead75e120e39.png)

[2021-11-18 08:21] amyburness commented on #2837
fixed
![image](https://user-images.githubusercontent.com/77841514/142378093-85e7c032-3a44-4e1d-9975-048819e645a5.png)

@helendallas do you have a moment to meet up today I wanted to ask you a few practical questions for the filter Options.

[2021-11-18 08:25] helendallas commented on #2837
Sure @amyburness I am on a workshop call now but can meet at 13h00? Very excited to see layers :)

[2021-11-18 09:05] amyburness commented on #2837
@helendallas Fab, I'll send you an meeting link for then

[2021-11-18 11:29] helendallas commented on #2788
@dimasciput  Please can you also rename Abiotic data: **Physico-chemical data** in the detailed dashboards.

![image](https://user-images.githubusercontent.com/45286876/142407161-2657e67a-51d0-48bf-b76b-0d6605148512.png)

[2021-11-18 11:49] helendallas opened #2862 "We need Water temperature added to overview dashboard"
We need to include the ability to view and add water temperature data to the overview dashboard.

Water Temperature (time series) Add / Dashboard   - as with the other data above.

![Screenshot 2021-11-18 134548](https://user-images.githubusercontent.com/45286876/142409843-64f85987-6387-4011-b24c-cac56f51fecd.jpg)

[2021-11-18 12:29] helendallas commented on #2748
Here is the original dashboard I created for the thermal data. I think we could chat through this and discuss what it is feasible to include.
[Appendix 4 FBIS report template_Thermal Single Site_Final 31 Aug 2020.pptx](https://github.com/kartoza/django-bims/files/7562740/Appendix.4.FBIS.report.template_Thermal.Single.Site_Final.31.Aug.2020.pptx)

[2021-11-19 05:56] dimasciput commented on #2762
@helendallas updated https://freshwaterbiodiversity.org/source-references/?&q=an%20evaluation%20of%20sass

[2021-11-19 06:16] dimasciput commented on #2492
@helendallas this has been deployed to live site, please test there.

[2021-11-19 07:22] dimasciput commented on #2808
@helendallas @jeremyshelton this is fixed in live site

[2021-11-19 08:10] helendallas commented on #2762
@dimasciput PLease can you check why this is not making it to the filter? and the records link in source reference doesnt work

![image](https://user-images.githubusercontent.com/45286876/142587900-623dd885-fd94-4a8d-a02c-a4453dc513b0.png)

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory

[2021-11-19 08:20] dimasciput commented on #2762
@helendallas can you try it again?

[2021-11-19 08:33] helendallas commented on #2762
Thanks @dimasciput Working now :)

[2021-11-19 08:33] #2762 closed

[2021-11-19 11:36] helendallas commented on #2492
Thanks @dimasciput Working nicely now

[2021-11-19 11:36] #2492 closed

[2021-11-22 05:48] Fanevanjanahary commented on #2779
@helendallas @jeremyshelton the sites don't have an owner since they aren't linked to biological collection records. Should we exclude them also from validation?

[2021-11-29 04:20] dimasciput commented on #2786
the geojson :
[combination_saprovince_buffered.zip](https://github.com/kartoza/django-bims/files/7615505/combination_saprovince_buffered.zip)

@Fanevanjanahary can you create a script that will check whether the site is inside the geojson or not?

[2021-11-29 04:21] dimasciput commented on #2786
@Fanevanjanahary you can update the code here https://github.com/kartoza/django-bims/blob/main/bims/api_views/site_in_country.py

[2021-11-29 09:28] helendallas commented on #2779
@Fanevanjanahary @dimasciput

I am not sure I understand how data is harvested from GBIF when there is no biological collection record????
Our workflow is such that GBIF data should only be harvested using our taxon master lists.

Is this perhaps old sites which were harvested using earlier master lists that included species no longer on our list? such as fish?

Regardless we don't want to include

[2021-11-29 10:57] jeremyshelton commented on #2779
@Fanevanjanahary @dimasciput @helendallas
_Regardless we don't want to include sites which do not have biological collection records. @jeremyshelton do you agree?_
Agreed.

[2021-11-29 13:56] amyburness commented on #2837
@helendallas @timlinux
Update:
* The flow regime information have been generated in the DB a full join for all the info and a Materialised view for the subset of the data
* I have Published the layer as a viewable layer on the system and done all the steps for the filters but there is currently an issue with Geocontext that @Fanevanjanahary is working on one that is up an running the filters shoul

[2021-11-29 13:57] amyburness commented on #2836
@helendallas @timlinux
Update:
* The Hydrological Regions have been uploaded and also made a filter.
* @dimasciput can you do the location sites background update for all of the points?
![image](https://user-images.githubusercontent.com/77841514/143878369-816d4801-0a91-424e-b339-b87cee86a432.png)

[2021-11-29 13:57] amyburness commented on #2835
@helendallas @timlinux
Update:
*the thermal layers are ready to go published on all the platforms and grouped etc.  They too are affected by the Geocontext memory/ cores issue  but it should all be up and running tomorrow.

[2021-11-30 06:46] dimasciput commented on #2786
Hi @Fanevanjanahary any updates on this?

[2021-11-30 06:56] dimasciput commented on #2615
Hi @helendallas , regarding the threshold, are they calculated based on geomorphological zone value?
![image](https://user-images.githubusercontent.com/1979569/144000068-57e5c3dc-d210-4a39-9397-7b42f982c8a0.png)

What if the site doesn't have geomorphological zone value? Which one should we use?

[2021-11-30 07:29] Fanevanjanahary commented on #2786
@dimasciput I'm working on it now

[2021-11-30 07:29] helendallas commented on #2615
@dimasciput The zones Upper and lower are based on the spatial layer: Thermal framework - Thermal Zone: Upper, Lower; see ticket #2835

We dont use geomorpohological zone. The user needs to be able to update it they have. Shout if unclear

[2021-11-30 07:43] dimasciput commented on #2615
@helendallas to update the default threshold or threshold for specific site?

If the site doesn't have Thermal Zone value, should it display blank for this table?

[2021-11-30 07:46] helendallas commented on #2615
There should be no blank thermal zones as far as I can tell looking at the dbf file.
![image](https://user-images.githubusercontent.com/45286876/144006333-fb4fe011-67a8-4864-9434-bafd73f86f98.png)

[2021-11-30 07:47] dimasciput commented on #2615
@helendallas and who can update this threshold? the owner of the site? or the owner of the temperature data?
Because it's pretty confusing in the user interface side.
Can we just focus on the threshold from the thermal zone for now?

[2021-11-30 07:50] helendallas commented on #2615
The owner of the temperature data needs to be able to update if possible. We can leave for now and use the threshold from the thermal zone for now, and then when I am adding data if it becomes a problem then we will need to add functionality for the owner of the temp data to change. This could happen at the time of uploading the temp data?

[2021-11-30 07:51] dimasciput commented on #2615
@helendallas ok cool, let's do that. I'll create a ticket for the functionality to update the threshold data.

[2021-11-30 08:07] helendallas commented on #2615
@dimasciput Sounds like a plan, thanks

[2021-11-30 08:45] helendallas commented on #2835
thanks @amyburness Please can you reorder the legend:
Very high Resilience, High Resilience, Medium Resilience, Low Resilience, Very low Resilience

Not

![image](https://user-images.githubusercontent.com/45286876/144014204-a6c6dcb6-3de4-41f2-816d-2ad7ed1b35f3.png)

I am also just waiting confirmation from Nick that he wants resilience to be shown, thanks

[2021-11-30 08:55] helendallas commented on #2837
@amyburness Flow regime not showing as layer
![image](https://user-images.githubusercontent.com/45286876/144014834-44261a8c-5190-4b76-a6e7-acef27bc0e2f.png)

Also the legend should be the column headed Regn_Type in the dbf file, as shown below. Because Flow type sits within a hydrological region, the concatenation of the two columns provides the legend label.

Its a bit confusing, and I cant visua

[2021-11-30 09:16] amyburness commented on #2835
@helen
done, we can use any of the data in the legend I'll wait for Nick's input.
![image](https://user-images.githubusercontent.com/77841514/144018967-5be28ebc-fb18-463b-bd54-35fc96622f70.png)

[2021-11-30 09:18] helendallas commented on #2580
This works well to add an image, but after deleting the image using the clear button, it got stuck on "fetching". Please check if this is working correctly before we close the ticket.

![image](https://user-images.githubusercontent.com/45286876/144019359-6a85904a-61ac-4ba4-813c-012729fc3f5e.png)

[2021-11-30 09:20] helendallas commented on #2835
Brilliant thanks @amyburness Ok, when Nick responds I will hop on again

[2021-11-30 09:29] helendallas commented on #2625
@dimasciput This is not working, common names are not uploading even though they are in the csv file

[2021-11-30 09:41] amyburness commented on #2837
@helendallas
I am working on the layer now

If I symbolise it using the regn_type and not regime type it looks quite different to this image from the sources.
![image](https://user-images.githubusercontent.com/77841514/144022208-31e00b98-9872-4c05-8381-d716db10e3ee.png)
![image](https://user-images.githubusercontent.com/77841514/144022830-a62adcd5-5291-46ec-870b-a61f18908f58.png)

[2021-11-30 09:45] helendallas commented on #2837
Thanks @amyburness I think we need guidance from Nick here. I guess the issue is that different hydrological regions may have the same flow type number....but are actually different from one another, hence the use of hydrological _ flow type combined to give 7.01, 7.02 etc.

The resultant map looks fine in my eyes, and then when the user clicks on a quinary , they get the details right?

@NickRive

[2021-11-30 10:03] helendallas commented on #2542
I edited the endemism categories and this has been corrected now. Closing ticket

[2021-11-30 10:09] helendallas commented on #2570
@dimasciput This needs to be rolled out to RBIS please

[2021-11-30 10:20] helendallas commented on #2835
Hi @amyburness Nick would prefer legend to use Thermal zones.
Thermal Zone: Upper, Lower

The resilience and model accuracy can be extracted by clicking on a quinary. Thanks

[2021-11-30 10:25] helendallas commented on #2541
IUCN link is missing for 99% of species, even though they are in IUCN
![image](https://user-images.githubusercontent.com/45286876/144030019-6a80900e-5fb7-47d6-91bb-890662a87a01.png)

[2021-11-30 11:14] dimasciput commented on #2615
@helendallas I have added this calculation, and deployed to testing. Sorry it took a while, because I have to make sure the calculation is correct, I have tested with the data from example, and it looks good.
For now you can access this dashboard from admin page in the location site section, and search the site that has water temperature data. :
https://testing.healthyrivers.kartoza.com/admin/bims

[2021-11-30 12:27] helendallas commented on #2615
Thanks @dimasciput That's awesome! I can imagine all the challengin calculations behind the scenes!

[2021-12-01 06:03] dimasciput opened #2872 "Functionality to update threshold for temperature data"
From https://github.com/kartoza/django-bims/issues/2615

[2021-12-01 06:05] dimasciput opened #2873 "Screening process in thermal dashboard"
From https://github.com/kartoza/django-bims/issues/2748

There is also a whole screening process and dashboard but I am not sure if we should be tackling this yet as I am concerned that it will use to much of our budget. see below

https://github.com/kartoza/django-bims/files/7218417/Figure.7.Screening.process.pdf

[2021-12-01 06:07] dimasciput commented on #2748
@helendallas the ticket for screening https://github.com/kartoza/django-bims/issues/2873, I think it won't be on current sprint (sprint 3).

[2021-12-01 06:09] dimasciput opened #2874 "Thermograph chart"
child of https://github.com/kartoza/django-bims/issues/2748

![image](https://user-images.githubusercontent.com/1979569/144181103-3f9d481d-ad86-491d-b06c-7ebfb9144968.png)

Draw thermograph chart with highchart in the thermal dashboard.

@Fanevanjanahary can you fetch the data for the chart using ajax? Probably create the api first.

[2021-12-01 06:13] dimasciput opened #2875 "Api for thermograph data"
child https://github.com/kartoza/django-bims/issues/2748

Add api to get the data for thermograph chart.

[2021-12-01 06:24] helendallas commented on #2748
ok @dimasciput understood. thanks

[2021-12-01 06:54] dimasciput commented on #2748
@helendallas
![image](https://user-images.githubusercontent.com/1979569/144186271-8b072425-26f8-4177-b7a5-abf25eb1db53.png)

how do you get these data? 95%_low, 95%_up, etc. I couldn't find it on the spreadsheet.

[2021-12-01 06:59] helendallas commented on #2748
@dimasciput Its on the Calcs_thermograph tab of the spreadsheet. see Example Metrics_master code5_Eerste River-ITA.xlsm

I have asked if Nick is available if you dont come right...this is his brain power :)

![image](https://user-images.githubusercontent.com/45286876/144186892-395a7b40-8e61-4357-a207-966635eb19ce.png)

[2021-12-01 07:03] dimasciput commented on #2748
@helendallas ah okay, I missed it, I think it's self explanatory, let me try to tackle it first. Thanks.

[2021-12-01 07:16] helendallas commented on #2748
Great thanks. Nick is actually not available today so if you have questions this will have to wait until tomorrow.

[2021-12-01 07:41] amyburness commented on #2836
@helendallas
I have update the layers and filters and you should be able to view them all now.
as per above I have made:
Drawer label : Hydrological Region
Then 2 sub-categories in this drawer:
 * Hydrological Region: Number and name (if possible) (Currently by Name)
 * Flow RegimeType: Number (see ticket Spatial layers - Flow Regime Type #2837 )

@dimasciput I have updated a few of the location s

[2021-12-01 07:41] Fanevanjanahary opened #2876 "Add table with thermal metrics to thermal dashboard"
child #2748

[2021-12-01 08:03] amyburness commented on #2835
hi @helendallas
I have updated the legend to be by zone do you want the name of the layer to be thermal Zone or can it remail Thermal framework as above.
The Filters are also working and show as above.
Drawer label: Thermal Framework
Then there 3 sub-categories in this drawer:
Thermal Zone: Upper, Lower
System Resilience: Very high Resilience, High Resilience, Medium Resilience, Low Resilience, Ve

[2021-12-01 08:29] helendallas commented on #2835
Thanks @amyburness My comments

The drawer name should remain Thermal framework.

I noticed some issues with filters.

![image](https://user-images.githubusercontent.com/45286876/144198241-fed62cb1-7571-489c-9f87-9a06d8e81e24.png)

Please order Upland before Lowland

![image](https://user-images.githubusercontent.com/45286876/144198326-55e16514-3927-418a-b8ab-8987f6e3e55c.png)
 Some categories mis

[2021-12-01 08:36] helendallas commented on #2835
Can you also please change the colours to light green for upland and dark green for lowland...it will be easier then to see the sites

Also filters not working, see

![image](https://user-images.githubusercontent.com/45286876/144199689-5979ec44-53d2-4045-9c09-8c0c5280f3ef.png)

[2021-12-01 08:40] helendallas commented on #2836
Ok thanks @amyburness I cant see this yet so assume it is still being rolled out

![image](https://user-images.githubusercontent.com/45286876/144200592-fca49887-904c-4e7f-819d-af61f4d244f2.png)

[2021-12-01 09:03] #2875 closed

[2021-12-01 10:54] jeremyshelton commented on #2819
@dimasciput any update on this ticket?

[2021-12-01 10:57] jeremyshelton commented on #2856
@NyakudyaA @dimasciput @amyburness
The labels for the ground and surface water source areas are incorrect.
The groundwater layer has the surface water description and vice versa.
Please swop them around.
Thanks

[2021-12-01 11:50] amyburness commented on #2856
@jeremyshelton can you send a screenshot

[2021-12-01 12:18] amyburness commented on #2856
@jeremyshelton  I have corrected it
![image](https://user-images.githubusercontent.com/77841514/144233159-8b808ce7-9113-40ec-bf41-412cabcc1344.png)

[2021-12-01 12:59] jeremyshelton commented on #2856
Thanks @amyburness

[2021-12-01 12:59] #2856 closed

[2021-12-01 14:20] jeremyshelton opened #2878 "Taxon uploader stuck"
@dimasciput Taxon uploader is getting stuck on 'Progress : checking header row' when uploading a master list for a new module on testing site. Any idea what might be causing this?

![Screen Shot 2021-12-01 at 4 16 38 PM](https://user-images.githubusercontent.com/44292029/144250600-91f52ad5-06b4-41b3-8582-62ad498f3e96.png)

[Frog Master List - for FBIS upload.xlsx](https://github.com/kartoza/django

[2021-12-01 14:24] helendallas commented on #2878
@jeremyshelton The file needs to be a csv not xls

[2021-12-01 14:27] jeremyshelton commented on #2878
@helendallas ah! Thanks.
I selected the wrong file :)

[2021-12-02 06:19] #2874 closed

[2021-12-02 06:20] dimasciput opened #2881 "Add year picker in the thermal dashboard"

[2021-12-02 07:02] #2881 closed

[2021-12-02 08:28] dimasciput commented on #2849
@helendallas can you send me the pdf file please?

[2021-12-02 09:23] dimasciput commented on #2849
@helendallas fixed in testing, please try it

[2021-12-02 09:28] timlinux opened #2885 "We need to add sentry support"

[2021-12-02 09:43] dimasciput commented on #2885
we already did for fbis http://sentry.kartoza.com/sentry/freshwaterbiodiversity/ @timlinux

[2021-12-02 09:52] dimasciput commented on #2819
@jeremyshelton checking it now

[2021-12-02 10:06] helendallas commented on #2849
@dimasciput Same issue
![image](https://user-images.githubusercontent.com/45286876/144400972-095f3014-c4c6-444f-885d-b0eb362ff5cb.png)

[2021-12-02 10:18] dimasciput commented on #2849
@helendallas can you share a screenshot of the form before you click the submit button?

[2021-12-02 10:26] timlinux commented on #2885
Ah that is the old man in me forgetting that we have it. It would be good to take some technical debt time (maybe in the coming devops sprint) to address all the issues listed there so that we have a good signal to noise ratio.

[2021-12-02 11:07] helendallas commented on #2849
here we go
![image](https://user-images.githubusercontent.com/45286876/144410850-b6db6607-b79d-4e17-be60-d0eb31b66950.png)

[2021-12-03 03:34] #2876 closed

[2021-12-03 05:59] amyburness commented on #2837
@helendallas
The flow types are updated
![image](https://user-images.githubusercontent.com/77841514/144553177-b8eddc7f-ea05-4e36-a250-fd2391ee408f.png)

[2021-12-03 06:12] amyburness commented on #2835
@helendallas
* colours for upland and lowland Updated
* Draw name corrected and all subcategories present, @dimasciput is there a way to get the categories to not show alphabetically but rather in order of class? eg. Very High, High, Meduim, Low and Very Low and Upland Before Lowland
![image](https://user-images.githubusercontent.com/77841514/144553961-feab4be3-9241-47b4-8ceb-b34e0972c771.png)

[2021-12-03 06:39] jeremyshelton opened #2887 "Testing site issues when creating new frog module"
@dimasciput I am trying to harvest GBIF data for the taxa in a new frog module created on testing site. However, it keeps getting stuck on species 25 or 28 of 134. I tried to leave the harvest running overnight last night, but that did not solve the issue. Any suggestions?
@helendallas @timlinux

[2021-12-03 06:51] dimasciput commented on #2835
Unfortunately, it's not possible at the moment.

[2021-12-03 06:52] dimasciput commented on #2748
@helendallas this is deployed to testing, please test it there

[2021-12-03 06:53] dimasciput commented on #2400
@amyburness any updates on this?

[2021-12-03 07:00] helendallas commented on #2837
@amyburness Looking great, thanks. One comment from Nick is it possible to call

Flow Region Type.....

**Hydrological Region Flow Type**

Its a bit long but more accurately reflects what is shown :)

[2021-12-03 07:11] amyburness commented on #2400
@dimasciput I have the data and its on the list for today.

[2021-12-03 07:16] amyburness commented on #2837
@helendallas
Name Updated
![image](https://user-images.githubusercontent.com/77841514/144561052-1c813929-d014-4088-aa79-2d76fbb62383.png)

[2021-12-03 08:06] helendallas opened #2888 "We need to include the form to add Source Reference for water temperature data"
Please can you include the "Source reference for records"form after adding water temperature data so that the metadata can be added.
This then also needs to be shown in the Metadata Table in the Detailed dashboard. see #2748

![image](https://user-images.githubusercontent.com/45286876/144567234-ad61f0d8-8358-4f5a-b969-2e4d11c1ddb6.png)

[2021-12-03 08:09] helendallas opened #2889 "Please add ability to add photo to the water temperature upload form"
Please can you include the option to add a site image

![image](https://user-images.githubusercontent.com/45286876/144567714-dfdb83ae-37ce-4cb9-b5d8-ef404aa1507b.png)

Add water temperature form:

![image](https://user-images.githubusercontent.com/45286876/144567810-f921cb3d-efa0-47ce-8f00-2eef0a32bbc5.png)

[2021-12-03 08:11] helendallas commented on #2748
@dimasciput @Fanevanjanahary Looking great, thanks!!!!

**A few comments:**

- Can we have the full overview section as per other dashboards for consistency and additional information.
- Can you include a photograph on top right as per other dashboards
- Can you style Monthly magnitudes with shaded headed as others and add extra space between header and Jan

- Thermal metrics table - please rename

[2021-12-03 08:53] helendallas commented on #2849
@dimasciput still getting error
![image](https://user-images.githubusercontent.com/45286876/144573865-ee1cd282-cba7-4b84-a0a7-a7b0b3700c2f.png)

[2021-12-03 09:02] dimasciput commented on #2849
@helendallas very weird, I can upload the file. Should I just create it myself for now?

[2021-12-03 09:13] helendallas commented on #2849
Yes please, and then I will close ticket and create a new one if the issue persists

[2021-12-03 09:14] helendallas commented on #2614
@dimasciput I checked another upload data set

https://testing.healthyrivers.kartoza.com/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=8110&thermalModule=True

But

[2021-12-03 09:18] helendallas commented on #2837
Thanks, I see the attribute name in the pop up box still has the old name. I sit a mission to change?
![image](https://user-images.githubusercontent.com/45286876/144577509-123dc2ea-f09c-4b0d-9161-64645af13a68.png)

[2021-12-03 09:25] dimasciput commented on #2614
@helendallas thanks

@Fanevanjanahary can you check the issue https://testing.healthyrivers.kartoza.com/water-temperature/8110/?taxon=&search=&siteId=8110&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpe

[2021-12-03 09:29] helendallas commented on #2836
So @amyburness @dimasciput
For all existing filters, when they are selected, the area is outlined in red. Then all sites within that Red outline area get returned. See ecoregion below:
![image](https://user-images.githubusercontent.com/45286876/144578379-bcde537a-3d0a-4e3a-bd29-5476b205b514.png)

https://freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&

[2021-12-03 09:33] helendallas commented on #2835
@amyburness Filters need checking, don't think they are working as they should. see hydrological region ticket

[2021-12-03 09:37] helendallas commented on #2837
Also filter not working

[2021-12-03 09:37] helendallas commented on #2674
Closing ticket as separate tickets created for each layer and filter

[2021-12-03 09:37] #2674 closed

[2021-12-03 09:50] dimasciput commented on #2614
@helendallas should be fixed now

[2021-12-03 09:53] amyburness commented on #2836
@helendallas taking a look

[2021-12-03 09:54] helendallas commented on #2614
Thanks, not all values added? maybe needs more time?
https://testing.healthyrivers.kartoza.com/water-temperature/8110/?taxon=&search=&siteId=8110&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=8110&or

[2021-12-03 09:58] dimasciput commented on #2614
@helendallas everything has been added from the file, so this dashboard is actually per year, you can select the year in the header.

[2021-12-03 10:02] dimasciput commented on #2614
@helendallas hmm maybe instead of year, we can add start time and end time in the dashboard. But that's different issue.

[2021-12-03 10:06] helendallas commented on #2614
ok so at the moment I can add data of any length time series, and it will just show what has been added? I will do some more checking if your answer is yes.

Really excited to see this visualised!

Lets leave as is for now re year/start time etc.

[2021-12-03 10:13] dimasciput commented on #2614
@helendallas yes, the dashboard will only show data annually for now, from January to December. Then you can change the year here :
![image](https://user-images.githubusercontent.com/1979569/144585414-c281e7a2-57b0-40ec-9e1a-d324857fa459.png)

[2021-12-03 11:02] helendallas commented on #2846
Fixed, closing

[2021-12-03 11:02] #2846 closed

[2021-12-03 11:09] helendallas commented on #2614
Trying to upload longer time series data....but still processing....guess it may take a while

https://testing.healthyrivers.kartoza.com/water-temperature-form/?siteId=8110

[2021-12-03 11:10] helendallas commented on #2862
Thanks @Fanevanjanahary Looking good, closing ticket

[2021-12-03 11:10] #2862 closed

[2021-12-03 11:13] helendallas commented on #2158
Thanks @Fanevanjanahary @dimasciput Looks good on testing. Please roll out to live when possible

[2021-12-03 11:18] helendallas commented on #2614
@dimasciput Please can you check through this ticket and see if the Validation issues have been addressed adequately or if we need to create a new ticket for developing later.

[2021-12-03 11:22] helendallas commented on #2828
@dimasciput for this:
Please also include option to add daily data (minimum, mean and maximum) - given the neat graphs Dimas showed us. Tim: Can be implemented in bullet above as a 24hr interval

Can I only add Mean, or is the functionality to upload Min and max as well. as per the file in dropbox
Daily_Mutale Bridge Daily data.xlsx

[2021-12-03 11:35] dimasciput commented on #2849
@helendallas I added the source reference, will you update the title and the source please

live site : https://freshwaterbiodiversity.org/edit-source-reference/1112/?next=/source-references/%3F%26q%3Dupdate
testing : https://testing.healthyrivers.kartoza.com/edit-source-reference/1119/?next=/source-references/%3F%26q%3Dupdate

[2021-12-04 11:30] jeremyshelton commented on #2887
@dimasciput OK after a few tries the harvest did work: 23661 records for 122 amphibian taxa.

However, the multi-site overview and multi-site detaileddashboards don't seem to be working (they are not loading), so can't test if the endemism, origin, conservation status, water dependence etc are coming through.

The taxon dashboards seem to be working OK though.

Spatial filters have disappeared fro

[2021-12-06 06:32] helendallas commented on #2849
Thanks @dimasciput Done Closing ticket

[2021-12-07 08:21] helendallas commented on #2828
@dimasciput @Fanevanjanahary I am trying to upload more data
https://testing.healthyrivers.kartoza.com/water-temperature-form/?siteId=9885

But it seems to be "processing"for a long time