[2020-01-30 07:40] helendallas opened #1881 "Site Photographs - sizing"
Can you adjust the size of the photographs so that the full photographs is visible on the report/dashboard.

Original Photograph I uploaded
![Eerste River @ Witbrug 2017_04_22 Upstream](https://user-images.githubusercontent.com/45286876/73429267-e7db4c00-4343-11ea-9c7a-79e23662c447.jpg)

What is visible on the site below:
![Screenshot_2020-01-30 FBIS Single Site Dashboard - SASS](https://user-imag

[2020-01-30 10:15] dimasciput commented on #1879
Fixed, please try again http://freshwaterbiodiversity.org/map/#search/Pseudobarbus%20burchelli/taxon=&search=Pseudobarbus%20burchelli&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=[%22validated%22]&sourceCollection=&abioticData=&ecologicalCategory=&rank=ORDER&siteIdOpen=&

[2020-01-30 10:22] jeremyshelton opened #1882 "Protocol and instructions on how FRC can do bulk data uploads using spreadsheets?"
It would be great if Kartoza could create a protocol and instructions on how FRC can do bulk data uploads using spreadsheets?

[2020-01-30 12:58] jeremyshelton commented on #1854
Yes, I think that fixing #1872 will also fix this issue :)

[2020-01-30 13:04] jeremyshelton commented on #1876
@dimasciput I think that fixing #1872 will sort out this problem.

[2020-01-30 13:07] jeremyshelton commented on #1856
@dimasciput I think #1860 will take care of this issue.

[2020-01-30 13:15] jeremyshelton commented on #1182
Wow, this ticket has been moved around a lot!

@dimasciput @timlinux I think these tasks are now covered in #1859 and #1860

[2020-01-31 06:26] helendallas commented on #1670
@timlinux @dimasciput

I am tagging this with an "Admin Manual"  label - so that the process discussed can be captured in the Admin Manual

[2020-01-31 06:43] helendallas commented on #1738
@dimasciput
I tested this by created a New Site - H7DORI-00004
![Screenshot_2020-01-31 Select location site to change Django site admin](https://user-images.githubusercontent.com/45286876/73517862-6d730080-4405-11ea-9f22-df48cea4c80d.png)

I didn't immediately add data but rather went to find it on the map - but the site was visible.  I thought I perhaps didnt save it so created another: ; H7DORI-

[2020-01-31 06:48] helendallas commented on #1630
@dimasciput
Metadata Table still problematic with respect to layout for some study references. See example below.
DOI and notes overlapping

![Screenshot_2020-01-31 FBIS Multiple Sites Dashboard - SASS](https://user-images.githubusercontent.com/45286876/73518229-6698bd80-4406-11ea-862f-fdbc2cccdae9.png)

[2020-01-31 06:52] dimasciput commented on #1738
Yes, this is the current behavior.

Let me discuss it first with @timlinux.

[2020-01-31 06:53] helendallas commented on #1782
@dimasciput
Unfortunately still not displaying the correct data.

Harrison A.D. & Elsworth J.F | 1958 | Hydrobiological studies of the Great Berg River; Part 1. General description of chemical studies and main features of the flora and fauna. | Transactions of the Royal Society of South Africa Vol 35. Part 3: pp.125-226. Should have 12 sites in the Berg River catchment:

This is what is returned -

[2020-01-31 06:53] #1782 closed

[2020-01-31 06:53] dimasciput commented on #1630
Hi @helendallas , this is a different issue with the original ticket. Can you create a new ticket instead, so we can track it better?

[2020-01-31 10:08] helendallas opened #1883 "Geomorphological Zone"
@dimasciput
Geomorphological zone data is not being shown in either the Overview dashboard or detailed dashboards

![Screenshot_2020-01-31 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/73531001-41b24380-4422-11ea-9071-30ef7401404e.png)

![Screenshot_2020-01-31 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/73531010-44ad3400-4422-11ea-8511-1b1025ad3696.png)

Seems

[2020-01-31 12:07] helendallas opened #1884 "Metadata Table - SASS Dashboards"
Metadata Table still problematic with respect to layout for some study references. See example below.
DOI and notes overlapping

![Screenshot_2020-01-31 FBIS Multiple Sites Dashboard - SASS(1)](https://user-images.githubusercontent.com/45286876/73538130-d7ee6580-4432-11ea-8561-a46d41b6da9b.png)

[2020-01-31 12:09] helendallas commented on #1630
Closed via new ticket

[2020-01-31 12:09] #1630 closed

[2020-01-31 12:12] helendallas commented on #1875
@jeremyshelton @dimasciput
I know how to do this, going to close the ticket.

[2020-01-31 12:12] #1875 closed

[2020-01-31 12:32] helendallas commented on #1610
@dimasciput
Abiotic data form - I cant see this anymore. I am sure you did it before release V2.6.

Additional abiotic data still needs to be pulled into SASS record, so that it is visible when ones clicks on the SASS record. Layout to be as per the form designed last year.....really cant find it.

Please advice

[2020-01-31 12:42] helendallas opened #1885 "Rivers Database - River Name"
The River Name column in the Rivers Database needs to be pulled into the Original River Name in FBIS.

This is useful for river practitioners as the Site Code is based on this river name. Allow for reflection back on historical data.

I have created a spreadsheet from the Rivers DB.

[RIvers Site Codes and Original River Names for importing into FBIS.xlsx](https://github.com/kartoza/django-bims/fi

[2020-01-31 12:43] helendallas commented on #1598
@jeremyshelton
Please check that this has imported correctly then close the ticket.

[2020-01-31 13:01] helendallas commented on #1783
@dimasciput
This has not been done. I checked one site BRG01, Harrison & Elsworth study;

1 | Harrison A.D. & Elsworth J.F | 1958 | BRG01

It still has the old latitude and longitude and not the corrected one as provided in the spreadsheet.
Similarly the Refined Geomorphological Zone I provided has not been updated.

![Screenshot_2020-01-31 FBIS Map(4)](https://user-images.githubusercontent.com/45

[2020-01-31 13:06] helendallas commented on #1878
@jeremyshelton @dimasciput
Many (most?) of these sites are those that have been imported from Biobase. We need to give each site an FBIS Site Code, and retain the Original Site Code

[2020-01-31 13:07] helendallas commented on #1871
@jeremyshelton @dimasciput
Many (most?) of these sites are those that have been imported from Biobase. We need to give each site an FBIS Site Code, and retain the Original Site Code

[2020-01-31 13:34] helendallas opened #1886 "Invertebrate - Multiple Site dashboards"
Remove **Open SASS Dashboard**

![Screenshot_2020-01-31 FBIS Map(5)](https://user-images.githubusercontent.com/45286876/73543084-d4f97200-443e-11ea-9fc3-3cbda7f478d9.png)

From the bottom - not appropriate to go from invertebrate taxon data to SASS Dashboard.

[2020-01-31 13:53] helendallas opened #1887 "Biobase data - Please check all data has been migrated"
@dimasciput
It is very hard to check that all the Biobase data has been migrated accurately and entirely. I have thus done a random check.

Noted the following:  For JCW02
Only one taxon is reported, with 21 occurrences. This is incorrect

Original data has: 9 taxa with 99 occurrences.
screenshot and excel sheet (from Biobase) here.

![Screenshot_2020-01-31 FBIS Map(8)](https://user-images.githubu

[2020-02-03 01:37] dimasciput commented on #1853
Fixed
![2020-02-03_08-35](https://user-images.githubusercontent.com/1979569/73619537-60058280-4660-11ea-9edd-45b66be51ceb.png)

[2020-02-03 01:37] #1853 closed

[2020-02-03 01:45] dimasciput commented on #1855
@jeremyshelton I think the server couldn't handle to process 140k data for csv
cc @timlinux

[2020-02-03 04:44] jeremyshelton opened #1888 "CSV downloads missing some fields?"
@dimasciput the .csv files seem to be missing some fields, such as 'Sampling Method' and 'Biotope'.

For example, see the csv download for this query: http://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=Pseudobarbus%20burgi&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=

[2020-02-03 04:45] jeremyshelton commented on #1598
@helendallas @dimasciput

Yes, the import is complete, but there are still issues associated with querying the fish data like the data sources (ticket #1872 and #1868 ) and csv (ticket #1869 and #1888), so I think we should not close this yet....

[2020-02-03 04:48] jeremyshelton commented on #1871
@helendallas agreed 👍

[2020-02-03 07:14] helendallas commented on #1887
Another example : Sites   and reference correct, data missing

O'Keeffe   J.H. | 1990 | KUB01
O'Keeffe J.H. | 1990 | KUB02
O'Keeffe J.H. | 1990 | KUB03
O'Keeffe J.H. | 1990 | KUB04
O'Keeffe J.H. | 1990 | KUB05

Original data extracted from Biobase
[OKeeffe 1990 Kubusi.xlsx](https://github.com/kartoza/django-bims/files/4146645/OKeeffe.1990.Kubusi.xlsx)

[2020-02-03 08:50] dimasciput commented on #1887
@helendallas can you try again? I updated source collection of all biobase data to fbis.

[2020-02-04 03:22] dimasciput commented on #1868
@jeremyshelton yes they are data from biobase table, they don't have doi, so there's no url.

This is sample data from BioReference table :
<table><tr><th colspan="10">BioReference</th></tr><tr><th>BioReferenceID</th><th>Author</th><th>Year</th><th>Title</th><th>Journal</th><th>OriginalReference</th><th>User</th><th>DateFrom</th><th>DateModified</th><th>DateTo</th></tr><tr class="odd"><td>fa90b1a2

[2020-02-04 04:28] jeremyshelton commented on #1868
@dimasciput OK, does that mean that the DOI/URL column for these bio base studies is blank in the spreadsheet?

@helendallas would you expect these studies to have the URL/DOI field populated? I googled the first study in this list and found that it does seem to have  DOI: https://www.tandfonline.com/doi/abs/10.1080/00359195809520025

@Aneri16

[2020-02-04 05:51] dimasciput commented on #1868
@jeremyshelton yes the doi column will be blank, we can't search DOI from the reference title. Unless you want to add them manually.

[2020-02-04 06:12] dimasciput commented on #1869
@jeremyshelton fixed with https://github.com/kartoza/django-bims/pull/1891, currently only deployed to testing.

[2020-02-04 06:38] helendallas commented on #1887
@dimasciput
I am trying to check . Now there are more records on FBIS compared to the data extracted from Biobase, but I need to verify that this is not a biotope issue.

The CSV file is missing Biotope fields:
Broad Biotope, Specific Biotope, Substratum.

PLease can you follow up as I am sure this was captured in an earlier ticket.

I will revert soonest

[2020-02-04 06:57] Aneri16 commented on #1855
@dimasciput @jeremyshelton
Any solution for this issue? The user sent another email this morning asking for an update. Thanks!

[2020-02-04 07:31] dimasciput commented on #1855
@Aneri16 because this is very large data, it will take a long time to process. Let me try exporting it manually, and send the file to you.

[2020-02-04 07:40] Aneri16 commented on #1855
@dimasciput Okay thank you

[2020-02-04 08:19] helendallas commented on #1887
@dimasciput
It is really difficult to check. It seems that the sites are all coming through now - I have checked a subset; but duplicate occurrence records are coming through, and then some taxa that don't appear to be in the original paper.  I am not able to recreate the Biobase data accurately so am relying on trawling through the original papers, which is challenging.

See the attached study:
C

[2020-02-04 08:24] dimasciput commented on #1855
@Aneri16 @jeremyshelton apparently I need to create a script for this since the data is just too big, it will take me like 1-2 day just for this. Do they really need it now?

[2020-02-04 08:41] Aneri16 commented on #1855
@dimasciput the user is hoping to use the data for his PhD research as soon as possible but I can explain that you are working on it and that it may take a while

[2020-02-04 09:13] dimasciput commented on #1887
ok @helendallas , I will remove the duplicates, I don't know why it's there, strange. Thanks for the report.

[2020-02-05 09:17] dimasciput commented on #1472
This should be fixed by the new lasso tool in the testing.

[2020-02-12 08:46] jeremyshelton commented on #537
Link to #1217

[2020-02-12 08:48] jeremyshelton commented on #1869
@dimasciput thanks, can we action on the live site too?

[2020-02-12 08:48] jeremyshelton commented on #1868
@helendallas thoughts on DOI like for the biobase studies?

[2020-02-12 08:52] jeremyshelton commented on #1879
@dimasciput thanks, looks good 👍

[2020-02-12 09:29] timlinux opened #1893 "3000 records without study reference"
We have 3000 records (from Biobase?) that have no study reference. These need to be updated.

CC @helendallas

![image](https://user-images.githubusercontent.com/178003/74321457-2fb59680-4d7a-11ea-9a57-b588ec673f06.png)

[2020-02-12 09:42] timlinux commented on #1861
![image](https://user-images.githubusercontent.com/178003/74322562-0564d880-4d7c-11ea-834c-f9a75f4409fb.png)

[2020-02-12 09:44] timlinux commented on #1861
![image](https://user-images.githubusercontent.com/178003/74322673-30e7c300-4d7c-11ea-9621-02996f54d344.png)

Note pH is just an example we should constrain all physchem value ranges in this way

[2020-02-12 09:45] timlinux commented on #1861
Scope is to form only, batch uploader not....for now

[2020-02-12 09:53] timlinux commented on #1859
So when clicking on a guaging station we need to define what will be shown. We could do an in-place popup with guaging stats:

http://inwards.award.org.za/app_json/unverified_timeseries.php?stations=B7H015,B7H007&ed=2019-12-01-2019&sd=2019-12-31&type=0

[2020-02-13 07:13] jeremyshelton commented on #1861
@helendallas the ranges would correspond to the endemism column, but would need another column defining 'where' it is endemic to? All other species = SA distribution.

[2020-02-13 10:40] Janette-Lumley opened #1894 "Unable to edit/add abiotic data to existing SASS records (Non Super-Users)"
@dimasciput Go to an existing site with SASS data and then to the SASS dashboard. Click on date to get to the SASS record screen. Click 'edit', then click 'next'. It kicks me out and into the login screen where I try to log in again but cannot. Note: This works fine for super users.

![image](https://user-images.githubusercontent.com/55576335/74425453-6237c000-4e5c-11ea-97d1-7e56f9dcb541.png)

![i

[2020-02-13 11:35] helendallas commented on #1861
@dimasciput
Here is the spreadsheet of min and max values based on Biobase and Rivers Database
[Abiotic Data Variables .xlsx](https://github.com/kartoza/django-bims/files/4198019/Abiotic.Data.Variables.xlsx)

[2020-02-13 12:28] helendallas opened #1895 "Adding DOI, URL, pdf, for existing Study References imported from Biobase"
@dimasciput @timlinux
At the moment there is no way for us to add or update the Study Reference Details, such as adding a DOI, or URL, or uploading a pdf for a study that already exists in FBIS, and which has data attached to it.

Examples are all the Biobase study references.  Rather that providing Dimas with a spreadsheet and this happens in the back-end, can you develop the functionality for us

[2020-02-13 12:32] helendallas commented on #1868
@dimasciput -  please can you indicate which of the Biobase study references are blank. Please confirm the best way to add the missing metadata - see ticket #1895

@Janette-Lumley  - please can you then add the missing DOIs, URLs and upload the documents as per the protocol.

[2020-02-13 12:46] helendallas commented on #1893
Very strange - they should all have a study reference. How can I view these. @dimasciput can you send me a spreadsheet of the 3000 records.

[2020-02-13 12:53] helendallas commented on #1610
@dimasciput please update me on this ticket

[2020-02-17 09:05] helendallas commented on #1894
@dimasciput
As discussed previously the person who captures the data (Data Capturer), the Data Owner both need to be able to edit the SASS data.

PLease check that this is working as users who have added data have not been able to edit their data, which they should be able to do.

Janette is a Staff User.

[2020-02-17 09:07] helendallas commented on #1887
@dimasciput Please update me on this ticket.

[2020-02-17 09:11] dimasciput commented on #1887
@helendallas the duplicated data has been removed, please try it again.

[2020-02-17 10:11] helendallas commented on #1887
Please see 50 occurrences listed on left, but 44 on overview panel.
![Screenshot_2020-02-17 FBIS Map](https://user-images.githubusercontent.com/45286876/74640551-658ebc80-5178-11ea-9589-e28c50d84a0d.png)

Then a much bigger issue is the data: It is not correct. I have only rechecked this one site.
The data returned for this site is not correct.
There should be 24 taxa for Bree01 on the 1975.03.  P

[2020-02-17 10:18] helendallas commented on #1826
@dimasciput This has been on the to do list for ages. It really needs to be rexolved asap please.

[2020-02-17 10:27] helendallas commented on #1888
@dimasciput
This applies to CSV files for Invertebrates, and will in the future apply to Algae.
All algal, invertebrate and fish data need to include  'Sampling Method' and 'Broad Biotope', 'Specific Biotope' and 'Substratum'.

[2020-02-17 10:32] dimasciput commented on #1826
Hi @helendallas please put this in top priority in ready column https://github.com/kartoza/django-bims/projects/3#card-33214225, I will finish this before others. This will take half to full day to finish.

[2020-02-17 10:33] jeremyshelton commented on #1855
@dimasciput the user has contacted us again. He still cant download the CSV. What he wants is to download a csv file of all the SASS records. This should be possible, right?
@helendallas @timlinux

[2020-02-17 10:36] helendallas commented on #1819
@dimasciput We need to see these categorical variables before the Continuous variables populated with dropdown/predicted text?  In the Add Abiotic data form, please.  We need to be able to add Abiotic Data to existing Sites as well as new Sites.
@jeremyshelton

Categorical variables populated with a dropdown list | Dropdown list

Water surface width : <1; 1-2; 2-5; 5-10; 10-20; 20-50; 50-100; >100

[2020-02-17 10:40] dimasciput commented on #1855
it's not unfortunately, it's too big that's why we paginate the data in the dashboard. check here : http://freshwaterbiodiversity.org/sass/dashboard-multi-sites/?taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=[%22validated%22]&sourceCollection=[%22fbis%22]&a

[2020-02-17 10:47] helendallas commented on #1855
@dimasciput
Given the time this will take, I will provide an old spreadsheet to the user so that you dont use up your time on this Dimas.
@Aneri16 please take note

[2020-02-17 10:56] helendallas commented on #537
Closed via #1217

[2020-02-17 10:58] helendallas commented on #1523
@jeremyshelton
Has this been resolved as per your ticket. If yes, please close the ticket.

[2020-02-17 10:59] helendallas commented on #1623
@jeremyshelton
I think this has been resolved. Please close ticket if you agree.

[2020-02-17 11:09] helendallas commented on #1183
@dimasciput Common names are visible in search again - they should not be as per this ticket

![image](https://user-images.githubusercontent.com/45286876/74648609-b1486280-5186-11ea-97e1-d65757977e4b.png)

[2020-02-17 11:33] helendallas commented on #1845
@dimasciput @jeremyshelton
I have manually edited these sites and reassigned ownership to Christa Thirion, which is correct.  I ma closing this ticket now.

[2020-02-17 11:33] #1845 closed

[2020-02-17 11:38] jeremyshelton commented on #1523
@helendallas this has been partially addressed, in that a 'filter by occurrances'  functionality has been added, which is very useful. It would also be great to filter by 'site visits', so the user can see ho many times the site was sampled. You will see in the above thread that I asked for your input on this? Thoughts?

[2020-02-17 14:56] helendallas opened #1896 "Flat Pages"
At the moment the Flat Pages cannot be accessed. The following error message is received
![Screenshot_2020-02-17 500 - Server Error](https://user-images.githubusercontent.com/45286876/74664184-e9ab6900-51a5-11ea-9936-889fc22d6948.png)

It would be really useful or FRC to be able to edit the screen that shows when you land on our FBIS page. This is important from a sustainability perspective as it

[2020-02-17 15:00] helendallas commented on #1870
Agree. I will shift to FBIS V4

[2020-02-17 15:11] helendallas commented on #1869
@dimasciput @jeremyshelton
Apologies - I deleted your comment Jeremy, Dimas please deploy to live site. This is really important as users are already using the data and a negative longitude is problematic. The issue of Collector/Owner should be sorted at the same time.  It should not be FBIS, but rather that as per the spreadsheet

[2020-02-17 15:16] helendallas commented on #1523
@jeremyshelton @dimasciput
I agree to allow users to be able to see the number of times a site has been sampled, it would be good to have site visits as one of our currencies. Dimas suggested doing for version 4?  Is this feasible?

[2020-02-17 15:30] helendallas commented on #1620
@jeremyshelton Have the Outstanding fish dashboard tickets been addressed? - if yes, then lets close this ticket as the algal dashboard should have its own one in Epic: Version 4

[2020-02-17 22:51] dimasciput commented on #1895
@timlinux this is actually pretty complicated, will probably take 1 day

[2020-02-18 05:07] jeremyshelton commented on #1855
OK thank @dimasciput for the update and @helendallas for addressing the request...

[2020-02-18 05:11] #537 closed

[2020-02-18 05:14] jeremyshelton commented on #1620
@helendallas yes, these have all now been addressed, and I am closing the ticket.
@dimasciput

[2020-02-18 05:14] #1620 closed

[2020-02-18 05:16] #1873 closed

[2020-02-18 05:28] dimasciput commented on #1854
@jeremyshelton can you check this again, I already updated the data source

[2020-02-18 06:00] helendallas commented on #1895
@dimasciput    Noted - It is very important from a system perspective and long term sustainability. So please add it to you "to do" list, thanks

[2020-02-18 06:32] jeremyshelton commented on #1854
@dimasciput @helendallas yes, thanks Dimas - this looks good now. Closing ticket.

[2020-02-18 06:32] #1854 closed

[2020-02-19 12:08] helendallas opened #1897 "Validation Status"
At the moment only Validated data is shown as the default. I just had a user saying he has added data but cant see his site. The site is only visible once the Non Validated box is ticked.

My preference is for the default to be: All boxes ticked - Valildated, Non Validated, SASS Accredited and NON SASS Accredited.  That way when a user adds data it will be immediately visible and can then be edite

[2020-02-19 13:18] helendallas opened #1898 "Geocontext data not visible on Live Site"
A user added SASS data - geo context data did not appear after saving.
@NyakudyaA Please can you check why?
@dimasciput

![Screenshot_2020-02-19 FBIS Map](https://user-images.githubusercontent.com/45286876/74837768-e7bee280-532a-11ea-8d80-6d741e3b757a.png)

![Screenshot_2020-02-19 FBIS Single Site Dashboard - SASS(1)](https://user-images.githubusercontent.com/45286876/74837870-1c329e80-532b-11ea-8

[2020-02-19 13:20] helendallas commented on #1898
![image](https://user-images.githubusercontent.com/45286876/74837915-366c7c80-532b-11ea-99dc-3234a695c93a.png)

Sorry neither download or image seems to be displayed  - catchments, management areas, ecoregions and provinces are all listed as Undefined.

[2020-02-19 13:44] dimasciput commented on #1898
@helendallas please also paste the link, so it's easier for us to check the bug. If this is a new site, it might take some time to get all data from GeoContext.

[2020-02-19 13:54] helendallas commented on #1898
@dimasciput
I cant see how to copy the link when I am on the SASS dashboard. Yes it is a new site. I will check again later

[2020-02-19 13:55] helendallas commented on #1898
http://freshwaterbiodiversity.org/sass/dashboard/31388/?taxon=&search=A2APIE-ERASM&siteId=31388&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=[%22validated%22]&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=31388&orderBy=name

[2020-02-19 14:42] timlinux commented on #1897
Can we hold this over to next week so @dimasciput can focus on the Biobase stuff otherwise the poor chap is going to be trying to deal with too many different issues at once?

[2020-02-19 14:44] timlinux commented on #1898
Yes you can see it populating now:

![image](https://user-images.githubusercontent.com/178003/74845012-403fb100-5326-11ea-9bd8-77eb59900c48.png)

In order to make that instant, we would need to do some performance tuning on the geocontext side.

[2020-02-19 14:44] timlinux commented on #1898
I guess the WMS's are still coming in...

[2020-02-19 14:47] timlinux commented on #1896
Were you using this link @helendallas ?

https://freshwaterbiodiversity.org/admin/flatpages/flatpage/

BTW @dimasciput I see the admin menu link takes you to non ssl equivalent of the above when you go to admin.

@helendallas can you confirm you are logged in when trying to open flatpages?
And can you confirm which user you were logged in as - I will check the permissions.

Regards

Tim

[2020-02-19 14:57] helendallas commented on #1896
@timlinux Yes I was logged in , helen@frcsa.org.za I am a superuser, just checked now and same error message.

[2020-02-20 06:09] dimasciput commented on #1898
Yes the water management area from geocontext is broken, I already asked @NyakudyaA about this.
The link https://geocontext.kartoza.com/api/v1/geocontext/value/group/28.2409948111/-25.8186723606/water_management_area/

[2020-02-20 07:16] NyakudyaA commented on #1898
I have fixed it @dimasciput

[2020-02-20 08:45] NyakudyaA commented on #1877
@jeremyshelton cc @timlinux This is not a bug. This is the way the data shows from upstream. Data Source http://www.dwa.gov.za/iwqs/gis_data/ecoregions/get-ecoregions.aspx

The actual layer http://www.dwa.gov.za/iwqs/gis_data/ecoregions/lev2-0105.zip

![attributes](https://user-images.githubusercontent.com/2510900/74916170-0f1abb80-53ce-11ea-85dc-aba9ae226935.png)

If you have a better source for

[2020-02-20 11:26] dimasciput commented on #1826
- Updated the script to import sass validation status to correctly map the sass accreditation date
- Updated the search function, to filter collection records by SASS accreditation status correctly, now it will compare the date of collection of records with the owner's SASS accreditation date.

[2020-02-20 11:26] dimasciput commented on #1826
![image](https://user-images.githubusercontent.com/1979569/74929618-7a847d80-540e-11ea-8e6d-7fcf84107627.png)
Data sample for cross checking between database from riversdb and application database.

[2020-02-20 12:00] dimasciput commented on #1898
@helendallas please check the dashboard again

[2020-02-20 16:25] helendallas commented on #1898
@dimasciput All populated now, thanks

[2020-02-20 16:25] #1898 closed

[2020-02-20 16:50] helendallas commented on #1826
@dimasciput I ma not sure where to check this. If I look up in People/Users on Admin, then the accreditation is different to what is above.
e.g.
![Screenshot_2020-02-20 Change user Django site admin](https://user-images.githubusercontent.com/45286876/74956824-5ecda700-540f-11ea-8db3-51dc8ed9e128.png)

It is quite hard for me to check on the original Rivers DB.
This is perhaps something that will a

[2020-02-20 18:07] NyakudyaA commented on #1731
@timlinux For layers like NFEPA Wetlands they have attributes that are not populated but the metadata explains what each attribute means. Should I not show them in the getfeature info?

[2020-02-20 21:07] dimasciput commented on #1826
@helendallas it's in the live site, I updated live site directly, http://freshwaterbiodiversity.org/admin/people/profile/1518/change/?_changelist_filters=q%3DHelen%26o%3D3.1

[2020-02-21 03:32] dimasciput commented on #1887
@helendallas @jeremyshelton @timlinux

After investigating from the rivers db, actually there are 52 occurrences with different taxon names :

SiteCode|BioDate|Abundance|Taxon                    |
--------|-------|---------|-------------------------|
BREE01  |1975.03|         |Adenophlebia sp.         |
BREE01  |1975.03|         |Aeschna sp.              |
BREE01  |1975.03|         |Afronurus sp.

[2020-02-21 03:39] dimasciput commented on #1887
And this is from the fbis site :

SiteCode|BioDate|Abundance|Taxon                    |
--------|-------|---------|-------------------------|
| BREE01 | 1975-03-01 | None | Adenophlebia sp. |
| BREE01 | 1975-03-01 | None | Aeschna sp. |
| BREE01 | 1975-03-01 | None | Afronurus sp. |
| BREE01 | 1975-03-01 | 7.4 | Ancylidae |
| BREE01 | 1975-03-01 | 33.1 | Annelida |
| BREE01 | 1975-03-01 | 0.2 | Au

[2020-02-21 03:43] dimasciput commented on #1887
Let's discuss it at the meeting

[2020-02-21 03:47] jeremyshelton commented on #1877
<img width="282" alt="Screenshot 2020-02-21 at 05 45 02" src="https://user-images.githubusercontent.com/44292029/75002520-5efc8f80-546d-11ea-9f7c-c9f209a91a3e.png">

@NyakudyaA seems like a strange set of ecoregion names for 'Ecological Region 2'......but if that is correct, then that's fine.

Also, can you confirm that 'Ecological Region' the correct terminology for these drawers?

Thanks

[2020-02-21 04:10] dimasciput commented on #1783
@helendallas I have updated the data, please check the site again : /map/#search/BRG02/taxon=&search=BRG02&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=["validated"]&sourceCollection=["fbis"]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=27679&polygon=

[2020-02-21 06:26] helendallas commented on #1887
@dimasciput @timlinux @jeremyshelton
The table above includes all taxa recorded at the Coetzer 1986 study , whether present or not at BREE01.  Biobase included absence data as well as presence data. Therefore it was really important to use the column PRESENT in the table dbo_BioSiteVisitBioBiotopeTaxon. Only taxa where Present = 1 were present at the site/sampling date.

So where the abundance is

[2020-02-21 06:36] dimasciput commented on #1887
We couldn't do this manually for every records, so the formula then if present is 0 then don't import the data to our database? Ok I'll remove all the data with Present 0 then.

[2020-02-21 06:40] helendallas commented on #1887
@dimasciput  - that is correct dimas. Thanks

[2020-02-21 06:41] NyakudyaA commented on #1877
cc @dimasciput
I think it should be renamed `Ecoregion level 1` and `Ecoregion level2`

[2020-02-21 06:56] helendallas commented on #1783
@dimasciput
BRG01 is correct, but other sites are not. For example:

From the Biobase derived spreadsheet
Coetzer A. | 1982 | OL03A | Mountain stream | OLIFANTS   (CAPE) | Olifants | -32.622780 | 19.085000 | **-32.568095 | 19.022101**

Bold is the corrected lat long.

http://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=OL03A&siteId=27948&collector=&category=&yearFrom=&yearTo=&months=&

[2020-02-21 07:01] dimasciput commented on #1783
@helendallas oh yea, what you sent me in the first comment only had 50 sites. Ok I'll update it again.

[2020-02-21 07:08] dimasciput commented on #1783
@helendallas please check it again

[2020-02-21 07:40] NyakudyaA commented on #1807
@jeremyshelton Here is the layer https://maps.kartoza.com/geoserver/kartoza/wms?service=WMS&version=1.1.0&request=GetMap&layers=kartoza:nba_2018_rivers&styles=&bbox=15.9057273864746,-34.796329498291,34.0566444396973,-19.8364105224609&width=768&height=632&srs=EPSG:4326&format=application/openlayers
The metadata from sanbi link has dissapeared.

In which spatial drawer would you like this to show up

[2020-02-21 07:40] helendallas commented on #1783
@dimasciput Geozones and lat longs look good now.

One question is the Original River Name and River don't seem correct.  The Original River Name needs to be populated from the **Original River Name** column in the same spreadsheet.  Then the River is derived from the Rivers spatial layer.

The rationale for this is we need to use the spatial Rivers layer for assigning the River, but don't want to

[2020-02-21 07:43] helendallas commented on #1807
@jeremyshelton PLease can we chat about this and get our duck in a row before Admire adds

[2020-02-21 07:48] jeremyshelton commented on #1877
@dimasciput @NyakudyaA agreed

[2020-02-21 07:49] dimasciput commented on #1783
@helendallas but the name of the original river is the same as the one from xls

![image](https://user-images.githubusercontent.com/1979569/75014625-503bca00-54b9-11ea-8938-a67aaad2cc7f.png)

[2020-02-21 07:55] dimasciput commented on #1610
we have abiotic data form, it just we need to add new collection/sass record before go to abiotic form

[2020-02-21 07:56] helendallas commented on #1783
@dimasciput
Okay then the River is wrong......because the OLIFANTS (CAPE) is from the the Biobase column RiverName, but should be grabbed from the Rivers spatial coverage? right?

RiverName                       | Original River Name
OLIFANTS (CAPE)             | Olifants

[2020-02-21 07:56] NyakudyaA commented on #1856
@jeremyshelton https://maps.kartoza.com/geoserver/kartoza/wms?service=WMS&version=1.1.0&request=GetMap&layers=kartoza:river_management_unit&styles=&bbox=17.6313629150391,-34.834659576416,23.7189140319824,-29.8078689575195&width=768&height=634&srs=EPSG:4326&format=application/openlayers

Is there metadata as well for this?
This seems to be for WC only. Also, let me know which spatial drawer you nee

[2020-02-21 07:57] dimasciput commented on #1783
@helendallas Okay, I will run the script to fetch from geocontext, it might take couple days because there are lot of sites.

[2020-02-21 08:05] dimasciput commented on #1783
Actually, not a lot, just 600 because it only for BioBaseData, should be quick

[2020-02-21 08:09] helendallas commented on #1610
@dimasciput
But what happened to the
Categorical variables populated with a dropdown list | Dropdown list

Water surface width : <1; 1-2; 2-5; 5-10; 10-20; 20-50; 50-100; >100 m
Water level : Dry, Isolated pools, Low flow, Moderate flow, High flow, Flood
Water turbidity : Clear, Discoloured, Opaque, Silty
Canopy cover : Open, Closed, Partially Open
Embeddeddness : 0-25, 26-50, 51-75, 76-100

All w

[2020-02-21 08:12] dimasciput commented on #1610
@helendallas yes haven't added that, because I was thinking that was for version 3. Can we please close this ticket then, and continue the discussion to other ticket instead.

[2020-02-21 08:13] helendallas commented on #1783
@dimasciput Thanks

[2020-02-21 08:23] helendallas commented on #1610
@dimasciput Okay, will do.  To confirm -  has the data in the Categorical variables above been imported from Rivers Database -  but are currently not show yet?  If this is the case then I will close the ticket as the data will be visible one Add Abiotic data form #1819 is done - Do I understand this correctly?

[2020-02-21 08:31] dimasciput commented on #1610
@helendallas yes, for example: http://freshwaterbiodiversity.org/admin/sass/sitevisit/137/change/?_changelist_filters=p%3D111,
![image](https://user-images.githubusercontent.com/1979569/75017268-3c936200-54bf-11ea-96e8-986abeddb55c.png)

[2020-02-21 08:37] dimasciput commented on #1783
@helendallas can you check the dashboard again please? It should have been updated with data coming from geocontext.

[2020-02-21 08:41] jeremyshelton commented on #1807
@NyakudyaA I will ask Nancy to resend the metadata. In the meantime, would you mind acting the layer to this folder on dropbox:http://filegooi.co.za/get2/f48139cb1aecc49a944062a0b15010a9/NBA2018_Rivers_Final_Sep2019.zip

[2020-02-21 08:48] dimasciput commented on #1894
@Janette-Lumley @helendallas I can open the form with Janette account, can you check the form again?

[2020-02-21 08:58] dimasciput commented on #1894
Ah sorry I see my mistake, found the error, fixing it now.

[2020-02-21 09:19] helendallas commented on #1287
http://freshwaterbiodiversity.org/admin/flatpages/flatpage/1/change/

[2020-02-21 09:38] timlinux opened #1901 "User clean up"
Anyone from Rivers DB that is registered as a user but does not own any data can be deleted.
**Users that have registered on FBIS should not be deleted.**
All lower case names should merge into the upper case names.

![Screenshot 2020-02-21 at 09 37 26](https://user-images.githubusercontent.com/178003/75022356-d8a47580-548d-11ea-9977-cccb539a12c2.png)

CC @helendallas

[2020-02-21 09:39] timlinux commented on #1901
Note for FRC staff:

If users email have changed, just overwrite their user email in their old account rather than creating a new one.

![image](https://user-images.githubusercontent.com/178003/75022487-12757c00-548e-11ea-860e-6360ef1bfaf8.png)

[2020-02-21 09:41] dimasciput commented on #1901
[code]

[2020-02-21 10:13] timlinux opened #1902 "We need a simple spreadsheet uploader"
**Two phases:**

**Phase 1:**

* Just a simple button with a link to the template spreadsheet
* FRC to add a header row in the sheet with detailed notes (or maybe we can do this in a new flatpage) for each column's requirements
* FRC to add dropdowns etc. for columns e.g. for geomorphological zones to ensure data is captured cleanly
* user sends spreadsheet to FRC who then liaise with Kartoza to m

[2020-02-24 01:35] #1894 closed

[2020-02-24 01:36] dimasciput commented on #1894
@Janette-Lumley please test it again, thanks.

[2020-02-24 01:43] dimasciput commented on #1610
closing this ticket, the data has been imported but still not displayed. Continue to https://github.com/kartoza/django-bims/issues/1819

[2020-02-24 01:43] #1610 closed

[2020-02-24 02:21] dimasciput commented on #1883
@helendallas please test it again

[2020-02-24 05:53] Janette-Lumley commented on #1894
@dimasciput works great, thanks!

[2020-02-24 10:28] jeremyshelton commented on #1858
@dimasciput new batch of fish data incoming Friday. Approx 2500 records, mostly Non-native species. We will let you know when it is ready...

[2020-02-24 10:45] helendallas commented on #1783
@dimasciput
Rivers Names and Geomorphological zones all look correct now, thanks. Before I close this ticket please can you comment on why the other geocontext data below is not being populated. Water Management Area, Sub WMA, Province, Freshwater Ecoregion

![Screenshot_2020-02-24 FBIS Map](https://user-images.githubusercontent.com/45286876/75146287-75237d80-5703-11ea-8380-9241c012e521.png)

[2020-02-24 10:51] helendallas commented on #1783
http://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=27812&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22143%22]&endemic=&conservationStatus=[]&modules=21&validated=[%22validated%22]&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=27812&orderBy=-name&polygon=

[2020-02-24 10:52] helendallas commented on #1883
@dimasciput
Geomorphological zones now showing but other geocontext data missing:
see ticket #1783

Link:
http://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=E1ROND-00153&siteId=30688&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=[%22validated%22]&sourceCollection=[

[2020-02-24 11:31] dimasciput commented on #1883
@helendallas I will run the script again to fetch all missing geocontext, I only fetched geomorphological zone for this ticket.

[2020-02-24 11:38] helendallas commented on #1874
@dimasciput
I think this is bacause of different names imported from Biobase and Rivers Database. How is the best way to update this Dimas?

Should I provide a list of Biobase Abiotic data names, with the corrected names in a new column.

[2020-02-24 11:43] dimasciput commented on #1874
@helendallas yes, I think that will be great, thanks.

[2020-02-24 11:44] helendallas commented on #1874
@dimasciput Okay, I will work on this later, and send

[2020-02-24 11:45] helendallas commented on #1861
@dimasciput I will provide an new file for this . Please wait for now

[2020-02-24 12:12] dimasciput commented on #1872
can you test it in live site @jeremyshelton ?
![image](https://user-images.githubusercontent.com/1979569/75151570-943d0200-5739-11ea-9e65-0d132178c6c6.png)
 I made the checkbox always on.

[2020-02-24 14:32] dimasciput commented on #1217
Please try it here : http://testing.healthyrivers.kartoza.com/sass/dashboard/10206/?taxon=&siteId=10206&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=%5B%5D&modules=&validated=%5B%22validated%22%5D&sourceCollection=&ecologicalCategory=

This is still only implemented for single site SASS dashboard

[2020-02-24 16:07] NyakudyaA commented on #1731
@dimasciput Is it easier for you to convert the GF responses for column names to title case because natively PostgreSQL has all the columns in lower case and here is an example of a tidy GF response
![name-gf-response](https://user-images.githubusercontent.com/2510900/75168982-6ef7c600-5730-11ea-9b48-3565b2fa48cd.png)

[2020-02-25 02:58] #1886 closed

[2020-02-25 08:09] dimasciput commented on #1877
Updated in live site

[2020-02-25 08:15] dimasciput commented on #1876
@jeremyshelton can you check it again?

[2020-02-25 08:23] dimasciput commented on #1819
@helendallas @jeremyshelton
Updated on testing : http://testing.healthyrivers.kartoza.com/abiotic/?survey=2

Will deploy to live site on the weekend, since it will make the site down.

[2020-02-25 08:24] dimasciput commented on #1885
@helendallas updated on testing site : http://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=A2APIE-BRIDG&siteId=10154&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=[%22validated%22]&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOp

[2020-02-25 08:38] helendallas commented on #1874
@dimasciput

[Master List of Abiotic Data Variables with FBIS Names and Validation Limits 2020_02_25.xlsx](https://github.com/kartoza/django-bims/files/4248856/Master.List.of.Abiotic.Data.Variables.with.FBIS.Names.and.Validation.Limits.2020_02_25.xlsx)

Okay, so I have created a spreadsheet of original Biobase and Rivers Database Name **(Biobase or Rivers Database_Description**), with the proposed

[2020-02-25 09:54] #1878 closed

[2020-02-25 10:12] dimasciput commented on #1878
Please test it on the testing server.

[2020-02-25 10:19] helendallas commented on #1878
@dimasciput Checked - all good.

[2020-02-25 10:27] helendallas commented on #1887
@dimasciput @timlinux

It looks like all duplicates have been removed.

One issue I am noting is that not all taxa are returned in FBIS compared to original Biobase. There are different reasons including:

Genus Hydracarina in Biobase - is returned as Panisus michaeli Koenicke, 1896 in FBIS
Wrong GBIF Name being returned

Where species dont exist in GBIF, then only Genus returned (e.g. Centroptilu

[2020-02-25 11:12] jeremyshelton commented on #1807
@NyakudyaA here is the new link:https://bgis.sanbi.org/SpatialDataset/Detail/3697
Also PDF attached:
[NBA2018_Rivers_metadata.pdf](https://github.com/kartoza/django-bims/files/4249660/NBA2018_Rivers_metadata.pdf)

[2020-02-25 11:28] jeremyshelton commented on #1856
@NyakudyaA @dimasciput
The River Management Unit (RMU) Layer should include only the RMU column:
<img width="778" alt="Screenshot 2020-02-21 at 10 55 02" src="https://user-images.githubusercontent.com/44292029/75243381-78d20580-57d2-11ea-84d6-362ca00e46f3.png">

...and sit should be the third drawer in the Management area tab:
<img width="283" alt="Screenshot 2020-02-25 at 13 23 02" src="https://u

[2020-02-25 11:40] jeremyshelton commented on #1856
It is correct that the RMUs are only for the WC only. Here are the metadata and other relevant info from Nancy:

[2020-02-25 12:02] jeremyshelton commented on #1807
@NyakudyaA @dimasciput Present Ecological State (PES) Needs it's own (new) drawer in the 'Spatial' filters tab

[2020-02-25 12:10] jeremyshelton opened #1913 "We need a dams layer"
@NyakudyaA can we add a layer for SA dams?

[2020-02-25 12:12] NyakudyaA commented on #1913
We already have it, you can just specify where you need the layer to be added. As a map layer, spatial filter?

https://maps.kartoza.com/geoserver/kartoza/wms?service=WMS&version=1.1.0&request=GetMap&layers=kartoza:dams500g&styles=&bbox=18.3333282470703,-34.7518119812012,32.8811225891113,-22.1872138977051&width=768&height=663&srs=EPSG:4326&format=application/openlayers

[2020-02-25 12:15] jeremyshelton commented on #1913
Cool. I think just as a map layer. thanks

[2020-02-25 13:22] NyakudyaA commented on #1913
This has been added in live site
![dams](https://user-images.githubusercontent.com/2510900/75251110-9b6c1a80-57e2-11ea-8750-aaf4040b05ed.png)

[2020-02-25 13:22] #1913 closed

[2020-02-25 14:08] NyakudyaA commented on #1856
I have added this as noted
![river-management](https://user-images.githubusercontent.com/2510900/75254404-fef94680-57e8-11ea-8fad-4b0c88e0f5b8.png)

[2020-02-25 14:13] NyakudyaA commented on #1807
I do not have access to that dropbox but can you check it out here http://filegooi.co.za/get2/a986e926465159781ae032da5b882a53/NBA2018_Rivers.zip. Which

[2020-02-25 14:38] NyakudyaA commented on #1860
@jeremyshelton The Lada land use is the most current layer we have, it comes from the following URL
http://www.sasdi.net/metaview.aspx?uuid=6ae256e56930a9d325f963592325211c If you have any other layer please indicate so

[2020-02-25 14:47] NyakudyaA commented on #1807
@jeremyshelton I do not see the Present Ecological State (PES) layer anywhere. Please send me the link to it

[2020-02-25 14:51] NyakudyaA opened #1914 "Investigate why they are multiple repeated values for geomeophological zone in spatial filter"
# problem

When doing spatial filter you can see they are repeated values here.
![spatial-filter](https://user-images.githubusercontent.com/2510900/75258402-10dde800-57ef-11ea-8a28-04c8acdc75e8.png)

[2020-02-25 15:33] NyakudyaA commented on #1914
@dimasciput I am not sure why we have duplicated values from the above. In the DB it looks fine
![no-repetition](https://user-images.githubusercontent.com/2510900/75262180-d119ff00-57f4-11ea-9dd9-a12b26205573.png)

[2020-02-25 16:12] NyakudyaA commented on #1698
| Filter        | Status    |
| ------------- |:-------------:|
|Geomorphological zone      | Not working |
| Freshwater ecoregion of the world    | working      |
| Province | Working   |
| Management Area| Working   |
| Catchment | Working   |
| Ecoregion level 1 | Fixed - now works   |
| CBA national (all) | Working   |
| CBA Provincial (working but missing WC) | Working   |
| NFEPA | Working

[2020-02-25 16:15] NyakudyaA commented on #1866
@dimasciput is there anything that you would like from me for this to happen. I guess it's just adding the rivers layer as part of that base map and users can click to get the river name.

[2020-02-26 01:29] dimasciput commented on #1887
@helendallas yes I think so, thanks

[2020-02-26 01:30] dimasciput commented on #1897
@helendallas I will set all boxes unchecked instead, so it will get all data.

[2020-02-26 01:32] dimasciput commented on #1519
@NyakudyaA any updates for this?

[2020-02-26 02:08] dimasciput commented on #1874
@helendallas thanks for the list, I will try to incorporate it to the site.

Yes, please make a separate ticket for the to-do list.

[2020-02-26 02:19] dimasciput commented on #1874
Hi @helendallas , we can't use this format :
![image](https://user-images.githubusercontent.com/1979569/75305417-99549b00-5878-11ea-94df-f1aefb7e719a.png)
It will have a problem when exporting the data to csv. Do you have an alternative?

[2020-02-26 04:52] dimasciput commented on #1183
`python manage.py update_fish_species_data`

[2020-02-26 06:20] dimasciput commented on #1183
Please check it in testing server

[2020-02-26 06:40] #1897 closed

[2020-02-26 06:42] #1884 closed

[2020-02-26 06:44] NyakudyaA commented on #1519
Hi @dimasciput It's currently working here https://maps.kartoza.com/kartoza/ with the layers coming from http://maps.kartoza.com:8280/ows/?map=kartoza/basemap.qgs
I am still struggling with some Nginx config so that it can run under ssl

[2020-02-26 07:28] #1866 closed

[2020-02-26 08:12] #1881 closed

[2020-02-26 08:15] dimasciput commented on #1881
http://testing.healthyrivers.kartoza.com/sass/dashboard/10425/?siteId=10425

[2020-02-26 08:57] jeremyshelton commented on #1874
@dimasciput @helendallas

Alternative format: mg/l

[2020-02-26 09:10] dimasciput commented on #1217
[code]

[2020-02-26 09:12] timlinux commented on #1217
[chart.zip](https://github.com/kartoza/django-bims/files/4254533/chart.zip)

[2020-02-26 09:45] timlinux commented on #1217
Note we walked through this with @jeremyshelton and our preferred approach is to download the chart as an SVG and advise the user to open the SVG in word. It gives a really nice product and is easy for users to follow.

@helendallas please confirm if this works for you.

[2020-02-27 07:33] helendallas opened #1921 "Added new data - Study Reference and Abiotic data not showing"
@dimasciput Please can you check why Mwangi is not showing in study reference and abiotic data added is not visible.  Perhaps something is not automatically being updated/collected. Aneri completed this data on monday.  It is visible on the Invertebrate dashboard, but not the SASS dashboard.
@Aneri16

http://freshwaterbiodiversity.org/sass/dashboard/27283/?taxon=&search=&siteId=27283&collector=%5B

[2020-02-27 07:39] helendallas opened #1922 "Selection of biotic and abiotic data"
@dimasciput When I click the Invertebrate Module - 3026 sites show up, when I then tick the Abiotic box, only 7 sites are shown.

![Screenshot_2020-02-27 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/75422226-c2426200-5944-11ea-8449-ac837ba2d4d0.png)

![Screenshot_2020-02-27 FBIS Map](https://user-images.githubusercontent.com/45286876/75422186-b0f95580-5944-11ea-9dac-24eebec2ba66

[2020-02-27 08:00] helendallas commented on #1874
@dimasciput correct mg/l; also mS/m -  essentially wherever there is a -1, it can become /

[2020-02-27 08:01] helendallas opened #1923 "Abiotic data Form"
@dimasciput

On the abiotic form - is it possible to rather provide all the FBIS Abiotic Continuous variables as you have done the fish species lists, rather than as a dropdown.

**Variable (unit) (listed alphabetically) ; Measured (as a tick box) ; Value (to be filled in)**

[2020-02-27 08:07] helendallas commented on #1183
@dimasciput Common names still visible in testing site.  Seems to be fish only.

In Live site invertebrate and fish common names visible

[2020-02-27 08:19] helendallas commented on #1881
@dimasciput dimensions better but can you please make background white not gray

[2020-02-27 08:28] helendallas commented on #1217
@timlinux @dimasciput @jeremyshelton

As long the graphs look the same as what is displayed on the dashboard and the quality is good enough to include in reports, I am happy. If it is clear to users how to download and paste into their reports - it should be fine.

[2020-02-27 09:16] dimasciput commented on #1183
@helendallas yes this is only for testing now, the common name comes from the master list provided by fbis, should I just delete all the common names?

[2020-02-27 09:25] helendallas commented on #1183
@jeremyshelton Please read string and confirm - we don't want to display common names on FBIS.
But do we want to delete from Master list?   I am not including common names for invertebrates.  If this is the only way to exclude common names from FBIS then we will have to delete it. @dimasciput ?

[2020-02-27 09:29] dimasciput commented on #1183
@helendallas we don't need to delete it if you want, I could just hide it from the search results. My thinking is that common names are important if they come from fbis master list.

[2020-02-27 09:32] helendallas commented on #1183
@dimasciput for consistency lets hide for now, thanks

[2020-02-28 02:36] dimasciput commented on #1866
@helendallas @jeremyshelton the river is visible now http://testing.healthyrivers.kartoza.com/location-site-form/update/?id=8288

[2020-02-28 02:36] dimasciput commented on #1881
@helendallas updated, please check it again thanks.

[2020-02-28 03:58] dimasciput commented on #1896
fixed in testing

[2020-02-28 05:32] jeremyshelton commented on #1807
Is the PES layer not in here:  http://filegooi.co.za/get2/a986e926465159781ae032da5b882a53/NBA2018_Rivers.zip ?

That what was sent to us by SANBI. It is also in the Kartoza dropbox folder...

[2020-02-28 05:53] jeremyshelton commented on #1183
@helendallas @dimasciput OK sure, agreed - if we can hide all common names, that's probably the best solution for now 👍

[2020-02-28 06:11] jeremyshelton commented on #1866
@dimasciput thanks, looks good to me 👍

[2020-02-28 06:11] dimasciput commented on #1888
Fixed in testing - https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=Pseudobarbus%20burgi&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=[%22validated%22]&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy=name

[2020-02-28 07:13] NyakudyaA commented on #1877
@jeremyshelton to check ecoregions 2 labels with dwa

[2020-02-28 07:15] NyakudyaA commented on #1863
The current map is visible from https://maps.kartoza.com/kartoza/

[2020-02-28 07:22] dimasciput commented on #1863
@NyakudyaA is it ready to use now?

[2020-02-28 07:27] jeremyshelton commented on #1807
@NyakudyaA priority attributes and fields from the NBA 2019 layers:
<img width="567" alt="Screenshot 2020-02-28 at 09 26 28" src="https://user-images.githubusercontent.com/44292029/75519713-8a065680-5a0c-11ea-9511-e40f094c7c76.png">

[2020-02-28 07:31] NyakudyaA commented on #1807
To add in its own drawer in the spatial filters. @NyakudyaA to split the NBA layer to generate those different types and populate them in geocontext

[2020-02-28 07:37] jeremyshelton commented on #1731
@jeremyshelton to check 'get feature info' fields reported for each layer and tell @NyakudyaA which to retain

[2020-03-01 03:17] #1519 closed

[2020-03-01 08:22] jeremyshelton opened #1931 "User experience: navigating map and visualising spatial layers"
@dimasciput @timlinux @NyakudyaA the following came to my attention when exploring the map and spatial layers/filters:
1. On the map, can we use a double-click to zoom in and a right click on the layer to show layer properties? (at the moment a double click seems to do both, which is confusing?)
2. To me it still seems odd to not see the actual spatial layer on the map when a filter is selected. T

[2020-03-01 08:38] jeremyshelton opened #1932 "Ecoregion 2 layer not showing on map"
@dimasciput @NyakudyaA when I select the Ecoregion level 2 layer it does not show on the map

<img width="1440" alt="Screenshot 2020-03-01 at 10 36 47" src="https://user-images.githubusercontent.com/44292029/75622426-a8a15480-5ba8-11ea-876f-65eff6756a5a.png">

[2020-03-01 08:44] jeremyshelton opened #1933 "Strategic water source areas layer - all areas showing the same colour"
@dimasciput @NyakudyaA

Surely each of the different water source areas should show a different colour?
<img width="1440" alt="Screenshot 2020-03-01 at 10 41 00" src="https://user-images.githubusercontent.com/44292029/75622478-5ca2df80-5ba9-11ea-9e30-73ebebbc3ce8.png">

I would expect to see something more like this:
<img width="461" alt="Screenshot 2020-03-01 at 10 43 27" src="https://user-images

[2020-03-01 08:49] jeremyshelton commented on #1877
@NyakudyaA can you check if the correct labels can be found here: http://www.sasdi.net/metaview.aspx?uuid=6e4f618a622bec48a6b01ab3b23dac8f&dlonly=true

[2020-03-01 08:55] jeremyshelton opened #1934 "Strange-looking tables for NFEPA fish sanctuaries"
@NyakudyaA @dimasciput the layers in these spatial filter drawers look odd?

<img width="280" alt="Screenshot 2020-03-01 at 10 52 26" src="https://user-images.githubusercontent.com/44292029/75622601-eb642c00-5baa-11ea-819a-0d6750bcc424.png">
<img width="253" alt="Screenshot 2020-03-01 at 10 52 34" src="https://user-images.githubusercontent.com/44292029/75622600-e99a6880-5baa-11ea-85ae-8aefe2b11fc3

[2020-03-01 10:38] jeremyshelton commented on #1731
@helendallas I have started looking through the different layers and noting which rows I think we should show the user in the 'get feature info' pop up. However, to complete this task I think we might need go through some of these together...

[2020-03-01 11:01] NyakudyaA commented on #1933
@jeremyshelton here is the list of attributes for the layer.
![attributes](https://user-images.githubusercontent.com/2510900/75624164-7dbffc00-5bba-11ea-8064-b341ed18b462.png)

I have styled it using the name
![areas-surfaces](https://user-images.githubusercontent.com/2510900/75624437-c082d380-5bbc-11ea-8882-7650665c9d6d.png)

[2020-03-01 11:06] jeremyshelton commented on #1863
Thanks @NyakudyaA, looking nice!

A few questions:
1. What are the different polygons?
2. What are the black line boundaries?
3. Personally, I would want to see some landscape relief, clear rivers (scales by thickness, like on the google earth SA river layer, with labels?) and clear dams (also labelled).
4. No river names?
5. Rivers seem quite faint?
6. Names are double if one zoomed in.
<img widt

[2020-03-01 11:11] NyakudyaA commented on #1934
@jeremyshelton same story here with the attributes from upstream
![fish_sanc_all](https://user-images.githubusercontent.com/2510900/75624548-e9579880-5bbd-11ea-9466-77c005972101.png)

![river-condition](https://user-images.githubusercontent.com/2510900/75624554-faa0a500-5bbd-11ea-8960-88f68ad301a5.png)

Maybe we should make a decision not to show the filter with attributes that will be confusing t

[2020-03-01 11:14] NyakudyaA commented on #1877
Same story @jeremyshelton
![same-source](https://user-images.githubusercontent.com/2510900/75624607-9500e880-5bbe-11ea-9df4-e6c539a09976.png)

[2020-03-01 12:21] NyakudyaA commented on #1863
National protected areas

Admin boundaries - Provincial, district etc

I have added them and some of them will only show when zoomed in close to reduce clatter

Will increase their thickness

I will check it and rectify it.

I have update it @jeremyshelton
![rivers](https://user-images.githubusercontent.com/2510900/75625539-caf69a80-5bc7-11ea-8bbe-9986bfa9b99f.png)

[2020-03-01 13:04] NyakudyaA commented on #1807
@dimasciput you can proceed to add this in the spatial filters list:
![river-management-group](https://user-images.githubusercontent.com/2510900/75626168-bfa66d80-5bcd-11ea-9f57-08bcf1c462bd.png)

[2020-03-01 13:19] NyakudyaA commented on #1932
@jeremyshelton this is working now
![fixed](https://user-images.githubusercontent.com/2510900/75626406-ff6e5480-5bcf-11ea-9404-c75f95dd9de7.png)

[2020-03-02 02:34] #1874 closed

[2020-03-02 08:19] jeremyshelton commented on #1858
@dimasciput @timlinux the algae and fish data are in the [dropbox folder](https://www.dropbox.com/sh/3kcxib6ibykh90s/AACBy4-QQG0w03Unmdy0i-_Ba?dl=0) and ready for ingestion.

@dimasciput for the fish data, we have just included a spreadsheet with the new data (i.e. excluding the data that we ingested last time). Is this OK, or would you prefer us to create a new sheet with the old and new data com

[2020-03-02 08:24] jeremyshelton commented on #1933
@NyakudyaA OK thanks. Looks good 👍

[2020-03-02 08:27] jeremyshelton commented on #1934
@NyakudyaA yeah I don't think that is useful for the user & thus may be better to hide. @timlinux thoughts on this?

[2020-03-02 08:33] jeremyshelton commented on #1877
@NyakudyaA @timlinux OK, well if that is correct, then maybe best to rather hide from the users, because those drawers are not meaningful and will just be confusing for the user.

@helendallas I think we need to make a call on which sets of layer attributes we want to make visible to the users? I will make a ticket in the FRC GitHub project for this...

[2020-03-02 08:45] jeremyshelton commented on #1934
@NyakudyaA I would expect that each fish sanctuary would have a code, and that is what we would want to display to the user. Can you confirm that each fish sanctuary does not have a unique code?

[2020-03-02 08:52] jeremyshelton commented on #1932
@NyakudyaA yeah OK thanks for fixing 👍

[2020-03-02 08:59] jeremyshelton commented on #1863
Thanks @NyakudyaA Looking good! A few more moments:

1. Could you include province names on the map
2. Thanks for adding the river lables. Any way to make them a little clearer?
<img width="481" alt="Screenshot 2020-03-02 at 10 54 00" src="https://user-images.githubusercontent.com/44292029/75660776-d8b62980-5c74-11ea-9203-fe813f68c260.png">

3. River names disappear when zoomed in?
<img width="183

[2020-03-02 15:14] helendallas opened #1935 "Master List - Aquatic invertebrates"
@dimasciput

Is it possible to extract the Scientific name and Authority for the taxa in the list - where they are on GBIF, and add it as a new column to my Master spreadsheet. This will allow me to cross check the taxa.

I could carry on editing for another week or so but am aware of the time deadline and don't want to hold the importing of the invertebrate species data up.

Here is the link to t

[2020-03-02 15:40] helendallas opened #1936 "Biobase - Replace Biobase taxon name with Correct Taxon Name"
@dimasciput
In doing the master list I picked up quite a few errors in the Biobase Taxon Names.

Please can you replace the Biobase Taxon Names in the spreadsheet below, with the Correct Taxon Names for FBIS.

[Biobase Taxon Data for Correcting.xlsx](https://github.com/kartoza/django-bims/files/4276231/Biobase.Taxon.Data.for.Correcting.xlsx)

Link: https://www.dropbox.com/s/zlekzjvf1x7c4hy/Biobase

[2020-03-02 17:44] #1933 closed

[2020-03-02 17:59] helendallas commented on #1881
@dimasciput Thanks looks great,

[2020-03-03 01:49] dimasciput commented on #1936
@helendallas I'm not sure what should I do, is the red one the name of the taxon it should be?
 It seems it's already using the name in the red column in http://freshwaterbiodiversity.org/

[2020-03-03 02:04] helendallas commented on #1936
@dim yes the Red column is the correct one. The differences are subtle....e.g.

Triaenodes   falculat**a** | Triaenodes falculat**us**

Please just run on FBIS live and where Biobase Taxon Name =  taxon listed in black; search and replace with Correct   Taxon Name in FBIS = taxon listed in red.

[2020-03-03 02:25] helendallas opened #1937 "Invertebrate Data for Ingestion to FBIS"
@dimasciput
The invertebrate data is ready. I don't know how to create a UUID. Please list the steps and I will do, or if Aneri knows how to do this, we can ask her to do it.

@Aneri16

Link:
https://www.dropbox.com/s/qy6l6ebvfmuyrn5/InvertebrateConsolidated%202020_03_02.xlsx?dl=0

[2020-03-03 02:57] helendallas opened #1938 "Duplicate Sites"
@dimasciput
Please check why some sites with the same site code and co-ordinates are split, one showing inver (SASS) data and one showing fish records

![Screenshot_2020-03-03 FBIS Map](https://user-images.githubusercontent.com/45286876/75738578-5af12d00-5d0b-11ea-9266-4de8989d0331.png)

http://freshwaterbiodiversity.org/map/#site/siteIdOpen=11056

[2020-03-03 03:24] helendallas commented on #1877
@NyakudyaA @jeremyshelton
The correct column to display for Ecoregion level 2 is what is displayed in the column labelled LEVEL.  These relate to Ecoregion level 1, with a subcategory, and the folks that use this layer, know what these numbers mean.  This was previously explained in an earlier ticket. No other columns need to be displayed for this.

LEVEL
1.01
2.02
3.04
1.02
2.04
2.03
3.05
3.03
1.

[2020-03-03 05:29] Aneri16 commented on #1937
@helendallas
I think I can do it, just need to confirm with Jem about something

[2020-03-03 06:17] helendallas commented on #1936
@dimasciput I am assuming the new taxa will still need to harvested from GBIF as I am not seeing these species yet.

[2020-03-03 06:19] dimasciput commented on #1936
@helendallas yes that's correct, it will be updated with the value from gbif if the data is found.

[2020-03-03 06:25] helendallas commented on #1937
@dimasciput
Okay, UUID created for Invertebrate data:

File is: InvertebrateConsolidated 2020_03_02.xlsx
In folder:
https://www.dropbox.com/sh/u302jtojrjbrlj3/AABJHOtx_lsZ1H4yukzfzoAca?dl=0

@dimasciput Question  -How can we be sure hat the UUIDs generated for inverts and unique from UUIDs generated for algae and fish?

[2020-03-03 06:26] #1855 closed

[2020-03-03 06:29] #1896 closed

[2020-03-03 06:34] dimasciput commented on #1937
@helendallas we can't, but the possibility of duplicated uuid is very slim, I can show an error message if there is duplicated UUID and we don't want to update existing data.

[2020-03-03 06:45] dimasciput commented on #1871
@jeremyshelton Please test it again in live site, thanks.

[2020-03-03 07:01] helendallas opened #1941 "CSV - Invertebrates"
@dimasciput

There is a column in the current CSV called **Species**. But it is not actually species, but rather **Taxon**. It includes a mix of different taxonomic levels.

![image](https://user-images.githubusercontent.com/45286876/75750481-f941ba80-5d2c-11ea-8518-d0ace3dc4640.png)

This needs to be changed to reflect actual **Species** only, and then there should be an additional column which i

[2020-03-03 07:13] helendallas commented on #1862
@dimasciput This is a great tool, thanks!

[2020-03-03 07:13] #1862 closed

[2020-03-03 07:26] dimasciput commented on #1935
I'm not sure I fully understand, we can only filter collection records, so as long as there aren't taxa in the South African records, they won't be found.

[2020-03-03 07:30] dimasciput commented on #1895
@jeremyshelton @helendallas
I added search, and fix the filters for the bibliography page. You can't still upload pdf from here, but you can add DOI and other stuff.

https://testing.healthyrivers.kartoza.com/bibliography/?year=&author=&doi_exist=False&q=

[2020-03-03 07:38] helendallas commented on #1935
@dimasciput

Yes I know they wont be fond but I am thinking forward where some species in the master list may be recorded in the future and added to GBIF and also for when FBIS is perhaps expanded to southern Africa. Then it saves me having to redo this master list for some groups.

If it really doesnt make sense to you then I can edit them out and send you one for SA only and keep the Southern Af

[2020-03-03 07:41] dimasciput commented on #1935
@helendallas yes I think it would be better to just ingest the SA data for now, we can always add new taxa later.

[2020-03-03 07:41] helendallas commented on #1935
@dimasciput Okay, I will revise and upload new master

[2020-03-03 07:44] dimasciput commented on #1935
@helendallas what is in the Distribution column?

[2020-03-03 07:56] dimasciput commented on #1857
@jeremyshelton can you tell me the workflow for the biomass data? Is it fixed table or not?

[2020-03-03 08:13] dimasciput commented on #1819
Updated in live site

[2020-03-03 08:13] #1819 closed

[2020-03-03 08:26] helendallas commented on #1935
@dimasciput I am revising the master. The distribution column is for future validation. I think it best that we serve all the data but it will take some more time to clean the data. Just because there is no record at the moment in GBIF, does not mean it has not been recorded in South Africa, as many taxa are not yet on GBIF. Invertebrates don't use country borders, so from a biological perspective

[2020-03-03 10:05] helendallas commented on #1935
@dimasciput

I have revised the Invertebrate Master file. I have excluded those taxa that are noted as being outside of South Africa. I have removed extra columns so that it now matches the fish master list with the exception of :

- Common Name - not included for Invertebrates
- SubSpecies - included immediately after species and only SubSpecies provided in the column
- Former scientific names -

[2020-03-03 10:28] dimasciput commented on #1858
@jeremyshelton @helendallas @timlinux

What is the different between analyst and collector? Currently we don't have analyst in our system, where we should put this?

![image](https://user-images.githubusercontent.com/1979569/75766713-2bc2d600-5d74-11ea-8da7-cd290c750014.png)

And I assume the institute is the institute of the user? Not the data? So I don't think I need this, because you can change

[2020-03-03 10:31] helendallas opened #1943 "Abiotic Data - Names displayed"
@dimasciput

Please confirm you have included the name as per the FBIS_Name as per the file linked here.
https://www.dropbox.com/s/pt31d9b87b5jcvw/Master%20List%20of%20Abiotic%20Data%20Variables%20with%20FBIS%20Names%20and%20Validation%20Limits%202020_02_25.xlsx?dl=0

Master List of Abiotic Data Variables with FBIS Names and Validation Limits 2020_02_25.xlsx

Also we needed to add in three new var

[2020-03-03 10:36] dimasciput commented on #1943
@helendallas yes they are coming from the master list, you can add new unit here : http://freshwaterbiodiversity.org/admin/bims/chem/

[2020-03-03 10:36] helendallas commented on #1858
@dimasciput
It is important for quality to know who did the analysis and where they were based. So for algae these are two separate fields needed.

The Analyst - is the person that did the analysis (not necessarily the same as the collector)
The Institute - is specific to the analyst - i.e. where they were based.

We could combine these to have Analyst, Institution
so Liesl Phigland, Dept of Biolo

[2020-03-03 10:44] dimasciput commented on #1858
@helendallas Ok, I will add a new field to collection record model

[2020-03-03 10:45] helendallas commented on #1943
@dimasciput Thanks added, I can add new unit...needs to be mg/m2

milligrams per metre squared.  Wont accept.  For Chlorophyll a: benthic

[2020-03-03 10:45] helendallas commented on #1943
@dimasciput
Also can we edit descriptions here?

[2020-03-03 10:47] dimasciput commented on #1943
@helendallas

Ah yes, I need to do it from the system, will have to wait. I'm still working on importing algae data.

Yes you can

[2020-03-03 10:49] helendallas commented on #1943
thanks

[2020-03-03 10:51] dimasciput commented on #1943
@helendallas Are there important units that might be added in the future?

[2020-03-03 10:54] helendallas commented on #1943
@dimasciput
I hope we have got most of them, but there may be some I am not aware of.

We will manually revise the Chem description, so please ignore earlier request.

[2020-03-03 11:07] dimasciput commented on #1858
@helendallas do we need this abiotic data?
![image](https://user-images.githubusercontent.com/1979569/75770024-be19a880-5d79-11ea-9a43-8e19282bd6b9.png)

[2020-03-03 11:11] helendallas commented on #1858
@dimasciput
We spend time this morning revising the files to make it consistent with the other data, especially abiotic.

Here is the new file link:
https://www.dropbox.com/s/5nwze5e837o318u/CFR%20Algae%20Data%20for%20FBIS_final%20template_FINAL%20DATA.xlsx?dl=0

Sorry  -hope we havent wasted your time :(

[2020-03-03 11:16] helendallas commented on #1858
@dimasciput Apologies, A new CSV was not created. I will do  now and share

[2020-03-03 12:24] dimasciput commented on #1935
@helendallas

thanks, yes we can add endemism later.

[2020-03-03 12:34] dimasciput commented on #1935
@helendallas @timlinux

Doesn't origin depends on the collection record not taxonomy?

![image](https://user-images.githubusercontent.com/1979569/75776098-e7d8cc80-5d85-11ea-9445-8cdfad98aa5a.png)

[2020-03-03 17:47] helendallas opened #1945 "Algal Data - Ready for ingestion"
@dimasciput I hope that the data is now correct and ready for ingestion.  I have reordered and renamed column and column headers to match others, and deleted the extra row and all unnecessary columns.

There are some columns that are unique to algae, including:

- **Curation process**: Frozen; Acid cleaned; Preserved lugols
- **Biomass Indicator: Chl A**: Artificial Substrate; Whole cobble
- **Chl

[2020-03-04 02:18] dimasciput commented on #1943
@helendallas @Aneri16

The mg/m2 unit has been added to the system.

[2020-03-04 08:31] timlinux commented on #1859
So here is our proposed plan to deal with this in a nice generic way:

1) All the 'living layers' are just added to the layers list as per usual
2) When the user clicks on the map, we do a GetFeatureInfo (format HTML) request for each layer that is enabled
3) We display the results underneath the sidepanel charts

Data specific notes:

# MiniSASS
For minisass we can simply hook into their publishe

[2020-03-04 08:45] timlinux commented on #1859
Some more on iNaturalist:

https://api.inaturalist.org/v1/docs/#!/Observation_Tiles/get_points_zoom_x_y_png

Their newer API supports a map tiling request with many filter options. You can test it in QGIS by creating an XYZ layer like this:

https://api.inaturalist.org/v1/points/{z}/{x}/{y}.png

![image](https://user-images.githubusercontent.com/178003/75860848-65d3bc80-5df4-11ea-9bb3-f5e0dae9a38f

[2020-03-04 08:49] timlinux commented on #1859
As another approach for iNaturalist we could have it use these API parameters:

![image](https://user-images.githubusercontent.com/178003/75861036-b519ed00-5df4-11ea-8523-cfff3339a608.png)

to pull in records close to the clicked point on the map using https://api.inaturalist.org/v1/docs/#!/Observations/get_observations and passing it the lat/lon/radius to filter observations to those close to the

[2020-03-05 05:08] jeremyshelton commented on #1859
Thanks Tim,

The plan sounds good to me. Looking great for MiniSASS and flow stations.

Your **points 1 and 2** sound good.

**Point 3**
I wonder if we should somehow distinguish these layers from the rest of the layers that we are already serving? These give the user a different kind of functionality, and I worry that they might just 'get lost' in the layers list if we just somma put them there?

[2020-03-05 06:25] helendallas commented on #1859
@timlinux @jeremyshelton
Mini-SASS - I already spoke to Mark Graham of GroundTruth - he is very happy to link MiniSASS with FBIS...loves FBIS!  Tim - will it be helpful if I send an email to him, or can the linking be done in the backend since kartoza did the initial development as far as I know....

DWS (Flow and Water quality) gauging stations -  sounds good

INaturalist - as I chatted to Jeremy

[2020-03-05 07:26] NyakudyaA commented on #1934
Hi, @jeremyshelton I have had a look at the metadata for this,  there is a lookup table with the species code which I can add for all sanctuaries. But you will still need to check which column you need to use
![fish_sanc](https://user-images.githubusercontent.com/2510900/75957546-efea5680-5ec2-11ea-8244-c63657a38ade.png)

[NFEPA_metadata_fishsanctuaries_all.pdf](https://github.com/kartoza/django-b

[2020-03-05 08:55] NyakudyaA commented on #1934
@jeremyshelton I have created a lookup here
![lookup](https://user-images.githubusercontent.com/2510900/75964352-c4ba3400-5ecf-11ea-9e77-5dfdb21f7408.png)

When you have decided which attribute you will use then ping me and will update the table

[2020-03-05 09:22] NyakudyaA commented on #1877
@dimasciput maybe you need to update the entries here, the values 1,2,7 should not show up here, Geocontext and geoserver are working  properly
![context-geo](https://user-images.githubusercontent.com/2510900/75966805-9b030c00-5ed3-11ea-9bf6-db229e3aa322.png)

[2020-03-05 10:06] NyakudyaA commented on #1859
@timlinux cc @jeremyshelton  I have already published the flow gauges
![gauges](https://user-images.githubusercontent.com/2510900/75970823-96d9ed00-5ed9-11ea-9403-a7e55581699a.png)

Should I add it to the layer list? Is there any preference for the symbol ie icon for gauges

[2020-03-05 11:57] NyakudyaA commented on #1863
I have added them. Will update the map later during the night

![labels-prov](https://user-images.githubusercontent.com/2510900/75977878-fa6a1780-5ee5-11ea-9bd4-65c2a9d88613.png)

![changed-label-position](https://user-images.githubusercontent.com/2510900/75977987-356c4b00-5ee6-11ea-8604-70c0b721ea28.png)

Not anymore,  they are two types of river layers. DWA rivers and NGI rivers. for a small sca

[2020-03-06 03:44] #1623 closed

[2020-03-06 03:45] #1183 closed

[2020-03-06 04:16] jeremyshelton commented on #1623
@helendallas agreed

[2020-03-06 04:19] jeremyshelton commented on #1868
@Janette-Lumley how far along are we with adding the missing URL and DOI data as per #1895
Must we leave this ticket open?

[2020-03-06 04:26] jeremyshelton commented on #1217
@timlinux @dimasciput are we still rolling out the .svg download functionality to all dashboards?

[2020-03-06 04:35] jeremyshelton commented on #777
@helendallas please check you are happy with the SASS .csv edits requested?

[2020-03-06 04:37] jeremyshelton commented on #537
Merged with #1217

[2020-03-06 04:39] jeremyshelton commented on #1620
Algae dashboards replaced by #1857 in Project FVISv4

[2020-03-06 04:59] jeremyshelton commented on #1863
@dimasciput @NyakudyaA I see you have added the new base map to the live site. Can we rather please finalise the new base map and then only add once complete? We still need to refine it quite a bit, and get input from @helendallas...

[2020-03-06 05:17] jeremyshelton commented on #1863
@timlinux @NyakudyaA @dimasciput I know you guys are keen on developing your own custom base layer for the FBIS. But as it stands, using google earth with the DWS rivers layer added (with lables) is in my opinion a far superior user experience to what's currently on offer on the FBIS.

User experience is key.

@timlinux I know you had some reservations about using google earth layers, but would th

[2020-03-06 05:29] jeremyshelton commented on #1888
Thanks @dimasciput
Looks like you have also updated the .csv downloads on the live site too?

[2020-03-06 05:31] jeremyshelton commented on #1876
@dimasciput thanks - looks good now.

[2020-03-06 05:34] jeremyshelton commented on #1872
Thanks for fixing @dimasciput - looks good now :)

[2020-03-06 05:37] jeremyshelton commented on #1869
@dimasciput I think this is looking good now on the live site. I tested a few .csv downloads and the lats and longs look correct. Are you still working on this, or can we close the ticket?

[2020-03-06 05:43] jeremyshelton commented on #1871
Thanks @dimasciput - looking good 👍

[2020-03-06 05:48] #1871 closed

[2020-03-06 05:49] dimasciput commented on #1217
@jeremyshelton yes it's only on testing for now, I will deploy it to live on weekend -> https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=

[2020-03-06 05:51] dimasciput commented on #1869
Yes deployed on live and testing.

[2020-03-06 05:51] #1869 closed

[2020-03-06 06:30] Janette-Lumley commented on #1868
@jeremyshelton I have added everything I could find, will double check with Helen before closing the ticket.

[2020-03-06 07:22] helendallas commented on #1868
@Janette-Lumley Have you added them into the **freshwaterbiodiversity.org** or just to the Biobase excel table?

@dimasciput There was an issue assigning a reference which I am not sure has been resolved. See ticket #1895

[2020-03-06 07:29] dimasciput commented on #1868
@helendallas yes I fixed the bibliography pages, now you can add doi and url from there : https://freshwaterbiodiversity.org/bibliography/
But you can't still link the references to uploaded document.

[2020-03-06 07:33] Janette-Lumley commented on #1868
@helendallas just the excel spreadsheet.

[2020-03-06 07:41] dimasciput commented on #1868
@Janette-Lumley if the problem is missing doi can you fix it here : https://freshwaterbiodiversity.org/bibliography/

[2020-03-06 08:06] helendallas commented on #777
@dimasciput
For **CSV of SASS Summary data** the following needs attention: this is the same for single and multiple sites

- Filter history - This should be columns of the actual fields such as Ecoregion, Political Region etc  - whatever was selected by the user. At the moment this is what is shown:
{u'search': u'JONKERSHOEKRIVIER', u'sourceCollection': [u'fbis'], u'conservationStatus': []}

- Re

[2020-03-06 08:25] helendallas commented on #1863
@jeremyshelton @timlinux @NyakudyaA @dimasciput

I like the option of the cleaner less busy layer given we have the option to select a Bing Satellite hybrid  -and if you select rivers and dams, then you have the river network.

![Screenshot_2020-03-06 FBIS Map](https://user-images.githubusercontent.com/45286876/76065633-a9fdc300-5f94-11ea-8e83-f5cc042462e0.jpg)

I don't know the pros and cons of g

[2020-03-06 08:28] helendallas commented on #1868
@Janette-Lumley please can you add them to the live site. @Aneri16 please can you help if @Janette-Lumley is unclear. Keep a record on the spreadsheet what has been uploaded to FBIS.  Also remember to only upload pdf of those not available on the internet.

[2020-03-06 08:31] helendallas commented on #1868
@dimasciput I tried to find the Biobase study references but they do not come up: I tried searching for Harrison
Coetzer
Allanson

Should all be visible, but they are not. Please check
@Janette-Lumley hold off until Dimas gets back to us.

[2020-03-06 08:34] dimasciput commented on #1868
@helendallas use author filter in the left panel if you want to search by author

![image](https://user-images.githubusercontent.com/1979569/76066318-f8748700-5fbf-11ea-9a9f-d974a9828c70.png)

The search bar is only for journal name/title

[2020-03-06 08:41] helendallas commented on #1868
@dimasciput Tahnks, that works. After adding the DOI and hit Save, I don't go back to the screen I started on, and cant find my way back. Can you fix this please.

I end up here:
![Screenshot_2020-03-06 Select Entry to change Django site admin](https://user-images.githubusercontent.com/45286876/76066811-f9dd8980-5f96-11ea-8906-fececc467e21.png)

@Janette-Lumley easiest is to search on date, then n

[2020-03-06 08:43] dimasciput commented on #1868
@helendallas for now maybe right click on the button, then `Open link in new tab`. Because this is only for admin user.

[2020-03-06 08:43] NyakudyaA commented on #1863
Google satellite vs bing offers the same satellite but the main difference is which one has more recent data. Using these services which are not free have a limit on the number of hits the website has and after that you will need to start paying to use their service

Yes, You can move them or remove any layer from the admin page
https://freshwaterbiodiversity.org/admin/bims/nonbiodiversitylayer/

[2020-03-06 08:43] helendallas commented on #1868
@dimasciput Can you also make it visible from the Administration/Documents  - I cant find how to get to the place we arrive when hitting:
 https://freshwaterbiodiversity.org/bibliography/

[2020-03-06 08:44] dimasciput commented on #1868
I added a filter called `DOI exists`, choose false if you want to display all references that doesn't have DOI.

[2020-03-06 08:44] dimasciput commented on #1868
@helendallas choose Citation

[2020-03-06 08:51] helendallas commented on #1863
@NyakudyaA Wonderful thanks. Useful to know re order. Please add to the Admin manual

[2020-03-06 08:56] helendallas opened #1953 "River Management Unit - add to Layer Selector"
@NyakudyaA
Please can you add the River Management Unit to the Layer Selector - immediately after Sub  Water management Area

[2020-03-06 09:07] helendallas commented on #1868
@dimasciput thanks

[2020-03-06 09:08] NyakudyaA commented on #1953
![rmu](https://user-images.githubusercontent.com/2510900/76068935-bd139180-5f9a-11ea-95e7-f9717e79d50c.png)

done @helendallas

[2020-03-06 09:15] helendallas commented on #1953
@NyakudyaA
Thanks - live or testing site. Not yet visible my side?

[2020-03-06 09:15] helendallas commented on #1953
@NyakudyaA okay seen it, need to just shift it into place. I will do now that I know how :)

[2020-03-06 09:18] NyakudyaA commented on #1953
We agreed that adding layers should be done directly on live site. Glad you can see it

[2020-03-06 09:18] #1953 closed

[2020-03-06 09:34] Janette-Lumley commented on #1868
@helendallas I have added the DOI and URL's from the spreadsheet (saved to dropbox - "Biobase Study Reference Table For DOI URL - 06-03-20" ) I could only edit using your login on FBIS.

[2020-03-06 09:38] helendallas opened #1954 "Layers - CBAs"
@NyakudyaA @jeremyshelton
The layer currently in the Layer Selector is:
National Critical Biodiversity
![Screenshot_2020-03-06 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/76071382-cbfc4300-5f9e-11ea-8b78-72a94aab0981.png)

How does this relate/match the ones in the filters:

![Screenshot_2020-03-06 FBIS Map](https://user-images.githubusercontent.com/45286876/76071404-d61e4180-5

[2020-03-06 09:46] NyakudyaA commented on #1954
@helendallas

![national-cba](https://user-images.githubusercontent.com/2510900/76072112-10d4a980-5fa0-11ea-81d0-9aa4f7af028b.png)

The selected layer is the one visible in the layer selector. All the other layers are not shown in the layer selector

[2020-03-06 09:56] helendallas commented on #1954
@NyakudyaA Thanks, got it now

[2020-03-06 10:00] #1954 closed

[2020-03-06 13:34] #1943 closed

[2020-03-06 13:37] helendallas commented on #1945
File is now this one:

[2020-03-06 13:41] helendallas commented on #1901
@timlinux I am keen to clean up this list but am not clear on what needs to happen.

Please can you provide me with a step by step process so that I can begin. Thanks

[2020-03-07 16:49] jeremyshelton commented on #1895
Thanks @dimasciput - very helpful :)

[2020-03-07 17:00] jeremyshelton commented on #1857
@dimasciput in the Algal biomass section please change the words 'Sampling location' to 'Sampling method'. The user will simply use the drop-downs to select sampling method, manually enter their measurement and then select the curation process (Frozen is the only option for biomass). Autotrophic index is a value manually entered by the user. Does that help? I am not sure what a fixed table means..

[2020-03-07 18:21] jeremyshelton commented on #1859
Thanks @NyakudyaA looks great!

@timlinux @helendallas @dimasciput I wonder if we should think about putting these layers in their own tab (perhaps below the layer selector) called '3rd party data' or something like that, because they are are different to both Layers and Filters?

@helendallas GBIF approach sounds good 👍 We can make it clear that the aquatic and terrestrial
taxa are mixed in the l

[2020-03-07 20:22] jeremyshelton commented on #1877
Thanks @dimasciput and @NyakudyaA.

@helendallas & I are going to meet and have a good look at what we need to include/exclude for layers.

[2020-03-07 20:25] jeremyshelton commented on #1183
@dimasciput common name still showing on taxon dashboard, but don't think that's really a problem @helendallas ?

[2020-03-07 20:27] jeremyshelton commented on #1217
@dimasciput ok cool - will test next week 👍

[2020-03-07 20:28] jeremyshelton commented on #1869
Cool 👍

[2020-03-07 20:42] jeremyshelton commented on #1863
@helendallas OK cool. You raise some good points.

@NyakudyaA thanks for developing the custom FBIS base map. Lets try get it as clean, clear and user-friendly as possible!

One thing that might help is to have clearer land and provincial boundary lines?
<img width="839" alt="Screenshot 2020-03-07 at 22 38 42" src="https://user-images.githubusercontent.com/44292029/76152108-6f934380-60c4-11ea-9d34

[2020-03-07 20:45] jeremyshelton commented on #1868
Thanks @Janette-Lumley
@dimasciput what admin level would Janette need to edit these kinds of things directly from her account?

[2020-03-07 20:59] NyakudyaA commented on #1863
I have added them . Will update the map tomorrow.

Please take a look at the base map on https://maps.kartoza.com/kartoza/ and choose the relief basemap. I could add that if you want and change the colors to your preference

Definitely the map will be improved by user inputs. We will have many iterations before the final agreed cartography

[2020-03-09 04:35] jeremyshelton commented on #1863
Great, thanks @NyakudyaA.

That makes sense.

A few further suggestions and requests:
- Hill shade map looks good & should help users navigate around the country and find rivers more easily. Perhaps a version with a slightly more earthy or muted colour scheme so the sites and river names etc stand out well against it?
- Can we see major river names (e.g. Breede, Berg, Orange etc) when zoomed out?

[2020-03-09 05:29] dimasciput commented on #1868
Currently only admin can edit this.

[2020-03-09 05:46] jeremyshelton commented on #1868
OK thanks @dimasciput

[2020-03-09 10:39] jeremyshelton commented on #1888
@dimasciput @timlinux
Whats critical is that the columns included in the .csv user downloads are the same as those in the  .csv file that we used to upload the data. For example, for fish, columns like 'sampling effort' and 'abundance' are missing from the .csv download. For example, see download for the fish Enteromius pallidus:

<img width="1079" alt="Screenshot 2020-03-09 at 12 33 45" src="http

[2020-03-09 10:47] jeremyshelton commented on #1858
**Fish data update**
In today's chat with Dimas we decided that we will combine all the fish data into a single sheet, with all errors addressed and referencing standardised. We will aim to have this new .csv ready by the end of the week. @dimasciput can then delete all the fish data previously ingested, and replace it with this new file. We will aim to have this ready and shared by the end of the

[2020-03-10 05:18] Aneri16 opened #1957 "Cannot assign username due to errors"
I am struggling to activate a new user due to errors with the user name. What is wrong with the username as it meets the requirements?
See below:

![User name error](https://user-images.githubusercontent.com/55532903/76281947-fdc32180-629e-11ea-9998-d7ce50226eed.png)

[2020-03-10 05:25] dimasciput commented on #1957
@Aneri16 username cannot have spaces, see other users for example in the admin page. Treat it like username in github or  instagram.

[2020-03-10 05:28] Aneri16 commented on #1957
@dimasciput Thanks got it

[2020-03-10 05:28] #1957 closed

[2020-03-12 06:51] #1872 closed

[2020-03-12 06:51] #1876 closed

[2020-03-12 06:51] #1879 closed

[2020-03-12 06:51] #1883 closed

[2020-03-12 06:51] #1885 closed

[2020-03-12 07:34] helendallas opened #1959 "Testing - SASS data editing"
@dimasciput
The order of the SASS taxa seem to have changed for the SASS form when I go in and edit.

For example:
![Screenshot_2020-03-12 FBIS SASS](https://user-images.githubusercontent.com/45286876/76497057-f8064100-6442-11ea-91f1-1b9baee1e20f.png)

Should be:
![Screenshot_2020-03-12 FBIS SASS(1)](https://user-images.githubusercontent.com/45286876/76497107-09e7e400-6443-11ea-8763-c08901d3017f.p

[2020-03-12 07:41] helendallas opened #1960 "Testing - SASS Taxa per Biotope"
@dimasciput

The latest SASS Taxa per Biotope is incorrect on the testing site.  Here is the testing site:
![Screenshot_2020-03-12 FBIS Single Site Dashboard - SASS](https://user-images.githubusercontent.com/45286876/76498311-4b798e80-6445-11ea-85dc-6045cc8445c4.png)

Here is the live site data:
![Screenshot_2020-03-12 FBIS Single Site Dashboard - SASS(1)](https://user-images.githubusercontent.com

[2020-03-12 07:48] dimasciput commented on #1960
@helendallas can you paste the url here?

[2020-03-12 07:54] helendallas commented on #1960
https://testing.healthyrivers.kartoza.com/sass/view/11029/

[2020-03-12 08:01] helendallas commented on #1923
@dimasciput

Is it possible to action this?

[2020-03-12 10:02] dimasciput commented on #1960
Can you check it again @helendallas ?

[2020-03-12 11:29] helendallas commented on #1960
@dimasciput
![Screenshot_2020-03-12 FBIS SASS(7)](https://user-images.githubusercontent.com/45286876/76517092-4cbab380-6465-11ea-81fc-ac636402274f.png)

not yet fixed, coleoptera fixed
![Screenshot_2020-03-12 FBIS SASS(8)](https://user-images.githubusercontent.com/45286876/76517118-5cd29300-6465-11ea-8c48-5c31e64c4f5b.png)

https://testing.healthyrivers.kartoza.com/sass/update/11029/

[2020-03-16 01:45] #1932 closed

[2020-03-16 08:52] helendallas commented on #1858
@dimasciput

I hope the fish data is now finally fixed and ready for ingestion.  It is here:
https://www.dropbox.com/sh/ap3m87jd53un46w/AAAZ0C368jC_jSIk7R_ZZAXsa?dl=0

File: SA fish & non-native combined for FBIS 13_3_2020.csv

Please ingest and confirm once done so that Aneri and jeremy can do some checking, thanks
@Aneri16 @jeremyshelton

[2020-03-16 14:26] helendallas commented on #1856
@jeremyshelton Please can you check this and close if all working

[2020-03-16 14:27] helendallas commented on #1807
@jeremyshelton Please can you check this and close if all working correctly.

[2020-03-16 14:28] helendallas commented on #1893
@dimasciput Please get back to me on this.

[2020-03-16 14:35] helendallas opened #1962 "Invertebrate records - deleting option"
@dimasciput @jeremyshelton
A user erroneously added Invertebrate records instead of SASS records. He cannot work out how to delete these records.

Here are the records that came to me for validation - which I dont want to do as they actually need to be
![Screenshot_2020-03-16 Validation](https://user-images.githubusercontent.com/45286876/76768706-100ff480-67a4-11ea-9d9f-1f87302956ed.png)
 deleted.

[2020-03-17 00:28] dimasciput commented on #1962
@helendallas @jeremyshelton I will add a delete function, but once the data is on the validation page, owner/collector shouldn't be able to delete that, only validator could.
But validator can reject the data, then user will be able to delete/update rejected data.
It doesn't makes sense to the system if the owner can delete/update data that was submitted to the validator.

[2020-03-17 05:03] jeremyshelton commented on #1856
@NyakudyaA yes, WC only 👍

[2020-03-17 05:04] jeremyshelton commented on #1856
@helendallas the RMU layer has not yet been added to the site, so this ticket should stay open.

[2020-03-17 05:32] jeremyshelton commented on #1807
@dimasciput @NyakudyaA Could you give an update on progress with adding the this? Again, this would be a layer, as well as a drawer in the spatial filters.

[2020-03-17 07:35] helendallas commented on #1962
@dimasciput Agreed.

Add delete option for owner to delete records. Once sent for validation, the validator needs to either accept or delete records.

We thus need a delete option for validator - as I mentioned in a  previous ticket.email, at the moment a validator cannot reject the record.  I will create a new ticket for this.

[2020-03-17 07:36] helendallas opened #1964 "Validating Records - add reject button and FBIS Site Code"
Please add option to reject record.
Please add FBIS Site Code

[2020-03-17 11:45] Aneri16 opened #1966 "Site codes not showing/generated for new ingested invert data"
When searching by collector name for the new invert data that was ingested, site codes are not displayed under the Sites tab, only occurrence for each site is displayed.
@dimasciput @helendallas

![Site codes not showing](https://user-images.githubusercontent.com/55532903/76852430-f7f7ae00-6853-11ea-8264-7763816ce205.png)

[2020-03-17 12:36] dimasciput commented on #1966
@Aneri16 yes, already answered this in another thread. Basically I didn't run the script to get the site codes, since this is only testing site it will be wasteful of resources. But I can do that if you need it.

[2020-03-17 12:42] Aneri16 commented on #1966
@dimasciput
Okay thanks, makes sense! I didn't see the other thread.

[2020-03-17 13:05] philipfrenzel opened #1967 "Algae testing - dropdown options"
Hi @dimasciput ,

I have noticed that several dropdown options are incorrect/incomplete when I want to add algae data to a site.

Please add/change the following dropdown options to:
*Add **Artificial substrate** to "Broad biotope"
*Add **Artificial** to "Substratum"
*Change "Sampling method" dropdown to the following list: Unspecified, Multiple, Scrubbing, Soft bottom, Vegetation, In situ.
*Add *

[2020-03-17 13:21] philipfrenzel opened #1968 "Algae testing - dashboard images"
Hi @dimasciput ,

I noticed that the little images for inverts and algae have disappeared on the dashboards. Can you have a look into this? Please see screenshot below:

![image](https://user-images.githubusercontent.com/45286840/76859928-d7832000-6862-11ea-9d07-22da747d84ca.png)

[2020-03-17 13:37] philipfrenzel opened #1969 "Algae testing - data query"
Hi @dimasciput

I have noticed that when I search for algae data on rivers that I know have algae data, no occurrences/data appear in the dashboard e.g. the Molenaars River. Screenshot below:

![image](https://user-images.githubusercontent.com/45286840/76860909-6ba1b700-6864-11ea-8c55-d4847709080e.png)

But if I search for an algal species, the data shows across multiple sites in the dashboard. Sc

[2020-03-17 13:50] dimasciput commented on #1969
Again this is because I didn’t fetch the river name from GeoContext. @Aneri16 @philipfrenzel @helendallas

Please let me know if you want the data from geocontext, it will be ready by the end of the week, since the process will take some time.

And I will do the same thing again when we deploy to the live site, all the testing data will be deleted.

[2020-03-17 13:52] dimasciput commented on #1969
All the geocontext related data include :

- Fbis site code
- River name
- Other spatial data e.g. geomorphological data, ecoregion data

[2020-03-17 13:55] dimasciput commented on #1968
Yes this is only broken in the testing, don’t worry about it. It will not transfer to the live site.

[2020-03-17 13:55] #1968 closed

[2020-03-17 13:56] philipfrenzel commented on #1969
Thanks for pointing that out. I wasn't 100% sure what the geocontext issue specifically related to - therefore thought I'd make a ticket for this to make you aware of it. But if this will be resolved before this version goes live, then that sounds good to me.

[2020-03-17 14:02] dimasciput commented on #1969
@philipfrenzel no worries.

So this is my workflow regarding testing and live site :
- copy live site data to testing
- ingest data to the testing
- check data in testing, check sass form, site form, etc
- if everything is ok, then do ingestion in the live site
- fetch geocontext data in live site
- finally copy data from live to testing again

[2020-03-17 14:06] philipfrenzel commented on #1969
@dimasciput thanks for clarifying. Sounds good to me.

[2020-03-18 06:24] jeremyshelton commented on #1863
@dimasciput @NyakudyaA @timlinux any further thoughts on this?

[2020-03-18 06:42] NyakudyaA commented on #1863
Hi, @jeremyshelton I will add the hillshade and other changes you suggested above.

[2020-03-18 07:05] jeremyshelton opened #1971 "Weird taxon names in fish data?"
@dimasciput on testing, if I select ['data source: FBIS data', 'module: fish' and 'origin:non-native',](https://testing.healthyrivers.kartoza.com/map/#search//taxon=&search=&siteId=&collector=&category=["alien"]&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=["fbis"]&abioticData=&ec

[2020-03-18 07:47] #1966 closed

[2020-03-18 07:59] helendallas opened #1972 "Invertebrate taxa extracted from GBIF"
@dimasciput
There are still many missing higher taxonomic fields missing in the Invertebrate Master list populated with GBIF data.

Please can you investigate why so that I have a complete list for checking against the FBIS Invertebrate Master list.

Here is the file saved as excel and sorted:
[Invert Taxa extracted from GBIF.xlsx](https://github.com/kartoza/django-bims/files/4347692/Invert.Taxa.e

[2020-03-18 08:01] helendallas commented on #1936
@dimasciput Please update me on this - Is it in the live version.

[2020-03-18 08:02] Aneri16 opened #1973 "Need to change "Cancel" button to "Create new site""
@jeremyshelton @dimasciput
When adding a new site that is close to another site, the "Cancel" button should read "Create new site" instead to align with the question.
![Site co-ordinates ticket](https://user-images.githubusercontent.com/55532903/76938404-339b8200-68ff-11ea-9525-b132231ce6d6.png)

[2020-03-18 08:06] helendallas commented on #1826
@timlinux  @dimasciput
Please can we confirm this is correct. I urgently need to edit Users on the Live Site, for SASS accreditation, as well as multiple records for same person.

Can you please create a detailed explanation of the best way to do this, and be sure that I am not deleting data.....
![Screenshot_2020-03-18 Select user to change Django site admin](https://user-images.githubusercontent

[2020-03-18 08:10] helendallas commented on #1877
@NyakudyaA @jeremyshelton
The correct column to display for Ecoregion level 2 is what is displayed in the column labelled LEVEL. These relate to Ecoregion level 1, with a subcategory, and the folks that use this layer, know what these numbers mean. This was previously explained in an earlier ticket. No other columns need to be displayed for this.

LEVEL
1.01
2.02
3.04
1.02
2.04
2.03
3.05
3.03
1.03

[2020-03-18 08:16] NyakudyaA commented on #1877
Tha map layer already uses this column. even Geocontext uses this. They are a couple of odd values in the spatial filters. @dimasciput needs to update the values

[2020-03-18 08:19] jeremyshelton commented on #1863
@NyakudyaA OK great - shout when you're ready for us to have a look. You welcome to join the chat at 11h00 today if you'd like to discuss any aspects of this with the group :)

[2020-03-18 08:22] jeremyshelton commented on #1877
OK great. Thanks @NyakudyaA

[2020-03-18 08:24] helendallas commented on #1877
okay because it is still showing as: 1, 2, 3 are all wrong...I checked the lev2-0105.dbf file and they are not there....

![Screenshot_2020-03-18 FBIS Map](https://user-images.githubusercontent.com/45286876/76940092-45325900-6902-11ea-98bd-f8071aa41218.png)

[2020-03-18 08:27] NyakudyaA commented on #1877
When it is updated then those values will not show

[2020-03-18 08:27] jeremyshelton opened #1975 "Add disclaimer for users when they add data"
@timlinux @dimasciput We need to add a check dox panel to all data upload forms saying 'I agree to these data being shared via the FBIS platform for visualisation and download by registered FBIS users'. I think this should be the last step in the data upload process?

@helendallas anything to add?

[2020-03-18 08:28] helendallas commented on #1962
@dimasciput When I hit the X button, nothing happens

[2020-03-18 08:29] helendallas commented on #1962
@dimasciput Also please dont close issue until we have checked it is working

[2020-03-18 08:31] helendallas commented on #1964
@dimasciput When I hit the X button, nothing happens
@dimasciput Also please dont close issue until we have checked it is working

[2020-03-18 08:33] dimasciput commented on #1936
Yes, it's on live site, please check it.

[2020-03-18 08:43] dimasciput commented on #1971
@jeremyshelton I think this will be solved when we ingest new combined fish data, because the old data will be deleted.

[2020-03-18 08:44] philipfrenzel opened #1976 "Algal testing - browser title error"
Hi @dimasciput

A minor thing. I was trying to add algae data to a site and noticed on the browser tab that it says "fish form" (and not "Algae form"). Screenshot below:

![image](https://user-images.githubusercontent.com/45286840/76941642-110c6780-6905-11ea-987f-2c896fe33d9e.png)

Might have something to do with the fact that it's the testing site and not the live site? If irrelevant, please igno

[2020-03-18 08:44] dimasciput commented on #1964
@helendallas yes, I accidentally closed the issue, that's why I reopened it again.

[2020-03-18 08:48] dimasciput commented on #1964
@helendallas please try again, it just takes some time to update in testing

[2020-03-18 08:51] dimasciput commented on #1962
@helendallas please try again, yes it was automatically closed from github when I made some changes.

[2020-03-18 08:54] dimasciput commented on #1877
@helendallas
Ok I'll run the script again, please understand that overwriting spatial data is not automatic process, but when there is new site it will be automatic.

[2020-03-18 08:55] dimasciput commented on #1826
@helendallas it's fine to edit any of the data now, but just don't delete them. I will create a script to merge the user data.

[2020-03-18 10:08] timlinux commented on #1859
Further discussion with FRC as of 18 March 2020:

1) Agreed to postpone iNaturalist data for the future
2) Remove the validate icon in the toolbar
3) Remove the add point icon in the toolbar
4) Add a new icon below layer selector for 'Live layers' and add iNaturalist and minSass as options there
5) Tidy up the validation menu entries as below:

Validation
------------
Validate Records
Validate Dat

[2020-03-18 10:11] timlinux commented on #1859
And one other thing discussed was to ask Hugo if we can get water quality as well as flow data for the guaging stations. Make available as CSV similar to proposed for the flow stations.

[2020-03-18 10:22] timlinux commented on #1895
Discussed on 18 March 2020:

1) Helen upload any PDFs or URL based documents needed to the document manager on the live site

![image](https://user-images.githubusercontent.com/178003/76950706-5da27380-6902-11ea-966f-a24761332ec1.png)

2) Helen instruct Dimas to batch update records meeting specific criteria to reference the uploaded PDF's

Alternatively, if the publication has a DOI:

1) Helen in

[2020-03-18 10:23] timlinux commented on #1895
Dimas will stand by for a spreadsheet from @helendallas with the above associations then batch update.

[2020-03-18 10:23] timlinux commented on #1887
See also #1895

[2020-03-18 10:25] timlinux commented on #1887
@dimasciput has made a script to fetch the higher order taxa from GBIF - he just needs to run it on testing and live.

[2020-03-18 10:26] timlinux commented on #1936
See also #1887

[2020-03-18 10:38] timlinux commented on #1217
@dimasciput just update the tooltip please to indicate that you should insert the image from file, not drag and drop it:

![image](https://user-images.githubusercontent.com/178003/76952157-96434c80-6904-11ea-982d-b5c940b9cfb6.png)

[2020-03-18 10:40] timlinux commented on #1868
See #1887  - URLs etc should appear after that is done.

[2020-03-18 10:57] timlinux commented on #1861
Discussion of 18 March 2020:

@jeremyshelton and @helendallas to discuss what catchment level to use and revert to @dimasciput

[2020-03-18 15:12] philipfrenzel opened #1977 "Algal testing - biomass indicators"
Hi @dimasciput ,

I am trying to add biomass indicator (i.e. Chl A and AFDM) data and see that there is only one type of data that you can add i.e. data with the mg.m2 unit. Screenshot below is the same for both the testing and the live site:

![image](https://user-images.githubusercontent.com/45286840/76973178-44b4b500-6938-11ea-9cfa-39c8e23d8fe0.png)

Under the column "Indicators", one should be

[2020-03-19 06:48] #1888 closed

[2020-03-19 10:02] jeremyshelton commented on #1217
@dimasciput @timlinux
Some people may not be able to open a .svg, or even drag it into ms office, if they don't have a program that can do so. Is the best way around this to suggest they download a program for this? If so, which is easiest?

[2020-03-19 10:08] jeremyshelton commented on #1217
Without union photoshop, I was able to drag the .csv into powerpoint, but it seems do have done a weird crop?

<img width="1162" alt="Screenshot 2020-03-19 at 12 06 14" src="https://user-images.githubusercontent.com/44292029/77055809-36b77080-69da-11ea-9618-5566d8ddc6bf.png">

[2020-03-19 10:11] jeremyshelton commented on #1217
...same story with SASS charts:
https://testing.healthyrivers.kartoza.com/sass/dashboard/10206/?taxon=&siteId=10206&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=%5B%5D&modules=&validated=%5B%22validated%22%5D&sourceCollection=&ecologicalCategory=

<img width="1161" alt="Screenshot 2020-03-19 at 12 10

[2020-03-19 10:13] jeremyshelton commented on #1887
OK thanks @timlinux & @dimasciput

[2020-03-19 10:15] jeremyshelton commented on #1861
Let's roll with primary catchment level, unless @helendallas feels strongly otherwise?

[2020-03-19 10:17] dimasciput commented on #1217
@jeremyshelton did you zoom in the browser before downloading the chart? If so, please try use normal zoom level.

[2020-03-19 10:18] dimasciput commented on #1217
@jeremyshelton

Some people may not be able to open a .svg, or even drag it into ms office, if they don't have a program that can do so. Is the best way around this to suggest they download a program for this? If so, which is easiest?

Most browsers are able to open the svg.

[2020-03-19 10:19] helendallas commented on #1861
I agree. Primary catchment level makes the most sense

[2020-03-19 10:29] jeremyshelton commented on #1217
No, I don't think I am zoomed in at all, but every time when I open the svg I get a support-cropped in image?

[2020-03-19 10:29] jeremyshelton commented on #1217
OK, than that should be fine 👍

[2020-03-19 12:11] jeremyshelton commented on #1861
👍

[2020-03-19 12:19] jeremyshelton commented on #1863
Hi @NyakudyaA how close are we to ticking off the above points raised for finalising the base map?

[2020-03-19 12:44] #1847 closed

[2020-03-19 12:52] jeremyshelton commented on #1971
@dimasciput OK, let's see. Please let us know when we can start looking at the new fish data on testing...

[2020-03-19 12:53] jeremyshelton commented on #1859
@timlinux are you going to check this with Hugo, or should we?

[2020-03-20 03:09] dimasciput commented on #1977
@philipfrenzel ok thanks, because it was not pretty clear in the first requirement.

[2020-03-20 12:01] philipfrenzel opened #1981 "Algal testing - Metadata table issue: source not available"
Hi @dimasciput

I have noticed that the source column in the metadata table is blank even though the information is in the raw data file:

On the testing site:
![image](https://user-images.githubusercontent.com/45286840/77161697-f546c400-6ab2-11ea-95aa-d33eb590358b.png)

In the raw data file:
![image](https://user-images.githubusercontent.com/45286840/77161723-05f73a00-6ab3-11ea-9cb7-7e61b7aec6fc.

[2020-03-20 12:23] helendallas commented on #1981
@Aneri16 Please cna you assist Phil with this. It relates to the DOI, URL, or upload link. I suspect it is because the reference is not referenced correctly.

[2020-03-20 12:38] Aneri16 commented on #1981
@helendallas @philipfrenzel
Usually Source doesn't have a DOI or URL etc as it just describes the source of the data (for example "University of Cape Town Masters Thesis") so I'm not sure why it isn't being pulled into FBIS... hopefully it is just a testing site issue but perhaps @dimasciput can shed some light.
Sounds like a similar issue to that of the "Collector/Owner" column that just wasn't b

[2020-03-20 12:46] helendallas commented on #1981
@Aneri16 @philipfrenzel
If the reference has a DOI then isn't the Source field empty?

[2020-03-20 13:03] philipfrenzel commented on #1981
My understanding was that if the study has a DOI, for example, then it would have the journals name as the source? I vaguely recall something this - so I'm not 100% sure.

@Aneri16  @helendallas

[2020-03-20 13:30] dimasciput commented on #1981
@philipfrenzel that is because the current implementation is source only appears if it's a peer reviewed data not published data.
![image](https://user-images.githubusercontent.com/1979569/77167895-7325c200-6ae9-11ea-8308-a6139819123a.png)

This is not a bug because it was intended to do this, if SOURCE should be displayed at all time, then I need time to update the codes.

[2020-03-20 13:35] philipfrenzel commented on #1981
Thanks for clarifying @dimasciput

I think @helendallas  would be best suited to answer whether it needs to be displayed all the time or not. Best to wait until Helen gets back to you before you make any changes to the codes.

[2020-03-20 13:37] dimasciput commented on #1981
@helendallas @Aneri16 @philipfrenzel

Yes that's correct, because Source value is retrieved from the internet based on the DOI.

[2020-03-20 14:11] philipfrenzel opened #1983 "Algae master list - input required re certain taxa"
Hi @helendallas and @jeremyshelton

I'll give a proper update on the algae master list on Monday during the Zoom, but I would like to ask for your input on a few algal species:

Regarding the following taxa:
* "**Craticula buderi**": If you search for this species in GBIF (https://www.gbif.org/species/8173190), the following taxonomic backbone is provided:

![image](https://user-images.githubuserc

[2020-03-20 18:11] Aneri16 commented on #1981
Yes so "Source" should only be displayed for a report, database, or thesis. So don't need to worry if it isn't displayed for journal articles

[2020-03-23 03:04] dimasciput commented on #1901
@helendallas the duplicated user has been merged, here are the list of affected users :
[duplicated_users.zip](https://github.com/kartoza/django-bims/files/4367006/duplicated_users.zip)
But this is only for testing site, so please check there first.

[2020-03-23 05:52] dimasciput commented on #1971
@jeremyshelton can you test it again

[2020-03-23 06:03] jeremyshelton commented on #1971
Looks good 👍 Closing ticket.

[2020-03-23 06:03] #1971 closed

[2020-03-23 08:09] jeremyshelton opened #1987 "Site cosmetics: admin interface where we can go and set the different key colours for the site"
From @timlinux

What I would propose doing is under the RBIS work add an admin interface where we can go and set the different key colours for the site so that we can as admin users go and change logos, landing page images, colours etc. That way we can have all instances using as similar code as possible and make it easy for the platform admin to tweak the style over time.

Newer versions of GeoNo

[2020-03-23 08:46] dimasciput commented on #1960
@helendallas can you test it again?

[2020-03-23 08:46] dimasciput commented on #1959
@helendallas can you test it again?

[2020-03-24 03:38] jeremyshelton opened #1989 "FBIS v3 pop-up site notice"
@dimasciput here is a pop-up site notice for FBISv3. @helendallas and @Aneri16 please have a look and edit if necessary before v3 release.

[FBISv3 pop up site notice.docx](https://github.com/kartoza/django-bims/files/4373004/FBISv3.pop.up.site.notice.docx)

[2020-03-24 09:38] helendallas commented on #1887
@dimasciput
Please confirm if the script has been run to fetch higher order taxa on the live site?  I need to check the Biobase records, but am not sure where to do this? Presumably live site but I dont want to waste my time if the script has not been run using the Invertebrate master list

[2020-03-24 10:16] helendallas commented on #1959
@dimasciput looks fine now.

[2020-03-24 10:16] #1959 closed

[2020-03-24 10:21] helendallas commented on #1960
@dimasciput all working

[2020-03-24 10:21] #1960 closed

[2020-03-24 10:47] helendallas commented on #1901
@dimasciput
It is rather hard to check this list.

One issue is all the Owners/Collectors that have been imported from the ingestion of data:
![Screenshot_2020-03-24 Select user to change Django site admin(1)](https://user-images.githubusercontent.com/45286876/77416827-11a57200-6dcd-11ea-9e28-58f2bbe64ad5.png)

We ideally need a way to differentiate between suers who actually sign up to FBIS, and

[2020-03-24 11:18] helendallas opened #1990 "Add Invertebrate Taxon"
Tab says: FBIS / Fish Form - This should be FBIS / Invertebrate form

Also List displays fish and invertebrate taxa - should not show any fish

![Screenshot_2020-03-24 FBIS Fish Form(1)](https://user-images.githubusercontent.com/45286876/77419917-d9546280-6dd1-11ea-90fa-4417bb6592ee.png)

[2020-03-24 11:22] helendallas opened #1991 "Update biodiversity record"
![Screenshot_2020-03-24 Nonvalidated Records(1)](https://user-images.githubusercontent.com/45286876/77420315-77e0c380-6dd2-11ea-9620-772a34565281.png)

Not sure what Category is? I recommend removing it as it relates to Native/Non-native so should at least be renamed Origin. Is this something the use needs to add? or should it be populated fomr our master list

@jeremyshelton ?

[2020-03-24 11:23] helendallas commented on #1991
Also need to add a close/x after this step. To take one back to the map

[2020-03-24 11:32] helendallas opened #1992 "Study References not updating in Search filter"
![Screenshot_2020-03-24 FBIS SASS(1)](https://user-images.githubusercontent.com/45286876/77420977-b034d180-6dd3-11ea-8e32-84c6a969baaa.png)

SASS data has been added to live site - as above.

Study reference is not showing in the Ollis

![Screenshot_2020-03-24 FBIS Map](https://user-images.githubusercontent.com/45286876/77421105-e2463380-6dd3-11ea-9a8b-14b400330b20.png)

[2020-03-24 11:38] helendallas commented on #1962
Working fine

[2020-03-24 11:38] #1962 closed

[2020-03-24 11:40] helendallas commented on #1935
@dimasciput I think I am still waiting for the updated GBIF download of invertebrate Master list so that I can cross check with mine. Please confirm

[2020-03-24 11:58] helendallas commented on #1937
@dimasciput Please confirm any issues with invert data ingestion. There were 3 types of errors:

"446 : Bad UUID format" - corrected
"1497 : ValueError : Incorrect Date format", - corrected

Collector/owner and Author(s) fixed

New file name is: SA Invertebrate Data for FBISv3_24 Mar 2020.csv
Link:
https://www.dropbox.com/sh/u302jtojrjbrlj3/AABJHOtx_lsZ1H4yukzfzoAca?dl=0

Please confirm that there

[2020-03-24 12:00] helendallas commented on #1972
Link to #1935

[2020-03-24 13:52] dimasciput commented on #1901
@helendallas user that actually sign up has email on their profile. And yes if you delete a user who is an owner of a record, it will show you a message.

[2020-03-24 16:47] jeremyshelton commented on #1991
@helendallas is this on testing or live site?

[2020-03-25 05:49] helendallas commented on #1991
@jeremyshelton Live site

[2020-03-25 05:58] helendallas commented on #1989
@jeremyshelton Looks fine to me. Maybe remove track changes and clean for Dimas

[2020-03-25 06:15] helendallas commented on #1901
@dimasciput Okay, so if I sort on email I can get signed up suers only. I have randomly checked duplicate list, seems okay.  Some are not being picked up because name is similar but email is different:

![Screenshot_2020-03-25 Select user to change Django site admin](https://user-images.githubusercontent.com/45286876/77506876-a1036180-6e6f-11ea-8431-a6d647571ee8.png)

Your system does not pick up

[2020-03-25 06:22] helendallas commented on #1901
@dimasciput Also we have updated a lot of the Collector/Owner names to First Name and Surname when we know the first name rather that initial in the data for ingestion.

If a user exists in FBIS, will the record be assigned to the existing user? If not, then we will always be creating duplicates.

[2020-03-25 06:51] dimasciput commented on #1901
It will overwrite existing user with the same firstname and lastname.

[2020-03-25 06:57] helendallas commented on #1901
@dimasciput Okay hats good, so hoefully once we have cleaned up Collector/Owner names as best we can in the data then it will be less numerous

[2020-03-25 09:00] jeremyshelton commented on #1989
Cool. Here it is. Cleaned and ready for Dimas 👍

[FBISv3.pop.up.site.notice.docx](https://github.com/kartoza/django-bims/files/4379900/FBISv3.pop.up.site.notice.docx)

[2020-03-25 12:51] jeremyshelton commented on #1991
@dimasciput do you know what kind of information might be found under 'category'?

[2020-03-26 10:09] dimasciput commented on #1992
@helendallas currently it only filter by peer-reviewed reference and database, I will update it to include published report data.

[2020-03-26 10:11] dimasciput commented on #1981
I will close this, source will still stored in database but not displayed for journal or published articles.

[2020-03-26 10:11] #1981 closed

[2020-03-26 10:13] dimasciput commented on #1938
@helendallas because it has different descriptions, you want me to merge them? Which description should I use?

[2020-03-26 10:48] helendallas commented on #1938
@dimasciput Okay, this has happened because of the ingestion of fish data from the Rivers Database which was included in the earlier batch of fish data. This fish data is due for re-ingestion. It might be good for me to go and delete the site descriptions for these sites as they are the same sites with the same FBIS Site code as Rivers data already in the FBIS.  PLease advice and I will ask Aneri

[2020-03-26 10:55] helendallas commented on #1938
@dimasciput
I checked the new fish spreadsheet and these sites dont have a description. So if the Original Site Code is the same as an existing FBIS Site Code then the data needs to be assigned to the same site.

[2020-03-26 10:56] dimasciput commented on #1938
@helendallas ok so probably when I have re-ingested new fish data to live site, it will resolves itself.

[2020-03-26 11:00] helendallas commented on #1938
@Aneri16 Please can you double check that fish data that was brought in from the Rivers Database, and which has the same site code as existing site code in FBIS, does not have a site description. These data need to be added to existing FBIS Sites which also came form the RIvers Database...shout if unclear

[2020-03-26 11:45] timlinux opened #1995 "Optimising the ingestion process"
We want to test the new fish/invert/algae data on FBIS on testing before deploying to live

- [x] @dimasciput to split the ingestion so that sites are ingested in a separate process
- [x] @helendallas @philipfrenzel and @jeremyshelton to provide near final lists for alg/new inverts/fish
- [x] @dimasciput to ingest just the new sites on livefrom the above lists
- [x] @dimasciput to run geocontext u

[2020-03-26 11:53] timlinux commented on #1995
@timlinux to capture the process for ingestion in the admin manual

[2020-03-26 12:06] timlinux commented on #1901
Discussion on 26 March 2020 - Helen asked to deploy user management to live - she will then use the new tools to systematically work through the users list.

[2020-03-26 12:18] helendallas commented on #1217
![image](https://user-images.githubusercontent.com/45286876/77646124-9a0e4900-6f6c-11ea-85db-8c09cf4796f7.png)

[2020-03-26 12:20] helendallas commented on #1217
![image](https://user-images.githubusercontent.com/45286876/77646300-f2dde180-6f6c-11ea-9d07-bf5e677d6919.png)

[2020-03-26 12:26] helendallas commented on #1217
https://freshwaterbiodiversity.org/sass/dashboard/11056/?taxon=&search=a1ngot&siteId=11056&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=11056&orderBy=name&polygon=

[2020-03-26 12:41] Aneri16 commented on #1938
Not sure I follow entirely...Do you mean the Rivers Database fish data
that is in our current fish spreadsheet? If so, do you mean I need to
make sure the "Site Description" fields for this data are empty? I also
see the Rivers Database data in our spreadsheet has FBIS codes in the
"Original Site Code" column, but not in the "FBIS Code" column. Is this
correct?

www.frcsa.org.za [4]

On 2020-03-26

[2020-03-26 12:44] Aneri16 commented on #1938
Not sure I follow entirely...Do you mean the Rivers Database fish data that is in our current fish spreadsheet? If so, do you mean I need to make sure the "Site Description" fields for this data are empty? There are some with site descriptions. I also see the Rivers Database data in our spreadsheet has FBIS codes in the "Original Site Code" column, but not in the "FBIS Code" column. Is this correc

[2020-03-26 13:29] philipfrenzel commented on #1995
Thanks @timlinux

I have placed the final algal data spreadsheet in the following shared Dropbox folder: FRC_Kartoza Shared Folder for FBIS\Data to Ingest 2020_02\Algae. It is the .xlsx file with "26 March 2020" at the end:

![image](https://user-images.githubusercontent.com/45286840/77651892-1ce7d180-6f76-11ea-98b7-1e49ddcc7fd2.png)

I will be able to have the algal species master list completed

[2020-03-26 14:28] helendallas commented on #1938
@Aneri16 Dont worry I will sort out

[2020-03-26 14:55] helendallas commented on #1977
@philipfrenzel Please can you clarify:

"sampling location" is confusing as it speak to sampling site location - please can you an alternative- perhaps : sampling substrate? but then in situ? doesnt work

Please clarify what you mean by in situ with respect to this - it doesnt seem to fit with others - is it a measure by the benthotorch?

Perhaps we can have **Detail**?  or **Sampling specifics**

[2020-03-26 16:37] helendallas commented on #1895
@dimasciput
I am going through the Biobase references and came across a case where the reference is a published report  and we need to upload the pdf which we have.  The study reference is in the citation manager
https://freshwaterbiodiversity.org/admin/td_biblio/entry/55/change/
But is not on the documents.  Please confirm the steps I need to take to ensure that the data associated with study get

[2020-03-26 17:57] helendallas commented on #1895
@dimasciput Once you have answered above we can complete our side and then it will be ready for ingestion.

File thus far:
[Biobase Study Reference Table For DOI URL - 06-03-20.xlsx](https://github.com/kartoza/django-bims/files/4388972/Biobase.Study.Reference.Table.For.DOI.URL.-.06-03-20.xlsx)

[2020-03-27 06:27] jeremyshelton commented on #1995
Thanks @philipfrenzel. I have created a csv file for @dimasciput and put the older versions of the spreadsheet in a different folder.

[2020-03-27 07:29] helendallas commented on #1935
@dimasciput @timlinux

Thanks for the GBIF extracted data sent by email. Attached.
[GBIF Extracted invertebrates 2020_03_27.xlsx](https://github.com/kartoza/django-bims/files/4392042/GBIF.Extracted.invertebrates.2020_03_27.xlsx)

This file only has 621 taxa listed. In comparison my Master file has 3773, of which around 3000 have already been previously manually checked on GBIF, and for SA records.

[2020-03-27 07:33] helendallas opened #1996 "Add Unknown to Origin, endemism"
Please add "Unknown"option for Origin, Endemism and Conservation Status. (It may already be there for some)

This is needed as we ingest invertebrate and algal data since many of these taxa do not have this information.  It is better than leaving blank.

@philipfrenzel @jeremyshelton Please check that Unknown is added for the appropriate taxa and columns in the ingestion files.

[2020-03-27 07:38] philipfrenzel commented on #1977
Hi @helendallas

Good suggestion to make "sampling location" clearer for the biomass indicators. I think "sampling details" is a good alternative.

The "in situ" option relates to Chl A-B only and is measured with a BenthoTorch machine (alternatively known as an in situ fluorometer). The BethoTorch machine was designed to take a quick Chl A measurement whilst in the field i.e. in situ (as opposed

[2020-03-27 07:45] dimasciput commented on #1935
@helendallas ah ok, it was actually all the invert data that was ingested to our system which have collection record.

Let me ingest the master list first, I'm not sure if I can finish it today, will weekend or Monday fine work for you?

[2020-03-27 07:49] philipfrenzel commented on #1996
No problem @helendallas . This was on my to-do list for Monday for the algae species master list based on the zoom call earlier this week. But I'll get onto this soon due to the urgency.

On a side note: I haven't unfortunately heard anything back from Pashni regarding the endemism of certain diatoms. So, unfortunately, most algae species will be classified as "unknown" for now.

@jeremyshelton

[2020-03-27 07:53] dimasciput commented on #1977
@philipfrenzel no please, for the raw data please keep using the code.

[2020-03-27 08:08] helendallas commented on #1935
@dimasciput Please do as soon as you can, I can tackle on monday as I realise it is quite a task. Thanks

[2020-03-27 08:09] philipfrenzel commented on #1977
@dimasciput  Okay, no problem.

[2020-03-27 08:41] helendallas commented on #1945
@philipfrenzel @jeremyshelton
When the final algal data file is ready for ingestion, please add file name and dropbox link for final ingestion to this ticket, so that we can keep track of all data ingested systematically.

[2020-03-27 08:43] helendallas commented on #1901
@dimasciput Please let me know as soon as this has been deployed to the live site so that I can begin the user cleanup.

[2020-03-27 08:44] helendallas commented on #1877
@dimasciput Please confirm if this has been done on the live site so that I can check

[2020-03-27 08:45] helendallas commented on #1826
This is waiting for Dimas to run user updates on live site

[2020-03-27 09:28] dimasciput commented on #1935
@helendallas will do, my electricity goes out, so I will work on Bims tickets this weekend.

[2020-03-27 12:00] philipfrenzel commented on #1945
Both final algal spreadsheets (data and master list) have been uploaded to the shared FRC/Kartoza Dropbox folder. Links to the CSV files are as follows:
* Data: https://www.dropbox.com/s/eu6f96kr8wewfzk/SA%20Algal%20Data%20For%20FBISV3_26%20Mar%202020.csv?dl=0
* Master list: https://www.dropbox.com/s/0tvglzpdwbls8kc/SA%20Algal%20Master%20list%20FBISv3_27%20Mar%202020.csv?dl=0

In terms of the drop

[2020-03-27 12:04] philipfrenzel commented on #1996
@helendallas @jeremyshelton . I've completed this for the algal list.

Unfortunately the origin, endemism and conservation status isn't readily available for algae - hence I have populated the gaps with 'unknown'. When I hear back from Pashni re the endemism, I'll let you know. It'll be a small handful of taxa where this is known in SA, but would be nice to add. Hopefully we can add these data at

[2020-03-27 14:55] dimasciput commented on #1935
Hi @helendallas here's the file :
[invertebrates.csv.zip](https://github.com/kartoza/django-bims/files/4394200/invertebrates.csv.zip)

There are 3046 data, I'm not sure why it's missing like 700 data. Maybe can you check what's missing from Excel.

[2020-03-27 14:56] dimasciput commented on #1935
And is this really important right now? Because I have other things to do like ingesting the sites and fixing the bugs. If this is more important than that, I can focus on this first.

[2020-03-29 14:34] dimasciput commented on #1995
@jeremyshelton @helendallas
Currently working on this : `ingest just the new sites on live from the above lists`

[2020-03-30 04:17] dimasciput commented on #1995
@jeremyshelton
Currently fetching geocontext data in live site, it might be finish tomorrow.

[2020-03-30 08:51] jeremyshelton commented on #1995
@dimasciput thanks, sounds good.

Let us know when you are ready.

And let us know if there are any issues with the new fish data ingestion...

[2020-03-30 08:53] #1964 closed

[2020-03-30 09:39] philipfrenzel commented on #1995
@dimasciput I forgot to mention on this ticket that I uploaded the master algal list on Friday. I did, however, make a comment in the following ticket with the Dropbox links to both final (and cleaned) files: Algal Data - Ready for ingestion  #1945

Please let me know if you have any questions.

[2020-03-30 10:29] helendallas commented on #1935
@dimasciput @timlinux
The quality of the data hinges on the accuracy of the master list, so yes it is very important. Not only does it speak to the integrity of the FBIS data, but it will also serve as the master list for future harvesting of the GBIF invertebrate data.

It is going to take me a long time to systematically work through these lists, so far I have picked up the following issues:
Sci

[2020-03-30 13:18] dimasciput commented on #1935
@helendallas ok then I probably need to fix my script, I was thinking this is just an optional ticket so I only write a quick script to ingest species then fetch the gbif. Most of these species won't be available to the general user because they don't have collection data.

[2020-03-30 13:19] dimasciput commented on #1935
@helendallas is this more important than ingesting the collection data? If so then I can focus on this first. It probably will take half-day.

[2020-03-30 13:30] helendallas commented on #1935
@dimasciput yes this is extremely important. I have just spent an entire day wading through your data compared to my data and I am only one quarter of the way. Many issues.  I dont want to have to waste my time unnecessarily, so please confirm once the scrip has been improved and tested form your side.

I am showing the two fields for your information so that you can get a sense of what the issues

[2020-03-30 13:41] dimasciput commented on #1935
@helendallas ok what should we do if it's red, blue or orange?

[2020-03-31 03:11] dimasciput commented on #1995
@jeremyshelton @helendallas

blocked by other ticket -> https://github.com/kartoza/django-bims/issues/1935. Will continue again this ticket later.

[2020-03-31 10:00] dimasciput commented on #1935
@helendallas @jeremyshelton

So Tim and I made this diagram of how we ingest the species in the background, I hope you can get a better idea how complicated the process is. I'm still working on it right now, hopefully I can finish it tomorrow.

https://files.slack.com/files-pri/T9ZKRM41X-F0113QEN5AL/bims-name-resolution.png

[2020-03-31 10:03] helendallas commented on #1935
@dimasciput Thanks, I am sure it is. Sorry I am not using slack

[2020-03-31 15:14] helendallas commented on #1935
@dimasciput I have decided to check through all the records that you extracted from GBIF. It is a good double check for the taxon master list, so although it is taking a while to do, I believe it iwill be worth it.
I should finish this tomorrow.

[2020-03-31 15:14] helendallas commented on #1935
@dimasciput
The red ones seems to come through with the new name automatically. Please check why orange are not coming through. It seems it is sometimes:
- Exists on GBIF but not brought down? e.g. Afronemoura spinulata (Balinsky, 1967)
- Is a SubSpecies: e.g. Agriocnemis angolensis subsp. angolensis ; Agriocnemis angolensis subsp. spatulae Pinhey, 1974
- Higher order taxon - e.g. Order Anostraca

[2020-04-01 08:35] dimasciput commented on #1992
![image](https://user-images.githubusercontent.com/1979569/78116356-5ca73100-742e-11ea-84e8-8d1f934f23cb.png)

Fixed in testing

[2020-04-01 08:37] dimasciput commented on #1967
@philipfrenzel you need to wait for the autocomplete dropdown to appear, then select that species.

[2020-04-01 08:37] dimasciput commented on #1969
Will be fix by https://github.com/kartoza/django-bims/issues/1995

[2020-04-01 08:40] dimasciput commented on #1887
Should be fixed by this ticket -> https://github.com/kartoza/django-bims/issues/1935.

[2020-04-01 08:51] dimasciput commented on #1895
There is no way to do this from the website, I have to do it with a script.

![image](https://user-images.githubusercontent.com/1979569/78117698-2c609200-7430-11ea-9b72-0299196f6f3f.png)

Also published report need to have link of document or URL, without it I can't create a document. Please fix it.

@helendallas @jeremyshelton

[2020-04-01 09:09] dimasciput commented on #1935
[extracted-inverts.zip](https://github.com/kartoza/django-bims/files/4414017/extracted-inverts.zip)

[2020-04-01 10:15] timlinux opened #2001 "Incorrect coordinate for 8 sites"
These are the records where latitude is positive
[code]

These can be checked after re-ingestion because they may be fixed already with @helendallas 's cleanups.

[2020-04-01 10:21] Aneri16 commented on #2001
Thanks, noted.

[2020-04-01 14:05] helendallas commented on #1935
@dimasciput Thanks. I have gone through all of these and picked up a few issues. The issues are highlighted in orange in this file:
Invertebrates extracted from GBIF 2020_04_01 From Dimas.xlsx

[Invertebrates extracted from GBIF 2020_04_01 From Dimas.xlsx](https://github.com/kartoza/django-bims/files/4415584/Invertebrates.extracted.from.GBIF.2020_04_01.From.Dimas.xlsx)

There are still fewer recor

[2020-04-01 14:10] helendallas commented on #1935
@dimasciput Final Master list is:
SA Invertebrate Master List FBISv3_2020_04_01.xlsx

In this folder:
https://www.dropbox.com/s/03i0aq08phvm7af/SA%20Invertebrate%20Master%20List%20FBISv3_2020_04_01.xlsx?dl=0

I have included the extra columns used for editing, they are not needed in import,
(On GBIF | South Africa records | Comments | Source | Taxon Rank)

**Issue with below remains.**
Scientific

[2020-04-01 14:12] helendallas commented on #1937
@dimasciput Invertebrate data ready for ingestion. Same file as above

[2020-04-02 07:09] helendallas opened #2002 "Geomorphological zones -"
@NyakudyaA @dimasciput
@Aneri16 @jeremyshelton @philipfrenzel

I noticed repetition in the geomorphological zones. I this because of inconsistencies in the data ingested? There needs to be one of each...

![Screenshot_2020-04-02 FBIS Map](https://user-images.githubusercontent.com/45286876/78219923-d425a080-74c0-11ea-8236-d301616e7a01.png)

This is what they should be:

Refined   geomorphological z

[2020-04-02 07:16] NyakudyaA commented on #2002
Hi @helendallas the data is correct from the database. This should be addressed by just updating the geocontext. I think @dimasciput is running updates

[2020-04-02 07:17] helendallas opened #2003 "Filters - adding an "AND" option"
@timlinux @dimasciput

Users often need to filter data by using a combination of filters, a typical example is Selecting one Ecoregion level 1, and one Geomophological zone . At the moment its not possible to combine these. It was something we chatted about early on but seems to have dropped off the radar.

Please can we add to our improvements for V5.

[2020-04-02 10:51] philipfrenzel commented on #1967
@dimasciput thanks, could be an internet speed issue from my side at the moment. I see that the autocomplete option doesn't even feature as we speak.

Thanks for fixing the biomass section. Looks good! I see that the other dropdown issues haven't been resolved yet (i.e. the other dropdown issues raised earlier in this thread). Can you please fix this when you have a chance?

[2020-04-03 02:09] dimasciput commented on #1945
@philipfrenzel @helendallas
![image](https://user-images.githubusercontent.com/1979569/78316788-b7559f80-758a-11ea-880f-4c2621a8e5ae.png)

Please add a link to document or url for the published report, I can't create a published report reference without it.

[2020-04-03 02:12] dimasciput commented on #1945
@philipfrenzel

I'm unsure what is this for?

[2020-04-03 02:51] dimasciput commented on #2002
@helendallas @NyakudyaA updating it now.

[2020-04-03 07:27] philipfrenzel commented on #1945
Hi @dimasciput

I see that there are three published reports which have algal data assigned to them. Two of them I would like to confirm whether we have permission to serve up the actual reports. Regarding the TMGA report, @helendallas , I recall that we (FRC) need to get a signed letter of approval from the City to publish this report on FBIS. Do we have that yet, or are we going to publish it in

[2020-04-03 07:31] philipfrenzel commented on #1945
@dimasciput

These 15 dropdown options for division are for the algal master list. If someone adds a new taxon, they need to be able to assign a division from one of these 15 options. Currently, only the first 9 divisions are present in the current master list but we need to create options for the other divisions should users add these taxa in the future.

[2020-04-03 08:30] dimasciput commented on #1217
@jeremyshelton can you try it again on the testing? I think I fixed it.

[2020-04-03 10:36] philipfrenzel commented on #1945
@dimasciput  I have received permission to upload the two published reports and have uploaded them via the document uploader into FBIS. I have also updated the .xlsx and .csv files in the Dropbox folder (they still have the old date i.e. 26 March 2020 in their title). Once I have found out what to do regarding the TMGA report from @helendallas , I will update the files accordingly.

[2020-04-03 13:16] philipfrenzel opened #2005 "Algal testing - biomass data entry"
Hi @dimasciput

I am in the process of trying to add fictitious biomass data and cannot seem to be able to submit it on the testing site (screenshot below). This issue I am describing relates to adding biomass only (no other biotic or abiotic data).

![image](https://user-images.githubusercontent.com/45286840/78363498-28617b00-75bc-11ea-9c2f-809c0c13524c.png)

I suspect that the above error is a r

[2020-04-03 13:28] philipfrenzel opened #2006 "Algal testing - autopredict issue with species names"
Hi @dimasciput

Previously, the system autopredicted species names when I tried adding abundance data in the section below (screenshot). It appears that this isn't working - a bug perhaps?

![image](https://user-images.githubusercontent.com/45286840/78365475-7035d180-75bf-11ea-9433-beea9eea7fdb.png)

Can you please have a look at this?

[2020-04-03 13:33] dimasciput opened #2007 "Testing feedback tool (by philip)"
Testing feedback tool (by philip)

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/498">User information </a>
Device: Desktop
Referrer: https://testing.healthyrivers.kartoza.com/algae-form/?siteId=28554
Screen resolution: 1366 x 768
Browser: Chrome

[2020-04-05 02:43] dimasciput commented on #2006
@philipfrenzel please wait when the site is ready for testing, I'm still re-ingesting the algal data.

[2020-04-05 02:44] #2007 closed

[2020-04-05 02:49] dimasciput commented on #1945
@philipfrenzel can you please add these data to master list then?

[2020-04-05 03:37] dimasciput commented on #2006
Please try it again

[2020-04-05 04:00] dimasciput commented on #2002
Fixed in live site

[2020-04-06 06:54] helendallas commented on #2002
@dimasciput Is there a way to order the zones as per this list:

Source zone
Mountain headwater stream
Mountain stream
Transitional
Upper foothill
Lower foothill
Lowland river
Rejuvenated bedrock fall / cascades
Rejuvenated foothill
Upland floodplain

[2020-04-06 06:57] dimasciput commented on #2002
@helendallas sorry we try to make it as generic as possible, so we order it by name. If we want to have different behavior only for goemorphological zone, then I need more time to do it.

[2020-04-06 07:02] helendallas commented on #2002
@dimasciput In the case of geomorphological zones it is quite important as it starts from upstream to downstream. For now I suggest you leave sorted alphabetically, we can re-evaluate after V3 release. Thanks.  I will close this ticket and create one for V5 project

[2020-04-06 07:02] #2002 closed

[2020-04-06 07:04] helendallas opened #2009 "Geomorphological zone - display order"
Please update the display order so that the river zonation is reflected as follows:

Source zone
Mountain headwater stream
Mountain stream
Transitional
Upper foothill
Lower foothill
Lowland river
Rejuvenated bedrock fall / cascades
Rejuvenated foothill
Upland floodplain

[2020-04-06 07:34] philipfrenzel commented on #2006
Hi @dimasciput

This doesn't seem to be solved as the entire list of species is now visible under this section (please see screenshot):

![image](https://user-images.githubusercontent.com/45286840/78533526-6394c180-77e9-11ea-96bb-ac2cef299a0e.png)

Most importantly, I see that this list has both algae and invertebrate taxa. It should only have algae taxa. Not sure why this is so?

[2020-04-06 07:37] dimasciput commented on #2006
@philipfrenzel yes this is intended, we filter the species by catchment area. See other species form.
cc @helendallas, @jeremyshelton

Again, we try to make this as generic as possible, so please if you want to have different behavior for different species let me know, and I will need more time to update it.

[2020-04-06 07:38] dimasciput commented on #2006
@philipfrenzel which one is invertebrate?

[2020-04-06 07:41] dimasciput commented on #2006
@helendallas can we have two different species group with same Class or Genus? Like invert and algae with same Class?

[2020-04-06 07:58] philipfrenzel commented on #1945
@dimasciput  Done. I've added the dropdown options for you for taxon rank, division, growth form, origin, endemism and conservation status. The file name is still the same (i.e. 26 Mar for the data file and 27 Mar for the master list). I've converted it to a .csv file too.

[2020-04-06 08:03] philipfrenzel commented on #2006
There are a lot of invertebrate species in that algae list on the testing site. From the screenshot alone, Acentrella, Adenophlebia x2. I noticed this because there are algal species missing too e.g. many species from the Achnanthes family (screenshot from the master list):

![image](https://user-images.githubusercontent.com/45286840/78536251-d4d67380-77ed-11ea-8e16-947faee6e328.png)

[2020-04-06 08:52] helendallas commented on #1895
@dimasciput

Most published reports do not have a url. These are old historical reports that were around befroe digitisation. In the column

Do we   have PDF?  those with a Yes, will need you to manually upload the PF, which we have. The other should remain as a published report but no pdf. As it is not available anywhere.

So it is a published report, but not available as url or pdf....how do we

[2020-04-06 12:21] helendallas commented on #1887
@dimasciput These taxa are still not right on testing. e.g.
Genus Hydracarina in Biobase - is returned as Panisus michaeli Koenicke, 1896 in FBIS
Wrong GBIF Name being returned - should rather be Hydrachnidae

https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=&siteId=27304&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter

[2020-04-07 01:54] dimasciput commented on #2005
@philipfrenzel @helendallas @jeremyshelton
Yes currently it is not possible to do this, you need to have at least one taxon since this collection data form, I'm not sure what "Multiple" is, can someone elaborate more?

If the user can add a collection without a taxon it will create an inconsistency, because from the map view the button is called 'Add Algae' not 'Add biomass'. So we need a differen

[2020-04-07 08:29] philipfrenzel commented on #2005
Hi @dimasciput

I trawled through my emails now to find the discussion we had about how to deal with the taxon column when there is only biomass data are added.

Just as a point of interest, a biomass measurement is the amount/quantity of algae in a sample. For this measurement, individual taxa are not identified and therefore we cannot assign a taxon to this.

But having said that, I agree with H

[2020-04-07 11:57] helendallas opened #2012 "URGENT - SASS data problematic"
@dimasciput Please can you urgently check what has happened to the SASS data on the live site. I was checking data from my thesis, and found some major issues.

Taxon numbers are wrong, not adding from biotope to Site etc.
Here is an example site:
![Screenshot_2020-04-07 FBIS Single Site Dashboard - SASS](https://user-images.githubusercontent.com/45286876/78665917-dc257c00-78d6-11ea-88e7-d731ee9d6

[2020-04-07 12:13] helendallas commented on #1887
To add to this, obviously Hydracarina is one of the SASS Taxa, so for SASS it will remain as Hydracarina

[2020-04-07 12:32] helendallas commented on #1807
@NyakudyaA
Please can you include the full name as per the table, not just the code. You have done it for some but not all of them.
![Screenshot_2020-04-07 FBIS Map](https://user-images.githubusercontent.com/45286876/78669284-54427080-78dc-11ea-91bc-58f2874296d8.png)

![image](https://user-images.githubusercontent.com/45286876/78669289-560c3400-78dc-11ea-8531-b6328c600814.png)

[2020-04-07 12:48] #1472 closed

[2020-04-07 12:50] helendallas commented on #1860
I am closing this ticket as issues dealt with in individual tickets

[2020-04-07 12:50] #1860 closed

[2020-04-07 12:58] timlinux commented on #2012
@dimasciput please add unit tests for this kind of stuff so that we can ensure that there are no regressions.

[2020-04-07 12:59] NyakudyaA commented on #1807
@helendallas I would have to create separate lookups  tables for those values and join them to the respective tables for consistency sake because currently, I do not manipulate the raw data . I try to server it as is that's why you see it's inconsistent.
![threat-eco](https://user-images.githubusercontent.com/2510900/78672044-632b2200-78e0-11ea-967c-4be73157396f.png)

[2020-04-07 13:14] helendallas commented on #1856
@NyakudyaA
In addition to included RMU as a spatial filter, the layer is not really useful as they are visualised here. As I understand it, a number of quaternaries are grouped together into a RMU - this should then be coded a colour.

What I see is the outline of the quaternary catchments.

![Screenshot_2020-04-07 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/78672601-2dd30400-7

[2020-04-07 13:17] jeremyshelton opened #2013 "Fish data and master list ready for ingestion"
The final version of the fish master list and fish data for FBIS v3 are now saved as .csv files on [dropbox](https://www.dropbox.com/sh/ilfrbn6klyesv3k/AAA520tmniByikaY-Of2CCr9a?dl=0) and ready for ingestion.

These need to replace the previous versions in FBIS.

You will see that the eco-tolerance column is included in the master list. This is the field discussed last week. Maybe we can look to i

[2020-04-07 13:17] helendallas commented on #1807
If I updated the dbf file, would the correct labels come through?

@jeremyshelton Thoughts?

[2020-04-07 13:23] NyakudyaA commented on #1856
Something like an intersection between current RMU and quarternary so that we can group them.

They are 76 distinct RMU so using this as a category to classify it would produce a very long list with the colors difficult to separate.

[2020-04-07 13:25] helendallas commented on #1983
@philipfrenzel Has this been resolved. Can the ticket be closed?

[2020-04-07 13:25] helendallas commented on #1858
I am closing this ticket as each module has been separated into its own ticket.

Please see
Algae: #1945 #1983
Invertebrates:  #1935 #1937
Fish: #2013

[2020-04-07 13:25] #1858 closed

[2020-04-07 13:25] jeremyshelton commented on #1863
@NyakudyaA keen to get the base layer finalised. Do you think we can wrap it up this week?

[2020-04-07 13:28] helendallas commented on #1856
@NyakudyaA
Mmmm that is a lot. What would you recommend as we really need to see the RMU groups (76), and not the quaternaries. Perhaps a dark outline

[2020-04-07 13:36] NyakudyaA commented on #1863
Yes, will work on it thursday

[2020-04-07 13:36] helendallas commented on #1990
See ticket #1976

All Browser titles should match the module being added. Fish, Invertebrates, algae

List displayed should only include taxa specific to the Module.

[2020-04-07 13:38] NyakudyaA commented on #1807
I will then have to ingest it in the DB again. Can you share the updated layer and will ingest it. it should be quick

[2020-04-07 13:41] helendallas commented on #1938
Assumption that this will be fixed on ingestion of new data  - to check once new data are ingested.

[2020-04-07 13:42] dimasciput commented on #2012
@helendallas

https://freshwaterbiodiversity.org/sass/view/1685/

Which total? If you refer to the totals on the right side, they are coming from the old SASS database so sometimes there are missing data.

[2020-04-07 13:47] helendallas commented on #1807
@NyakudyaA I am not a GIS expert, os wanted to check that I wont mess anything up if I rename codes in NBA2018_Rivers_Final_Sep2019.dbf to be the full label and not the abbreviation

[2020-04-07 13:51] helendallas commented on #2012
@dimasciput Yes the total where abundances from all biotopes are added together. That is strange that it was not provided in Rivers DB.

[2020-04-07 13:52] NyakudyaA commented on #1807
What you have done is fine. I just need the shapefile including the DBF so that I can load it in the database again

[2020-04-07 13:53] jeremyshelton commented on #1859
@timlinux @dimasciput we still need a new icon below layer selector called '3rd party data' which should include MiniSASS and Flow Guages, as per Tim's point 4 above.
@helendallas

[2020-04-07 14:00] jeremyshelton commented on #1863
Great. Thanks.

[2020-04-07 14:13] dimasciput commented on #2012
@helendallas for the missing SASS data, I will check it tomorrow. Probably I will try to re-import data from a river database just to make sure everything is correct.

[2020-04-07 14:18] helendallas commented on #2012
@dimasciput Reimporting wont work as I have already done quite a lot of editing of the data

[2020-04-07 14:23] dimasciput commented on #2012
@helendallas that's fine, it will only adding missing data

[2020-04-07 14:41] philipfrenzel commented on #1983
Hi @helendallas , all the issues, except the Chlorococcus taxonomy, has been resolved. I'll follow up with Phumelele once more, but you can close the comment already.

[2020-04-07 14:43] #1983 closed

[2020-04-07 14:45] helendallas commented on #1807
@NyakudyaA
I am not able to save a dbf file in excel. So not sure that I will be able to do this. Suggestions welcome

[2020-04-07 14:58] NyakudyaA commented on #1807
Do not worry about this. I will fix it on my side

[2020-04-08 05:25] dimasciput commented on #2012
@helendallas I'm currently running a process that will cross-check the sass data from the river database with the fbis database, if something is missing it will add data to fbis. This might take 1 day, because we have 150k + data.

[2020-04-08 05:41] dimasciput commented on #1859
@jeremyshelton I sized this ticket to 5, because it would take 3-4 hours to implement it. And a lot of my time has already been spent re-ingesting the data. Just FYI.

[2020-04-08 05:52] dimasciput commented on #2013
Hi @jeremyshelton , can you please update the master fish species to just use one column for 'Former species name'.

![image](https://user-images.githubusercontent.com/1979569/78749024-92e93100-7997-11ea-9484-a70f418e0524.png)

If there are multiple names, just separate them with semicolons. e.g 'Barbus nigrolinea;Barbus salmo'.

[2020-04-08 05:54] jeremyshelton commented on #2013
@dimasciput ok will do. Anything else that needs to be adjusted before ingestion?

[2020-04-08 06:05] dimasciput commented on #2013
@jeremyshelton That's it for the fish, thanks.

[2020-04-08 06:08] jeremyshelton commented on #2013
👍

[2020-04-08 06:56] helendallas commented on #1807
@NyakudyaA thanks so much!

[2020-04-08 07:45] dimasciput commented on #1217
@jeremyshelton can you test this please?

[2020-04-08 07:50] dimasciput commented on #1895
@jeremyshelton @helendallas

Probably add a link to fbis for now, I don't want to change current model because it will affect other components.

[2020-04-08 07:57] dimasciput commented on #1991
@jeremyshelton category is the origin of the species, native vs non-native

[2020-04-08 08:05] dimasciput commented on #1991
Should be fixed in testing

[2020-04-08 08:05] dimasciput commented on #1991
in 10 minutes from the time I wrote this comment.

[2020-04-08 08:08] dimasciput commented on #1976
Should be fixed now @philipfrenzel

[2020-04-08 08:08] dimasciput commented on #1976
In testing

[2020-04-08 08:20] helendallas commented on #1945
@philipfrenzel
Letter re TMG sent. Awaiting approval. It may take a while though.

@dimasciput Can we not classify the report as Published Report, and then have the option to say, pdf not available. This is the same issue as with some of the Biobase reports. So the study reference is there, but the pdf is not.

[2020-04-08 08:21] dimasciput commented on #1861
Please test it in testing after the ingestion done

[2020-04-08 08:34] Aneri16 commented on #1945
@philipfrenzel @helendallas
What we did for fish data where there was no PDF available for a report, @dimasciput suggested we put a link to a related site instead ie For a WWF Report by Roger Bills that was not available as PDF, we put a link to his page on the SAIAB website so that a user can contact him if they need to get hold of the report. The link would be in the Document Upload Link column,

[2020-04-08 08:39] helendallas commented on #1895
@dimasciput I am trying to upload pdfs on the documents in admin.  How do I search for a reference to check if the document has already been uploaded. I am afraid I am battling to understand the workflow. What do I add to the Biobase table for refs that dont have a pdf?

[2020-04-08 08:49] helendallas commented on #1945
@Aneri16 Thanks but it doesnt help for historical reports that are nowhere on the internet

[2020-04-08 09:05] helendallas commented on #1991
@dimasciput Can you remove Origin column - it is not necessary, or hide. A user will never complete this in this form as it is linked to the master list

[2020-04-08 09:07] dimasciput commented on #1895
@helendallas https://freshwaterbiodiversity.org/documents/, and probably upload the document from there.

[2020-04-08 09:35] timlinux commented on #1895
As discussed in our call 8 April 2020, for docuemtns which are not physically available we will attache a place holder image as below:

![image](https://user-images.githubusercontent.com/178003/78768979-97581e80-7984-11ea-94f1-0ea4f0b4bb81.png)

[2020-04-08 10:28] jeremyshelton commented on #2013
Hey @dimasciput , 
Fish [data](https://www.dropbox.com/s/jythqzqvkptis9t/SA%20fish%20data%20for%20FBIS%20v3_8Apr2020.csv?dl=0) and [master list](https://www.dropbox.com/s/bqli42h9ae8pi9x/SA%20Master%20fish%20species%20list%20for%20FBIS%20v3_8Apr2020.csv?dl=0) fixed. 
Ready for re-ingestion. 
Thanks!

[2020-04-08 13:32] helendallas commented on #1895
@dimasciput I have uploaded all the reports and also some others that are not available online.
[Biobase Study Reference Table For DOI URL - 06-03-20.xlsx](https://github.com/kartoza/django-bims/files/4450752/Biobase.Study.Reference.Table.For.DOI.URL.-.06-03-20.xlsx)

I was unsure what to do for unpublished data - -please go through and check

[2020-04-09 01:23] dimasciput commented on #2012
@helendallas can you check the site again please? This is only on live site, so the testing site is still have same missing data.

[2020-04-09 05:46] jeremyshelton commented on #1217
@dimasciput, it's looking good now. I tested for fish and inverts and SASS. Thanks for fixing.

A few issues I picked up: with the pie charts it seems to down load the last graph only. Is there a way to download all off them together, or each individually? Also, the key (legend) needs to be included, like it is for other graph downloads.

**On FBIS**
<img width="846" alt="Screenshot 2020-04-09 at

[2020-04-09 05:49] jeremyshelton commented on #1861
OK will do. Thanks @dimasciput

[2020-04-09 10:22] helendallas commented on #2012
@dimasciput This looks like it has been fixed. Thanks

This is from my data - also in Rivers Database and imported to FBIS.

RHP Site Code | Sampling Date | Site Visit Owner | River Name | SASSDataVersion | SASS Score | No of Families | ASPT
G1BERG-PIKET | 9/1/1993 | Helen Dallas | Berg | 4 | 71 | 13 | 5.5
G1BERG-PIKET | 11/1/1993 | Helen Dallas | Berg | 4 | 57 | 12 | 4.8
G1BERG-PIKET | 12/1/1993

[2020-04-09 10:51] jeremyshelton opened #2023 "Endemism category missing on live site?"
@dimasciput looks like micro endemic level 2 category is missing from the live site?
<img width="550" alt="Screenshot 2020-04-09 at 12 46 01" src="https://user-images.githubusercontent.com/44292029/78887848-db205600-7a60-11ea-911c-c6e599335443.png">

[2020-04-09 11:34] helendallas commented on #1992
@dimasciput
This is great thanks, I am closing ticket

[2020-04-09 11:38] helendallas commented on #1976
Thanks, working, Checked and closing

[2020-04-09 11:38] #1976 closed

[2020-04-09 11:39] helendallas commented on #2012
Checked and data seems to sorted now, thanks

[2020-04-09 11:39] #2012 closed

[2020-04-09 11:49] helendallas commented on #1923
@dimasciput Thanks this looks great.

Question in relation to this.  Is there a way to add abiotic data to a site that already exists. I suspect not.

[2020-04-09 11:53] helendallas commented on #1861
@dimasciput For the Validation ranges for Abiotic variables -

At the moment if you add a value greater than the range maximum it defaults to the maximum. What is preferred here is to alert the user to the fact that they have added a value greater than the maximum range, and ask whether they still want to add it.

If this is an easy fix, then please action, if not then lets hold over for Version 5

[2020-04-09 12:21] philipfrenzel commented on #1983
@helendallas I've heard back from Phumelele re the Chlorococcus app. He had made a spelling mistake. I've made the corrections in the master list as well as the data file. Just thought I'd let you know.

[2020-04-13 12:41] dimasciput opened #2025 "Ec in datadownload"
Please may you make the ecological category available in the sass summary .csv download. alternatively, please provide the ecoregion available in the csv for us to calculate it based on the dallas bands.

many thanks,
wesley evans

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1990">User information </a>
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/sas

[2020-04-15 08:53] jeremyshelton commented on #1863
@NyakudyaA have you had a chance to get to this yet?

[2020-04-15 09:30] NyakudyaA commented on #1863
Yes, I haven't pushed to the server yet but hopefully today.
![map](https://user-images.githubusercontent.com/2510900/79322032-896a4680-7f0c-11ea-9609-3df9cf17876b.png)

[2020-04-15 09:56] jeremyshelton commented on #1863
OK. Thank you.

@dimasciput @NyakudyaA @timlinux

We are busy testing the site, and having the base map for this will be very helpful.

Please make sure that the following have been implemented so that we don't have to do it again:

1. - Hill shade map looks good & should help users navigate around the country and find rivers more easily. Perhaps a version with a slightly more earthy or muted colo

[2020-04-15 10:03] NyakudyaA commented on #1863
Can you provide a color ramp you need me to use if your have a preference.

How do we define major river names. Do you have a list or should I do a quick search from google

Will be solved

We can do this.

@dimasciput can add this in the front end

[2020-04-15 10:27] NyakudyaA commented on #1934
Ping @jeremyshelton still waiting for your input here

[2020-04-15 10:28] NyakudyaA commented on #1914
This should be fixed by updating the geocontext. You can close this after testing @jeremyshelton

[2020-04-15 10:30] NyakudyaA commented on #1877
You need to test this @jeremyshelton and close if it's working

[2020-04-15 10:38] helendallas commented on #1895
@dimasciput Has this been done? Where should I check? testing or live.

[2020-04-15 10:46] helendallas commented on #1935
@dimasciput
The first testing I did on testing site, and downloaded the csv files and I get this!

Lestagella is not a plant!!!!

Please revert asap

Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon

Plantae | Tracheophyta | Magnoliopsida | Ranunculales | Papaveraceae | Lestagella | penicillata | Lestagella penicillata

https://testing.healthyrivers.kartoza.com/map/#site-detail/

[2020-04-15 12:04] helendallas commented on #1877
@NyakudyaA @dimasciput

Admire, please see earlier comment checking if it has been deployed on live site. Its is still showing the following on live:
![Screenshot_2020-04-15 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/79335189-e15f7800-7f21-11ea-94af-ced3abe91a0a.png)
Cannot check on testing as no spatial layers are visible
![Screenshot_2020-04-15 FBIS Map(3)](https://user-imag

[2020-04-15 12:43] helendallas opened #2026 "Documents"
**Live Site:**
References added to Documents are not being cited correctly in the Metadata Table
Download not visible even when pdf is available.

![Screenshot_2020-04-15 Brand P A J Kemp P H Pretorius S J Schoonbee H J 1967 Water quality and abatement of pollution in Nat](https://user-images.githubusercontent.com/45286876/79337617-1c63aa80-7f26-11ea-8890-06580498912c.png)

![Screenshot_2020-04-15

[2020-04-15 12:51] dimasciput opened #2027 "Geomorphological zones not displaying"
Added the layer, but it did not appear anywhere in sa. altered the opaque tool and still nothing.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/531">User information </a>
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/map/
Screen resolution: 1366 x 768
Browser: Chrome

[2020-04-15 13:03] helendallas commented on #1996
@jeremyshelton At the moment on the testing site, instead of unknown we have:

Unspecified for Origin and Endemism and Data Deficient for Conservation Status.
Do you think we can retain as is ? or do these need to be changed to Unknown as per this ticket. The meaning is a bit different.

![Screenshot_2020-04-15 FBIS Map(8)](https://user-images.githubusercontent.com/45286876/79339881-d6a8e100-7f29-

[2020-04-15 13:23] jeremyshelton commented on #2013
@dimasciput

**Strange fish taxa**

- There seems to be something strange happening with the fish taxa: there are a lot of taxa being served that are not listed in our master list.
- It is critical that we only have data (from both FBIS and GBIF) for the taxa specified in the master list, and no additional taxa. I wonder if the below error has anything to do with it?

**Error in fish master list**

[2020-04-15 15:00] jeremyshelton commented on #1934
@NyakudyaA we (myself and @helendallas) still have to decide which attributes to show for lots of the layers. For now, let's focus on this one. My understanding is that there are different categories of fish sanctuaries based on the number of threatened species found in the river. See explanation [here](http://biodiversityadvisor.sanbi.org/planning-and-assessment/environmental-assessments/using-bg

[2020-04-15 15:03] jeremyshelton commented on #1934
We basically want to be able to filter by these different categories of fish sanctuary available via BGIS:

![Screenshot 2020-04-15 at 17 02 50](https://user-images.githubusercontent.com/44292029/79353207-0ad8cd80-7f3b-11ea-949e-981132e85db2.png)

[2020-04-15 15:04] jeremyshelton commented on #1914
@NyakudyaA OK thanks, will do.

[2020-04-15 15:19] jeremyshelton commented on #1996
@helendallas for conservation status, remember there is a distinction between DD and NE. I suspect in most cases the correct category for invest and algae is NE, rather than DD?
![Screenshot 2020-04-15 at 17 16 27](https://user-images.githubusercontent.com/44292029/79354604-e847b400-7f3c-11ea-8244-d985b7824d34.png)

For Origin and Endemism situations where we 'don't know' then to me Unknown may be

[2020-04-16 07:40] helendallas commented on #1996
@jeremyshelton @dimasciput

Thanks Jeremy. Ok so for Conservation status anything in our master list that is unknown should be changed to Not evaluated.

@dimasciput Please then add Unknown as per this ticket for Origin and Endemism please.
@philipfrenzel Please note change for Conservation status

[2020-04-16 08:52] philipfrenzel commented on #1996
Thanks for the clarification. Done for algal data @helendallas @dimasciput

[2020-04-16 10:28] helendallas commented on #1935
Still random issues with taxonomy, even when no possibility of misclassification in GBIF.

E,g, From FBIS testing site:

Fungi | Basidiomycota | Agaricomycetes | Agaricales | Cortinariaceae | Chimarra | Cortinarius sp.7973 | **Chimarra**

Should be :
Animalia | Arthropoda | Insecta | Trichoptera | Philopotamidae | Chimarra | Unspecified | **Chimarra**

Only two options in GBIF and both Family Phil

[2020-04-16 10:36] helendallas opened #2029 "Site photographs - Multiple Sites Dashboards"
It doesn't make sense to have photographs of sites in the Multiple Sites Dashboards for fish, inverts or algae

@jeremyshelton Do you agree?

Here i searched Order Odonata - over 2,500 sites
![Screenshot_2020-04-16 FBIS Map](https://user-images.githubusercontent.com/45286876/79446563-ae2eee80-7fde-11ea-9a9d-fe8ac0e9f35a.png)

[2020-04-16 10:42] jeremyshelton commented on #2029
@helendallas agreed.

[2020-04-16 10:58] dimasciput commented on #1935
Thanks @helendallas , it should be fixed when I reingested all the species list tomorrow.

[2020-04-16 11:15] helendallas commented on #1941
Still missing :
SubSpecies
Scientific name and authority

But happy to close and leave for now.

[2020-04-16 11:15] #1941 closed

[2020-04-16 11:17] helendallas opened #2030 "Collector/owner - CSV file"
Collector/owner in the CSV file generated from new data ingested into testing site lists

Collector/owner as kartoza_admin instead of actual Collector/owner

[2020-04-16 11:17] helendallas commented on #1935
@dimasciput Great thanks

[2020-04-16 11:20] helendallas commented on #1895
@dimasciput Please respond to this - I need to know if and where I should check as I dont know if it has been  done yet

[2020-04-16 12:53] jeremyshelton commented on #1934
@NyakudyaA I think we can remove all the wetland layers for now and just focus on these two: (1) Fish sanctuaries (all species) and (2) Fish sanctuary. You can follow the link (in my previous ticket) to the BGIS Map viewer, where these layers can be viewed:

![Screenshot 2020-04-16 at 14 48 27](https://user-images.githubusercontent.com/44292029/79458195-c3f9df00-7ff1-11ea-80e4-181fae631620.png)

[2020-04-16 12:56] helendallas commented on #1887
@dimasciput I am going to close this once you respond.

Once the data have been ingested to the live site with as many taxonomic issues corrected as possible. I will then go through the taxa on the admin page and correct spelling and add parents to taxa like those below that have missing parents.

![Screenshot_2020-04-16 Select Taxonomy to change Django site admin](https://user-images.githubuserco

[2020-04-16 13:15] jeremyshelton commented on #1807
@NyakudyaA @dimasciput

Can we please action this soonest? I am busy testing the layers and see that we still have the erroneous labels. Can we please implement the correct labels, categories and details as per Alan's table provided above.

Thanks!

@helendallas @timlinux

[2020-04-16 17:17] helendallas commented on #1937
@dimasciput @timlinux
In checking ingested invertebrate data I came across duplicate records (real or perhaps because data notes or biotopes were incorrectly captured by FRC staffers). As a result I have had to remove two studies from the invertebrate data file for Aneri and Janette to check. And I have manually checked a whole lot of others.

As a result the revised data file does not have your c

[2020-04-17 07:36] helendallas commented on #1936
Closing ticket as I need to check on live site and edit taxa in admin section once FBIS finalised

[2020-04-17 07:36] #1936 closed

[2020-04-17 07:45] helendallas commented on #1868
@dimasciput
The filter to search for pubications with a missing DOI, should include URL, as some of the publications have URLs not DOIs.

I am going to create a new ticket for this specifically around Citations and  lose this one.

[2020-04-17 07:45] #1868 closed

[2020-04-17 07:55] helendallas opened #2033 "Citations"
Additional fixes and functionality needed to effectively manage the Citations in FBIS.

1. Many of the publications in the Citations have URLs not DOIs. At the moment you can only search on publications with missing DOIS.  Please update this filter to include missing DOIs and URLs.  This makes it difficult for us to check which studies are missing an online link.

2. Add a close button to return t

[2020-04-17 08:27] helendallas commented on #1991
@dimasciput Ignore comment above, don't need to do now. Closing ticket.

[2020-04-17 08:27] #1991 closed

[2020-04-17 08:37] helendallas opened #2034 "Adding abiotic data to exsiting sites"
As I understand FBIS now, it is not possible to add abiotic data to an existing site. (one can add it after adding biotic data, and SASS data)

It would be useful to be able to add abiotic data from the overview panel, in a similar manner to adding fish, invertebrate, algal and SASS data.

@timlinux This can potentially be included in the RBIS project as their is a water quality module that needs

[2020-04-17 08:41] helendallas opened #2035 "Physico-chemistry - Validation ranges"
For the Validation ranges for Abiotic variables - revised from #1861

At the moment if you add a value greater than the range maximum it defaults to the maximum.

What is preferred here is to alert the user to the fact that they have added a value greater than the maximum range, and ask whether they still want to add it.
@timlinux I am labeling it RBIS as this will be needed for their water qualit

[2020-04-17 08:45] #1990 closed

[2020-04-17 08:52] helendallas commented on #2033
In addition some citations come through strangely, even thought they are correct in the data to be ingested.
![image](https://user-images.githubusercontent.com/45286876/79547916-ebee4e80-8094-11ea-906e-a5e87b69a67c.png)

[2020-04-17 09:22] helendallas commented on #1967
@dimasciput Dropdown options still need to be fixed as per earlier in this ticket.
![Screenshot_2020-04-17 FBIS Algae Form](https://user-images.githubusercontent.com/45286876/79552977-18599900-809c-11ea-90dc-4e09f5308654.png)

Please add/change the following dropdown options to:

- Add **Artificial substrate** to "Broad biotope"
- Add **Artificial** to "Substratum"
- Add **Unspecified** and **In s

[2020-04-17 09:31] helendallas opened #2036 "Algae Master list"
Not all taxa from the master list appear in the list on FBIS. Latest version on Dropbox doesn’t seem to have been used.

![image](https://user-images.githubusercontent.com/45286876/79554340-3627fd80-809e-11ea-9f40-0ea7fb572840.png)

SA Algal Master list FBISv3_27 Mar 2020.csv
https://www.dropbox.com/s/3zpkp9l0gfbci9x/SA%20Algal%20Master%20list%20FBISv3_27%20Mar%202020.csv?dl=0

[2020-04-17 09:47] helendallas commented on #1977
Closing ticket, all issues captured in #1967

[2020-04-17 09:48] #2005 closed

[2020-04-17 10:03] helendallas opened #2037 "Add Site - spatial integrity"
@timlinux
I added a site in the Atlantic Ocean, and managed to retrieve both a river name and a site code. No warning. When I clicked Add, I then got the second screenshot "Invalid site code format"

Do we need something to prevent this happening or do we rely on the brain of the user not to salp a site in the ocean?
@jeremyshelton fyi

![Screenshot_2020-04-17 FBIS Location Site Form](https://user

[2020-04-17 10:06] helendallas commented on #2037
I then delete the - in Latitude, and was able to update the site.  I thought we had agreed to include a South African boundary for adding sites and data.

![Screenshot_2020-04-17 FBIS Location Site Form(2)](https://user-images.githubusercontent.com/45286876/79557978-c4eb4900-80a3-11ea-943e-e9c5b7ef7fda.png)

[2020-04-17 10:16] helendallas opened #2038 "Add Algae - needed after adding a new site"
@dimasciput
Please add option to Add algae

![Screenshot_2020-04-17 FBIS Location Site Form(3)](https://user-images.githubusercontent.com/45286876/79558842-1a742580-80a5-11ea-98ea-77b3967a1298.png)

Can you also reword all as follows:

- Add fish data
- Add invertebrate data
- Add SASS data
- Add algal data

[2020-04-17 10:38] helendallas opened #2039 "Add new taxon - extra taxonomic hierarchy needed"
At the moment the user can add a taxon that is not in GBIF, but is only able to add the Taxon name, and Taxon rank.

Going forward we need to expand this to allow user to capture full taxonomic hierarchy:

Kingdom | Phylum | Class | Order | Family | Genus | Species | SubSpecies ] Taxon

Not sure how validation of this would work though.

@timlinux I have labelled this RBIS in case we can improve i

[2020-04-17 11:10] jeremyshelton commented on #1863
**Colour ramp**: can we do one like this: http://www.journeyofwater.co.za/watersourceareas

**Major river names**: @helendallas can you please assist @NyakudyaA with where to find major river names to show when zoomed out on the base map? Breede, Berg, Olifants, Doring, Palmiet...etc. Then, when the user zooms in they will get all the river names.

**Other issues**:
Aside from the rivers and their

[2020-04-17 11:23] helendallas commented on #1863
I find at the lowest resolution the dot showing the site is very hard to see. Maybe the size can be increased or the colour enhanced to increase visibility

I dont offhand know where to harvest a list of major river names, perhaps one can use rivers with an order >5

[2020-04-17 11:32] helendallas commented on #1996
@dimasciput
Please remember to add:

Unknown for Origin
Unknown for Endemism

Also include in overview panel for species - it is there for endemism but not origin
![Screenshot_2020-04-17 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/79564856-b9058400-80af-11ea-984c-8969b3f8e302.png)

[2020-04-17 11:41] helendallas opened #2040 "CSV files - general"
The taxon data CSV files for fish, invertebrate and algae are not correct. They need to resemble the data ingestion file for each specific taxon group. plus possibly some additional spatial fields.

@philipfrenzel @jeremyshelton Can we please provide @dimasciput with a plan for this. Please check the data ingestion files and see if these are adequate.

[2020-04-17 11:48] helendallas commented on #2006
Closing this ticket as we are not using auto predict but rather serving a list of algae . Seems like only algae are being returned now.

[2020-04-17 11:48] #2006 closed

[2020-04-17 11:53] helendallas commented on #1996
@dimasciput The master taxon files for algae, invertebrates and fish include these fields for all taxa in the list. These need to be brought into the FBI. At the moment they are not coming through correctly so please check.

[2020-04-17 12:09] jeremyshelton commented on #2040
@helendallas yeah I think the csv should be identical format to the columns in the data spreadsheets that were ingested. That way differences in columns for the different modules (e.g. algal biomass, fish abundance etc can be included).

I don't think we should look to include additional spatial fields at this stage.

Please see ticket #777 for our previous discussion on this topic.

[2020-04-19 07:41] dimasciput commented on #1895
@helendallas no not yet sorry, will do it on Monday

[2020-04-19 07:56] dimasciput commented on #1893
@helendallas
![image](https://user-images.githubusercontent.com/1979569/79682619-e9832480-824d-11ea-9a4a-f8a73018b9b5.png)
there are 1623 biobase data without reference

[2020-04-19 08:31] dimasciput commented on #1893
But let me check it again on Monday

[2020-04-19 14:17] philipfrenzel commented on #2040
Agreed. Ideally, the downloadable CSVs should resemble the format of the ingested data files.

In terms of the spatial fields to be included in the CSVs, I would recommend the fields in the overview dashboard (screenshot below) as well as: Original site code (i.e. the one in the study - I think this is NB) and maybe the original river name and refined geomorphological zone (last two suggestions no

[2020-04-20 09:54] helendallas commented on #1893
@dimasciput All biobase records has a study reference in the original Biobase. I hope this is resolved when the Biobase references have been updated,

[2020-04-20 10:32] helendallas commented on #2040
I agree - the data exported in the CSV should resemble the format of the ingested data.

Then please include the data summarised in the the Detailed dashboards - which are already standardised - excluding the columns that are already in the ingested file.  That way all the geocontext data is included and the user has maximum power for interrogating the csv file.

![Screenshot_2020-04-20 FBIS Map](

[2020-04-20 10:45] helendallas commented on #1977
@dimasciput @philipfrenzel
On further discussion with Phil, please cna we explore the option of making these data linked to a Site+Sampling Date, rather than a taxon. In the same way that other Site+Sampling Date are captured and served on FBIS.

All of the data in the screenshot below is lined to Site+Sampling Date, and it makes sense for Biomass data to be the same.

Perhaps the issue Phil / Dim

[2020-04-20 11:05] helendallas commented on #1977
This is Phil's explanation / justification for this:
Currently, the section which is dedicated to adding biomass data, only works if other abundance data is uploaded too. The dedicated biomass section is crucial to allow the user to specify which biomass indicator (i.e. Chl A/AFDM) they are adding as well as the sampling details (i.e. whole stone/water column/etc.) plus the correct unit.

If addin

[2020-04-20 11:27] helendallas commented on #1975
We should include the following (@dimasciput  please switch to have URL first):

Provide URL (please add link to website where document or thesis are available online)
Upload a file

If the user selects "Upload a file"

![Screenshot_2020-04-20 FBIS Source Reference](https://user-images.githubusercontent.com/45286876/79746265-fd8c5c00-8309-11ea-9b18-c6b02e44aadd.png)

Then the final Step should be

[2020-04-20 11:29] helendallas commented on #1847
@jeremyshelton I am closing this ticket as it is replaced by #2040

[2020-04-20 11:31] NyakudyaA commented on #1934
@jeremyshelton You can remove the layers you do not need in the map viewer https://freshwaterbiodiversity.org/admin/bims/nonbiodiversitylayer/

![fish-sanc](https://user-images.githubusercontent.com/2510900/79746996-35e06a00-830b-11ea-987e-6b18eab27bf9.png)

[2020-04-20 11:34] helendallas commented on #1799
Closing via #1975

[2020-04-20 11:34] #1799 closed

[2020-04-20 11:35] NyakudyaA commented on #1877
@jeremyshelton You can close after checking this as well, Dimas updated geocontext

[2020-04-20 11:47] NyakudyaA commented on #1856
@helendallas I have made these thicker
![made-thicker](https://user-images.githubusercontent.com/2510900/79748284-77721480-830d-11ea-99e0-4e8e00e665f1.png)

[2020-04-20 12:52] helendallas commented on #1856
@NyakudyaA I meant of the RMUs - that are comprised one or more quaternaries, so create a new shapefile for the RMUS, which is then displayed with thicker lines.

[2020-04-20 13:16] helendallas commented on #2025
@dimasciput
As per the user request please include the Ecological Category derived from graph below in the SASS Summary CSV files.
![Screenshot_2020-04-20 FBIS Single Site Dashboard - SASS](https://user-images.githubusercontent.com/45286876/79755132-e2751880-8318-11ea-828a-6a5aeb37b1e6.png)

As per ticket #2040 please include more detailed geocontext data
![Screenshot_2020-04-20 FBIS Single Site D

[2020-04-20 13:35] helendallas opened #2043 "Abiotic data not displayed on SASS dashboard after being added"
We added abiotic data to this site  (and others) via the Edit SASS dashboard:
https://freshwaterbiodiversity.org/sass/dashboard/27264/?taxon=&search=&siteId=27264&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=%5B%22362%22%5D&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCa

[2020-04-20 13:43] helendallas commented on #1972
Closing ticket - further checking via #1935

[2020-04-20 13:43] #1972 closed

[2020-04-20 13:45] helendallas commented on #1935
Still duplicate taxa in testing site - with different Origin, Endemism and /or Conservation status
![Screenshot_2020-04-20 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/79758595-e0fa1f00-831d-11ea-9a22-38ca1ce18a8d.png)

[2020-04-20 16:09] NyakudyaA commented on #1807
I have updated the layers here to show the correct labels, please test and revert. Maybe thy might need to be reingested again cc @dimasciput

[2020-04-20 16:10] NyakudyaA commented on #1731
@jeremyshelton any update on this?

[2020-04-20 16:12] NyakudyaA commented on #1698
@dimasciput any comment here. Did you update this

[2020-04-20 16:13] NyakudyaA commented on #1328
I am moving this to the backlog as we will not implement until we find such a dataset which is highly unlikely to be available

[2020-04-20 16:14] NyakudyaA commented on #1256
This should be ready to close

[2020-04-21 08:21] helendallas commented on #1861
@dimasciput
As per text above, please indicate how long it will take to implement. If this is an easy fix, then please action, if not then lets hold over for Version 5 or RBIS. Please just let me know and I will create a new ticket.

At the moment if you add a value greater than the range maximum it defaults to the maximum. What is preferred here is to alert the user to the fact that they have add

[2020-04-21 08:25] helendallas commented on #1877
@NyakudyaA @dimasciput

Sorry, but still not correct on live site. Please confirm once fixed.

![Screenshot_2020-04-21 FBIS Map](https://user-images.githubusercontent.com/45286876/79843316-66331180-83ba-11ea-8bbc-c36a62e439ca.png)

[2020-04-21 08:32] helendallas commented on #1807
@NyakudyaA @dimasciput
Still not correct on live site
![Screenshot_2020-04-21 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/79843658-d346a700-83ba-11ea-8ced-7205210f010a.png)

and spatial filters not available on testing site
![Screenshot_2020-04-21 FBIS Map(1)](https://user-images.githubusercontent.com/45286876/79843613-c32ec780-83ba-11ea-8241-212b65befcd4.png)

[2020-04-21 09:11] jeremyshelton commented on #1731
@helendallas would be good to get your thoughts on this? I think we need to give the users as little confusing information as possible. Just the name of the polygon (e.g. 'Western Cape' for Province, 'Boland Mountains' for surface water source areas etc?).

However, for some layers the 'name' is still unclear and not useful. I think we need to go through these case-by-case.

Unfortunately all laye

[2020-04-21 09:22] helendallas commented on #1731
@jeremyshelton Happy to do this via zoom today once the layers and filters are available on the testing site

[2020-04-21 09:24] jeremyshelton commented on #1934
@NyakudyaA OK, will do 👍

Any progress with correcting the Fish sanctuaries (all species) and Fish sanctuaries layers?

[2020-04-21 09:39] jeremyshelton commented on #1256
@NyakudyaA @dimasciput

Spatial>Critical Biodiversity Area (CBA): National

- Change filter names as per screenshot

![Picture3](https://user-images.githubusercontent.com/44292029/79850638-823bb080-83c4-11ea-8ede-8f0df8256c90.png)

- Ecological Support Areas (ESA): @NyakudyaA (1) should there not be more categories within the ESA drawer? (2) Map does not load when I select this layer?

- National

[2020-04-21 09:41] jeremyshelton commented on #1847
OK 👍

[2020-04-21 09:44] jeremyshelton commented on #1877
@dimasciput @NyakudyaA @helendallas

Agreed.

[2020-04-21 09:49] jeremyshelton commented on #1731
@helendallas OK sounds good.

@dimasciput has restored the layers and filters on testing.

However, there are still lots of issues with layers: NBA, CBA, SA Ecoregion, Management area, NFEPAs and others...I am wondering if we should wait for these to be fixed first?

@NyakudyaA and @dimasciput  will it help if I create a single ticket that links to all ticketed issues with layers and filters?

[2020-04-21 10:26] NyakudyaA commented on #1807
@dimasciput Need to update geocontext values again

[2020-04-21 10:29] NyakudyaA commented on #1934
That legend is the same as the SANBI site. anything you need me to change there

[2020-04-21 11:05] helendallas opened #2047 "Validation Status"
![image](https://user-images.githubusercontent.com/45286876/79858540-ddbf6b80-83cf-11ea-86e5-03bc57332fda.png)

The default should be all Validated and Non validated data in FBIS shown as selected.

Validated data have been checked by FBIS admin and /or designated expert, while Non validated data have not been checked by the FBIS team and/or designated expert.

The default should be all SASS Accre

[2020-04-21 12:05] helendallas commented on #2047
@dimasciput
I think I have misinterpreted this.  I gather the default for filters, is all data are displayed, unless the check box is clicked to filter the records. On this basis I ma goign to close the issue.

[2020-04-21 12:05] #2047 closed

[2020-04-21 12:23] helendallas opened #2049 "Collector/Owner"
Please change Collector/Assessor to Collector/Owner on filter

![Screenshot_2020-04-21 FBIS Map(3)](https://user-images.githubusercontent.com/45286876/79865368-54159b00-83db-11ea-9071-b26676832ad3.png)

Also please check why there are so many strange Collector/Owner -  I dont think the old ones have been cleaned out before the ingestion of the new ones.

![image](https://user-images.githubusercont

[2020-04-21 12:46] jeremyshelton commented on #1934
Thanks @NyakudyaA

Layer looks good!

Filter still has odd-looking categories in the drawers. Maybe we just hide these?

<img width="308" alt="Screenshot 2020-04-21 at 14 44 47" src="https://user-images.githubusercontent.com/44292029/79867466-aad0a400-83de-11ea-89e3-5a17e1e2ce40.png">

[2020-04-21 12:58] helendallas opened #2050 "Layer selector"
@timlinux As per one of our online discussion please can the Layer Selector be tidied. Suggestion was to
remove Maps.Kartoza.com
and reduce the amount of space each takes.

At the moment the no metadata comes up, and instead **Abstract information available** appears.
![Screenshot_2020-04-21 FBIS Map(6)](https://user-images.githubusercontent.com/45286876/79868517-4f071a80-83e0-11ea-8478-4a8ee9663e

[2020-04-21 14:11] helendallas opened #2051 "Validate Records - Non admin users"
I thought that regular users were not meant to be able to validate records.  Surely they should only be able to see Update records on the top menu bar.

Administration and Validate Records should be reserved for users assigned admin rights.

![Screenshot_2020-04-21 FBIS Map(7)](https://user-images.githubusercontent.com/45286876/79875535-1704d500-83ea-11ea-8b6c-478e5bb700df.png)

@timlinux @dimasci

[2020-04-21 14:47] NyakudyaA commented on #1934
The values need to be updated in geocontext cc @dimasciput

[2020-04-22 07:34] jeremyshelton commented on #1989
@dimasciput I need to edit this a bit. How do I do that?

[2020-04-22 07:50] jeremyshelton commented on #1698
@dimasciput @NyakudyaA red outlines still not showing for Quinary and Quarternary catchments, SA Ecoregion and Geomorphological Zone

[2020-04-22 08:00] helendallas commented on #1989
@dimasciput @jeremyshelton It would really be good if the pop up notice could be managed and edited from the admin section.  It adds to sustainability of FBIS and RBIS etc.

Is this possible?

[2020-04-22 08:11] jeremyshelton opened #2052 "FILTERS & LAYERS (V4 testing)"
@NyakudyaA we have created a [spreadsheet on dropbox](https://www.dropbox.com/s/i6qizh1igvhb8hl/Layers%20Infomation%20to%20Display.xlsx?dl=0) with the information that needs to be displayed for each layer.
- In some cases field labels need renaming if possible? (we have indicated this in the comments column)
- We have indicated which layers can be turned off for now
- NBA 2018 layers are not on th

[2020-04-22 08:33] jeremyshelton opened #2054 "OVERVIEW DASHBOARD (V4 testing)"
@dimasciput @helendallas

- Can we make overview dashboard a bit wider so that the category labels are not so squashed? The other option is to use abbreviations (Critically Endangered = CR), but that might be inconsistent with the rest of the site?
<img width="119" alt="image" src="https://user-images.githubusercontent.com/44292029/79959419-68fa3900-8484-11ea-858b-4f1275f8ffb6.png">

- Can we make

[2020-04-22 08:59] jeremyshelton opened #2055 "DETAILED DASHBOARDS (testing v4)"
@dimasciput @helendallas

**Charts**
- The taxa graph becomes meaningless when there are too many taxa to display. @dimas is there a way to limit the display to the (top 20?) most abundant taxa instead? @helendallas ?https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilt

[2020-04-22 10:19] dimasciput commented on #2043
thanks, it shown in site detail : https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=K3DUIW-00004&siteId=27264&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=27264&orderBy=name&polygo

[2020-04-22 10:27] jeremyshelton opened #2056 "MAP & GENERAL (testing v4)"
@dimasciput @helendallas @timlinux

**Landing page**
- can we replace the current banner image with [this one](https://www.dropbox.com/s/sq5nxjum4po5x7e/landing%20page%20banner.JPG?dl=0)

**Contact page**
- Please make font size and style consistent with rest of site.
- Please use #18AO90 instead of dark green where possible
- Please replace background image with [this one](https://www.dropbox.com

[2020-04-22 10:55] timlinux commented on #1863
Ok so summary from our call on 22 April 2020:

![image](https://user-images.githubusercontent.com/178003/79972336-b6c76f00-848d-11ea-8cd6-83fe4fe2416e.png)

At this level we should see majror river names, major places, **relief** and provinces with labels

We need damn labels on the dams :-)

Make  the town labels a couple of points larger

When zooming in, swap in the NGI Imagery layer.

Make the

[2020-04-22 10:58] timlinux commented on #1863
Also please make country and province boundaries bolder.

[2020-04-22 11:15] timlinux commented on #1856
@NyakudyaA to make a materialised view where the interior boundaries for each RMU are dissolved.

[2020-04-22 11:16] timlinux opened #2057 "Water quality data for measuring stations"
Feedback from Hugo:

Hey Tim, I havent processed and made available on the server yet. Also the water quality data set regarding variables is huge etc. Will need to be more specific about which variables etc. A lot of checking needs to go into the data by end user as well because there are detection limits, sample quality etc.. all which needs to accompany the data. I have done this in the old Des

[2020-04-22 11:23] timlinux commented on #2037
@dimasciput can you do this simply by doing a GFI check to ensure the country is SA, Lesotho or Swaziland otherwise give a spatial validation fail. Later we can use the same logic for other regions.

[2020-04-22 14:00] jeremyshelton commented on #1863
@NyakudyaA when we zoom in close on the base layer, would it be possible to show these rivers (from the 'rivers' layer you uploaded for FBIS)

<img width="1440" alt="Screenshot 2020-04-22 at 15 57 20" src="https://user-images.githubusercontent.com/44292029/79991179-4252f700-84b2-11ea-9bd3-757c81398100.png">

rather than these ones (very fine network currently shown on your base layer)?

<img width

[2020-04-24 10:04] helendallas opened #2058 "Develop option to download complete Master List of Species or Taxa for each module"
We need to be able to download the Master List of Species or Taxa for algae, invertebrates and fish.  This list needs to look like the ones ingested and include the following columns:

**Algae:**
Taxon rank | Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon |  Scientific Name and authority | GBIF URL | Division | Growth form | Origin | Endemism | Conservation status

**Invertebr

[2020-04-24 10:27] helendallas opened #2059 "Harvest GBIF invertebrate and algae data"
We need to harvest GBIF data using the Master List of Invertebrates and Algae. GBIF data need to be kept separated as it is with fish using the Data Sources.

All FBIS data should be served by default, while GBIF data should only be served when the user clicks the GBIF box in Data Sources.

Importantly, for invertebrates, GBIF data includes both freshwater and terrestrial taxa, as GBIF do no diffe

[2020-04-24 10:31] helendallas commented on #1938
@dimasciput I checked this in FBIS testing and it is still a problem.
![Screenshot_2020-04-24 FBIS Map(5)](https://user-images.githubusercontent.com/45286876/80203466-7f8cc580-8627-11ea-894b-9067b7f11982.png)

[2020-04-24 10:32] #2009 closed

[2020-04-24 10:35] helendallas commented on #1922
I have checked this again and over 2000 sites are returned when abiotic is checked. I ma thus closing this ticket.

[2020-04-24 10:35] #1922 closed

[2020-04-24 11:02] helendallas commented on #2036
Checked. Seems to be fine now after the new ingestion of the algal data.

[2020-04-24 11:02] #2036 closed

[2020-04-24 11:33] helendallas commented on #2027
@dimasciput This appears to be all the layers. Not working at all. Email sent

[2020-04-24 11:36] helendallas commented on #2001
@Aneri16 @jeremyshelton Can you please check if this have been corrected

[2020-04-24 11:39] helendallas commented on #1914
Checked, fixed, closed

[2020-04-24 11:39] #1914 closed

[2020-04-24 11:49] Aneri16 commented on #2001
@helendallas doesn't look like they were fixed with re-ingestion. Should they be corrected manually in live site then?

[2020-04-24 11:49] jeremyshelton opened #2060 "Citation erors"
@dimasciput there seems to be an issue with the following citations, in that the format is not the same as the rest. Any idea why that might be? Best way to fix? Is it maybe old references?

![ref bug](https://user-images.githubusercontent.com/44292029/80209399-4d349580-8632-11ea-966c-884e83547fcf.png)

@helendallas @Aneri16

[2020-04-24 11:51] helendallas commented on #2001
@Aneri16 No, are they correct in your master file? I thought all the data ingested into testing matches your fish data file.

[2020-04-24 11:55] Aneri16 commented on #2001
@helendallas those sites are linked to invert data..

[2020-04-24 11:55] helendallas commented on #1935
@dimasciput The master file looks like it has imported correctly on testing. No more duplicates. Thanks

[2020-04-24 11:56] helendallas commented on #1935
Closing ticket even though the data still needs to be ingested to live site.