[2020-04-24 12:00] helendallas commented on #2001
@Aneri16 Noted. I will correct. thanks

[2020-04-24 12:04] jeremyshelton commented on #2058
@helendallas for fish everything in bold does not need to be included in this. We are only working with one fish subspecies (Anguilla bengalensis labiata), which is currently represented in the the 'taxon' column (this subspecies does have its own row). Hesitant to change the master list at this stage?

Fish:
Taxon rank | Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon | Scient

[2020-04-24 12:46] helendallas commented on #2001
Site coordinates corrected on live site as follows:
LIMP-00042 -  corrected with fish ingestion
 Q5LIMP-00001 - Biobase, corrected
 H6LIMP-00001 - Biobase, corrected
 U3LIMP-00001 - Biobase, corrected
 W4LIMP-00001 - Biobase, corrected New code W4PHON-00130
 B8LIMP-00001 - Biobase, corrected New code B8GROO-00053
 B8LIMP-00002 - Biobase, corrected New code B8LETA-00028
 C8LIMP-00001 - Biobase, cor

[2020-04-24 12:52] #2001 closed

[2020-04-24 13:05] helendallas commented on #1992
@dimasciput
Reports and theses are not showing in the testing site after ingestion of the invertebrate data. I am reopening this issue

[2020-04-24 13:51] helendallas commented on #2054
It would also be good to increase the space in the right hand column of the Site Details section (and reduce the width of the left hand column) so that text is clearer. This will also reduce the length of the overview panel.

![image](https://user-images.githubusercontent.com/45286876/80219759-364a6f00-8643-11ea-9fa0-8a5f5c5bb163.png)

[2020-04-24 14:10] helendallas commented on #1996
So it needs to be:
Origin: Unknown
Endemism: Unknown
Conservation Status: Not evaluated

Data on the testing site still have unspecifed and some blanks.
![image](https://user-images.githubusercontent.com/45286876/80221766-0a7cb880-8646-11ea-95ab-0c9f028b28b8.png)

[2020-04-27 08:16] dimasciput commented on #262
this feature has been added

[2020-04-27 08:16] #262 closed

[2020-04-27 08:26] dimasciput commented on #2051
Yes they can see the menu but it's not accessible for them. Ok let me hide it instead

[2020-04-28 05:32] dimasciput commented on #2038
already added in the testing

[2020-04-28 05:33] dimasciput commented on #2023
@jeremyshelton this will be fixed when we have ingested new data to live site

[2020-04-28 05:33] #1921 closed

[2020-04-28 05:33] #1857 closed

[2020-04-28 05:34] #1923 closed

[2020-04-28 05:38] jeremyshelton commented on #2023
@dimasciput OK thanks

[2020-04-28 06:47] dimasciput commented on #1992
@helendallas please check testing again

[2020-04-28 06:51] dimasciput commented on #2040
@helendallas it's possible, but might take some time. I think probably around 3-4 hours to do this.

[2020-04-28 07:35] #2038 closed

[2020-04-28 07:36] #2037 closed

[2020-04-28 07:44] #1996 closed

[2020-04-28 07:56] helendallas commented on #1992
@dimasciput
Still not visible. e.g.

Bellingan   TA | 2010

![image](https://user-images.githubusercontent.com/45286876/80461617-d51de680-8935-11ea-8fe8-f97d5bd95e79.png)

Others
Thesis: Shelton 2013
Report: Snaddon K, Ractliffe G & Ewart-Smith J | 2014
Thesis: Stevens DM | 2008

[2020-04-28 08:02] dimasciput commented on #1992
@helendallas yes currently you can only search the report title for thesis and published report. Let me add the author's name

[2020-04-28 08:02] #2029 closed

[2020-04-28 08:32] NyakudyaA opened #2072 "Add an option to enable / disable visibility of non biodiversity layers"
# Problem

In some cases, we might want to disable visibility for some layers without actually deleting the definitions.

Adding a checkbox would help in this regard

![delete](https://user-images.githubusercontent.com/2510900/80465564-8ecb8600-893b-11ea-8e62-eaf1047e3bf8.png)

[2020-04-28 08:35] dimasciput commented on #1870
Hi @jeremyshelton @helendallas can you give me a rough visual guide about where to put this citation?
![image](https://user-images.githubusercontent.com/1979569/80465761-c7805500-8965-11ea-8fab-4f93de8defc8.png)

[2020-04-28 08:44] dimasciput commented on #1992
@helendallas please can you check again?

For this report, only first owner will be displayed on the site.

[2020-04-28 08:45] dimasciput commented on #2043
check here : https://testing.healthyrivers.kartoza.com/sass/dashboard/27264/?taxon=&search=&siteId=27264&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=%5B%22362%22%5D&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=27264&orderBy=name&polygon=

[2020-04-28 08:49] helendallas commented on #1992
Checked, but still not visible on testing

[2020-04-28 08:52] dimasciput commented on #2060
@jeremyshelton the missing name between the commas is a journal name, let me just hide it if there is no journal name

[2020-04-28 08:53] dimasciput commented on #1992
![image](https://user-images.githubusercontent.com/1979569/80467707-6a39d300-8968-11ea-8dd1-73ec3aac65c9.png)
it's there, maybe try refresh your browser

[2020-04-28 08:58] dimasciput commented on #1992
@helendallas

[2020-04-28 09:08] helendallas commented on #2043
@dim Abiotic data is now visible, thanks

[2020-04-28 09:08] #2043 closed

[2020-04-28 09:10] helendallas commented on #2060
@dimasciput I think Jeremy meant the strange Authors....

B.M and A.A
etc, it is not like this in the imported data

[2020-04-28 09:12] helendallas commented on #2040
@dimasciput I definately think it needs to be done as this is the only way a power user can extract the data, with the associated geocontext data. Lets clear the other easier tickets, then focus on the ones that will take longer.

[2020-04-28 09:13] helendallas commented on #1870
@jeremyshelton Please advice soonest

[2020-04-28 09:13] dimasciput commented on #2060
![image](https://user-images.githubusercontent.com/1979569/80469760-39a76880-896b-11ea-8d4e-56cf47fad1ce.png)

Is this better?

[2020-04-28 09:19] helendallas commented on #2060
Some still some coming through strangely  - a few examples
![Screenshot_2020-04-28 FBIS Bibliography](https://user-images.githubusercontent.com/45286876/80470126-d8b76a80-8941-11ea-832c-4d4943350fd4.png)

![Screenshot_2020-04-28 FBIS Bibliography(4)](https://user-images.githubusercontent.com/45286876/80470281-13210780-8942-11ea-8a79-0b72406a9f02.png)
![Screenshot_2020-04-28 FBIS Bibliography(2)](h

[2020-04-28 09:21] dimasciput commented on #2060
@helendallas no I haven't deployed it yet, it's still on my computer. I was only asking if the citation I posted is better.

[2020-04-28 09:32] dimasciput commented on #2059
Hi @helendallas,

Should I fetch gbif data for all taxon rank? I think we should limit it to SPECIES? If not we will getting huge data.

I'm not sure how to differentiate this, is there a list of species that belongs to aquatic taxa or aerial?

[2020-04-28 09:51] helendallas commented on #2059
@dimasciput
Yes, I agree, lets limit GBIF data to species only.

There is not list, but we can add a note informing users that GBIF data is aquatic and aerial, thanks (not sure exactly where. I will add it to the manual but perhaps below: by adding the following:
**Invertebrate data includes both aquatic and aerial stages.**
![Screenshot_2020-04-28 FBIS Map(1)](https://user-images.githubuserconten

[2020-04-28 09:54] helendallas commented on #2060
@dimasciput ah, Yes, then that is much better, thanks

[2020-04-28 11:26] jeremyshelton commented on #1870
@helendallas @dimasciput

I think it needs to go here, linking to a page where we explain to the user how to cite the FBIS? That's the way GBIF does it.

<img width="1440" alt="Screenshot 2020-04-28 at 13 10 47" src="https://user-images.githubusercontent.com/44292029/80482040-cfcf9480-8953-11ea-9732-b5429f008526.png">

[2020-04-28 13:38] helendallas commented on #1935
Duplicate taxa back in testing site

![Screenshot_2020-04-28 FBIS Map(2)](https://user-images.githubusercontent.com/45286876/80493814-2cd44600-8966-11ea-9e92-a2bff5711a9b.png)

[2020-04-28 13:39] helendallas commented on #1973
Checked, and working

[2020-04-28 13:39] #1973 closed

[2020-04-28 13:41] #2023 closed

[2020-04-28 16:36] NyakudyaA commented on #1863
@jeremyshelton I have uploaded a sample project with some customisations
https://maps.kartoza.com/kartoza/

Can you comment on it.

[2020-04-28 16:40] NyakudyaA commented on #1863
The finer scale rivers are for showing when you are zoomed in quite close. For navigation, it makes sense to include them. Anyway I have excluded them for now

[2020-04-28 16:46] NyakudyaA commented on #1863
Another issue is that the color ramp for the hillshade is difficult to extract from the image in the link

[2020-04-29 04:15] jeremyshelton commented on #1863
Thanks @NyakudyaA, I think it's getting there.

Some comments on the current version:
1. Rivers (and labels) not clearly visible (don't pop out enough) against relief map and NGI, both when zoomed out and in. Maybe make relief hillside darker, and/or rivers bolder? (or make relief lighter and rivers darker?)
<img width="616" alt="Screenshot 2020-04-29 at 06 13 18" src="https://user-images.githubus

[2020-04-29 06:01] dimasciput commented on #2049
@helendallas

The strange ones are coming from gbif, should I exclude collector names from gbif?

[2020-04-29 07:09] helendallas commented on #2049
@dimasciput Yes please, it doesnt make sense to include GBIF collectors, only FBIS.

[2020-04-29 07:09] dimasciput commented on #1870
@jeremyshelton can you add the citation guidelines here :
https://freshwaterbiodiversity.org/admin/flatpages/flatpage/3/change/

User will able to access the page from here : https://freshwaterbiodiversity.org/pages/citation-guidelines/

I will add a link later.

[2020-04-29 07:11] jeremyshelton commented on #1870
Perfect. Thanks @dimasciput

[2020-04-29 07:22] dimasciput commented on #1935
@helendallas it's not duplicated, just one taxa with different origin. Let me fix it quickly.

[2020-04-29 07:26] helendallas commented on #1935
@dimasciput There a re several taxa. The origin needs to come from my master list, then duplicates should be resolved. I see Aeshna and Aeschna are spelt differently

[2020-04-29 07:50] dimasciput commented on #1935
@helendallas

I will do a quick temporary fix on the testing, but when we ingest data to live site this wouldn't be an issue.

[2020-04-29 08:05] jeremyshelton commented on #1865
Closing because all covered in #2056

[2020-04-29 08:05] #1865 closed

[2020-04-29 09:51] timlinux commented on #2056
OK

OK

OK - or maybe just a numeric scale?

Right click is reserved for the browser itself and would go against normal expectations of how a user should interact with a web page.

Yes - I will make them small at small scale, larger at large scale

You get the brown showing if you zoom out. I will look and see if I can tweak the categories easily.

![image](https://user-images.githubusercontent.co

[2020-04-29 10:12] timlinux commented on #1863
@NyakudyaA ok so I had another chat with @jeremyshelton can you please update it like this:

![image](https://user-images.githubusercontent.com/178003/80584219-424e7c00-8a09-11ea-9fae-0411ca5d39db.png)

- [ ] Small scale, show smoothed DEM from natural earth with washed-out look and main river tributaries over top as rendered in the current live site
- [ ] All scales, use solid country border like

[2020-04-29 10:22] timlinux commented on #1863
![image](https://user-images.githubusercontent.com/178003/80585355-19c78180-8a0b-11ea-859c-da4008820d43.png)

@NyakudyaA can you also make the rivers fatter when you zoom in?

[2020-04-29 13:16] jeremyshelton commented on #2056
Thanks @timlinux. Sounds good to me. Happy to park the biker tasks you identified for the next version.

[2020-04-29 14:23] jeremyshelton commented on #1870
I have added the citation information to the new 'Citations guidelines' flat page:

**Guidelines for citing data accessed via the FBIS

Data accessed through the FBIS are free for all—but not free of obligations. Under the terms of the FBIS data users agreement, users who download individual datasets or search results and use them in research or policy agree to cite them using the referencing info

[2020-04-30 03:32] dimasciput commented on #2056
From my side :

**Landing Page**

- [x] can we replace the current banner image with this one

**Contact Page**

- [x] Please make font size and style consistent with rest of site.
- [x] Please use #18AO90 instead of dark green where possible
- [x] Please replace background image with this one

**Map**
- [x] please add a scale bar for the map

**Others**
- [x] Please replace the dark green colour

[2020-04-30 03:35] dimasciput commented on #1870
Let's park it for next version.

[2020-04-30 04:56] dimasciput commented on #1931
Let's park this ticket, I'm not sure how to achieve this now.

[2020-04-30 06:35] dimasciput commented on #2026
For testing site, the owner is correct :
![image](https://user-images.githubusercontent.com/1979569/80679625-74cea680-8ae7-11ea-9b6f-96964eddd8b2.png)

[2020-04-30 06:42] jeremyshelton commented on #1870
@dimasciput sure thing, I have ticketed for FBISv5

[2020-04-30 06:51] jeremyshelton commented on #1931
@dimasciput ok sure. Ticket closed.

[2020-04-30 06:51] #1931 closed

[2020-04-30 06:55] jeremyshelton opened #2082 "Data users agreement"
We need to add a 'Data users agreement' checkbox as a pre-requisite for anyone downloading .csv files.

Thoughts on this @helendallas & @timlinux? Is this quick & easy to do, or should I ticket for the next version instead?

We can look at GBIF for guidance

[2020-04-30 07:35] dimasciput commented on #2055
- [x] For occurrence charts can we please flip the legend and title? Title should be on top, legend below

**Metadata**
- [x] There need to be spaces after the commas
- [x] Please delete ‘housing development’

**Single Site Dashboards**
- [x] Quinary catchment missing.
- [x] Categories under Management areas should read: Water Management Area, Sub Water Management Area, River Management Unit.

Sor

[2020-04-30 09:19] helendallas commented on #2026
![image](https://user-images.githubusercontent.com/45286876/80693890-fd434c00-8ad3-11ea-851d-04266ec7efaa.png)
Nope its showing Janette Lumley 2019 is the author, Not Dallas et al. This is happening fro all see, me as authors of several study references that were entered under my name, but should not list me as author.
![Screenshot_2020-04-30 FBIS Map(2)](https://user-images.githubusercontent.com/

[2020-04-30 09:48] helendallas opened #2084 "Metadata Table - repeats and display order"
At the moment there is no order to the way that metadata is displayed in the metadata table and some metadata is repeated several time.

Is it possible to order data by:
**Reference Category
Author/s**

The make sure for Database and Unpublished data - each metadata is only shown once
![Screenshot_2020-04-30 FBIS Map(4)](https://user-images.githubusercontent.com/45286876/80696558-d850d800-8ad7-11e

[2020-04-30 09:53] helendallas commented on #2059
@dimasciput **Was algal data also harvested?**  I can see invertebrates and updated text.

[2020-04-30 10:02] helendallas commented on #2049
Still looks like some GBIF collectors coming through although there are loads fewer.

Collector/owner - B.A.S.S.
Study reference - Global Biodiversity Information Facility   (GBIF), 2019-03-13

https://testing.healthyrivers.kartoza.com/map/#search//taxon=&search=&siteId=&collector=[%22B.A.S.S.%20%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&refe

[2020-04-30 10:04] dimasciput commented on #1523
@helendallas @jeremyshelton I'm very sorry, this feature is too complicated to implement now and will create a lot of issues in the future if I can't spent a lot of time thinking and working on it, can we move this to RBIS?

[2020-04-30 10:04] helendallas commented on #1856
@NyakudyaA Please confirm when we can expect this

[2020-04-30 10:04] helendallas commented on #1807
@NyakudyaA Please confirm if you are still planning to expand labels for the categories as per this ticket.

[2020-04-30 10:07] NyakudyaA commented on #1807
It's already implemented.
@dimasciput please fetch for all the values for Spatial filters in the drawer National Biodiversity Assessment 2018

[2020-04-30 10:08] dimasciput commented on #2027
Fixed on testing

[2020-04-30 10:10] dimasciput commented on #2050
@helendallas The metadata has been resolved on testing, but the layout is still the same. Can we move it to RBIS please?

[2020-04-30 10:11] helendallas commented on #2027
@dimasciput
Is there a reason many layers are not working on the live site?

[2020-04-30 10:12] helendallas commented on #2050
@dimasciput Done

[2020-04-30 10:14] dimasciput commented on #2027
@helendallas There is a bug that I have fixed on testing, but I haven't deployed it yet to live

[2020-04-30 10:21] helendallas commented on #2027
@dimasciput Thanks

[2020-04-30 10:21] #2027 closed

[2020-04-30 10:22] helendallas commented on #1935
@dimasciput Thanks, closing now

[2020-04-30 10:22] #1935 closed

[2020-04-30 10:24] dimasciput commented on #2026
@helendallas yes because in the Document page here : https://testing.healthyrivers.kartoza.com/documents/103, the owner is Janette.

You can change the owner yourself :
- Open this page : https://testing.healthyrivers.kartoza.com/documents/103/metadata_advanced

- Click x icon
![image](https://user-images.githubusercontent.com/1979569/80699938-16192500-8b07-11ea-8576-256aa0310520.png)

- Search yo

[2020-04-30 10:26] helendallas commented on #2026
@dimasciput Is the stuff shown on the live and testing sites different for documents. I thoughtit had been corrected by us on live site?

[2020-04-30 10:27] dimasciput commented on #2026
@helendallas ah yes did you just updated it? Ok then this should be fixed on live.

[2020-04-30 10:30] helendallas commented on #2026
@dimasciput Yes, we have corrected loads on the live site, so will close this ticket now.

[2020-04-30 10:30] #2026 closed

[2020-04-30 10:31] dimasciput commented on #647
It has been added to geocontext

[2020-04-30 10:31] #647 closed

[2020-04-30 10:33] dimasciput commented on #652
Redundant https://github.com/kartoza/django-bims/issues/1182

[2020-04-30 10:33] #652 closed

[2020-04-30 10:34] helendallas commented on #1807
@dimasciput Please fetch so we can check and close ticket, thanks

[2020-04-30 10:37] #2051 closed

[2020-04-30 10:38] #1975 closed

[2020-04-30 10:38] #1969 closed

[2020-04-30 10:38] #1977 closed

[2020-04-30 10:40] helendallas commented on #1945
Assuming algal data is ingested correctly. @philipfrenzel please can you have a quick random check on the testing and confirm please

[2020-04-30 10:45] NyakudyaA commented on #1856
Did you mean like this @helendallas
![rmu](https://user-images.githubusercontent.com/2510900/80701756-2ff34180-8ae0-11ea-9fc1-638e1afe7896.png)

vs the original layer
![original](https://user-images.githubusercontent.com/2510900/80701888-6d57cf00-8ae0-11ea-81c8-2d32042c9411.png)

[2020-04-30 10:49] helendallas commented on #1856
@NyakudyaA Yes, that looks right, There should be RMU groups (76)

[2020-04-30 11:05] #1937 closed

[2020-04-30 11:07] NyakudyaA commented on #1856
I have updated this as well.

@dimasciput you might need to fetch for geocontext again

[2020-04-30 11:29] helendallas commented on #1856
@NyakudyaA Thanks SO much!
@dimasciput please confirm oncethis has been updated, thanks

[2020-04-30 11:50] NyakudyaA commented on #1256
@dimasciput If I change these names in Geocontext do they automagically reflect in the front end and how does it affect fetching values. If you give the go ahead I can change the names

[2020-04-30 12:55] NyakudyaA commented on #1863
I will use map units for river layers and this should sort it out

Ok, Nay preference, Was copying from the ngi specifications for 1:50k

[2020-05-03 14:19] philipfrenzel commented on #1945
@helendallas  I have checked a few sites where I know there are algal data and it seems as though some of the algal data are missing.

For instance, site H6BERG-00002 (site code: T6_2a): If you download the CSV for this site, only 61 records appear even though there are 292 records in the raw data file. Interestingly, the overview dashboard displays the correct number of records (i.e. 292 for this

[2020-05-03 14:22] jeremyshelton commented on #2013
@dimasciput fixed [fish data](https://www.dropbox.com/s/x79zdg0bdvydvwx/SA%20fish%20data%20for%20FBIS%20v3_3May2020.csv?dl=0) and [master list](https://www.dropbox.com/s/ltfj2snondiaose/SA%20Master%20fish%20species%20list%20for%20FBIS%20v3_3May2020.csv?dl=0) ready for reingestion.

[2020-05-04 06:32] dimasciput commented on #1870
Added link to citation in testing

[2020-05-04 06:32] dimasciput commented on #1856
Ingested in live

[2020-05-04 06:37] jeremyshelton commented on #1870
Looks good. Thanks @dimasciput

[2020-05-04 06:40] dimasciput commented on #1945
@philipfrenzel ok let me check

[2020-05-04 06:47] jeremyshelton commented on #1989
@dimasciput is it easy for you to give us access to edit this via admin?

[2020-05-04 07:02] jeremyshelton commented on #2054
@dimasciput thanks very much. Mostly looking good now. Can we make overview dashboard a bit wider se text on left (e.g. 'Regional endemic level 2') doesn't need to be squashed into three lines?

<img width="414" alt="Screenshot 2020-05-04 at 09 00 31" src="https://user-images.githubusercontent.com/44292029/80942761-e65b6d00-8de5-11ea-98e1-f1a3dd9fb68d.png">

[2020-05-04 07:02] dimasciput commented on #2052
- [x] Please capitalise all filter names. There is currently a mix of upper and lower case letters.

- [x] Search/reset bar disappears from view if too many tabs open. Can we pin to top and have it always showing? We have discussed this in a previous zoom and decided it’s a good idea.

- [x] 3rd party data tab (including miniSASS and flow stations) still not implemented.

- [x] Red outlines lines

[2020-05-04 07:10] jeremyshelton commented on #2054
Also, format of top section of multisite detailed dashboard looks like something has gone wrong. It should be same as the other tables below (overview, occurrence data), in terms of font size, cell style etc.

<img width="455" alt="Screenshot 2020-05-04 at 09 07 33" src="https://user-images.githubusercontent.com/44292029/80943278-1c4d2100-8de7-11ea-9ab9-7a670e5ec0fd.png">

[2020-05-04 07:31] dimasciput commented on #1989
@jeremyshelton https://freshwaterbiodiversity.org/admin/bims/sitesetting/1/change/ check the `Site Notice` one.

[2020-05-04 07:59] jeremyshelton commented on #1989
Fantastic. Thanks @dimasciput

[2020-05-04 08:09] jeremyshelton commented on #2056
@dimasciput thank you.

The image on the contact us page looks very zoomed in:

<img width="1440" alt="Screenshot 2020-05-04 at 10 06 06" src="https://user-images.githubusercontent.com/44292029/80946826-2e32c200-8def-11ea-8f97-4a10297e0943.png">

It should look like this:

![fishpic9](https://user-images.githubusercontent.com/44292029/80946845-3ee33800-8def-11ea-97d3-cc24638ddc69.JPG)

Also, text

[2020-05-04 08:16] jeremyshelton commented on #1856
Layers not currently showing in live. Can check as soon as they are showing...

[2020-05-04 08:19] jeremyshelton commented on #1844
Should we delete this ticket? Because this issue is being discussed in #1698

[2020-05-04 11:51] #1844 closed

[2020-05-04 14:57] jeremyshelton opened #2091 "Correct Near bed velocity to m/s"
Near bed velocity units should be m/s

<img width="199" alt="Screenshot 2020-05-04 at 16 54 19" src="https://user-images.githubusercontent.com/44292029/80979921-3f4bf500-8e28-11ea-8146-d6f6bd3ec18e.png">

We need a 'back' button alongside the 'next' button at the bottom of each page of the add data work flow

<img width="902" alt="Screenshot 2020-05-04 at 16 54 26" src="https://user-images.githubu

[2020-05-04 15:10] jeremyshelton commented on #2040
@dimasciput if possible, I think this should be a priority once the fish ingestion is complete 👍

[2020-05-05 01:44] dimasciput commented on #2040
@jeremyshelton it's on testing already

[2020-05-05 01:47] dimasciput commented on #2091
@jeremyshelton @helendallas
- We need a 'back' button alongside the 'next' button at the bottom of each page of the add data work flow

Please not on this version, this will take a long time to implement, because the previous form has been submitted and we cannot edit it from there.

- Near bed velocity units should be m/s

This can be fixed on the admin page. https://testing.healthyrivers.kartoza

[2020-05-05 01:52] dimasciput commented on #2091
That's why I added this when user try submitting the form :
![image](https://user-images.githubusercontent.com/1979569/81029011-ad86cb00-8ead-11ea-876f-f33be0022b96.png)

[2020-05-05 05:55] jeremyshelton commented on #2091
@dimasciput OK that should be fine. Inly problem is if user wants to go back more than one step?

[2020-05-05 06:27] timlinux commented on #2091
@jeremyshelton can we park this for future work please? We can keep it in the backlog and try to work it in through future work. Thanks

[2020-05-05 06:39] jeremyshelton commented on #2040
@dimasciput OK thanks. CSV downloads not working at the moment, but I will test as soon as those are back up and running...

[2020-05-05 06:58] jeremyshelton commented on #2091
Sure. I'll shift the ticket to v5.

[2020-05-05 07:20] dimasciput commented on #1182
the panel has been added to testing

[2020-05-05 07:42] jeremyshelton commented on #1856
@dimasciput @helendallas RMU layer (1) is on live site, but not visible, (2) is on testing just has outlines, (not different colour polygons as per @helendallas above):

<img width="1254" alt="Screenshot 2020-05-05 at 09 15 55" src="https://user-images.githubusercontent.com/44292029/81044444-9f887880-8eb4-11ea-838c-39c627aa3832.png">

and there is a strange shape visible?

[2020-05-05 07:50] NyakudyaA commented on #1856
I am looking at that strange shape. We decided we not going to color code this layer because the legend will be very big (76 classes)

[2020-05-05 08:02] jeremyshelton commented on #1856
OK thanks @NyakudyaA - sounds good.

[2020-05-05 08:28] NyakudyaA commented on #1856
Layer should be fixed now @jeremyshelton

[2020-05-05 08:45] dimasciput commented on #1861
@helendallas added a warning for now, I hope this is enough for this version :
![image](https://user-images.githubusercontent.com/1979569/81048931-733a1f80-8ee7-11ea-9783-0a67e9a13db4.png)

[2020-05-05 08:54] dimasciput commented on #2059
@helendallas yes you are correct, only 16 data for algae species.

[2020-05-05 10:24] jeremyshelton commented on #1856
@NyakudyaA @dimasciput thanks - looks good now.

@helendallas please check and make sure you are happy...

[2020-05-05 10:36] jeremyshelton commented on #1863
@timlinux @NyakudyaA are we nearly there with the base map? Let me know when you are ready for me to test?

One quick observation: @timlinux that grey relief layer when zoomed all the way out looks rather strange & Star Wars-esque?

<img width="1018" alt="Screenshot 2020-05-05 at 12 32 05" src="https://user-images.githubusercontent.com/44292029/81057540-e84c2b80-8ecc-11ea-8557-415e4c5b39c8.png">

[2020-05-05 10:53] helendallas commented on #1856
@dimasciput No layers working on live site for me

![Screenshot_2020-05-05 FBIS Map](https://user-images.githubusercontent.com/45286876/81058751-5b56a180-8ecf-11ea-96f3-a3304c097b83.png)

[2020-05-05 10:58] NyakudyaA commented on #1863
Will let you know.

Haven't modified the relief as yet

We need to be decisive on what we want, going back and forth won't help me in finishing this background

Label should only be visible together with a feature

[2020-05-05 11:16] jeremyshelton commented on #1863
@NyakudyaA ok cool. What feature are you currently using for river names when zoomed out?

[2020-05-05 11:28] NyakudyaA commented on #1863
I am using labeling based on the map scale. the labels should increase in size as you zoom in

[2020-05-05 12:05] jeremyshelton commented on #1863
@NyakudyaA OK - miscommunication. Sorry. What I actually meant is that it would be great if we could show all 19 of those river names when the map is zoomed out? At the moment it looks like only a 4 or 5 are showing on your map?

[2020-05-05 12:09] jeremyshelton commented on #1863
I am not sure if all of those labels in the colourful map are correct - but was just using that as an example of the river label coverage for the zoomed out view, if possible? I can send you a list of the main river names if need be?

[2020-05-05 12:09] NyakudyaA commented on #1863
I can do that but I highly discourage from that because at that scale the rivers will look disconnected from the labels. Currently, the software has an algorithm that shows labels based on the features visible on the map. It hides labels so that they won't be clustered labels

[2020-05-05 12:38] jeremyshelton commented on #1863
@NyakudyaA OK - happy to go with your recommendation on this 👍

[2020-05-06 03:10] dimasciput opened #2095 "Layers not loading"
Hi, only the sites layer loads. i am trying to see the quaternary catchments and mp sector plan but not loading. tried any of the other layers and same issue.

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1961">User information </a>
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/map/
Screen resolution: 1366 x 768
Browser: Chrome

[2020-05-06 03:28] dimasciput commented on #1938
hi @helendallas , this is because I just reingested fish and algae data, I need to run the script the merge the duplicate sites.

[2020-05-06 04:56] jeremyshelton commented on #2013
@dimasciput I found a few issues with fish data that we should fix before deploying to live site?

1. There is one record for Enteromius brevidorsalis  in the data sheet but it is not meant to be there. It is not found in SA and is therefore not own the master list. I have thus deleted I from the data sheet.
2. There are 240 records for Enteromius marequensis in the data sheet. This taxon is incor

[2020-05-06 06:30] helendallas commented on #1938
@dimasciput ok thanks

[2020-05-06 09:34] FBIS-issues opened #2097 "Test issue"
Test issue from fbis account

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1">User information </a>
Device: Desktop
Referrer: http://staging.freshwaterbiodiversity.org/
Screen resolution: 2560 x 1440
Browser: Chrome

[2020-05-06 09:36] #2097 closed

[2020-05-06 10:09] timlinux commented on #1859
@dimasciput for Water Quality can you please add:

- [ ] InWARDS Water Quality as a new layer
- [ ] Grab the data for sites from Inwards and show as a GeoJSON layer
- [ ] When clicking a point from that layer show in the side panel like MiniSASS basic site info
- [ ] Have a link to grab the data for the site using url form of http://inwards.award.org.za/app_json/wq_csv.php?id=90407 where last para

[2020-05-06 10:46] timlinux opened #2098 "Size map points based on scale"
Please replace the SLD style for points on the live site

Style Editor - bims:location

Also the legend should be updated to reflect the new rules

100+ sites = brown cluster
50 = 100 yellow
1-50 = green

Use the testing site: https://testing.healthyrivers.kartoza.com/map/# to try it out

[code]

[2020-05-06 10:46] timlinux commented on #2098
@jeremyshelton give a thumbs up if you are happy and we will deploy live

[2020-05-06 10:57] jeremyshelton commented on #2098
@timlinux Looks good to me. I think the dot size and zoom scaling looking great 👍                  .....do you think it matters that we don't necessarily have a unique colour for a single site (green = 1-50)

[2020-05-06 17:59] jeremyshelton commented on #2052
@dimasciput thanks for working through these tasks. These fixes look good, except for some filter red lines still not showing. Also, I have now thoroughly tested all filters and am happy to report that most are working well. I did find a few issues that need fixing - see issues with red and orange labels in [this filter testing spreadsheet](https://www.dropbox.com/s/yvi7p28yd0uhc2s/FBIS%20FILTER%2

[2020-05-06 18:09] jeremyshelton commented on #2052
@NyakudyaA - please see request at the top of this ticket detailing layer information that should be included.

[2020-05-06 22:33] timlinux commented on #2098
Updated the SLD above to use larger dots when zoomed out.

I think we are good like this for now - will take another look when it is running with the updated basemap.

[2020-05-06 22:34] timlinux commented on #2098
@dimasciput or @NyakudyaA  please use the above SLD for the style on the live site

[2020-05-07 07:14] jeremyshelton commented on #2098
@helendallas have a look at the adjusted site representation on testing. Feedback?

My feeling was that sites could be a bit bigger & good to see single sites?

@timlinux what is the main reason for clustering sites, rather than showing them all as individual dots? Happy to leave as is for now and see how it looks on the new base map, like you suggest.

Thanks for helping get this optimised!

[2020-05-07 08:53] timlinux opened #2101 "We need to deploy a blank version for RBIS"

[2020-05-07 11:45] timlinux commented on #2098
@jeremyshelton OK I got rid of the clustering (long circle back to discrete points later!):

![fbis](https://user-images.githubusercontent.com/178003/81290536-29287980-9060-11ea-9a37-61815bd55afe.gif)

Updated SLD for live site is here @dimasciput

[code]

[2020-05-07 11:46] timlinux commented on #2098
@dimasciput also make sure tiled=True for the site drawing requests please - it should draw much faster and can be cached.

[2020-05-08 08:50] helendallas commented on #1895
@dimasciput I am adding this to FBIS V4 as it still has to be done and I really dont want it dropping off the radar

[2020-05-08 08:50] helendallas commented on #1901
@dimasciput I am adding this to FBIS V4 as it still has to be done and I really dont want it dropping off the radar

[2020-05-08 11:04] NyakudyaA commented on #2052
@jeremyshelton
[Layers Infomation to Display.xlsx](https://github.com/kartoza/django-bims/files/4598562/Layers.Infomation.to.Display.xlsx)

Which layer is the `National Biodiversity Assessment (NBA) 2019`

For the `Ecological Support Areas (ESA): National` I suggest we remove this layer in geocontext or using it for spatial filters because it doesn't have any useful attributes which we can use to

[2020-05-08 12:10] NyakudyaA commented on #1731
This has been completed and mentioned in https://github.com/kartoza/django-bims/issues/2052

[2020-05-11 03:43] dimasciput commented on #2101
@timlinux can you create a new Repo for RBIS?

[2020-05-11 09:28] jeremyshelton commented on #2052
@NyakudyaA

Which layer is the National Biodiversity Assessment (NBA) 2019

**Error. That is supposed to be 2018. I have corrected it in the spreadsheet.**

For the Ecological Support Areas (ESA): National I suggest we remove this layer in geocontext or using it for spatial filters because it doesn't have any useful attributes which we can use to do the filtering with. we should not be using gid t

[2020-05-11 09:33] NyakudyaA commented on #2052
Will look at it

We can filter but it is not usefull to filter using the gid. We need a column that is useful for them to be able to use as a filter. I am suggesting we remove it as a map layer and spatial filter unless we identify useful attributes

[2020-05-13 07:17] timlinux opened #2105 "Birds should be plural"
![image](https://user-images.githubusercontent.com/178003/81782769-362aea00-94f2-11ea-885f-41fe188584c9.png)

Replace Bird with Birds

[2020-05-13 07:27] jeremyshelton commented on #2052
@NyakudyaA we just want to see the ESA layer and filter by the ESA layers - i.e. return only sites falling within these areas.

Maybe best to chat about it at today's Zoom at 11h00?

@helendallas

[2020-05-13 07:36] jeremyshelton commented on #1856
@helendallas @dimasciput RMU layer and filter looking good on staging. One thing I noticed is no red outlines showing for the RMU filtering. Have added that to the filter issue tracker added to ticket #2052

<img width="683" alt="Screenshot 2020-05-13 at 09 34 39" src="https://user-images.githubusercontent.com/44292029/81784354-059c7d80-94fd-11ea-9dbb-acc93bf2da97.png">
<img width="873" alt="Scree

[2020-05-13 07:41] jeremyshelton commented on #2060
@dimasciput @helendallas

Unable to test this at present because reference search bar not working. Also, the first entry is 'Houseing Development', which of course is not an FBIS reference :)

<img width="285" alt="Screenshot 2020-05-13 at 09 39 45" src="https://user-images.githubusercontent.com/44292029/81784925-e5b98980-94fd-11ea-9e36-1fc84d53d848.png">

[2020-05-13 07:47] jeremyshelton commented on #2054
@dimasciput the following still need attention:

1. Make overview panel wider to give text on left a bit more space.
2. reduce the gap size in the 'Site details column, as per @helendallas 's request.
3. Standardise format of table in top left of multisite dashboard.

Thanks

[2020-05-13 07:48] jeremyshelton commented on #1861
Thanks @dimasciput
@helendallas I think this is fine. Are you happy with that?

[2020-05-13 07:55] timlinux opened #2106 "Taxon summary download should be CSV not image"
It will be more useful if we can download this list as CSV:

![image](https://user-images.githubusercontent.com/178003/81786388-7b054f80-94f7-11ea-89d4-31724d381d46.png)

[2020-05-13 08:06] NyakudyaA commented on #2052
![gid-mview](https://user-images.githubusercontent.com/2510900/81787195-f8818d80-9500-11ea-9065-b8072b6aa14d.png)

Above are the subset of the attributes for the layer. In the other ticket, you mentioned it would be nice to only show the gid. The gid is a column that is generated to show that each row is unique. It has no relationship with the attributes.

How do you plan to filter based on this?

[2020-05-13 08:10] jeremyshelton commented on #1877
@dimasciput @helendallas @timlinux
Still not correct in staging.

[2020-05-13 08:37] jeremyshelton commented on #2052
OK, @NyakudyaA can you join the zoom at 11h00?

[2020-05-13 08:41] helendallas commented on #1861
@dimasciput I am happy with this. I will shift to RBIS as it is important for RBIS too.

[2020-05-13 09:34] timlinux opened #2107 "Remove sites legend"
![image](https://user-images.githubusercontent.com/178003/81796359-413b4580-9505-11ea-94b0-d376e827c481.png)

[2020-05-13 11:27] helendallas commented on #1967
@dimasciput
This really needs to be done before we go live. None of this has been implemented on the testing or live site. Please revert soonest.

[2020-05-13 11:37] helendallas opened #2108 "Broad Biotope"
@dimasciput
Please change in dropdown list:
**All**    to     **Mixed**

[2020-05-14 08:26] timlinux opened #2109 "We need to upgrade to Django 3"
To start our work we want to have the latest version of all libraries in our software stack.

[2020-05-14 08:33] timlinux opened #2110 "We need a domain name for the RBIS project"
https://rbis.ur.ac.rw will probably be the name for the site.

[2020-05-14 08:51] timlinux opened #2111 "We need contextual data for the RBIS platform"
- [ ] Catchment boundaries
- [ ] River system
- [ ] Geomorphological Zones
- [ ] Place names
- [ ] Annual temperature monthly averages
- [ ] Annual rainfall monthly averages

This list needs to be extended - Elias to take charge of finalising the list and then we will pass to Mapendo to procure the data.

[2020-05-14 08:53] timlinux opened #2112 "We need to get Elias, Beth and Mapendo signed up on GitHub"
Please help them to create GitHub accounts and then forward their account names to @timlinux

[2020-05-14 09:04] timlinux opened #2113 "We need to set up technical training for GeoServer and GeoNode"
@NyakudyaA to lead this, Mapendo, @iPelino and Celestin and anyone involved more on the GIS side should attend.

[2020-05-14 09:09] timlinux opened #2114 "We need to organise a GitHub training session"
@timlinux to lead the session

1 hour long, all team members from Rwanda to participate

@Deborahcyu to make sure everyone attending is already signed up on GitHub before we start.

Depends on #2112 to be completed first.

[2020-05-14 09:24] dimasciput opened #2115 "Add PWA audit"

[2020-05-14 14:01] Deborahcyu commented on #2112
Beth Kaplin: bakaplin
Elias Bizuru: ebizuru
Mapendo: @mmindje

[2020-05-14 14:35] mmindje commented on #2112
Hi Deborah, I already signed up.
What is the next step?

On Thu, 14 May 2020 at 16:01, Deborahcyu <notifications@github.com> wrote:

--
.............................................................

*Mapendo MINDJE*
*University of Rwanda-CAVM Teaching and Research assistant*
*Frogs and Toads co**mmunity ecologist*
*Amphibian survey team leader-ARCOS network.*

*Team leader-Biodiversity Information

[2020-05-14 14:42] Deborahcyu commented on #2112
I shared your Usernames with Tim so that he gives you access on the
platform. you will receive an invitation to join once he invites you.
Thanks

On Thu, May 14, 2020 at 4:35 PM Mapendo MINDJE <notifications@github.com>
wrote:

[2020-05-15 10:39] jeremyshelton opened #2117 "Strange grey colour in pie charts?"
Strange grey categories in pie charts, not shown in legend?

<img width="854" alt="Screenshot 2020-05-15 at 11 55 35" src="https://user-images.githubusercontent.com/44292029/82041852-243f7780-96a9-11ea-9a1e-45d3f7084eff.png">

[2020-05-15 12:22] Aneri16 opened #2118 "Fish metadata issues"
@dimasciput these are the issues I picked up in the fish metadata table:

1. For reports uploaded to FBIS, name of the person who uploaded the report is being displayed as the Author, instead of the Author specified in the spreadsheet. I suspect this might be because FBIS recognizes the uploader as the Owner in the initial uploading process, and this link is then added to the Document Upload Link?

[2020-05-18 08:46] helendallas opened #2119 "Remove map border"
@NyakudyaA @dimasciput
As per our call on wednesday, please van you fix the borders on the live site.
![Screenshot_2020-05-18 FBIS Map](https://user-images.githubusercontent.com/45286876/82192684-9952bd00-98f4-11ea-8cf0-9a31583d4753.png)

We need to open the site soonest, and outstanding issues need to be fixed asap.
@timlinux
@dimasciput @jeremyshelton

[2020-05-18 12:13] helendallas commented on #1856
@dimasciput still needs fixing to show red outline of selected RMU

[2020-05-18 12:36] helendallas commented on #2059
@dimasciput
I dont think there are any GBIF data fro invertebrates or algae as the number of records and taxa are exactly the same .
Algae:
![Screenshot_2020-05-18 FBIS Map(5)](https://user-images.githubusercontent.com/45286876/82213521-8ea82000-9914-11ea-992a-1ac2aa9d6328.png)

![Screenshot_2020-05-18 FBIS Map(6)](https://user-images.githubusercontent.com/45286876/82213542-9b2c7880-9914-11ea-91ca

[2020-05-18 12:46] helendallas opened #2120 "Spatial filter not working"
@dimasciput I selected Primary region = G
sites in E and G returned
![Screenshot_2020-05-18 FBIS Map(9)](https://user-images.githubusercontent.com/45286876/82214491-370ab400-9916-11ea-857e-723c73115c7d.png)

http://staging.freshwaterbiodiversity.org/map/#search//taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,

[2020-05-18 12:52] helendallas opened #2121 "Duplicate taxa"
@dimasciput There are still duplicate taxa being returned for the same reason as I indicated before - different Origins Unknown versus Native. All origins should be based on the master list.

![Screenshot_2020-05-18 FBIS Map(10)](https://user-images.githubusercontent.com/45286876/82214994-f2cbe380-9916-11ea-945d-0b30ac034933.png)

[2020-05-18 12:55] helendallas opened #2122 "Detailed dashboard - map not visible"
@dimasciput The map is not visible

![Screenshot_2020-05-18 FBIS Map(11)](https://user-images.githubusercontent.com/45286876/82215364-9b7a4300-9917-11ea-85b4-322ecc684752.png)

http://staging.freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,secondary_catchment_area,G1

[2020-05-18 13:08] helendallas commented on #2040
@dimasciput Cant check this as CSV not working for invertebrate

[2020-05-18 13:09] helendallas commented on #2030
@dimasciput Cannot check as CSV not working

[2020-05-18 13:16] helendallas commented on #2060
@jeremyshelton This is a different issue. I am referring to the Citations in the Admin Section.

When you go to Author...strange abbreviation of authors are returned.

@dimasciput Still an issue in the filter although the citation seems to be corrected.

![image](https://user-images.githubusercontent.com/45286876/82217200-5e638000-991a-11ea-972e-11a22e730726.png)

[2020-05-18 13:24] helendallas opened #2123 "Documents - error message on editing"
I am trying to correct wrong owners. get error message,

![image](https://user-images.githubusercontent.com/45286876/82217996-82739100-991b-11ea-9208-44444003c055.png)

[2020-05-18 13:31] helendallas opened #2124 "Documents"
@dimasciput I created and updated lots of documents on the live site before it became the staging site. For example added full details for this study and a pdf of Docuemnt no available. as a placeholder as suggested by @timlinux
But now on staging this is not here?
![image](https://user-images.githubusercontent.com/45286876/82218469-38d77600-991c-11ea-9a0b-ea980277477b.png)

[2020-05-19 03:31] dimasciput commented on #2120
@helendallas re-fetching data from geocontext, should be done in Thursday

[2020-05-19 03:32] dimasciput commented on #2122
@helendallas Please try again

[2020-05-19 08:26] jeremyshelton commented on #2013
@dimasciput The updated fish DATA and MASTER LIST (both dated 19 May) are now on dropbox and ready for you to ingest.

<img width="715" alt="Screenshot 2020-05-19 at 10 24 29" src="https://user-images.githubusercontent.com/44292029/82303356-22ccc280-99bb-11ea-871a-e67f12b12fa7.png">

@timlinux @helendallas

[2020-05-20 07:31] jeremyshelton commented on #1859
Looking good @timlinux @dimasciput
Can we add an 'explanation in a drawer' below each of these, like we have for other layers, to tell the user exactly what data these are?
Also, in the overview panel maybe 'Data shared with permission from http://award.org.za/', instead of 'taken' and that text could be a bit bigger.

<img width="1440" alt="Screenshot 2020-05-20 at 09 25 09" src="https://user-ima

[2020-05-20 07:35] jeremyshelton commented on #1856
See #2052 for the full list of filters that still need red outlines and other adjustments.

[2020-05-20 07:38] helendallas commented on #2122
@dimasciput working thanks

[2020-05-20 07:38] #2122 closed

[2020-05-20 07:39] jeremyshelton commented on #2054
Looks good now. Thanks @dimasciput

[2020-05-20 07:40] jeremyshelton commented on #1861
@helendallas @dimasciput I am moving this to done and labelling as checked by FRC.

[2020-05-20 07:48] helendallas commented on #1182
Clsoing ticket as MiniSAASS and InWards wq data available as separate group on main map

[2020-05-20 07:48] #1182 closed

[2020-05-20 07:58] helendallas commented on #2121
Some issues are fixed but still a problem at family - may be related to taxa being in SASS and the master list?

Another example:
http://staging.freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=[%22value,secondary_catchment_area,E1%22]&reference=&endemic=&conservationStatus=[]&

[2020-05-20 08:14] jeremyshelton commented on #1182
Cool.

[2020-05-20 08:17] jeremyshelton commented on #1934
Closing this ticket as this issue is covered in: FILTERS & LAYERS (V4 testing) #2052

[2020-05-20 08:17] #1934 closed

[2020-05-20 08:31] jeremyshelton commented on #1863
@timlinux at our catch up last wednesday you mentioned a list of refinements to that base layer that are still needed, and that you are working on with Admire. I am not these changes yet on staging, but perhaps they are being worked on elsewhere?
I think these included:
- clearer river labels
- river labels need to show when zoomed in close
- 'cut-off' tables fixed
- fix white border/edge of map s

[2020-05-20 08:40] timlinux commented on #2113
To join the training:

* Maurice
* Mapendo
* Celestin
* Pelin
* Bernadette?

Admire to contact the participants directly and organise the training sessions. @dimas to make sure that the test platform is working nicely for GeoNode + GeoServer training.

* Maurice Mugabowindekwe mugabomaurice@gmail.com

[2020-05-20 08:42] mmindje commented on #2113
I suggest also Thacien, Daniel to the Team to be trained

[2020-05-20 08:43] Thacien1 commented on #2113
Yes, I need to attend.

[2020-05-20 08:53] timlinux opened #2128 "We need a training session on GitHub"
@timlinux to lead

GitHub Training for RBIS Team
Scheduled: 26 May 2020 at 08:00 to 09:00

[2020-05-20 08:56] timlinux opened #2129 "We need to invite the team to slack"
Tim to send out invites to all RBIS team:

Beth Kaplin <b.kaplin@ur.ac.rw>
deborahcyuzuzo@gmail.com <deborahcyuzuzo@gmail.com>
Dimas Triciputra <dimas@kartoza.com>
Elias Bizuru <ebizuru@gmail.com>
iodanielz@ymail.com <iodanielz@ymail.com>
Mapendo Mindje <majulesdor@gmail.com>
Mbonabucya Celestin <cembonace@gmail.com>
mugabomaurice@gmail.com <mugabomaurice@gmail.com>
Pelin Mutanguha <pelmut2000@gma

[2020-05-20 08:59] jeremyshelton commented on #2055
Thanks @dimasciput for fixing some of these issues.
Getting there. Fine that graph axes can't be fixed.

A few outstanding issues:
- Single site fish dashboard says 'Single Site - Invertebrates' but it should say 'Single Site - Fish' (same thing for algae) http://staging.freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=30895&collector=&category=&yearFrom=&yearTo=&months=&boundary=

[2020-05-22 16:19] NyakudyaA commented on #1863
Increased the font and put a halo

All river labels are visible unless that river doesn't have a name at all

Already fixed, now showing on live site

I have fixed this

What do you consider as major rivers? For DWA rivers we could identify them using strahler order but with NGI rivers it is a bit difficult.

[2020-05-25 10:00] timlinux commented on #2119
![Screenshot 2020-05-25 at 10 57 45](https://user-images.githubusercontent.com/178003/82802410-bfd5a280-9e76-11ea-8696-c836b2b46371.png)

Looks like this now on Testing @helendallas

[2020-05-25 10:01] timlinux commented on #2119
At mid scale:

![image](https://user-images.githubusercontent.com/178003/82802605-1216c380-9e77-11ea-9772-0bee2eb44dbc.png)

Note we have a rogue fish record in the sea there.

[2020-05-25 10:10] timlinux commented on #2119
Note that rendering will be a bit slow initially while the tile cache builds up

[2020-05-25 11:25] NyakudyaA commented on #1863
@jeremyshelton cc @helendallas I have made some changes to the basemap. Can you please test and revert if anything still needs to be changed

[2020-05-25 16:43] jeremyshelton commented on #1863
Hi @NyakudyaA and @timlinux

There seem to be some issues with river names

1. When zoomed out, only some river names are showing.
2. When zoomed in past a certain point, no river names are showing
3. There is mis-matching between the different layers at the edge of the map

<img width="1034" alt="Screenshot 2020-05-25 at 18 33 22" src="https://user-images.githubusercontent.com/44292029/82831017-8

[2020-05-25 16:47] jeremyshelton commented on #2119
Thanks @timlinux
Don't think Dimas has done the new data fish yet, so let's check for rogues once he's done with that. I have listed some map issues on #1863

[2020-05-26 06:13] dimasciput commented on #2119
@jeremyshelton I have ingested the fish data to staging

[2020-05-26 06:14] #2054 closed

[2020-05-26 06:14] #1870 closed

[2020-05-26 06:14] #1989 closed

[2020-05-26 06:20] mmindje commented on #2128
Can any body share the Training Link?
Thank you

[2020-05-26 07:33] timlinux opened #2133 "The print button is broken"
**Describe the bug**
When I try to print, nothing happens.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://freshwaterbiodiversity.org/foo/bar
2. Click on 'Print'
3. Wait
4. See error

**Expected behavior**
When I press the print button, I expect to see a map printed out of my printer.

**Screenshots**

![Screenshot 2020-05-26 at 08 30 32](https://user-images.githubusercontent.c

[2020-05-26 07:36] dimasciput commented on #1901
@helendallas updated in live site

[2020-05-26 07:36] timlinux commented on #2133
This is a first comment

![Screenshot 2020-05-26 at 08 36 23](https://user-images.githubusercontent.com/178003/82873158-fcafa100-9f2b-11ea-8b1a-e8b1bd6d1a0a.png)

http://kartoza.com

[2020-05-26 07:36] NyakudyaA commented on #1863
I will look at it but I am only labelling major rivers with a strahler order > at small scale.

I can look into this and rectify.

Does this occur as you zoom in and out or all the time. I will look at it and rectify today

[2020-05-26 07:38] dimasciput commented on #2133
@timlinux I assume this is not a real issue

[2020-05-26 07:39] timlinux commented on #2133
@dimasciput correct we are just using this issue for training

[2020-05-26 07:44] mmindje commented on #2133
@Tim can you again define what you are calling Ticket?

[2020-05-26 07:45] bakaplin opened #2134 "Question about preparing the webpage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-26 07:46] timlinux commented on #2133
@mmindje A ticket is another name for an issue or a story - something that needs to be achieved on the system by the team.

[2020-05-26 07:46] helendallas commented on #2133
@mmindje  Ticket = issue

[2020-05-26 07:46] mmindje commented on #2133
@timlinux Thank you. I get it now

[2020-05-26 07:46] timlinux commented on #2133
@Deborahcyu Can you add your comment please?

[2020-05-26 07:47] DanielIgirimbabazi commented on #2133
@timlinux Is there any specific video tutorial for using GitHub for beginners that you may recommend after the meeting?

[2020-05-26 07:48] Deborahcyu commented on #2133
i get it, ticket is like an issue but there is another name you gave it @timlinux  ...what was that?

[2020-05-26 07:50] timlinux commented on #2133
@Deborahcyu we also sometimes call them 'stories'

[2020-05-26 07:52] helendallas commented on #2133
Issues are listed in the Issue column
![image](https://user-images.githubusercontent.com/45286876/82874546-63d25300-9f36-11ea-95ca-5b9c7336e246.png)

The most recent issue is listed first
![image](https://user-images.githubusercontent.com/45286876/82874598-79e01380-9f36-11ea-9e47-77f6d373e314.png)

[2020-05-26 07:52] bakaplin commented on #2133
how do we find the handles (names) for the project people so we use the correct name  @timlinux

[2020-05-26 07:53] #2134 closed

[2020-05-26 07:54] jeremyshelton commented on #2119
Thanks @dimasciput We are checking it now. Will send a message when we are done checking and then we can pull GBIF fish data from the new master list 👍

[2020-05-26 07:57] mmindje commented on #2133
@bakaplin I am using the **@** then a list of participants is shown and you can click on the one you refer to .....or if you know the username after @ then type it and there you go.

[2020-05-26 07:58] cembonace commented on #2133
@mmindje : You are right.

[2020-05-26 08:06] timlinux commented on #2133
#2134 I closed this because it was a test ticket

[2020-05-26 08:07] timlinux commented on #2133
We need to support birds:

- [ ] #1207 - Add a legend
- [ ] #2119 - Remove the map border

[2020-05-26 08:30] timlinux commented on #2133
[GitHubIssueManagementOverview.pdf](https://github.com/kartoza/django-bims/files/4680846/GitHubIssueManagementOverview.pdf)

[2020-05-26 08:34] #2133 closed

[2020-05-26 08:58] jeremyshelton commented on #2013
@dimasciput Fish data on staging looking good. Only issue is that the following two taxa seem to have lost the Authority in their name. Is this an easy fix?

Petrocephalus wesselsi (Kramer & van der Bank, 2000)
Anguilla bicolor McClelland, 1844

Once that is fixed we can start pulling from GBIF with this new master list 👍

[2020-05-26 09:11] helendallas commented on #1938
@dimasciput Please advice if you have done this script yet as there are still duplicates.

[2020-05-26 09:15] #2108 closed

[2020-05-26 09:18] dimasciput commented on #2013
@jeremyshelton fixed, I already pulled some data from gbif

[2020-05-26 09:27] dimasciput commented on #1938
@helendallas I'm running the script again now

[2020-05-26 09:28] dimasciput commented on #1938
@helendallas done, please try again.

[2020-05-26 09:45] helendallas commented on #1967
@dimasciput Thanks -  all fixed except:

Change the "sampling details" dropdown options for Chl A biomass indicator for
**CHLA-B** to:   **Whole cobble; Soft bottom; In situ; Artificial substrate.**

[2020-05-26 09:49] helendallas commented on #1938
@dimasciput Looks fine now, thanks

[2020-05-26 09:49] #1938 closed

[2020-05-26 09:57] dimasciput commented on #2055
@jeremyshelton

That was the name ingested from the master data :

![image](https://user-images.githubusercontent.com/1979569/82887153-cc8af100-9f71-11ea-8cb5-dae53d708d13.png)

[2020-05-26 09:59] jeremyshelton commented on #2013
OK thanks @dimasciput
let me know when you are finished pulling from GBIF and then we can test that 👍

[2020-05-26 09:59] dimasciput commented on #1967
@helendallas added, please check again

[2020-05-26 10:01] dimasciput commented on #2013
on it

[2020-05-26 10:03] helendallas commented on #1992
@dimasciput Study References from ingested invertebrate data not showing - please can you check why. it as working before.

E.g Scodanibbio L
Tharme RE etc

[2020-05-26 10:06] helendallas commented on #1967
@dimasciput
Just to fix:
![image](https://user-images.githubusercontent.com/45286876/82888151-45c21e00-9f49-11ea-9311-ea1818f4cf36.png)

Should be **Whole cobble**

[2020-05-26 10:11] jeremyshelton commented on #2055
@dimasciput I don't see that format in the data spreadsheet - all the reference formats are standardised, but the metadata table on staging is still giving inconsistent reference formats. Any idea why that might be?

[SA fish data for FBIS v3__19 May2020.xlsx](https://github.com/kartoza/django-bims/files/4681416/SA.fish.data.for.FBIS.v3__19.May2020.xlsx)

Here is an example of three different auth

[2020-05-26 10:22] dimasciput commented on #1992
@helendallas checking

[2020-05-26 10:32] dimasciput commented on #1967
@helendallas sorry, fixed

[2020-05-26 10:35] dimasciput commented on #2055
@jeremyshelton Ah probably the reference data is still using old data, I didn't know that you also changed the reference data. They are different table. Would you like to update it manually from admin page? I'll show you how, then we don't need to re-harvest the data.

[2020-05-26 10:48] helendallas commented on #1967
@dimasciput Thanks

[2020-05-26 10:48] #1967 closed

[2020-05-26 10:48] #2030 closed

[2020-05-26 10:52] jeremyshelton commented on #2055
OK we can try that and see how do-able it is.
@Aneri16 perhaps this is something you can help with? (see above comments for the gist of this issue)

[2020-05-26 10:52] dimasciput commented on #2013
@jeremyshelton fetched all fish data from gbif, not all species has occurrences from gbif.

[2020-05-26 11:00] jeremyshelton commented on #2013
Thanks @dimasciput - will check that now.
Do you perhaps have a list of which 13 fish species that have zero records?

[2020-05-26 11:14] Aneri16 commented on #2055
@jeremyshelton sure I can look into that

[2020-05-26 11:17] jeremyshelton commented on #2055
Cool! @dimasciput can you please show @Aneri16 how to update references on FBIS?

[2020-05-26 11:26] #1995 closed

[2020-05-26 11:27] dimasciput commented on #2107
Sites legend removed

[2020-05-26 11:27] #2107 closed

[2020-05-26 11:43] helendallas commented on #2040
@dimasciput Looks good for invertebrates and algae
@jeremyshelton please check for fish

[2020-05-26 11:45] dimasciput commented on #1992
@helendallas fixed, please try again

[2020-05-26 11:54] dimasciput commented on #2055
@Aneri16
If the reference type is a peer-reviewed scientific article then follow this steps :
- Go to this page http://staging.freshwaterbiodiversity.org/bibliography/
- Search the reference by the title
- Click edit in admin page (you need to be a super user for this, use fbis account)
- Go to the bottom of the page, check the Author entry rank panel :
![image](https://user-images.githubuserconte

[2020-05-26 11:55] dimasciput commented on #2055
@jeremyshelton

Let's do this in next version or I can fix it in RBIS then bring the changes to FBIS.

[2020-05-26 12:04] #2119 closed

[2020-05-26 12:06] #2098 closed

[2020-05-26 12:07] timlinux commented on #2101
RBIS Skin repo is here:

https://github.com/kartoza/rwanda-biodiversity-portal

[2020-05-26 12:07] timlinux commented on #2101
And @dimasciput has access:

![image](https://user-images.githubusercontent.com/178003/82898862-e7e60400-9f51-11ea-940a-aa10d38b0ce8.png)

[2020-05-26 12:07] #2101 closed

[2020-05-26 12:09] timlinux opened #2135 "Rogue biodiversity records"
We have some records in the sea or outside the study domain.

- [x] @dimasciput to share latest database dump with Tim
- [x] Tim to compile a list and then
- [ ] pass on to @helendallas for review

[2020-05-26 12:11] helendallas commented on #2025
@dimasciput Thanks EC now in SASS Summary Table.

Please can you also standardise as you have with other CSV that Original Site Code and Original River Name are also included.

[2020-05-26 12:14] jeremyshelton commented on #2055
@dimasciput no problem 👍

[2020-05-26 12:29] jeremyshelton commented on #2040
@helendallas fish looks good too.

The only error I picked up is that quinary catchment column is absent for all csv's. @dimasciput is there an easy way to include this?

Also, @helendallas just a question: is there a good reason why we are not including units for columns like 'abundance value' or the physio-chem parameters at the end?

[2020-05-26 12:33] helendallas commented on #2040
@jeremyshelton
We should be including all abiotic data, as per the ingestion table. I did also subsequently notice a few other issues such as :
Density instead of Density with details as per spreadsheet  (cells/m2)

It may be worth goign through these all unless @dimasciput has a quick way to check?
--

[2020-05-26 12:37] helendallas commented on #1945
I have checked these same site for records, and all data seem to be visible in dashboard and csv files. I am closing ticket.

[2020-05-26 12:37] #1945 closed

[2020-05-26 12:39] dimasciput commented on #1893
@helendallas apparently this is because we remove this reference :
[code]
Should I re-create this reference, and add it to the collection records?

[2020-05-26 12:43] dimasciput commented on #2040
@jeremyshelton

Yes, I'm still fetching this data from geocontext, there was an error this morning from geocontext and @NyakudyaA just fixed it.

[2020-05-26 12:47] dimasciput commented on #2040
@helendallas

I already added this.
![image](https://user-images.githubusercontent.com/1979569/82902224-55615700-9f89-11ea-9f9a-4c8750bf46b3.png)

I made it the same as the other modules, is it vital now? Or can I update this later?

[2020-05-26 12:47] timlinux commented on #2135
![image](https://user-images.githubusercontent.com/178003/82902286-24682e80-9f57-11ea-84bd-7fe21b8aa81e.png)

So @helendallas the map above shows three colours:

1. Gree circles are 'good' records inside SA boundaries
2. Yellow is the invers selection of everything outside SA
3. Red is yellow minus records which are on the terrestrial borders (Namibia etc) and also Lesotho and eSwatini removed.

[2020-05-26 12:51] helendallas commented on #1992
@dimasciput Working now thanks

[2020-05-26 12:51] #1992 closed

[2020-05-26 12:53] timlinux commented on #2135
Some of the red may still be good but are doubtful e.g.

![image](https://user-images.githubusercontent.com/178003/82902528-7c9f3080-9f57-11ea-968a-8399e171367d.png)

Attached are the outliers as XLS sheet

[fbis-outliers.xlsx](https://github.com/kartoza/django-bims/files/4682285/fbis-outliers.xlsx)

[2020-05-26 12:55] timlinux commented on #2135
You can also explore the outliers interactively here on a map:

https://gist.github.com/timlinux/a7f6520c159ec69b0490b7519bbceaa3

If you click on clusters they will zoom in and eventually show individual records.

[2020-05-26 12:56] timlinux commented on #2135
![image](https://user-images.githubusercontent.com/178003/82903300-a86ee600-9f58-11ea-85ca-7e48a369619a.png)

[2020-05-26 13:02] helendallas commented on #2040
@dimasciput happy for it to updated later, not vital, thanks

[2020-05-26 13:07] helendallas commented on #2121
@dimasciput Still duplicates at family level e.g
Athericidae
Blephariceridae
Ceratopogonidae
etc.

http://staging.freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=%5B%22value,secondary_catchment_area,E1%22%5D&reference=&endemic=&conservationStatus=%5B%5D&modules=21&validated=&s

[2020-05-26 13:28] helendallas commented on #2135
@timlinux @dimasciput
A number of these which are invertebrates were fixed in version2. I am not sure why they are now wrong again.

Maybe because Dimas rolled back from a backup at some stage. He will need to please update all coordinates again suing this spreadsheet, then we can check again which records are rogue.

see #915
I am attaching the georeference excel file for updating.
![image](https

[2020-05-26 14:46] helendallas commented on #2123
@dimasciput I am still getting the error message

![image](https://user-images.githubusercontent.com/45286876/82914936-66ea3500-9f70-11ea-9cd8-ecee90480b70.png)

[2020-05-26 14:50] helendallas commented on #1895
@dimasciput The Reference Category is still not correct for the legacy Biobase records.

For example:

![image](https://user-images.githubusercontent.com/45286876/82914736-2b4f6b00-9f70-11ea-9ad2-5e3984c0d24c.png)

This should be a Published Report - it is on the Documents.

Moore   C.A. & Chutter F.M. | 1988 | CSIR and National Institute for   Water Research (NIWR) Contract report, Pretoria. | A

[2020-05-26 15:21] helendallas opened #2136 "Need to update Broad biotope, Specific biotope and Substratum legacy Biobase data"
@dimasciput I have searched through the tickets for this but cannot find it.  I was sure I created a ticket for this.

Legacy biobase data is not showing any biotopes, although the data are in the legacy database.

Broad   biotope | Specific biotope | Substratum - are all blank in csv file.

A while back I created a Table showing what each Biobase Biotope needs to be c=reclassified as for FBIS.  H

[2020-05-26 15:24] helendallas opened #2137 "Need to update Abundance measure for Legacy Biobase data"
**Legacy** Biobase data exported in the csv file show the Abundance measure to be:
**Number**

This is incorrect.

Please update all Biobase data to be **Abundance measure = Percentage abundance**

[2020-05-26 15:38] helendallas commented on #1856
Closing ticket as workign for RMU

[2020-05-26 15:41] helendallas commented on #2059
@dimasciput Difficult to check as map freezes. Can the GBIF invertebrate and algal data be cropped so that only data in South Africa, Lesotho and Swaziland are shown please.

Algal records have some in the ocean, which we need to hide.

[2020-05-26 15:47] helendallas commented on #2049
@dimasciput please exclude all collector/owner from GBIF. such as

![image](https://user-images.githubusercontent.com/45286876/82921261-7a010300-9f78-11ea-8dbe-c62967243a55.png)

![image](https://user-images.githubusercontent.com/45286876/82921445-aae13800-9f78-11ea-8d13-9e288da9ac10.png)

![image](https://user-images.githubusercontent.com/45286876/82921539-c9dfca00-9f78-11ea-913e-d4b26bd7570d.png

[2020-05-26 15:48] #2120 closed

[2020-05-26 15:54] helendallas commented on #2060
@dimasciput Using the Citation filter - Author is really problematic as the same author is expressed multiple times.

Please see #2033

It needs to be worked on in RBIS please. I am going to close this ticket.

[2020-05-26 15:54] #2060 closed

[2020-05-26 15:55] helendallas commented on #2033
Reference to #2033

[2020-05-26 17:29] helendallas commented on #2124
Seems to be okay now

[2020-05-26 17:29] #2124 closed

[2020-05-27 02:46] dimasciput commented on #2123
@helendallas fixed, please try again

[2020-05-27 03:47] jeremyshelton commented on #1698
Closing this ticked because it is covered in #2052

[2020-05-27 03:47] #1698 closed

[2020-05-27 04:15] dimasciput commented on #2121
@helendallas fixed, please try again

[2020-05-27 04:29] dimasciput commented on #2059
@helendallas done, removed all gbif records outside south africa

[2020-05-27 04:40] dimasciput commented on #2049
@helendallas done, please try again

[2020-05-27 05:11] dimasciput commented on #2135
@helendallas I have run the script again, please test it

[2020-05-27 05:30] jeremyshelton commented on #1807
@dimasciput can you give an update on this ticket?

[2020-05-27 05:37] jeremyshelton commented on #2052
@dimasciput there are still several outstanding filter issues that need to be addressed. These are listed in this spreadsheet in the Filters folder called FBIS FILTER TESTING.

Here is a link to the file if you need one: https://www.dropbox.com/s/yvi7p28yd0uhc2s/FBIS%20FILTER%20TESTING_MAY2020.xlsx?dl=0

Outstanding issues are highlighted red in these two columns:
<img width="899" alt="Screenshot

[2020-05-27 05:50] dimasciput commented on #1807
@jeremyshelton I'm still fetching catchment data, will do this later. I think we can do this in the background, so it should be fine if we want to open the site while fetching data from geocontext.

[2020-05-27 05:57] dimasciput commented on #1893
Done, all biobase records now have reference

[2020-05-27 05:57] #1893 closed

[2020-05-27 05:59] dimasciput commented on #2117
@jeremyshelton fixed

[2020-05-27 06:07] jeremyshelton commented on #2117
Nice. Closing.

[2020-05-27 06:07] #2117 closed

[2020-05-27 06:10] jeremyshelton commented on #1807
OK thanks @dimasciput - let us know when you are ready for us to test. Let's keep this ticket open until then 👍

[2020-05-27 06:39] helendallas commented on #2123
Sorry reopening -
![image](https://user-images.githubusercontent.com/45286876/82985875-1a950880-9ff5-11ea-9431-aa8d97df312f.png)

In Documents, I tried to edit by removing the authors from title and adding it to Owner, and changing data to 2002. This resulted in an error message.

![image](https://user-images.githubusercontent.com/45286876/82985646-b4a88100-9ff4-11ea-9cd8-0f2a35c958ac.png)

I real

[2020-05-27 06:55] jeremyshelton commented on #2056
@dimasciput the log out page is still very zoomed-in. Please adjust it like you did for the other pages (see above). Then we can close the ticket.

[2020-05-27 06:56] helendallas commented on #2049
@dimasciput looks mostly fixed, except odd one. from FBIS
http://staging.freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=[%22M%20%22]&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=

[2020-05-27 07:01] helendallas commented on #2059
@dimasciput @NyakudyaA
I cant test because as soon as I hit the search button to return all records it takes me here and freezes.
![image](https://user-images.githubusercontent.com/45286876/82987823-80cf5a80-9ff8-11ea-9d3d-a7be71788175.png)

Perhaps update rogue records, since some of these have already had georeferences corrected see #2135 and then I can retry

[2020-05-27 07:05] helendallas commented on #2121
@dimasciput Looks okay on the dashboard. but I cannot download the csv to check

[2020-05-27 07:13] dimasciput commented on #1859
@jeremyshelton updated

[2020-05-27 07:14] helendallas commented on #2135
@dimasciput
This has fixed some, some are still rogue . Are you able to send me a new list so I can manually work through the rogue records.

An excel file as tim sent is best, then I just punch in the code in FBIS and check the description, then the study reference to update the location.

@timlinux

[2020-05-27 07:16] helendallas commented on #1893
@dimasciput Thanks

[2020-05-27 07:18] dimasciput commented on #2123
@helendallas I think it's already updated, just need some time for the system to update the metadata table.
![image](https://user-images.githubusercontent.com/1979569/82989463-f2250280-a024-11ea-96d7-ad6b1178e977.png)
Just ignore the 500 now, I will investigate it later, but your edits should be saved.

[2020-05-27 07:29] jeremyshelton commented on #1859
Thanks @dimasciput
It's a bit too long. Please replace it with:

MiniSASS is a citizen science tool which can be used by anyone to monitor the health of a river. The data are served with permission from http://www.minisass.org/en/, and further information about the tool is available via this website.

Thanks

[2020-05-27 07:42] helendallas commented on #2123
@dimasciput  Not sure, as now the document is not visible on filter:
![image](https://user-images.githubusercontent.com/45286876/82991692-5c767c80-9ffe-11ea-87f3-3bc4cf3f7758.png)

[2020-05-27 07:47] dimasciput commented on #2123
@helendallas
![image](https://user-images.githubusercontent.com/1979569/82992099-dde30480-a028-11ea-9dfc-7e1deb61f849.png)
Yes correct, the filter is only for the title of the document and since you remove the authors from the title it will not visible.

[2020-05-27 07:50] dimasciput commented on #2135
@helendallas ok, will create a script for this.

[2020-05-27 07:51] helendallas commented on #2123
@dimasciput Ok of course.

I prefer the authors in the title, nut then it comes out wrong in the metadata table....**_### What are you recommendations?_**

I almost always search using authors, and unless authors are in the title, its very hard to find a reference

[2020-05-27 07:54] dimasciput commented on #2123
@helendallas I will update the filter for version 5, so you can search with the author too. What do you think?

[2020-05-27 07:57] dimasciput commented on #2049
@helendallas fixed, please try again

[2020-05-27 07:59] helendallas commented on #2123
@dimasciput

I would be keen to sit with you and smooth out document and citations, to make it easier to manage and filter, so yes, let park for RBIS. Similar ticket already exists #2033

Thanks

I will close this ticket for now

[2020-05-27 07:59] #2123 closed

[2020-05-27 08:01] dimasciput commented on #2123
@helendallas thanks, I also have some ideas to make it all more easier, just need more time to do that.

[2020-05-27 08:03] helendallas commented on #2049
@dimasciput Looks good now, closing ticket

[2020-05-27 08:03] #2049 closed

[2020-05-27 08:06] helendallas commented on #2040
@dimasciput @jeremyshelton I am moving this now to FBIS V5. The scv files still need some final fixing, but 90% is fine, so dont want tit to hold up the reopening of FBIS site.

[2020-05-27 08:11] helendallas commented on #2121
@dimasciput Thanks checked, all looks fine

[2020-05-27 08:11] #2121 closed

[2020-05-27 09:13] timlinux opened #2138 "Bathymetry must go behind countries"
![image](https://user-images.githubusercontent.com/178003/83000608-7e71fe00-a002-11ea-99b6-05517f319656.png)

[2020-05-27 09:26] NyakudyaA commented on #2138
That's already the situation @timlinux , maybe we need to add swaziland polygon so that the outline doesn't show.

![layer-order](https://user-images.githubusercontent.com/2510900/83002108-ed545480-a00c-11ea-8f4f-6d19d9c69bd4.png)

[2020-05-27 09:29] timlinux commented on #2033
In addition we need to add an Author field to the GeoNode document management model so that the author can be displayed properly in the metadata table.

[2020-05-27 09:30] timlinux commented on #2138
![image](https://user-images.githubusercontent.com/178003/83002550-18d34100-a005-11ea-9d67-3514ba837123.png)

Also the buffer is still now showing tucked in under the land @NyakudyaA

[2020-05-27 09:40] timlinux commented on #2052
@jeremyshelton you can manage the labels for the spatial filters yourself here:

http://staging.freshwaterbiodiversity.org/admin/bims/locationcontextgroup/

Pop us a note if you need any help.

[2020-05-27 11:38] dimasciput commented on #2135
Sites outside SA :
[sites_outside_sa.xlsx](https://github.com/kartoza/django-bims/files/4688446/sites_outside_sa.xlsx)

[2020-05-27 11:44] helendallas commented on #2135
@dimasciput Some are correct and in SA

![image](https://user-images.githubusercontent.com/45286876/83015012-0dd9da00-a020-11ea-9532-ed959d146d5d.png)

Please cna you check.

And some already updated on live site yesterday

A2CROC-MOUNT
--
B7OLIF-EWR2
B8SHIN-ALTEI

[2020-05-27 11:50] dimasciput commented on #2135
@helendallas ah sorry I run this script on testing! Let me run it from staging.

[2020-05-27 11:55] dimasciput commented on #2135
Here is the updated sites @helendallas :
[sites_outside_sa_updated.xlsx](https://github.com/kartoza/django-bims/files/4688539/sites_outside_sa_updated.xlsx)

[2020-05-27 11:58] helendallas commented on #2135
@dimasciput Thanks

[2020-05-27 12:00] helendallas commented on #2135
@dimasciput none of the first 4 sites come up. zero records

![image](https://user-images.githubusercontent.com/45286876/83016562-732eca80-a022-11ea-8bc3-68b4fb158a57.png)

[2020-05-27 12:02] helendallas commented on #2135
@dimasciput is this because a buffer has already been created. If so I should be able to fix first.

[2020-05-27 12:05] jeremyshelton commented on #2052
Thanks @timlinux

@dimasciput and @NyakudyaA I have revised the spreadsheet a little - please focus on the red rows in the 'checked' column:

<img width="469" alt="Screenshot 2020-05-27 at 14 04 29" src="https://user-images.githubusercontent.com/44292029/83016972-197ad000-a023-11ea-85a1-390f167d5bd6.png">

[2020-05-27 12:06] dimasciput commented on #2135
@helendallas apparently they are data from GBIF (but not all of them), and heads up the site is very slow at the moment, admire is still fixing the layers.

[2020-05-27 12:07] helendallas commented on #2135
@dimasciput is there a way to show which are FBIS sites. I cannot edit GBIS data

[2020-05-27 12:08] helendallas commented on #2135
@dimasciput GBIF data falling outside the SA boundary need to be excluded automatically

[2020-05-27 12:09] dimasciput commented on #2135
@helendallas let me just delete them, one sec. I'll give you updated sites

[2020-05-27 12:13] dimasciput commented on #2135
[sites_outside_sa_updated.xlsx](https://github.com/kartoza/django-bims/files/4688599/sites_outside_sa_updated.xlsx)
@helendallas

[2020-05-27 12:35] jeremyshelton commented on #2052
Thanks @timlinux

I have fixed as many names as I can from there.

@dimasciput and @NyakudyaA I have revised the spreadsheet a little - please focus on remaining issues indicated by the red rows in the 'checked' column:

<img width="455" alt="Screenshot 2020-05-27 at 14 33 22" src="https://user-images.githubusercontent.com/44292029/83019430-39ac8e00-a027-11ea-80d1-ef763d2ec3b1.png">

Thanks!

[2020-05-27 13:36] dimasciput commented on #1895
@helendallas I updated the source references but it may have different authors, you can change it directly from the documents page.

[2020-05-27 13:44] helendallas commented on #1895
@dimasciput Thanks I will work through documents.

[2020-05-27 14:31] helendallas commented on #2135
@dimasciput
Please can you do the following in the back end:
Combine sites below: they are the same. Please use the site details for the site with the most records (111).

![Screenshot_2020-05-27 FBIS Map](https://user-images.githubusercontent.com/45286876/83031504-eb05f080-a034-11ea-9ca5-da9412df6826.png)

Please combine K4WOLW-BARNA
with K4WOLW-BARND - use K4WOLW-BARND site details

[2020-05-28 02:30] dimasciput commented on #2135
@helendallas done

[2020-05-28 04:55] dimasciput commented on #2055
@jeremyshelton

Updated https://github.com/kartoza/django-bims/pull/2139

[2020-05-28 06:02] #2135 closed

[2020-05-28 06:25] helendallas commented on #2059
@dimasciput Looking great and also fast.
Question:
Site codes - is this still being " fetched"
![image](https://user-images.githubusercontent.com/45286876/83106407-b3db2200-a0bc-11ea-9d0e-47123d55fa1c.png)

[2020-05-28 06:33] #2112 closed

[2020-05-28 06:33] #2114 closed

[2020-05-28 07:15] dimasciput commented on #2059
@helendallas can you check it again now, it's missing code from the catchment data but it should fixed when geocontext is ready again.

[2020-05-28 08:48] timlinux opened #2140 "We need to show how to harvest GBIF data"
@dimasciput please plan a session showing how the GBIF harvesting process works with the technical team.

[2020-05-28 09:05] timlinux opened #2141 "We need an initial list of datasets in the dataset tracker"
Following the demo session by @helendallas we need to get the initial overview of available datasets. We will review the first draft next thursday.

[2020-05-28 09:08] DanielIgirimbabazi commented on #2113
I need to attend too

[2020-05-28 09:11] bakaplin commented on #2113
I agree to add Daniel and Thacien, both have experience with GIS and will be good for this training. Bernadette contact: BArakwiye@clarku.edu

[2020-05-28 09:13] mmindje commented on #2113
Looking forward to the calendar for the training

[2020-05-28 09:14] timlinux commented on #2113
@NyakudyaA I suggest to spread the training out across two sessions per week over 3  or four weeks.

Also let's set up a sandbox geonode to use for the training - we can do that on the CoE / Rwanda servers.

[2020-05-28 09:14] mumaurice commented on #2113
Looking forward to attending the GeoServer and GeoNode training.

[2020-05-28 09:47] petrapaton commented on #2113
Hi to you all!
I am Petra,  do the Admin & Training (logistics for Kartoza).
Please may I have a list of Full Names and email addresses of all those who will be attending the proposed training.
I will be liaising with our trainer (Admire) and will send a calendar invite and further information  via email.
Many thanks.
Petra - petra@kartoza.com

[2020-05-28 09:51] #2059 closed

[2020-05-28 09:51] helendallas commented on #2059
@dimasciput All workingthanks

[2020-05-28 09:52] helendallas commented on #1901
This will take some time for me to do. I am moving it to FBIS V5

[2020-05-28 09:53] mumaurice commented on #2113
Hi Petra,

Nice to e-meet you. I will be attending the training. My full name is Maurice Mugabowindekwe, and my email address is: mugabomaurice@gmail.com.

Looking forward to attending.

Thanks a lot.
Maurice

[2020-05-28 09:56] helendallas commented on #1895
@dimasciput I am still getting erro when I edit documnt.

http://staging.freshwaterbiodiversity.org/documents/241
I changed owner, to include author, then added date and selected update.

I think it is updating on the system, just giving me an error message

[2020-05-28 09:57] timlinux commented on #2113
@petrapaton these are the people we expect to join:

Person | Email
--------|-------
Maurice | mugabomaurice@gmail.com
Mapendo | majulesdor@gmail.com
Celestin | cembonace@gmail.com
Pelin | pelmut2000@gmail.com
Bernadette? | BArakwiye@clarku.edu
Thacien | thacienhagenimana@yahoo.com
Daniel | iodanielz@ymail.com

[2020-05-28 10:02] helendallas commented on #1895
@dimasciput I cant find document after I update it? Please can you check they are still there.

Also can I add Owner if they dont exist. I need these to be shown correctly in the Metadata Table, so until you add the Authors field, I am adding the authors to Owner. This is not correct, but the best for now.

Please advice soonest.

[2020-05-28 10:10] petrapaton commented on #2113
Thank you, noted @timlinux

[2020-05-28 10:11] jeremyshelton commented on #2052
@dimasciput @NyakudyaA
Here is a list of the filter issues that still need to be addressed.

<img width="640" alt="Screenshot 2020-05-28 at 12 09 45" src="https://user-images.githubusercontent.com/44292029/83128908-5787fa80-a0dc-11ea-987c-934614b75d61.png">

[2020-05-28 10:14] dimasciput commented on #2052
@jeremyshelton yes I’m still fetching some data from geocontext, we can do this while the site is live.

[2020-05-28 10:16] dimasciput commented on #1895
@helendallas

No we can't for now I'm sorry, can you provide me the user list, I will make them first.

[2020-05-28 10:17] dimasciput commented on #1895
@helendallas

I changed owner, to include author, then added date and selected update.

It's still missing the owner, can you tell me how did you update this document?

[2020-05-28 10:20] dimasciput commented on #1895
![Peek 2020-05-28 14-04](https://user-images.githubusercontent.com/1979569/83129704-68019a80-a107-11ea-9ad2-4a78d7fafd99.gif)
@helendallas this is how you should update the owner

[2020-05-28 10:22] helendallas commented on #2025
@dimasciput Please add **Original Site Code** and **Original River Name** to this csv. It can happen after the site goes live, thanks

[2020-05-28 10:27] jeremyshelton commented on #1807
@dimasciput is this now ready to test?

[2020-05-28 10:37] helendallas commented on #1895
@dimasciput Okay I added author even though it wasnt there. I think some study references are now compromised. I cnat find on documents to check and correct.

Sorry:  Please can you check

Allanson 1961. An introductory note on the chemistry and biology of the Great Fish River. Directors Report:  Institute for Freshwater Studies, Rhodes University, South Africa.

De   Decker H.P. | 1981 | Changes

[2020-05-28 10:50] helendallas commented on #1895
@dimasciput @jeremyshelton
Without the authors option added it doesnt make sense to edit the historical Biobase.

Unfortunately the study reference are shown incorrectly in filter and metadata table.
![image](https://user-images.githubusercontent.com/45286876/83132322-82c11880-a0e1-11ea-9ca5-8b595f0ee8db.png)
 @dimasciput Not sure what it will take to correct this in the backend. Ideally authors a

[2020-05-28 10:57] dimasciput commented on #1807
@jeremyshelton not yet, I'm still fetching other spatial data.

@NyakudyaA I still couldn't get any data from https://geocontext.kartoza.com/api/v1/geocontext/value/group/19.18611/-33.98/national_biodiversity_assessment_2018/

[2020-05-28 10:58] NyakudyaA commented on #1807
I will look it up @dimasciput still bust trying to fix qgis-server issues here

[2020-05-28 11:00] dimasciput commented on #1895
@helendallas I will update it now

[2020-05-28 11:04] dimasciput commented on #1895
@helendallas please check the site again

[2020-05-28 11:06] dimasciput commented on #1895
@helendallas wait, there is still an error

[2020-05-28 11:10] dimasciput commented on #1895
@helendallas ok fixed

[2020-05-28 11:13] helendallas commented on #1895
@dimasciput thanks, one more not coming through
Ractliffe G. | 1991 | The effects of suspended sediments on the macroinvertebrate community structure of a river ecosystem.

[2020-05-28 11:26] helendallas commented on #1895
@dimasciput
Moore and Chutter disappeared now??

[2020-05-28 11:27] dimasciput commented on #1895
@helendallas which doc?

[2020-05-28 11:47] helendallas commented on #1895
Moore   C.A. & Chutter F.M. | 1988 | A survey of the   conservation status and  benthic biota   of the major rivers of the Kruger National Park.
-- | -- | --

[2020-05-28 12:07] Thacien1 commented on #2113
Can't wait for the training. Thank you

Kind regards,
Thacien

Thacien Hagenimana
University of Rwanda, CST
CoEB, Rwanda (Center of Excellence in Biodiversity and Natural Resources Management)
Department of Research and Monitoring
Project assistant
Twitter: @thacienhagenim1<https://twitter.com/thacienhagenim1>
Phone: +250 781139073 / +250 727727608

"We live in a society exquisitely dependent on s

[2020-05-28 12:10] dimasciput commented on #1895
@helendallas we can only have one owner for document, try search by the title.

[2020-05-28 13:14] DanielIgirimbabazi commented on #2113
Hi @petrapaton , My full name is **Daniel Igirimbabazi** and my email address is iodanielz@ymail.com
Thank you!

[2020-05-28 14:06] Thacien1 commented on #2113
Dear Petra,

My full name Thacien Hagenimana and thacienhagenimana@yahoo.com is my email address . if you do not mind, you can use my alternative Hotmail account"thacienhagenimana@hotmail.com"

Best, Thacien.
Thacien Hagenimana
University of Rwanda, CST
CoEB, Rwanda (Center of Excellence in Biodiversity and Natural Resources Management)
Department of Research and Monitoring
Project assistant
Twitt

[2020-05-29 12:46] jeremyshelton opened #2142 "Remove sites legend from map."
@dimasciput please remove site legend from Map. This was already done on staging.

<img width="378" alt="Screenshot 2020-05-29 at 14 43 26" src="https://user-images.githubusercontent.com/44292029/83261059-0c90e480-a1bb-11ea-919b-862af9b204de.png">
dim

[2020-06-01 10:35] jeremyshelton opened #2143 "FBIS Mobile view"
FBIS mobile view not working well.

Header bar looks squished & map not working on my phone.

@timlinux in your opinion is this something we need to try get right?

<img width="341" alt="Screenshot 2020-06-01 at 12 27 53" src="https://user-images.githubusercontent.com/44292029/83401061-4dc80500-a404-11ea-8a7b-e9c9b11f44a5.png">

[2020-06-01 10:44] jeremyshelton opened #2144 "Fish CSV downloads"
I tried to do a data download of all the data currently on FBIS but the CSV file only has ~17 000 records (see SA fish data.csv), but there should be 313359 records. I then tried to download the FBIS only data, but the CSV file only has ~700 records (see SA fish data_FBIS), but there should be 13709.
[SA fish data.xlsx](https://github.com/kartoza/django-bims/files/4710811/SA.fish.data.xlsx)
[SA fi

[2020-06-01 10:47] jeremyshelton opened #2145 "Pie chart categories problem (again)"
Great categories showing in pie charts, but not in legend?
We hat the same issue before, but it was fixed on staging.
https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCollection=["fbis"]&abioticData=&

[2020-06-01 11:06] jeremyshelton opened #2146 "Map and ocean go grey?"
Map and ocean go grey and lose features (1) after searches and (2) when zoomed out?

<img width="1439" alt="Screenshot 2020-06-01 at 13 04 40" src="https://user-images.githubusercontent.com/44292029/83403276-a7323300-a408-11ea-8356-1369c1411ae7.png">

[2020-06-01 13:20] jeremyshelton opened #2147 "Remove farm portion from locate options (again)"
This issue was fixed in testing, but is now back.
<img width="353" alt="Screenshot 2020-06-01 at 14 39 32" src="https://user-images.githubusercontent.com/44292029/83412959-4cee9d80-a41b-11ea-9004-69147646ac10.png">

[2020-06-01 13:22] jeremyshelton opened #2148 "Third party layers - descriptions gone"
We did the descriptions for the Third party layers instating, but these have disappeared.
<img width="392" alt="Screenshot 2020-06-01 at 14 39 48" src="https://user-images.githubusercontent.com/44292029/83413190-b53d7f00-a41b-11ea-972a-921a6bfdd910.png">

[2020-06-01 13:37] jeremyshelton opened #2149 "Change 'All endemic' to 'All native' (again)"
Change 'All endemic' to 'All native' in Origin and endemism tab. This issue was fixed in staging but is now back??

<img width="335" alt="Screenshot 2020-06-01 at 15 31 01" src="https://user-images.githubusercontent.com/44292029/83414408-c38c9a80-a41d-11ea-9805-f977d97ba0f3.png">

[2020-06-01 20:27] timlinux commented on #2147
Are you sure this was removed? I remember discussing this and agreeing to leave it there even though it was not directly useful to you (it is part of the base FBIS platform).

[2020-06-01 20:27] timlinux commented on #2147
Also it is still present on testing.

[2020-06-01 20:46] timlinux commented on #2146
@jeremyshelton That reflects how the cartography was set up. @NyakudyaA can you try to mask out the sea pixels from the DEM?

@jeremyshelton can we hold this off till next week - I don't think it is too urgent?

[2020-06-01 20:53] timlinux commented on #2143
@jeremyshelton This is a definite 'park  for future' item for me

[2020-06-01 23:46] dimasciput commented on #2144
@jeremyshelton can you do smaller data? I think our system is not capable to do more than 100k data

[2020-06-01 23:50] dimasciput commented on #2144
@timlinux what do you think of this? Should we limit the download? Even big platform like twitter will take days to download my data.

[2020-06-02 08:24] jeremyshelton commented on #2147
@timlinux OK all good. It seems a bit out of place, but happy to keep it. I must have forgotten that we decided that....
@helendallas @dimasciput

[2020-06-02 08:27] jeremyshelton commented on #2146
@timlinux @NyakudyaA OK - agreed, not urgent - happy to hold this off for a week. It does look quite odd.

[2020-06-02 08:31] jeremyshelton commented on #2143
@timlinux @dimasciput this is an issue reported by a user - that the site looks jumbled on mobile. Figured it best to make a ticket, but happy to park for future if you think that's best. A lot of people do use mobile to check out a site, so it would be nice to clean up the mobile view a little at some point if possible.

[2020-06-02 08:57] jeremyshelton commented on #2146
@timlinux the map takes on that weird grey appearance each Tim a filter is applied to the data, which definitely looks odd/wrong?

[2020-06-02 09:11] NyakudyaA commented on #2146
![map-dis](https://user-images.githubusercontent.com/2510900/83502394-c9d45280-a4c1-11ea-901c-373aaeec686b.png)

You want it to be like this @jeremyshelton

[2020-06-02 09:18] jeremyshelton commented on #2144
@dimasciput @timlinux but fish data (FBIS + GBIF data) is about 33 000 records, which is quite a bit less than 100 000?

Quite an important thing for users to be able to download this data set.

Some users are already asking why the search for all fish data (FBIS + GBIF) shows over 33 000 records, but the .csv download of that data set only gives about 17 000?

@timlinux any creative ideas on how

[2020-06-02 09:20] jeremyshelton commented on #2146
@NyakudyaA yes, I think that is correct. Basically the map should keep the same appearance, even when zoomed out a bit. Do you agree? @timlinux

[2020-06-02 12:58] Aneri16 opened #2150 "Correct the latitude description in Locate Options"
Latitude should be "negative degrees South" not "positive degrees North"

![InkedLocate error_LI](https://user-images.githubusercontent.com/55532903/83522651-462a5e00-a4e1-11ea-8969-6e308c748df5.jpg)

@dimasciput @jeremyshelton

[2020-06-03 01:52] dimasciput commented on #2144
@jeremyshelton sorry I think more than thousand data is still too much. Let's say one row of data takes 1 second to process, it means for 1000 data it will take 1000*1 = 1000 seconds = 16 minutes. There is no quick solution for this, the only solution is to email the data to user but limit to only one download per user, if not the server will break.

[2020-06-03 06:45] jeremyshelton commented on #2144
OK thanks for that info @dimasciput
Let's add this to the agenda for today's 11h00 meeting.
@timlinux @helendallas

[2020-06-03 07:14] helendallas commented on #1895
@dimasciput @timlinux @jeremyshelton
Please can this be prioritised for fixing asap. A lot of the metadata is incorrect for documents.

We need to be able to add **Author(s)** in the Documents before **Title**. These authors are then displayed on the metadata, both in Study Reference Filter, and Metadata Table.

The Owner then becomes much less important for published data and can in many cases si

[2020-06-03 07:18] helendallas opened #2151 "River Names"
Geocontext is using NGI 50k rivers to get the river name that is closest to a point. In this case at that particular point you mention it is actually nearest to the river with that name.
![image](https://user-images.githubusercontent.com/45286876/83607185-12037b80-a57b-11ea-80c7-fede92b43434.png)

As depicted from the picture above NGI hasn't captured that river and the closest point to that one i

[2020-06-03 08:22] NyakudyaA commented on #2151
I am going to import again the ngi rivers

![import-new-data](https://user-images.githubusercontent.com/2510900/83611599-7c1f1f00-a581-11ea-8e44-eb71ac4f7be2.png)

However, the names are still going to be an issue.
![ngi-names](https://user-images.githubusercontent.com/2510900/83612170-55adb380-a582-11ea-8a4a-1e5488e0fbd0.png)

As depicted above some of the rivers from NGI have funny names that I

[2020-06-03 09:26] timlinux opened #2152 "We need to be able to capture Author and Publication Year"
Ideally we should offer this as a patch to upstream Geonode, but for now, if you could just overload the GeoNode document model to add:

* publication_author
* publication_year

Please see also: https://github.com/kartoza/django-bims/issues/1895

[2020-06-03 09:39] timlinux commented on #2151
[Data for tim.xlsx](https://github.com/kartoza/django-bims/files/4722345/Data.for.tim.xlsx)

Example points with issues from @helendallas

[2020-06-03 09:48] NyakudyaA commented on #2151
![rivers-dwa](https://user-images.githubusercontent.com/2510900/83622292-0ff7e780-a590-11ea-9e54-ac7e605b1b0d.png)

[2020-06-03 09:51] timlinux commented on #2151
Update from chat on 3 June 2020: We need to find an official dataset where the data are at 1:50 000 and have names. Currently the DWS data is 1:500k by the looks of things. @helendallas will compose an email to Nancy and stakeholders from DWS with Tim in CC. @timlinux to forward on to Aslam Parker (NGI) and FC Basson (Dept Agriculture) to see if they have any insights or access to better datasets.

[2020-06-04 01:55] #2095 closed

[2020-06-04 01:57] FBIS-issues opened #2154 "Test bug report"
Delete this

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/1">User information </a>
Device: Desktop
Referrer: https://freshwaterbiodiversity.org/map/#
Screen resolution: 2560 x 1440
Browser: Chrome

[2020-06-04 01:59] #2154 closed

[2020-06-04 08:47] timlinux commented on #2113
Person | Email
--------|-------
Maurice | mugabomaurice@gmail.com
Celestin | cembonace@gmail.com
Pelin | pelmut2000@gmail.com
Bernadette? | BArakwiye@clarku.edu - awaiting confirmation
Thacien | thacienhagenimana@yahoo.com
Daniel | iodanielz@ymail.com

@petrapaton note that Mapendo will not be attending after all. Updated list above.

[2020-06-04 08:57] petrapaton commented on #2113
Noted, thanks.

On Thu, 4 Jun 2020 at 10:48, Tim Sutton <notifications@github.com> wrote:

--
------------------------------------------------------------------------------------------
-
Petra Paton
Admin & Logistics
Visit http://kartoza.com to find out about open source:
* Desktop GIS programming services
* Geospatial web development
* GIS Training
* Consulting Services
Skype:petrapaton
Office: +

[2020-06-04 09:15] timlinux opened #2155 "We need to schedule wagtail training"
![image](https://user-images.githubusercontent.com/178003/83735724-a556b280-a648-11ea-9937-30b1913b274d.png)

[2020-06-04 13:28] helendallas commented on #2039
@timlinux  @dimasciput
Please confirm if this is doable in RBIS as it will be needed across multiple modules.

It is related to #2058 in that the Master List of all Modules (fish, invertebrates, algae, birds, wetland plants, frogs, adult odonates etc.) will need to be updateable.

[2020-06-04 14:43] jeremyshelton opened #2156 "Links at bottom home page"
@timlinux @helendallas which of these links do you think are still useful?

@dimasciput the link to Document & Reports leads to the 'fbis closed for maintenance' window?

<img width="811" alt="Screenshot 2020-06-04 at 16 37 45" src="https://user-images.githubusercontent.com/44292029/83771195-53328300-a682-11ea-8500-d9046b69a78b.png">

[2020-06-05 16:40] jeremyshelton opened #2157 "Geomorphological zone not showing for fish single site dashboards"
@dimasciput Geomorphological zone not showing for fish single site dashboards

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=33479&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=&modules=1&validated=&sourceCollection=&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderB

[2020-06-08 08:36] helendallas opened #2158 "Show a date for site photographs"
At the moment one cannot determine when a photograph was taken. This limits value of photographs for evaluating long term change.

Please can you include a date (day, month, year) on the photograph (or under the photograph)

[2020-06-09 09:28] helendallas opened #2160 "Please check sort order of abiotic data in upload form - pH"
pH is listed last in the list

Please ensure display order is alphabetical based on variable name
https://freshwaterbiodiversity.org/abiotic/?survey=12352&next=/source-reference-form/?session=cd21a829-15bd-475e-af00-05d88c429b5c&identifier=fish-form

![image](https://user-images.githubusercontent.com/45286876/84130913-298fa800-aa44-11ea-855b-94a327eda1bb.png)

[2020-06-09 12:29] helendallas commented on #1895
From DImas

I have added a new form to add multiple authors for a document. Follow these steps to update the author list :

- Open the document page
https://freshwaterbiodiversity.org/documents/238
- Click `Edit BIMS Document`

- You will see this form page :

- The author input is autocomplete to help you find the existing user, but you can also write new name there

[2020-06-09 12:30] helendallas commented on #1895
@dimasciput Thanks for this Dimas.

I have edited this document in BIMS as suggested, however the citation is still incorrect in the Study Reference filter although it is correct in the Metadata Table.

![image](https://user-images.githubusercontent.com/45286876/84147411-a8450f00-aa5d-11ea-88b2-477ef1e314a8.png)

![image](https://user-images.githubusercontent.com/45286876/84147460-bc890c00-aa5d-11

[2020-06-10 03:16] dimasciput commented on #1895
@helendallas it should be fixed now

[2020-06-10 05:09] jeremyshelton opened #2161 "1835 fish data records with no reference category"
@dimasciput @timlinux  here are 1835 fish data records with no reference category in fish data fbis csv download. However, all cells are populated for this field in the fish data sheet?
I can email you the csv if needed?
@helendallas @Aneri16

[2020-06-10 05:17] jeremyshelton commented on #2144
**10 June 2020 update:**

Fish .csv download (all data, FBIS + GBIF) now giving 33561 records, but the correct number should be 33641....so we're about 100 records short?

@dimasciput

[2020-06-11 10:35] jeremyshelton opened #2163 "My sites and data from 2019 and 2018 have disappeared??"
@dimasciput @timlinux
I created multiple sites (and entered fish data) in the Witrivier in 2018 and 2019, but these are no longer present on the FBIS?

This screenshot shows there that a search for records from Jeremy Shelton shows no records post 2015, which is incorrect. Are these perhaps data that got lost when collector/owner names were cleaned up recently?

<img width="679" alt="Screenshot 20

[2020-06-11 13:32] helendallas opened #2164 "Strange documents in Documents"
There are quite a few of these documents in the Documents section.
![image](https://user-images.githubusercontent.com/45286876/84390593-1a515b80-abf8-11ea-9d62-7957baf93add.png)

Not sure why they are here and if they are a hangover from earlier versions.

Can you please delete them as they cannot be edited. There must be at least 20 similar docuemnts

[2020-06-11 13:54] helendallas opened #2165 "SASS data incorrect"
Something strange is going on with the SASS Scores.  see example below:

![image](https://user-images.githubusercontent.com/45286876/84393149-81bcda80-abfb-11ea-893b-6d14b21d7e21.png)

https://freshwaterbiodiversity.org/sass/dashboard/9909/?taxon=&search=G2EERS-JONKE&siteId=9909&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&ende

[2020-06-11 13:59] helendallas commented on #2165
We had this issue once before

[2020-06-11 14:06] helendallas opened #2166 "We need to able to edit abiotic data - e.g. conductivity"
As an administrator I need to be able to edit abiotic data such as conductivity when it is incorrect.

I can access the SASS data, but then when I get to the abiotic data, there is none shown, even though it is there for the site.

https://freshwaterbiodiversity.org/sass/dashboard/9909/?taxon=&search=G2EERS-JONKE&siteId=9909&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&re

[2020-06-11 14:18] helendallas opened #2167 "A user needs to be able to edit their site"
I added a site as a regular user (hfdallas@gmail.com) to check is once a user added a site, it was possible to edit the site data.

This is the site I added:
![image](https://user-images.githubusercontent.com/45286876/84396545-aa929f00-abfe-11ea-9126-4303a8f8ccd7.png)

We had a ticket previously saying creators/owners of a site and creators/owners of data  -should enable them to edit the data, as

[2020-06-12 04:36] dimasciput commented on #2165
@helendallas will investigate this next week

[2020-06-12 04:50] dimasciput commented on #2165
@helendallas I think I know the problem, but may I deploy it early next week if you don't mind? The data itself is fine, it's the issue with how the data displayed on the dashboard.

[2020-06-12 08:29] dimasciput opened #2168 "Create a new API to list 10 latest biological collection records"
This API will returns 10 latest biological collection records as a JSON data.

[2020-06-12 08:34] helendallas commented on #2165
@dimasciput Thats fine thanks

[2020-06-12 09:47] #1877 closed

[2020-06-12 10:10] helendallas commented on #1887
@dimasciput
I am still concerned that the taxonomy is not all correct for the data imported from Biobase. For example - Searching on Hydracarina

https://freshwaterbiodiversity.org/map/#search/Hydracarina/taxon=&search=Hydracarina&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&valid

[2020-06-12 10:15] helendallas opened #2169 "We need a training session to administer Taxonomy on BIMS"
I don't fully understand the process for editing / updating a taxon in the Bims/Taxa section
![image](https://user-images.githubusercontent.com/45286876/84492206-209e1100-aca6-11ea-82ef-8122a898ff26.png)

Please can you run a training session on this
@jeremyshelton @timlinux @dimasciput

[2020-06-12 10:18] dimasciput commented on #1887
Hi @helendallas I think this is just search issue, I'll investigate it more later

[2020-06-12 10:18] dimasciput commented on #2169
@helendallas I can you show at next week meeting

[2020-06-12 10:22] dimasciput commented on #1887
@helendallas I just found the issue, should be a quick fix. I'll fix it Monday ok?

[2020-06-12 10:27] helendallas commented on #1887
@dimasciput That's fine thanks

[2020-06-12 10:44] helendallas opened #2170 "SASS close button not taking user back to previous form (again)"
Please see #1517

This was fixed for version 2 but is not working working anymore

[2020-06-12 10:59] helendallas opened #2171 "We need to go back to zoomed map with filtered records on closing SASS dashboard"
We no loner go back to filtered records and zoomed map when closing SASS detailed dashboard.

This was working in earlier version. Can find ticket

[2020-06-12 12:27] helendallas opened #2172 "User SASS accreditation not yet correct"
Refer to ticket #1826

The **"SASS accredited date from**" _" **SASS accredited date to**" does not reflect what is shown on the SASS form.  Cecile Reed was SASS accredited from 2004-08-01 to 2007-08-01

But her SASS data from the 06/22/2005 shows reflects that she was not SASS accredited at the time of collecting, since the circle is not checked. This is wrong, it should be checked.  The CSV also

[2020-06-12 13:08] helendallas commented on #2164
@dimasciput I found a way to delete these manually. Closing ticket

[2020-06-12 13:08] #2164 closed

[2020-06-12 13:26] helendallas opened #2173 "Deleting a duplicate document"
I have found duplicate documents in the Documents admin section.
@Aneri16 FYI

![image](https://user-images.githubusercontent.com/45286876/84506980-6b2c8700-acc0-11ea-9c5f-4b1656f632c4.png)

How do I know which one is linked to the data? And which one is safe to delete.
In this case the Metadata Table gives a URL, which doesnt have an active link.

![image](https://user-images.githubusercontent.co

[2020-06-12 13:27] helendallas commented on #2173
@Aneri16 @dimasciput There are actually a lot of duplicate documents, I am not sure why? Perhaps ingested more than once with each itteration of the data ingestion?

[2020-06-12 13:47] helendallas commented on #1895
@dimasciput I am still finding some study references that are from Biobase e.g.

Gale   B.A | 1992 | University of Cape Town PhD   Thesis | The effect of regulation by two   impoundments on an acid, blackwater, Cape mountain stream. | Thesis | http://hdl.handle.net/11427/22130

That were sent to you in
Biobase Study Reference Table For DOI URL - 06-03-20.xlsx

But the study is not in the Study Ref

[2020-06-12 14:14] helendallas opened #2174 "Exclude unpublished data from Filter= Study Reference"
At the moment, unpublished data is included in the filter : Study Reference

![image](https://user-images.githubusercontent.com/45286876/84512069-bbf3ae00-acc7-11ea-919c-cb236655a217.png)

Please can you exclude this as since it is unpublished, it should not have a study reference
@jeremyshelton Do you agree?

[2020-06-15 01:29] dimasciput commented on #2174
I re-labeled to feature-request since this is not a bug.

[2020-06-15 01:56] dimasciput commented on #2163
@jeremyshelton I just checked, I think I removed all fish data including data manually entered by user. Are there a lot of data?

[2020-06-15 01:58] dimasciput commented on #2165
@helendallas I fixed it, please check again

[2020-06-15 02:00] dimasciput commented on #2167
@helendallas yes currently only admin is able to edit the site, I will re-label this to feature-request and move to RBIS project instead.

[2020-06-15 03:23] dimasciput commented on #1887
@helendallas fixed, please try again

[2020-06-15 03:26] dimasciput commented on #2170
@helendallas resolved

[2020-06-15 04:40] #2172 closed

[2020-06-15 06:05] Aneri16 commented on #2173
@helendallas hmm that is good point... which one to delete then?

[2020-06-15 07:57] helendallas commented on #2165
@dimasciput Thanks is fine now. What was the cause? Is it something that may happen again?

[2020-06-15 08:07] helendallas commented on #1887
@dimasciput Thanks I checked for the one taxon and looks ok. Closing ticket

[2020-06-15 08:07] #1887 closed

[2020-06-15 08:20] helendallas opened #2177 "SASS dates not matching data"
Dates on SASS dashboard
![image](https://user-images.githubusercontent.com/45286876/84634023-83371d00-aef1-11ea-8f7a-8bcb8b913381.png)

https://freshwaterbiodiversity.org/sass/dashboard/9793/?taxon=&search=G2EERS&siteId=9793&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCo

[2020-06-15 08:24] #2170 closed

[2020-06-15 08:25] helendallas commented on #2171
@dimasciput Working now thanks

[2020-06-15 08:34] Aneri16 commented on #2173
@helendallas I've done a bit of digging - in the case you mentioned (thesis by Taylor GC) two different links for the thesis are given in the fish data spreadsheet:
![image](https://user-images.githubusercontent.com/55532903/84634845-af06d280-aef2-11ea-948e-7a57f793783f.png)
Not sure why... maybe extracted on two different occasions for some reason, or by different people? The data is correct thou

[2020-06-15 08:43] helendallas commented on #2173
@Aneri16 Thanks, All these data need to be linked with the same document, and then duplicates removed
@dimasciput How do we do this?

[2020-06-15 08:59] jeremyshelton commented on #2163
@dimasciput I think there might have been quite a bit of important data - is this easily retrievable?

[2020-06-15 09:02] helendallas commented on #2163
I think other non FRC users also added fish data. as well as SASS data

[2020-06-15 10:03] helendallas opened #2178 "SASS Record Source Reference wrong"
@dimasciput
The Source reference on the SASS record is not showing the correct citation, even though it is correct in documents and in the metadata table
![image](https://user-images.githubusercontent.com/45286876/84644750-dfa13900-aeff-11ea-8a8e-9e492e20ffb0.png)

https://freshwaterbiodiversity.org/sass/view/11538/

![image](https://user-images.githubusercontent.com/45286876/84644796-edef5500-aef

[2020-06-15 10:19] dimasciput commented on #2163
hi @helendallas this is only for fish.

[2020-06-15 10:30] dimasciput commented on #2178
@helendallas fixed, please check again

[2020-06-15 10:31] dimasciput commented on #2177
@helendallas I'll check it tomorrow morning

[2020-06-16 06:11] helendallas commented on #2178
@dimasciput Thanks working now.
@Janette-Lumley Should be fixed , please confirm with a few other refs your captured.

[2020-06-17 04:36] jeremyshelton commented on #2163
@dimasciput @timlinux I know that some of the SA fish experts like Darragh Woodford and others have spend quite a bit of time uploading fish records to FBIS. In my opinion it is important we do whatever we can to retrieve these records otherwise we risk losing user confidence & support.
@helendallas what do you think?

[2020-06-17 06:53] helendallas commented on #2163
@dimasciput @timlinux @jeremyshelton
I agree 100%. We have to retrieve all data captured directly onto FBIS. I am aware of a number of user who have added data.

[2020-06-17 07:29] Janette-Lumley commented on #2178
@helendallas Yes I have checked a few and they are all correct. Thanks.

[2020-06-17 08:48] dimasciput commented on #2177
@helendallas fixed, please check again

[2020-06-17 09:58] timlinux opened #2180 "We need the ability to edit a site visit"
We would like to have, like in SASS the ability to see an enumerated list of dates and the number of taxa observed on that visit, as a new block in the dashboards for fish, inverts and algae above the occurrences summary:

![image](https://user-images.githubusercontent.com/178003/84883629-a6480500-b088-11ea-83a8-32fff2a5149d.png)

The block should list in the form:

date | number of currences
----

[2020-06-18 04:39] jeremyshelton opened #2182 "RELEASE BLOCKERS FOR FBIS V3"
1. - [ ] Finalise manual & link manual and youtube tutorials to the site
2. - [ ] Bring back the 'lost' user-entered fish data
3. - [ ] Finalise map
4. - [ ] Fix SASS accreditation issues, see ticket #1826  -it would be great if this was resolved before release but I don’t know if feasible?
5. - [ ] Fix duplicate users etc
6. - [ ] Fix document and citation issues
7. - [ ] Fix taxa, where problema

[2020-06-18 05:03] dimasciput commented on #2182
@jeremyshelton @helendallas I'm currently working on the this ticket https://github.com/kartoza/django-bims/issues/2180, so I don't have time this week until mid next week to resolve any of this.

Is this really problematic to users right now?

[2020-06-18 05:25] jeremyshelton commented on #2182
@dimasciput @timlinux @NyakudyaA
From my side **point 2 is essential** & point 3 preferable.
@helendallas?

[2020-06-18 07:12] helendallas commented on #2182
@jeremyshelton @dimasciput @timlinux @NyakudyaA

As per separate email to Jeremy, exclude 4, 5, 6 and 7. These can be done after the release:

1. - [ ] Finalise manual & link manual and youtube tutorials to the site - Helen and Jeremy
2. - [ ] Bring back the 'lost' user-entered fish data - Dimas
3. - [ ] Finalise map - Admire and Tim

@NyakudyaA @timlinux  - please get back to us on the time line

[2020-06-18 09:43] helendallas commented on #2182
@timlinux @NyakudyaA @jeremyshelton
Another NB issue is the river name as per ticket #2151

[2020-06-18 10:04] helendallas commented on #2182
I think sorting point 3 **out** is important as in my web interface, Firefox,

![image](https://user-images.githubusercontent.com/45286876/85007414-cc8aa500-b15b-11ea-8885-fb03cfd3f29e.png)

[2020-06-18 10:15] helendallas commented on #2177
@dimasciput Thanks looks fine now

[2020-06-18 10:15] #2177 closed

[2020-06-18 10:37] helendallas commented on #2003
Christa Thirion emailed me requesting this functionality:
"To assist in extracting the required information I would like to be able to filter the data per ecoregion, geozone, river etc" - so being able to filter on Ecoregion level 1 + Geomorphological Zone.

[2020-06-18 10:52] helendallas opened #2185 "Adding option to extract full list of SASS taxa showing recorded SASS taxa"
Christa Thirion emailed me:
She extract SASS data as CSV to us in her ecostatus assessments. At the moment, only SASS taxa recorded are returned.
She uses this CSV data to populate an excel spreadsheet for MIRAI - ecostatus assessments.

She has asked if it is possible to include an option (perhaps a click box), where a user has the option to download the entire SASS taxon list (just as it is in t

[2020-06-18 10:54] helendallas opened #2186 "Geocontext for edited site not updating"
Please can you check why SA Ecoregion 1 and 2 are not biing grabbed for this edited site where I edited the georef.

https://freshwaterbiodiversity.org/sass/dashboard/33261/?taxon=&search=B6BLYD-&siteId=33261&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbi

[2020-06-18 10:55] #1217 closed

[2020-06-18 12:16] helendallas commented on #2151
**Response from various individuals:**

**From Nancy Job - SANBI**
I think an option is to serve both NGI and DWS data sets for the time being.

We are aware of the issue and, for the long term, my team is already working on a cross-walk of the NBA 2018 information (which is applied to the DWS 1:500 000 rivers) across to the 1:50 000 NGI rivers data set. SANBI team have already completed a first d

[2020-06-18 14:35] jeremyshelton commented on #2182
@timlinux @NyakudyaA I've seen looking at the map on Cape Farm Mapper and that seems quite fast and user-friendly with rivers and dams turned on, and has most of the info needed.
I'm sure you're both familiar with this, but if might be worth a fresh look & maybe getting in touch with them to see what layer(s) they used?
Maybe we need to simplify things a bit if we can't get the FBIS baseman to loa

[2020-06-19 04:29] dimasciput commented on #2186
@helendallas can you view the dashboard again, the geocontext process might take some time to complete.

[2020-06-19 06:47] helendallas commented on #2186
@dimasciput Thanks it is sorted. Approximately how long does it take to bring down the geocontext later

[2020-06-19 06:59] #2186 closed

[2020-06-19 08:39] timlinux opened #2187 "Update help link and image in flat pages"
![User Manual Image](https://user-images.githubusercontent.com/178003/85114275-aecb4780-b210-11ea-86b0-35ae05b7a486.jpg)

https://freshwaterbiodiversity.org/documents/2

[2020-06-23 12:41] helendallas commented on #2151
@timlinux Thanks for following up on this. My feeling is this also needs to be fixed before we send release email as wrong river names, and subsequently wrong FBIS Site Codes are being generated.
@jeremyshelton FYI

[2020-06-24 03:27] #2180 closed

[2020-06-24 09:29] #2147 closed

[2020-06-30 11:13] #2165 closed

[2020-06-30 11:48] helendallas commented on #2163
Data retrieved by Dimas - Checked by Jeremy

[2020-06-30 11:48] #2163 closed

[2020-06-30 12:12] helendallas commented on #1826
@dimasciput Please confirm if you have run user update on the live site. I urgently need to edit users, and update SASS accreditation.

[2020-06-30 14:56] helendallas commented on #1895
@dimasciput Please can you check the following Biobase study references - they are here:

Three have the wrong Reference category - they need to be changed to "Unpublished data"

Two do not come up in the Study Reference Filter , and do not have metadata or any actual data.  They are both theses and may have been moved from documents to citations with url.

![image](https://user-images.githubuserc

[2020-06-30 14:56] #1859 closed

[2020-06-30 15:06] helendallas commented on #1807
@jeremyshelton
PLease check if this has been resolved and close if you are happy.

[2020-06-30 15:11] #2178 closed

[2020-06-30 15:17] helendallas commented on #1882
@jeremyshelton @dimasciput @timlinux
Closing this ticket as new module and upload functionality currently being developed via RBIS.

[2020-06-30 15:17] #1882 closed

[2020-07-01 07:16] dimasciput commented on #1895
@helendallas for unpublished, currently we can't add author and year to the upublished data. So if I changed the reference to unpublished category, the author and year will be gone.

[2020-07-01 07:22] dimasciput commented on #1895
Did you remove the document before I changed the reference from document to thesis?

[2020-07-01 07:24] helendallas commented on #1895
@dimasciput Okay, then for the Unpublilshed, lets leave as is, and I will make a comment somewhere on the document file.
For the thesis, I suspect it was removed from documents, before we were aware of the repurcussions of doing this, sorry

[2020-07-01 07:28] helendallas commented on #1895
@dimasciput For the unpublished  - should I add the unpublilshed "report" as a document, then upload a "report not available"pdf.
Or is this not necessary?

[2020-07-01 07:40] helendallas commented on #2050
This has been done, closing

[2020-07-01 07:40] #2050 closed

[2020-07-01 07:41] #2128 closed

[2020-07-01 07:43] helendallas commented on #2055
@jeremyshelton PLease check this ticket, there is a separate ticket for the pie charts, so if the other items have been sorted, then please close the ticket.

[2020-07-01 07:46] #2187 closed

[2020-07-01 07:47] helendallas commented on #2161
@jeremyshelton has this been resolved?

[2020-07-01 07:50] helendallas commented on #2155
Training has been completed

[2020-07-01 07:50] #2155 closed

[2020-07-01 07:51] helendallas commented on #2152
Actioned by Dimas - closing

[2020-07-01 07:51] #2152 closed

[2020-07-01 07:52] helendallas commented on #2141
Completed on RBIS Data Management Github

[2020-07-01 07:54] #1783 closed

[2020-07-01 08:07] #1508 closed

[2020-07-01 08:08] #1738 closed

[2020-07-01 08:09] #1796 closed

[2020-07-01 08:10] #1670 closed

[2020-07-01 08:24] helendallas commented on #2156
@jeremyshelton
I think we ontl really need the Citation actually since this is not visible anywhere else. the others either dont work, are for admin or duplicated in top menu.

[2020-07-01 08:25] #1476 closed

[2020-07-01 08:27] #2148 closed

[2020-07-01 08:28] helendallas commented on #2149
fixed

[2020-07-01 08:28] #2149 closed

[2020-07-01 08:32] #2013 closed

[2020-07-01 08:34] #1256 closed

[2020-07-01 08:34] #1481 closed

[2020-07-01 08:35] #1482 closed

[2020-07-01 08:35] #1598 closed

[2020-07-01 08:36] #1614 closed

[2020-07-01 08:37] #1655 closed

[2020-07-01 08:52] helendallas opened #2192 "SASS Summary CSV needs two extra columns"
Please can you also standardise as you have with other CSV that **Original Site Code** and **Original River Name** are also included.

[2020-07-01 08:52] helendallas commented on #2025
Closing ticket and creating a new one for SASS Summary CSV
SASS Summary CSV #2192

[2020-07-01 08:52] #2025 closed

[2020-07-01 08:55] helendallas commented on #1797
@jeremyshelton Biotope would also need to be included.

I agree this would be a good tool, but it needs to include all levels leading to the occurrence record to ensure only true duplicates are reported

[2020-07-01 08:57] #1378 closed

[2020-07-02 10:53] helendallas commented on #2144
This has been resolved by the email option added by Dimas.

[2020-07-02 10:53] #2144 closed

[2020-07-02 10:57] helendallas opened #2194 "Taxon CSV needs fixing"
The CSV for downloading taxon data returns a lot of unnecessary columns and is missing other important ones.

![image](https://user-images.githubusercontent.com/45286876/86350065-6a08cd00-bc62-11ea-8c73-81bf032afc27.png)

https://freshwaterbiodiversity.org/map/#species-detail/taxon=1921&search=Lestagella%20penicillata&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&r

[2020-07-02 14:56] #2142 closed

[2020-07-02 14:56] #2146 closed

[2020-07-02 14:56] #2143 closed

[2020-07-02 14:58] #2145 closed

[2020-07-02 16:14] jeremyshelton commented on #2194
@helendallas agreed.
I am sure we fixed this issue previously, but can't remember what ticket it was...

[2020-07-02 16:16] jeremyshelton opened #2195 "Fish data errors"
@dimasciput

It looks like some serious problems have recently appeared in the fish data.

Everything was good when last I checked, but now all of a sudden there are the following problems:
1. Several taxa are duplicated (e.g. Amphilius natalensis Boulenger, 1917).
2. Some of these duplicates have incorrect origin and endemism (and perhaps also conservation status?) labels, and are thus inconsiste

[2020-07-03 06:12] helendallas opened #2196 "SASS CSV download not going to email when large"
I am trying to download SASS Summary data for checking a large number of site.

![image](https://user-images.githubusercontent.com/45286876/86437355-b1e03080-bd04-11ea-81cd-4bd188c9e4d0.png)

Please can you check why it does not do as per other csv files, and confirm that the data will be emailed when ready.

Same for
![image](https://user-images.githubusercontent.com/45286876/86437458-e3f19280-bd

[2020-07-03 09:43] dimasciput commented on #2196
@helendallas this is not a bug, currently this feature only works for site dashboard.

[2020-07-03 09:45] dimasciput commented on #2195
Hi Jeremy,

I think this is because of the legacy data that I restored, should I remove them again?

[2020-07-03 10:07] dimasciput commented on #2194
@jeremyshelton @helendallas maybe put this on RBIS project (because they will also need it), then I can start working on it next week.

[2020-07-03 12:03] helendallas opened #2197 "Can we include some dropdown options for unpublished data"
At the moment, if the source reference for a record is "Unpublished Data", details can only be captured in the notes, and this becomes very messy.
![image](https://user-images.githubusercontent.com/45286876/86467332-8295e780-bd35-11ea-9045-b7e6d38aa70c.png)

Is it possible to add a dropdown list that can be selected from or added to, as for Database:

![image](https://user-images.githubusercontent

[2020-07-03 12:08] helendallas opened #2198 "We need an Administrator manual"
we need to produce an Admin manual, preferably using wagtail.

This needs to include all the adminstrative tasks for managing taxa, managing citations and documents, validating records etc.
It needs to be developed collectively by Kartoza, FRC and RBIS team

[2020-07-03 12:08] helendallas commented on #1864
I am closing this ticket and making a new on on RBIS-  User manual using wagtail

See ticket #2198

[2020-07-03 12:08] #1864 closed

[2020-07-03 12:18] helendallas opened #2199 "How can I fix Source References in BIMS?"
At the moment because "Unpublished data" have no dropdown options, a whole mess of details are added
![image](https://user-images.githubusercontent.com/45286876/86468483-c7228280-bd37-11ea-9129-e343af9753f2.png)

Is there a way to clean this data and then merge in a similar way to the taxonomy (when we are sure it is working)
And then we implement #2197

[2020-07-03 12:25] helendallas opened #2200 "There are duplicate sites"
This site occurs twice

https://freshwaterbiodiversity.org/map/#search/B6TREU-00011/taxon=&search=B6TREU-00011&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&rank=&siteIdOpen=&orderBy=name&polygon=

![image](h

[2020-07-03 12:35] helendallas opened #2201 "We need functionality to merge users in BIMS Admin page"
We need a way to merge users when they have more than one username, but are the same person.  We need to be able to Verify one, and then merge all data to the verified username

![image](https://user-images.githubusercontent.com/45286876/86469689-313c2700-bd3a-11ea-83d1-1ba11c9f86f3.png)

[2020-07-03 12:43] #777 closed

[2020-07-03 12:44] helendallas commented on #1328
Closing ticket as we will action only if and when we get a better dataset

[2020-07-03 12:44] #1328 closed

[2020-07-03 12:46] helendallas commented on #1826
Moving to FBIS V5 - as still need to be done.

[2020-07-03 12:49] helendallas commented on #1826
Closing this ticket via - User cleanup needs to include duplicate users (merging) #2201 as well as update SASS accreditation status

[2020-07-03 12:49] #1826 closed

[2020-07-03 12:51] helendallas commented on #2138
Resolved, closing ticket

[2020-07-03 12:51] #2138 closed

[2020-07-03 12:54] helendallas commented on #2174
Closing ticket as better solution is to include dropdown for unpublished data, see ticket #2197

[2020-07-03 12:54] #2174 closed

[2020-07-03 12:57] #2169 closed

[2020-07-03 13:00] helendallas commented on #1901
Closing this via #2201

[2020-07-03 13:00] #1901 closed

[2020-07-03 13:08] helendallas commented on #2091
@dimasciput I cannot fix near bed velocity as there is no m/s option
![image](https://user-images.githubusercontent.com/45286876/86472147-fc7e9e80-bd3e-11ea-9273-51b9b96be15f.png)

For long term sustainability the administrator should be able to add a new **Chem unit.**

[2020-07-03 13:16] helendallas opened #2202 "We need a 'back' button alongside the 'next' button at the bottom of each page of the add data work flow"
When a user adds data, they are asked for confirmation at each stage via the
![image](https://user-images.githubusercontent.com/45286876/86472538-98a8a580-bd3f-11ea-8d6d-d6a3e31236a8.png)

@jeremyshelton requested including a "Back"button with the next button, so that a user can go back to the previous form if they need to.

[2020-07-03 13:32] helendallas commented on #2082
@jeremyshelton It is a good idea. I would also like to explore how we an keep track of what FBIS data is used for. ie.e What reports are produced, papers written etc. Perhaps a form that a user can elect to complete after downloading data? not that everyone will but its worth thinking about

[2020-07-03 13:37] helendallas commented on #2151
Awaiting further information re licencing from DWS legal department.

[2020-07-03 14:53] helendallas commented on #2040
@dimasciput
Still to please fix in the csv files:

### **MultiSite**
**Invertebrate csv:**

- Sampling effort -  should be **Sampling effort measure**
- Study reference -  should be **Title**
- Need to include all available abiotic data Only main ones included so far)

**Fish csv**

- Sampling effort -  should be **Sampling effort measure**
- Study reference -  should be **Title**
- Need to includ

[2020-07-03 14:59] helendallas commented on #2173
@dimasciput Thanks for your offer to delete duplicates in the back end. And to make sure that any data remain linked to the correct document in the process.

[2020-07-03 15:06] #2055 closed

[2020-07-03 15:15] helendallas commented on #2003
closing by way of #1523

[2020-07-03 15:15] #2003 closed

[2020-07-07 08:53] helendallas opened #2204 "Administrators need a way to merge sites"
Sometimes two sites need to be merged. Although the **lasso control** allows a user to do this on the fly, there are instances when it would be better to permanently merge sites.

So we need to be able to select two sites, then select which site should be the "Primary"Site ( i.e. the one that becomes the site going forward), and then the data from the "Secondary"Site, is attached to the primary si

[2020-07-08 09:18] timlinux opened #2206 "Process for adding taxa to the master list"
When a taxon is created manually by a user for a new occurrence record, the taxon is immediately added to the 'module' / taxon group. We would like to change this workflow so that the non-validated new taxa do not form part of the taxon group until they have been validated.

When the validator reviews the new collection records, the fact that a new taxon will be added to the module/taxon group sho

[2020-07-08 09:22] helendallas commented on #2206
Please also see ticket #2039
**Add new taxon - extra taxonomic hierarchy needed #2039**

[2020-07-08 09:40] timlinux opened #2207 "Map Issues"
# Admire

Labels cut off:

![image](https://user-images.githubusercontent.com/178003/86902666-2dc3e980-c106-11ea-9a1b-7171984ce490.png)

Duplicate labels:

![image](https://user-images.githubusercontent.com/178003/86902773-50ee9900-c106-11ea-841b-d51013672a79.png)

![image](https://user-images.githubusercontent.com/178003/86905183-9c567680-c109-11ea-91d9-960e155c2175.png)

(please use the label di

[2020-07-08 10:55] NyakudyaA commented on #2207
I am already using the option to show labels at the edge of the tiles

![tiles-cutoff](https://user-images.githubusercontent.com/2510900/86908494-e1cd7080-c116-11ea-97c8-571d1e7bf62a.png)

Those are two label positions. I will remove one of them

![orignial-distance](https://user-images.githubusercontent.com/2510900/86908787-60c2a900-c117-11ea-8efa-79d43fe03657.png)
The original distance I had was

[2020-07-08 12:55] timlinux opened #2208 "System data integrity report"
@dimasciput has created many scripts and tools for managing data integrity issues. We want to remove Dimas from the loop in the long term and make these integrity checks system management tools.

* Duplicate taxa
* Duplicate users
* Taxa assigned to taxon groups incorrectly
* Duplicate biological collection records
* Sites with missing geocontext data
* Sites with dodgy location e.g. null island

[2020-07-08 12:56] timlinux commented on #2208
CC @helendallas and @jeremyshelton

[2020-07-09 08:52] timlinux commented on #2110
Update from @iPelino is that they are still waiting for the department to set this up. @bakaplin is going to give them a nudge.

[2020-07-09 08:54] timlinux opened #2209 "We need a landing page and site design"
Thacien to follow up.

[2020-07-13 12:18] timlinux commented on #2207
@dimasciput or @NyakudyaA can you please not show the orthophotos until we are at the correct level.

[2020-07-13 12:21] NyakudyaA commented on #2207
@dimasciput can you set the orthophoto to render with `minZoom: 13`

[2020-07-13 12:44] timlinux commented on #2207
Also do we still have the NGI orthosheets that we render ourselves available? Can you add it as an option for the base map?

[2020-07-13 13:32] timlinux opened #2211 "Getting the map ready for release"
So @NyakudyaA and @dimasciput

We are still not happy with the map used on the landing page.

We still need to sort out the issues in #2207 over the longer term but for now we would like to do this:

![image](https://user-images.githubusercontent.com/178003/87308703-8256d280-c513-11ea-9771-5babc413a40f.png)

- [x] @dimasciput Go back to making the bing map baselayer on by default
- [x] @dimasciput

[2020-07-14 03:42] dimasciput commented on #2211
- [x] @dimasciput Go back to making the bing map baselayer on by default
- [x] @dimasciput Turn the rivers on by default
- [x] @dimasciput set the zoom so that you cant zoom past the maximum tile resolution of bing

I'm done from my end.
@jeremyshelton @helendallas

[2020-07-14 06:48] jeremyshelton commented on #2211
Great. Thanks @dimasciput - looking good
@NyakudyaA let us know when you are done 👍

[2020-07-14 07:55] NyakudyaA commented on #2211
I have made the changes @jeremyshelton

[2020-07-14 08:05] jeremyshelton commented on #2211
Thanks @NyakudyaA
Rivers looking good.
Is it possible to get the clearer labels instead? (I see Tim put this in the ticket, but not as an item in the check boxes...)
<img width="803" alt="Screenshot 2020-07-14 at 10 03 34" src="https://user-images.githubusercontent.com/44292029/87400685-6ad22500-c5b9-11ea-87e4-9b39ccbd5f7e.png">

[2020-07-15 06:42] jeremyshelton commented on #2211
@NyakudyaA we are planning to release FBIS v3 today - so please let us know when the river labels are ready. All we need is for the current labels to be more visible & readable. Thank you

[2020-07-15 06:52] NyakudyaA commented on #2211
Done @jeremyshelton

[2020-07-15 07:02] jeremyshelton commented on #2211
Thanks @NyakudyaA  👍

[2020-07-15 08:05] helendallas commented on #2084
@dimasciput Please can you indicate if it is possible to only include each data source once in the metadata table. It gets quite cumbersome when some metadata is repeated several times.  The order is less important. Thanks

![image](https://user-images.githubusercontent.com/45286876/87519896-835a4200-c682-11ea-89a3-5e7e84d8c385.png)

[2020-07-22 11:22] FBIS-issues opened #2217 "Award water quality data"
Award wq data feature is very useful. some suggestions:

1. can the units (mg/l, ms/m) be included in the constituent name,
2.  can the download csv get the same name as the station, its now all called export_csv,
3. when the wq point and fbis point fall on top of each other, how do you get to the wq point to download the data? regards, nico rossouw

---

User : <a href="http://freshwaterbiodivers

[2020-07-29 10:24] FBIS-issues opened #2221 "1:50 000 rivers are sometimes joined together across catchment boundaries"
An example is the bokramspruit, which flows westwards from red hill towards ocean view and kommetjie. somewhere around -34.1715, 18.3807 the river arc is joined to the upper reaches of the elsies or else river upstream of kleinplaas dam. there were several such instances that we corrected at the sources of rivers in the 1:500 000 data, but this is the only one that i have noticed so far in the 1:5

[2020-08-05 02:23] #2211 closed

[2020-08-06 03:09] dimasciput commented on #2195
Fixed

[2020-08-06 03:09] #2195 closed

[2020-08-06 03:09] #2109 closed

[2020-08-12 06:29] dimasciput opened #2231 "Combine source reference pages"
## Problem

Currently we have separate pages for different type of source references :
- published report and thesis in /document/
- peer reviewed article in /bibliography/

And some references don't even have pages, this makes the process of finding and editing references very difficult.

## Solution

Create one page to show all references of different types.

[2020-08-14 04:05] dimasciput opened #2235 "Create a profile page"
# Problem

Currently we're still using profile page from geonode, and it doesn't make sense to show layer / map that user created. And the theme also doesn't match the general BIMS theme.

# Solution

Create our own profile page and display collection records, sites, site visit, and source references that user created. Add edit profile form within the profile page.

[2020-08-19 06:45] helendallas commented on #1895
@dimasciput The metadata for these still need to be revised to reflect - "report" not "peer-reviewed scientific article". Please advice how to best do this. Perhaps once the new functionality is rolled out to FBIS. Lets chat today.
![image](https://user-images.githubusercontent.com/45286876/90601089-eac25f00-e1f7-11ea-97fd-452e38900417.png)

[2020-08-19 06:51] #1863 closed

[2020-08-19 06:52] helendallas commented on #1895
Moving to FVIS V5

[2020-08-19 06:53] helendallas commented on #1807
Not sure if sorted, moving to FBIS V5 project

[2020-08-19 07:00] #2182 closed

[2020-08-19 08:04] #2201 closed

[2020-08-19 08:11] helendallas commented on #2200
These are definately two different sites that have been given the same FBIS Site Code - I suspect because of river naming issues. see screenshot below
![image](https://user-images.githubusercontent.com/45286876/90609310-24996280-e204-11ea-921a-61de81a7d208.png)

[2020-08-26 04:49] jeremyshelton opened #2244 "Fish CSV error"
Hi Dimas,
We have picked up an error in the fish CSV download files: for all taxa within the genus Enteromius the full taxon name appears in the 'species' column, but e.g. this column should have 'anoplus', not 'Enteromius anoplus'. Also, for taxa within this genus, the columns for Kingdom, Phylum.....etc are blank?

<img width="724" alt="Screenshot 2020-08-26 at 06 34 00" src="https://user-images

[2020-08-26 05:14] dimasciput commented on #2244
@jeremyshelton not sure why, but somehow 'Enteromius' got removed from the system. I have re-added it manually, please check it again.

[2020-08-27 10:56] helendallas opened #2248 "Please add "Visual observation" to sampling method"
@dimasciput Please can you add "Visual observation" to sampling method as this is needed for the avian data, and possibly others in the future.  It has been added to the Data template for the avian data.

[2020-09-01 07:23] helendallas commented on #2200
@dimasciput What happened to the second site? Only one now, but they were definately two different sites

[2020-09-01 07:41] helendallas commented on #2192
This is for both the single site and multi site SASS Summary CSV

[2020-09-01 08:40] helendallas commented on #2194
@dimasciput Is this fixed on testing - assume not yet rolled out of FBIS live as not fixed here.

[2020-09-01 08:41] helendallas commented on #2248
@dimasciput I added this to FBIS backend

[2020-09-01 09:18] helendallas commented on #2244
@dimasciput @jeremyshelton still an issue with in csv mulsisite fish export

Species | Taxon
-- | --
Lacustricola myaposae | Lacustricola myaposae
Lacustricola katangae | Lacustricola katangae
Lacustricola katangae | Lacustricola katangae
Lacustricola katangae | Lacustricola katangae

[2020-09-01 09:19] helendallas commented on #2244
Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon
-- | -- | -- | -- | -- | -- | -- | --
- | - | - | - | - | - | Lacustricola myaposae | Lacustricola myaposae
- | - | - | - | - | - | Lacustricola katangae | Lacustricola katangae
- | - | - | - | - | - | Lacustricola katangae | Lacustricola katangae
- | - | - | - | - | - | Lacustricola katangae | Lacustricola katangae

[2020-09-02 07:05] dimasciput commented on #2244
@helendallas fixed, please try again

[2020-09-02 07:47] helendallas commented on #2244
@dimasciput Still as above

Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon
Animalia | Chordata | Actinopterygii | Cyprinodontiformes | Poeciliidae | - | Lacustricola katangae | Lacustricola katangae
Animalia | Chordata | Actinopterygii | Cyprinodontiformes | Poeciliidae | - | Lacustricola katangae | Lacustricola katangae
Animalia | Chordata | Actinopterygii | Cyprinodontiforme

[2020-09-02 07:55] dimasciput commented on #2244
@helendallas sorry... missing genus, should be ok now.

[2020-09-03 04:51] jeremyshelton opened #2255 "CSV email notification"
@dimasciput can we set up the csv emails to come from fbis@frcsa.org.za instead of your email address?

<img width="977" alt="Screenshot 2020-09-03 at 06 46 13" src="https://user-images.githubusercontent.com/44292029/92072359-605e2b80-edb1-11ea-9deb-39325e97b1d8.png">

@Aneri16 can you please share the login details with Dimas?

@helendallas

[2020-09-03 05:31] dimasciput commented on #2255
@jeremyshelton @Aneri16 please share the details via email since github is public. Also I need to know what email provider you using? Is it gmail or not?

[2020-09-03 05:49] jeremyshelton commented on #2255
@dimasciput it is a webmail account: https://webmail.konsoleh.co.za/login
@Aneri16 please email Dimas the login details.

[2020-09-03 06:07] jeremyshelton commented on #2244
Thanks @dimasciput
I downloaded the full fish data CSV and found a few more issues:

1. Missing provinces
<img width="218" alt="province" src="https://user-images.githubusercontent.com/44292029/92077240-4bd36080-edbc-11ea-8bcb-caa637bc1fe8.png">

2. Missing geomorphological zones
<img width="468" alt="geomorph zone" src="https://user-images.githubusercontent.com/44292029/92077248-4ece5100-edbc-11e

[2020-09-03 06:10] jeremyshelton commented on #2255
@helendallas OK that's fine.
My message that you deleted just had a link to the email login page, no login details...

[2020-09-03 06:17] dimasciput commented on #2244
@jeremyshelton the province and geo zone might be resolved with re-fetching the geocontext data, I'll do that later.

The row formatting issue might be just because of your app (excel?), since csv doesn't provide any layout formatting. It's basically just text and comma.

[2020-09-03 07:00] jeremyshelton commented on #2244
OK thanks @dimasciput  - lets see if re-fetching the geocontext data fixes the province and geozone 👍

[2020-09-09 10:27] #2255 closed

[2020-09-11 10:09] helendallas opened #2267 "SASS csv files - action emailing to user"
Please can you allow large amounts of SASS data to be downloaded as csv file which is then emailed to users as per the fish, invert and algal data.

[2020-09-11 12:03] helendallas opened #2268 "Taxon management"
Please add ability to sort taxa, and if possible include higher taxonomic groups so one can filter, hierarchically.

Question re Bird data in https://rbis.kartoza.com/taxa-management/

There are only 479 Avian taxa - but 599 in Avian module, revised now in staging, see ticket #2283
![image](https://user-images.githubusercontent.com/45286876/92923245-6b5f2e80-f437-11ea-8c7d-aeb2ec2e39fe.png)

[2020-09-14 01:59] dimasciput commented on #2137
Updated to percentage

[2020-09-14 06:17] dimasciput commented on #2200
Fixed it

[2020-09-14 06:30] dimasciput commented on #2161
@jeremyshelton there are only 10 fish without source references, it's because they are not given a title.

Here are the fish data :

UUID | Original River Name | Original Site Code | FBIS Site Code | Site description | Refined Geomorphological Zone | Latitude | Longitude | Sampling Date | Kingdom | Phylum | Class | Order | Family | Genus | Species | Taxon | Taxon rank | Present | Sampling method |

[2020-09-14 07:32] helendallas opened #2270 "Please zoom in more to sites on map"
please can you zoom in more to the sites once a filter has been applied. see this shot below. It is sometimes hard to see where the sites are:
![image](https://user-images.githubusercontent.com/45286876/93056192-61724100-f66c-11ea-86a9-c34414aa42f1.png)

Should rather be at this scale
![image](https://user-images.githubusercontent.com/45286876/93056475-bf9f2400-f66c-11ea-869e-546c9ea4de01.png)

[2020-09-14 07:51] helendallas opened #2271 "Missing studies"
Britton 1990 and Gale 1992 are still missing. Not in study references. From Legacy Biobase data
![image](https://user-images.githubusercontent.com/45286876/93058402-a3e94d00-f66f-11ea-949a-ccf10b022aec.png)

[2020-09-14 07:51] jeremyshelton commented on #2161
@dimasciput
OK. I get 440 records with no reference source & info in full fish csv data download (see yellow highlights in attached). Do you think these are user-entered fish data?

[FBIS fish data download 14 Sep 2020.xlsx](https://github.com/kartoza/django-bims/files/5216885/FBIS.fish.data.download.14.Sep.2020.xlsx)

@Aneri16 could you please check what the reference source for the above 10 reco

[2020-09-14 07:52] dimasciput commented on #2161
@jeremyshelton I checked from database, only 10 without source references that coming from your csv. So this must be user entered data.

[2020-09-14 07:56] Aneri16 commented on #2161
@dimasciput @jeremyshelton yeah I don't recognize those names from our fish data so must be user entered.
The correct title for the thesis should be:
Tolerating climate change: a study on the influence of thermal history on thermal tolerance of Galaxias zebratus in rivers of the Cape Peninsula, South Africa

[2020-09-14 08:00] jeremyshelton commented on #2161
Thanks @Aneri16 and @dimasciput

@helendallas should we think about a reference source label for user-entered survey data - maybe 'unpublished survey data', or just leave it blank?

[2020-09-14 10:07] dimasciput commented on #2136
Fixed in live

[2020-09-14 10:10] helendallas commented on #2137
@dimasciput Thanks. DO you know why some data have a "-". I suspect they were absent not present.

Abundance measure | Abundance value
Percentage | -
Percentage | -
Percentage | -
Percentage | -

[2020-09-14 10:10] dimasciput commented on #2192
Updated in live

[2020-09-14 10:10] dimasciput commented on #2040
Updated in live

[2020-09-14 10:20] helendallas commented on #2192
@dimasciput Thanks. Is is possible to reorder as follows:

FBIS Site Code | Original Site Code | River Name | Original River Name | Site Description | Geomorphological Zone | Refined Geomorphological Zone etc.

[2020-09-14 10:41] helendallas commented on #2040
@dimasciput Please check why Algae csv file never sent via email.

[2020-09-14 10:52] helendallas commented on #2161
I would think the reference category should be **Unpublished data**, the dont need a reference source label.

Also is there a way to ensure the Collector/Owener is the persons fullname : Firstname and Surname

[2020-09-14 10:54] dimasciput commented on #2040
@helendallas are you trying to download all algae files? it might take a while to process

[2020-09-14 11:02] helendallas commented on #2136
Thanks looks good

[2020-09-14 11:02] #2136 closed

[2020-09-14 11:11] helendallas commented on #2040
No only one site

[2020-09-14 11:27] helendallas opened #2273 "Testing site New functionality - Explore Source References:"
I checked metadata table for

Here is my link to make things easier to figure out.

https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologicalCategory=&ra

[2020-09-14 11:29] helendallas opened #2274 "Taxonomic integrity of legacy Biobase data"
I was doing some checks on the biobase data change from number to percentage and picked up another issue:

Biobase legacy data for the following study, site and date:
Author and year: Coetzer A., 1982
Site: OL03A
Sampling date: 1978-1979.12-02 (given as 1/1/1978 in FBIS)
Taxon: Hydrobaeninae (REF36)   10.38
This is missing completely from FBIS.

This taxon is now considered a SubFamily Orthocladii

[2020-09-16 10:09] jeremyshelton commented on #2161
@dimasciput how easy is it to assign the reference category to 'Unpublished data' for these 440 records?

[2020-09-21 08:24] helendallas opened #2276 "Base maps not all showing"
We noted a month or two ago that not all base maps are working - these are still not working.

Please can you check and fix

@tim @dimasciput Any ideas what is happening?
We have a demonstration of FBIS tomorrow for AWARD.

[2020-09-21 09:06] helendallas opened #2277 "Check and revise all base maps"
Please check and update base maps - and remove any that are not working

Also Re Terrain: The base map named terrain doesn't look anything like the terrain base map we had before...

Old one

![image](https://user-images.githubusercontent.com/45286876/93748799-1ff80d80-fbf9-11ea-91d4-ac46214dbd89.png)

New one:
![image](https://user-images.githubusercontent.com/45286876/93748923-50d84280-fbf9-11ea

[2020-09-21 09:26] dimasciput commented on #2277
@helendallas we updated it to use the Kartoza base map terrain, the old one is not free that's why we changed it.

[2020-09-21 09:50] dimasciput commented on #2276
@helendallas checking it now

[2020-09-21 10:35] dimasciput commented on #2276
@helendallas unfortunately this will take longer than I expected, should I just hide the layers for now? Only two base layers not working.

[2020-09-21 10:39] helendallas commented on #2276
@dimasciput I think just leave as is, and @jeremyshelton can just leave out demonstration of others. @jeremyshelton  okay with you?

[2020-09-21 13:11] jeremyshelton commented on #2276
@helendallas @dimasciput no problem 👍

[2020-09-22 08:54] helendallas opened #2279 "Geomorphological zone - why only upper and lower"
In the demonstration today with award I noticed that the spatial filter - Geomorphological zone only has Upper and Lower -

What happened to the original ones? and why have these been changed?
@dimasciput  @jeremyshelton

![image](https://user-images.githubusercontent.com/45286876/93861843-76c91a00-fcc1-11ea-998a-4d61c45ffbb2.png)

[2020-09-22 09:04] helendallas opened #2280 "Taxon Overview dashboard - common name missing"
The common name is missing in the overview dashboard

![image](https://user-images.githubusercontent.com/45286876/93863011-3f5b6d00-fcc3-11ea-8fa5-332741607878.png)

[2020-09-22 09:08] helendallas commented on #2280
Also - Correct number of records does not show if GBIF data has been clicked - should be 1231 records

https://freshwaterbiodiversity.org/map/#search/Clarias%20gariepinus/taxon=&search=Clarias%20gariepinus&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%

[2020-09-23 09:28] jeremyshelton commented on #2196
@dimasciput csv files still coming to email spam folder

@timlinux @helendallas

[2020-09-23 09:30] jeremyshelton commented on #2244
@dimasciput any updates on these missing fields in csv downloads yet?

[2020-09-25 11:32] helendallas commented on #2058
@timlinux Current download option on Taxa Management in RBIS staging needs fixing. Please see file attached.
[From RBIS Odonata Adults.xlsx](https://github.com/kartoza/django-bims/files/5282480/From.RBIS.Odonata.Adults.xlsx)

Also please see details for each module described above.

[2020-09-25 11:36] #1843 closed

[2020-09-25 11:36] #1834 closed

[2020-09-25 11:39] #2140 closed

[2020-09-25 11:52] helendallas opened #2283 "Upload taxa - master lists"
@dimasciput For some reason the number of taxa are greater than the number uploaded.
Odonates: should only be 98 species - is 105
Avians: should only be 479 species - is 614.

Duplicate taxa are being added.

[2020-09-29 05:39] helendallas opened #2284 "FBIS / RBIS - Endemism not populated on RBIS or FBIS testing plus extra category needed"
@dimasciput I ingested Odonate data into FBIS testing for South Africa. Two issues:

None of the endemism in the master list is showing up- I ingested this first. Please check why these are not being added to each taxon during upload.

Please also add an extra option as follows:

**National endemic (endemic to the country)** - to come before widespread:

**Order should be as follows please:**

**E

[2020-09-29 07:24] helendallas opened #2285 "Map - Zooming in and out"
At the moment the zoom option is very course - its either to much or too little. See below two screenshots. Is it possible to increase the resolution and control over the zoom area.

Zoomed out -
![image](https://user-images.githubusercontent.com/45286876/94526219-80103480-0235-11eb-86c0-4f535d18244b.png)

Zoomed in once from above
![image](https://user-images.githubusercontent.com/45286876/945262

[2020-10-01 07:10] helendallas commented on #2285
Rechecked -think it is ok, closing ticket

[2020-10-01 07:10] #2285 closed

[2020-10-01 07:34] #2276 closed

[2020-10-01 07:37] helendallas commented on #2277
@NyakudyaA , @timlinux
Is it possible to include the Kartoza Base map that was being worked on- and which I requested be included as a base map option before we switched to satellite. The default should stay as is, but it would be good to include a terrain option.

[2020-10-01 07:50] helendallas opened #2286 "Document management"
We need a way to reassign data to the correct study reference where there are duplicate references.

[2020-10-01 07:50] helendallas commented on #1895
Closing this by way of new ticket #2286

[2020-10-01 07:50] #1895 closed

[2020-10-01 08:03] timlinux opened #2287 "We need to come up with a generic scheme for site naming"

[2020-10-01 08:03] timlinux opened #2288 "We need to get the testing server set up"

[2020-10-01 08:04] timlinux opened #2289 "We need to get the odonates ingested for end September"

[2020-10-01 08:05] timlinux opened #2290 "We need to get the birds ingested. Due for end September"

[2020-10-01 08:05] timlinux opened #2291 "We need to complete preparation of the Anuran data. Due for end September"

[2020-10-01 08:05] timlinux opened #2292 "We need to populate the landing page ready for the version 1 launch."

[2020-10-01 08:06] timlinux opened #2293 "We need to hold a work session to define the initial list of GeoContext layers and establish a timeline for publishing them on the site."

[2020-10-01 08:08] timlinux commented on #2292
@dimasciput can you work with @iPelino to deploy the site on the new domain name?

[2020-10-01 08:10] mmindje commented on #2291
@timlinux Yes, the Anuran data also is ready. The draft shall be sent to @helendallas today

[2020-10-01 08:33] timlinux commented on #2287
We are proposing to use OSM Nominatum e.g.

https://nominatim.openstreetmap.org/reverse?lon=29.51857&lat=-1.70792

[code]

[2020-10-01 08:33] timlinux commented on #2287
We could also use a QDS referencing scheme:

https://en.wikipedia.org/wiki/QDGC

[2020-10-01 08:39] timlinux commented on #2268
Looking this morning:

![image](https://user-images.githubusercontent.com/178003/94787209-eaf27480-03c9-11eb-9b9c-cad6ea77e90a.png)

[2020-10-01 08:54] timlinux commented on #2287
![image](https://user-images.githubusercontent.com/178003/94788874-1ece9980-03cc-11eb-9f61-4e6b06266234.png)

[2020-10-01 09:13] timlinux commented on #2287
Handing over to Maurince and RBIS team to approve the proposal:

L2Catchment-UniqueNumber

e.g.

NAKN_2-00001

[2020-10-01 09:19] timlinux opened #2294 "We need a checklist for validating the site is release."
Ideally we can store the checklist in WagTail so it is communally maintained

[2020-10-01 09:38] timlinux opened #2295 "We need to zoom in to the bbox of RWANDA at page load."
BBOX 28.3184,-0.7904 : 31.1814,-3.1528

[2020-10-01 12:10] helendallas opened #2296 "Add option to change the logo"
Please can you add the option to change the logo for a module in the **Upload Taxonomy Data** section

[2020-10-01 12:16] helendallas opened #2297 "Standardise text for Upload Taxonomic Data, Upload Occurrence Data, Taxon Management"
Please can you revise and standardise text as follows:

**Upload Taxonomic Data** - both drop down, and actual form
**Upload Occurrence Data** - both drop down, and actual form
**Taxon Management** - both drop down, and actual form

[2020-10-01 12:20] FBIS-issues opened #2298 "Download csv returning an error in a new tab"
When i try downloading the csv from inwards water quality layer, it returns the following error in a new tab : &quot;inwards.award.org.za is currently unable to handle this request&quot;. perhaps i am doing something wrong? i am using google chrome

---

User : <a href="http://freshwaterbiodiversity.org/admin/people/profile/2001">User information </a>
Device: Desktop
Referrer: https://freshwaterbi

[2020-10-01 12:42] helendallas opened #2299 "Hiding filters not applicable to RBIS"
@dimasciput Is it possible to hide the filter not valid for RBIS such as:
Ecological Category (SASS)

![image](https://user-images.githubusercontent.com/45286876/94810142-e93da680-03f3-11eb-8c39-c6fb523854ff.png)

[2020-10-01 12:44] dimasciput commented on #2298
Hi Prasheen,

Thanks for the report, we will forward this issue to the data provider.
We let you know when it's resolved.

Regards,

On Thu, 1 Oct 2020 at 19:20, FBIS-issues <notifications@github.com> wrote:

--
*Dimas Ciputra - Software Developer*
Email : dimas@kartoza.com
Tel : +62 812 1679 2585
Visit https://kartoza.com to find out about open source :
 •  Desktop GIS programming services
 •  Ge

[2020-10-01 12:49] helendallas opened #2300 "Filter Origin and endemism"
The endemism is not showing the correct categories.

**Origin:**
Non-native:   non-invasive
Non-native: invasive
Native: see details below

Please can you also add National endemic (endemic to the country) as per #2284

![image](https://user-images.githubusercontent.com/45286876/94810546-754fce00-03f4-11eb-9069-46e69f520d0a.png)

**Endemism: Visible and order should be:**

Micro-endemic level 2 (1

[2020-10-01 12:52] helendallas opened #2301 "Hide Third Party Data in RBIS"
The third party data served in RBIS are not applicable and should be hidden/removed

![image](https://user-images.githubusercontent.com/45286876/94811363-8cdb8680-03f5-11eb-94e0-d62f3ee74b69.png)

[2020-10-01 13:20] #2298 closed

[2020-10-01 13:20] dimasciput commented on #2298
Hi again,

The issue now has been resolved, please try again. Thanks.

On Thu, 1 Oct 2020 at 19:44, Dimas Ciputra <dimas@kartoza.com> wrote:

--
*Dimas Ciputra - Software Developer*
Email : dimas@kartoza.com
Tel : +62 812 1679 2585
Visit https://kartoza.com to find out about open source :
 •  Desktop GIS programming services
 •  Geospatial web development
 •  GIS Training
 •  Consulting Services

[2020-10-01 13:31] dimasciput commented on #2298
Hi Dimas, 
Wow that was quick. Thank you I tested and its working. 
Regards, Prasheen

Sent from Yahoo Mail on Android

  On Thu, 1 Oct 2020 at 15:25, Dimas Ciputra<dimas@kartoza.com> wrote:   Hi again,

The issue now has been resolved, please try again. Thanks.
On Thu, 1 Oct 2020 at 19:44, Dimas Ciputra <dimas@kartoza.com> wrote:

Hi Prasheen,

Thanks for the report, we will forward this issue to

[2020-10-02 06:33] helendallas opened #2302 "Duplicate taxa uploaded"
Please check why duplicate taxa are being uploaded using the Upload Taxa functionality. Here is a csv download of the amphibian master list after importing data twice. Not all taxa were overwritten. The highlighted duplicates were not edited before uploading the file the second time.

[RBIS Amphibian Master CSV download showing duplicate records uploaded.xlsx](https://github.com/kartoza/django-bim

[2020-10-02 06:35] helendallas commented on #2302
See also #2283

[2020-10-02 06:45] helendallas commented on #2106
@timlinux You can already download the data as a csv. It is also useful to have the option to download as a png, so please can we retain as is.  Please close ticket if you agree.

![image](https://user-images.githubusercontent.com/45286876/94895354-8d266100-048b-11eb-8e1b-cc8dbe346f22.png)

[2020-10-02 06:46] dimasciput commented on #2302
@helendallas I think it's because they have different scientific name, did you update the master list before re-uploading the data?
But yea, it should overwrite the existing data.

[2020-10-02 06:50] helendallas commented on #2302
@dimasciput
No thats the thing the only thing I changed was to remove the GBIF link and make No for

Sclerophrys   regularis

[2020-10-02 06:58] helendallas opened #2303 "Fix text in csv export - all"
When unusual letters are exported in the csv files, they get corrupted. Here are some examples:

Hyperolius ocellatus Günther, 1858 - becomes **Hyperolius ocellatus GÃ¼nther, 1858**

Hyperolius viridiflavus Duméril & Bibron, 1841 -  becomes
**Hyperolius viridiflavus DumÃ©ril & Bibron, 1841**

I suspect this is happening for all letters with special characters associated with them.

[2020-10-02 07:02] dimasciput commented on #2303
@helendallas I think this because when you export the excel to csv the encoding is not supported in the system. Can you follow these steps to export the excel to csv : https://stackoverflow.com/questions/4221176/excel-to-csv-with-utf8-encoding#:~:text=In%20Excel%2C%20choose%20%22CSV%20(,and%20save%20as%20that%20type.&text=Then%20choose%20%2D%3E%20Save%20As.,you%20lose%20all%20accents%20etc).

[2020-10-02 07:04] dimasciput commented on #2303
@helendallas please wait, let me find the easier way to do that from excel.

[2020-10-02 07:10] dimasciput commented on #2303
@helendallas I can't open excel in the Windows at the moment, but can you check if there is an option like this when you exporting to csv from excel :
<img width="689" alt="image" src="https://user-images.githubusercontent.com/1979569/94896988-f2dd1200-04b8-11eb-937f-a4a8eac6b6e6.png">

[2020-10-02 07:20] helendallas commented on #2303
@dimasciput  Yes I have this option -  is this the csv format we should be saving files in before uploading?

![image](https://user-images.githubusercontent.com/45286876/94897695-73d3e380-0490-11eb-8339-1a30458f5d5e.png)

[2020-10-02 07:22] dimasciput commented on #2303
@helendallas yes please, it will solve this issue.

[2020-10-02 07:35] helendallas commented on #2303
@dimasciput Okay, I will do for all RBIS data that is uploaded, but not sure what we do with the FBIS data that is already ingested?

[2020-10-02 07:39] dimasciput commented on #2303
@helendallas the fbis on the live site? That's fine, I actually fixed the file manually for FBIS.

[2020-10-02 07:40] dimasciput commented on #2303
@helendallas would you like me to clear all data from staging?

[2020-10-02 07:43] helendallas commented on #2303
@dimasciput I suppose it would be good to do another test upload of all taxa before doing it on the live site for RBIS?  If yes, then please remove all data from RBIS staging and I will upload gaain, thanks

[2020-10-02 08:05] dimasciput commented on #2303
@helendallas ok I cleared the data from staging.

[2020-10-02 08:07] helendallas commented on #2303
@dimasciput Thanks, I will reingest the master lists and data files using the correct csv encoding as recommended.

[2020-10-02 09:45] helendallas commented on #2303
@dimasciput I created the new CSV files using the correct encoder but when I downloaded the csv there were still issues with special letters:

![image](https://user-images.githubusercontent.com/45286876/94910201-a8519a80-04a4-11eb-8636-58a9b249224d.png)

Lamprotornis   purpuroptera RÃ¼ppell, 1845

[2020-10-02 09:59] helendallas opened #2304 "Data upload templates - Master List of Taxonomy"
This is not correct - should be the one attached. It includes dropdowns

![image](https://user-images.githubusercontent.com/45286876/94911182-0b8ffc80-04a6-11eb-9729-945e26ea293c.png)

[Master List of Taxa Template.xlsx](https://github.com/kartoza/django-bims/files/5317200/Master.List.of.Taxa.Template.xlsx)

[2020-10-02 10:20] helendallas opened #2305 "Data Upload template - may require revision -"
When we designed the template for uploading occurrence data, we did it for rivers and FBIS.

Now that it is being used for wetlands in RBIS, some revision, or further thought is needed to make the data upload template more generic.  Also FBIS Phase 2 will include wetlands.

The problem headers in the template currently include:

**Original River Name** - this should probably change to **Original R

[2020-10-02 10:25] helendallas commented on #2305
The suggested revised template for adding to the upload section is attached -  the current one is incorrect.

![image](https://user-images.githubusercontent.com/45286876/94913585-cf5e9b00-04a9-11eb-8eef-22c355940d6a.png)

[Occurrence Data Upload Template.xlsx](https://github.com/kartoza/django-bims/files/5317328/Occurrence.Data.Upload.Template.xlsx)

[2020-10-06 10:07] jeremyshelton commented on #2052
Here is a link which contains the spreadsheet of outstanding spatial filter issues and associated url links. See sheet called 'oct2020':https://www.dropbox.com/home/FRC_Kartoza%20Shared%20Folder%20for%20FBIS/Filters?select=FBIS+FILTER+TESTING_MAY2020.xlsx

Also, here is s screenshot of the outstanding issues:

<img width="640" alt="Screenshot 2020-10-06 at 12 04 56" src="https://user-images.github

[2020-10-06 10:14] jeremyshelton opened #2306 "Lasso tool - close Lasso Control not working:"
Lasso tool - close Lasso Control not working:

![Screenshot 2020-10-06 at 12 13 22](https://user-images.githubusercontent.com/44292029/95188872-5de65b80-07cd-11eb-8b3b-b38d631e72b6.png)

[2020-10-06 11:03] jeremyshelton commented on #1807
This is not sorted yet.

There are still a lot of incorrect category labels and use of letter cases (e.g. upper case vs lower case etc).

Here is a link (see sheet called 'NBA 2018') to a spreadsheet with all of the correct labels for the different categories within each filter group: https://www.dropbox.com/home/FRC_Kartoza%20Shared%20Folder%20for%20FBIS/Filters?select=FBIS+FILTER+TESTING_MAY2020

[2020-10-06 12:42] #2200 closed

[2020-10-06 12:47] helendallas commented on #2040
Tested again and it is working - closing

[2020-10-06 12:51] helendallas commented on #2192
Closing as more important issues to deal with

[2020-10-06 12:51] #2192 closed

[2020-10-06 13:27] helendallas commented on #2196
Please can you allow large amounts of SASS data to be downloaded as csv file which is then emailed to users as per the fish, invert and algal data. From ticket #2267

[2020-10-06 13:27] helendallas commented on #2267
closing via #2196

[2020-10-06 13:27] #2267 closed

[2020-10-06 13:32] #2082 closed

[2020-10-06 13:36] helendallas commented on #2156
**Please Remove**
External Resources
Bibliography
GIS Catalogue

**Retain all others including:**
Documents & Reports  -  under construction - keep for FBIS Phase 2

[2020-10-06 13:41] #2197 closed

[2020-10-06 13:53] #1861 closed

[2020-10-06 13:54] #1987 closed

[2020-10-06 13:57] #2056 closed

[2020-10-06 13:58] #2035 closed

[2020-10-06 14:27] helendallas commented on #2137
Checked and its fine. Taxa in old database without abundance

[2020-10-06 14:27] #2137 closed

[2020-10-06 14:49] helendallas commented on #2084
@dimasciput Please confirm if this is fixed on FBIS live - as I still get repeats on FBIS Lives
![image](https://user-images.githubusercontent.com/45286876/95216298-2f2eac00-07f2-11eb-99a1-40eda8207c14.png)

And cannot get beyond 99% on staging
![image](https://user-images.githubusercontent.com/45286876/95217635-b3cdfa00-07f3-11eb-8a4d-43d62c64e7f9.png)

[2020-10-07 05:32] jeremyshelton opened #2307 "Background image: log out"
Background image for the log out screen should look the same as the log in screen. It the moment it is very zoomed in and doesn't look good.

<img width="1440" alt="Screenshot 2020-10-07 at 07 21 34" src="https://user-images.githubusercontent.com/44292029/95290914-ac980200-086e-11eb-8e14-25ffe160f520.png">
![Uploading Screenshot 2020-10-07 at 07.26.19.png…]()

[2020-10-08 08:42] helendallas commented on #2284
I also ingested odonates on RBIS live, Endemism is not being populated even though the master list has data.
![image](https://user-images.githubusercontent.com/45286876/95435474-e80bfc80-0952-11eb-8f6f-4a3b9e19e173.png)

[2020-10-08 08:50] timlinux opened #2308 "Docs link is broken"
**Describe the bug**
Docs link takes you to the map page

**Expected behavior**
It should open the wagtail page

[2020-10-08 08:51] dimasciput commented on #2308
It is fixed

[2020-10-08 08:53] #2308 closed

[2020-10-08 08:54] timlinux opened #2309 "RBIS Records should be on by defaul"
**Describe the bug**

![image](https://user-images.githubusercontent.com/178003/95436778-2651ed80-094c-11eb-9d60-8371d0db1e8f.png)

When opening the site the RBIS module should be checked by default

[2020-10-08 09:21] timlinux opened #2310 "Latest stories needs to be implemented on landing page"
**Describe the bug**

Currently the landing page is almost done, just needs the latest news section completed.

![image](https://user-images.githubusercontent.com/178003/95439715-e7be3200-094f-11eb-9cd9-0355d2454f29.png)

[2020-10-09 01:40] dimasciput commented on #2279
@helendallas @jeremyshelton
fixed in live
![image](https://user-images.githubusercontent.com/1979569/95532623-1816d680-0a0b-11eb-9ced-834196ee12a7.png)

[2020-10-09 02:00] dimasciput commented on #2274
Fixed from backend, the data are still there but the taxon was incorrect.
https://freshwaterbiodiversity.org/map/#search/Orthocladiinae/taxon=&search=Orthocladiinae&siteId=&collector=&category=&yearFrom=1977&yearTo=1979&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=&validated=&sourceCollection=[%22fbis%22]&abioticData=&ecologica

[2020-10-09 02:10] dimasciput commented on #2157
@jeremyshelton fixed

[2020-10-09 02:15] dimasciput commented on #2091
![image](https://user-images.githubusercontent.com/1979569/95534387-e5231180-0a0f-11eb-9c79-ad831108d832.png)

Updated to m/s

[2020-10-09 02:15] dimasciput commented on #2091
@jeremyshelton

[2020-10-09 02:18] dimasciput commented on #2280
@helendallas

It is correct now ( on live )
![image](https://user-images.githubusercontent.com/1979569/95534547-55319780-0a10-11eb-95ea-27d87b66fe57.png)

Will update this on testing

[2020-10-09 03:45] dimasciput commented on #2271
@helendallas fixed in live

[2020-10-09 04:20] dimasciput commented on #2270
@helendallas
It's because there is a site in here
![image](https://user-images.githubusercontent.com/1979569/95542954-6e8f0f80-0a21-11eb-9744-3bbb0346fc3d.png)

[2020-10-09 05:36] dimasciput commented on #2307
Fixed in testing @jeremyshelton

[2020-10-09 05:45] dimasciput commented on #2052
@jeremyshelton I couldn't find the file, can you send it to me via email instead?

[2020-10-09 06:32] #2157 closed

[2020-10-09 06:44] helendallas commented on #2274
@dimasciput
The taxa appear in the filter, but not in the list or the csv file. See e.g. Tanypodinae

https://freshwaterbiodiversity.org/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=[%22145%22]&endemic=&conservationStatus=[]&modules=21&validated=&sourceCollection=[%22fbis%22]&abioticData=&

[2020-10-09 06:47] #2279 closed

[2020-10-09 06:51] #2091 closed

[2020-10-09 06:51] dimasciput commented on #2202
@jeremyshelton @helendallas This is a big feature, basically overhaul the entire form. Let's put this ticket for RBIS v2.

[2020-10-09 06:59] jeremyshelton commented on #2202
@dimasciput OK that makes sense 👍

[2020-10-09 07:00] dimasciput commented on #2034
@helendallas this could be done in the new version,  you can test in on the testing.

1. Go to the the site dashboard https://testing.healthyrivers.kartoza.com/map/#site-detail/taxon=&search=Anguilla%20bicolor&siteId=29763&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=1&validated=&sourceCol

[2020-10-09 07:05] jeremyshelton commented on #2052
Done.

[2020-10-09 07:06] jeremyshelton commented on #2307
OK thanks @dimasciput looks fine on testing. That can be rolled out to live.

[2020-10-09 07:08] dimasciput commented on #2166
@helendallas
I added search and filter function for Chemical Record in the admin page, only on testing.
First you need the Site Code and the date of the chemical record collected, then follow these steps :
- Go to chemical record admin page http://testing.healthyrivers.kartoza.com/admin/bims/chemicalrecord/
- Search the site code, in your case it's G2EERS-JONKE
![image](https://user-images.githubu

[2020-10-09 07:09] dimasciput commented on #2160
@helendallas fixed in the testing

[2020-10-09 07:10] dimasciput commented on #2277
@helendallas all the basemap layers should work in the testing, I removed the greyscale one because it's not free anymore.

[2020-10-09 07:11] dimasciput commented on #2150
Fixed in testing

[2020-10-09 07:12] dimasciput commented on #2306
@jeremyshelton fixed in testing

[2020-10-09 07:15] jeremyshelton commented on #2306
@dimasciput thanks. Looks good. That can be rolled out to live 👍

[2020-10-09 07:17] dimasciput commented on #2307
@helendallas @jeremyshelton to roll out latest bims to live we might want to shut down the live site for a day, because the changes are quite big. And I also need to thoroughly test it.
I think it's better to do it on my second maintenance day.

[2020-10-09 07:19] jeremyshelton commented on #2307
Makes sense @dimasciput , I am happy with that approach.

[2020-10-09 08:09] dimasciput commented on #2274
@helendallas please try again

[2020-10-09 08:23] dimasciput commented on #2161
@jeremyshelton I have updated them to 'Unpublished data'

[2020-10-09 08:37] jeremyshelton opened #2312 "CSV downloads coming to email spam folder"
@dimasciput CSV download emails are still coming to email spam folder. Is there an easy way to get these to come into the inbox instead?

<img width="1058" alt="Screenshot 2020-10-09 at 10 35 39" src="https://user-images.githubusercontent.com/44292029/95561705-69c75d00-0a1b-11eb-932c-a9d50373b66d.png">

@helendallas @timlinux

[2020-10-09 08:39] Mashao-hub opened #2313 "500-SERVER ERROR"
I uploaded the same error on Wednesday too. This message appears once you type in the data either the first page or after inputting the SASS data.
![IMG_7513](https://user-images.githubusercontent.com/72549319/95561945-bf036e80-0a1b-11eb-97cf-8461e530852d.jpg)

[2020-10-09 08:44] jeremyshelton commented on #2161
Thanks @dimasciput - I have checked it and it looks good 👍

[2020-10-09 08:44] #2161 closed

[2020-10-09 09:40] dimasciput commented on #2312
@jeremyshelton I fixed it in live site

[2020-10-09 09:41] dimasciput commented on #2244
@jeremyshelton can you check again?

[2020-10-09 09:46] dimasciput commented on #2158
@helendallas I'll do this on RBIS instead, I think it will valuable to them too. I will add a date for site images in site dashboard and sass dashboard.

[2020-10-09 09:49] dimasciput commented on #2052
@jeremyshelton I'll be running a script over the weekend to retrieve the missing geocontext data, I don't want to make the site unstable right now.

[2020-10-09 09:50] dimasciput commented on #2196
@helendallas unfortunately I can't do this today, I will make this task top priority for the next maintenance day.

[2020-10-09 09:51] dimasciput commented on #1523
@helendallas this should be feasible in the latest version, because we have site visit for all occurrences now. I will do this on RBIS instead I think.

[2020-10-09 12:30] jeremyshelton commented on #2312
Great. Thanks @dimasciput

[2020-10-09 12:31] #2312 closed

[2020-10-09 12:34] helendallas opened #2314 "We need a way to add a new sampling method"
When new modules and data are added, it is common for a new sampling method to be needed, e.g. "Visual observation" was needed for Avians and Odonate adults.

We may need a new one for amphibians - just first checking with @mmindje what is/are most appropriate

[2020-10-09 12:38] jeremyshelton commented on #2244
OK looking good now 👍

[2020-10-09 12:39] #2244 closed

[2020-10-09 12:40] jeremyshelton commented on #2052
OK thanks @dimasciput
Ping us when it's done and I'll have a look 👍

[2020-10-12 08:16] helendallas commented on #2270
Interesting, site incorrectly associated with this report. I have unlinked it.

[2020-10-12 08:16] #2270 closed

[2020-10-12 08:22] #2271 closed

[2020-10-12 08:32] helendallas commented on #2034
Thanks, working well

[2020-10-12 08:32] #2034 closed

[2020-10-12 08:42] helendallas commented on #2166
Thanks

[2020-10-12 08:42] #2166 closed

[2020-10-12 08:48] helendallas commented on #2274
Thanks, working fine now

[2020-10-12 08:48] #2274 closed

[2020-10-12 08:52] #2160 closed

[2020-10-12 08:57] helendallas commented on #2277
Thanks, looking good

[2020-10-12 08:57] #2277 closed

[2020-10-12 09:03] helendallas commented on #2280
@dimasciput Name showing is the scientific name, not the common name.  These were provided in the Master list for fish, and will be for odonate in the future. Not all invertebrates or algae have common names for now. So the common name should be included when it has been provided in the master list.

![image](https://user-images.githubusercontent.com/45286876/95727130-130b8e80-0c7a-11eb-94cb-7c3fa

[2020-10-12 09:07] helendallas commented on #2150
@dimasciput needs to be Latitude should be "negative degrees South" not "negative degrees North"

![image](https://user-images.githubusercontent.com/45286876/95727749-e7d56f00-0c7a-11eb-9002-faac7965af00.png)

[2020-10-12 09:09] #2306 closed

[2020-10-12 10:14] helendallas commented on #2290
Master list and occurrence data successfully uploaded.

![image](https://user-images.githubusercontent.com/45286876/95734869-566afa80-0c84-11eb-88ea-4985bde42735.png)

![image](https://user-images.githubusercontent.com/45286876/95734911-67b40700-0c84-11eb-94ec-112a066a1b5d.png)

[2020-10-12 10:15] helendallas commented on #2289
Completed, master list and occurrence data uploaded

![image](https://user-images.githubusercontent.com/45286876/95735044-9af69600-0c84-11eb-9df5-1243078db15e.png)

![image](https://user-images.githubusercontent.com/45286876/95735015-8e723d80-0c84-11eb-90f6-a33553b5db50.png)

[2020-10-12 10:35] mmindje commented on #2290
Hi @helendallas , was the GBIF data also harvested for the birds?
Thank you

[2020-10-12 10:42] helendallas commented on #2290
@mmindje Yees It has been harvsted but I need @dimasciput to check why as per details below:
Hi Dimas

Late yesterday I harvested GBIF data for Avians. I thought it had hung as it shows it has stopped on 221.

But on the map, it shows there are now 1753 sites with 31225 records of Avians+GBIF

Aves data extracted directly from GBIF in Rwanda – attached – record only 654 records.  Please can you ch

[2020-10-12 10:45] mmindje commented on #2290
Thank you so much

On Mon, 12 Oct 2020 at 12:42, Helen Dallas <notifications@github.com> wrote:

--
.............................................................

*Mapendo MINDJE*
*University of Rwanda-CAVM Teaching and Research assistant*
*Frogs and Toads co**mmunity ecologist*
*Amphibian survey team leader-ARCOS network.*
*Team leader-Biodiversity Information management for Rwanda-CoEB*
*ORCID:

[2020-10-12 11:08] helendallas commented on #2294
@timlinux @dimasciput I cannot begin the checking and creation of this until the various RBIS V1 issues have been sorted. It will require screenshots, and I don't want to have to repeat it all again.

Can you please indicate when Dimas will be working on the RBIS tickets.

[2020-10-12 11:15] helendallas commented on #2291
The amphibian master list of taxa and the occurrence data file have been uploaded to RBIS. One species was manually added (the error noted below) - as it would not upload as normal.

![image](https://user-images.githubusercontent.com/45286876/95740533-ff1d5800-0c8c-11eb-9a1d-690b0bef6a1c.png)

[2020-10-12 11:22] helendallas commented on #2289
Data harvested from GBIF

![image](https://user-images.githubusercontent.com/45286876/95740647-355ad780-0c8d-11eb-93c9-99896f3a0ced.png)

### Stats:

**RBIS: 92 sites, 94 taxa, 580 records**
![image](https://user-images.githubusercontent.com/45286876/95740854-87036200-0c8d-11eb-9ac6-c8cf7d236a69.png)

**GBIF: 71 sites, 28 taxa, 251 records**
![image](https://user-images.githubusercontent.com/45286

[2020-10-12 11:27] helendallas commented on #2291
Data harvested from GBIF

![image](https://user-images.githubusercontent.com/45286876/95741446-90d99500-0c8e-11eb-84a7-cc6eb2ba9076.png)

### Stats:

**RBIS: 731 sites, 23 taxa, 1366 records**

![image](https://user-images.githubusercontent.com/45286876/95741267-46581880-0c8e-11eb-8e9e-0898087ef656.png)

**GBIF: 42 sites, 22 taxa, 93 records**

![image](https://user-images.githubusercontent.com/45

[2020-10-12 11:33] helendallas commented on #2290
Avian data harvested from GBIF - note that this shows cancelled - but there is substantial data harvested, so awaiting verifcation.

![image](https://user-images.githubusercontent.com/45286876/95741885-5e7c6780-0c8f-11eb-8b04-cfaeb47db8c3.png)

### Stats:

**RBIS: 3 sites, 223 taxa, 317 records**

![image](https://user-images.githubusercontent.com/45286876/95741712-0b0a1980-0c8f-11eb-99a6-d2991ed1

[2020-10-12 11:51] helendallas commented on #2141
@mmindje It would be good to keep this ticket open and updated with the data set tracker.
Please can you update and add the file to this ticket so that we can see where we are. Please can you ask Maurice to add the spatial layer to be used for filtering and contextualising he biodiversity data.

[2020-10-12 13:09] helendallas opened #2316 "Avian, Odonate Master lists - accepted versus synonyms"
@dimasciput
Three species in our master list are noted on GBIF as having synonyms. They are correct in the Taxon Management but not when the master list is downloaded as a csv. see e.g.

@mmindje Please note these species and update the master list. We don't have to re-upload into RBIS though.

They are:

Ardea alba - this is the accepted name, whereas Casmerodius albus is the synonym
![image](htt

[2020-10-12 13:10] helendallas commented on #2316
@dimasciput I assume if I make the canonical name the accepted on then this will be fixed. Please confirm before I change.

[2020-10-12 13:28] helendallas commented on #2316
@dimasciput @mmindje

Also for Odonate Adults:
![image](https://user-images.githubusercontent.com/45286876/95751804-680dcb80-0c9f-11eb-9ec0-28322af8f13c.png)

![image](https://user-images.githubusercontent.com/45286876/95751845-73f98d80-0c9f-11eb-8248-380c276d77d7.png)

[2020-10-13 07:01] helendallas opened #2317 "Metadata table - Source and URL/DOI column is not populating correctly for all study references"
The Source and URL/DOI column metadata table is not populating correctly for all study references

https://rbis.kartoza.com/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&modules=8&validated=&sourceCollection=[%22RBIS%22,%22gbif%22]&abioticData=&ecologicalCate

[2020-10-13 07:34] helendallas opened #2318 "Check forms for capturing new avian records"
We need to check existing data capture forms of RBIS to evaluate if they are suitable for capturing avian data on RBIS.

[2020-10-13 07:35] helendallas opened #2319 "Check forms for capturing new odonate adult records"
We need to check existing data capture forms of RBIS to evaluate if they are suitable for capturing odonate adult data on RBIS.

[2020-10-13 07:44] helendallas opened #2320 "Check forms for capturing new amphibian records"
We need to check existing data capture forms of RBIS to evaluate if they are suitable for capturing amphibian data on RBIS.

[2020-10-13 08:22] helendallas commented on #2318
On https://staging.rbis.kartoza.com no avian taxa are visible. We need data autopopulated as with FBIS.

![image](https://user-images.githubusercontent.com/45286876/95834970-efaa1780-0d3d-11eb-85e6-cbd66a569a80.png)

[2020-10-15 06:51] #2310 closed

[2020-10-15 06:51] iPelino commented on #2310
Done

[2020-10-15 08:46] timlinux commented on #2290
@dimasciput please validate the numbers as laid out by Helen above to confirm our data is 'good'.

[2020-10-15 09:07] timlinux opened #2324 "We need to have correct the GeoContext items used for Site codes"
So to generate the site codes according to this scheme:

![image](https://user-images.githubusercontent.com/178003/96101967-e780e200-0ecd-11eb-8121-ad155292fe40.png)

We need to have the relevant field present in the dataset

![image](https://user-images.githubusercontent.com/178003/96101913-db952000-0ecd-11eb-8c8c-465fcc4311f3.png)

And the mapping in geocontext service definitions should point t

[2020-10-15 09:24] timlinux opened #2325 "Too many fields in side panel"
@mumaurice and @mmindje

Can you please refine the list of context items shown in the side panel and dashboard

![image](https://user-images.githubusercontent.com/178003/96102505-80aff880-0ece-11eb-90aa-5f57e430ee70.png)

These can be managed using the admin panel here:

https://geocontext.kartoza.com/admin/geocontext/contextserviceregistry/1460/change/

![image](https://user-images.githubusercont

[2020-10-16 03:34] #2297 closed

[2020-10-16 10:18] mumaurice commented on #2324
Hi @timlinux ,

Thank you for the ticket and the inquiry. If I understand correctly, the sites should have these attributes? If this is correct, it means that the data team (headed by Mapendo), can supply us with the data and we add related attributes? (Province, District, Catchment - level 1, and the fid corresponding to the sequence of the data collection per site?). Sorry, I got a bit confused

[2020-10-16 10:21] mumaurice commented on #2325
Hi @timlinux ,

Thank you bring this important aspect, up. Yesterday we had a meeting in the afternoon, and we agreed that only three geocontext layers (Catchment Level 1, Province and Rivers) will remain shown on the side panel. Obed has fixed that this morning and updates are visible on the system.

[2020-10-16 10:27] mumaurice opened #2330 "Unknown Site Description for RBIS, and Rivers layer duplicated!"
Hi @timlinux @dimasciput @mmindje @helendallas,

Yesterday we had a meeting as a local RBIS team. We have noted that our site description is "Unknown" but the data team says that they filled the collum for "Site Description" while collecting the data. Please see the screenshot attached!
![InkedRBIS_Site_Description_Missing_LI](https://user-images.githubusercontent.com/65652986/96247997-2afd4e00-0f

[2020-10-16 10:28] mumaurice commented on #2330
![InkedRBIS_Site_Description_Missing_LI](https://user-images.githubusercontent.com/65652986/96247938-115c0680-0fab-11eb-9793-053e071a8c77.jpg)

[2020-10-16 10:36] mumaurice commented on #2330
@timlinux @dimasciput @mmindje @helendallas,

The second issue is that it appears like we registered two different River(s) layers, while it's not the case. We were wondering if there might be a layer created as a placeholder, or if we have to correct something from our side. Please see the attached screenshot
![InkedRBIS_Site_River_Layer_Duplicated_LI](https://user-images.githubusercontent.com/65

[2020-10-16 12:18] helendallas commented on #2330
@mumaurice @mmindje
The RBIS data - selected using **Data Sources** filter, all have Site descriptions and uploaded in the data files.
However - the GBIF data harvested from GBIF does not have site description - hence it comes up as Unknown

RBIS data
![image](https://user-images.githubusercontent.com/45286876/96257068-08befc80-0fba-11eb-9ebb-253f698ba35e.png)

GBIF data
![image](https://user-imag

[2020-10-16 12:18] helendallas commented on #2330
I cannot comment on this

[2020-10-16 12:35] mmindje commented on #2330
@Maurice Mugabowindekwe <mugabomaurice@gmail.com> maybe check if in the
site pannel those two names that appear as "River and Rivers" can be merged
if possible. I am not sure how it works with the system

On Fri, 16 Oct 2020 at 14:18, Helen Dallas <notifications@github.com> wrote:

--
.............................................................

*Mapendo MINDJE*
*University of Rwanda-CAVM Teachin

[2020-10-17 09:41] dimasciput commented on #2330
Hi @mumaurice I fixed it
![image](https://user-images.githubusercontent.com/1979569/96333988-8efd4080-1097-11eb-8218-5dc8a29dcefb.png)

[2020-10-19 07:58] helendallas opened #2333 "Cannot add new taxon not in GBIF in Taxon Management"
At the moment it is impossible to add a taxon if it is not in GBIF. We need this functionality as not all taxa are correct or on GBIF.

Workflow needs to be revised, so the full taxon hierarchy can be added for taxa no in GBIF

https://testing.healthyrivers.kartoza.com/taxa-management/

[2020-10-19 08:02] #2301 closed

[2020-10-19 08:03] #2299 closed

[2020-10-19 08:40] #2296 closed

[2020-10-21 10:31] helendallas opened #2334 "Freshwater ecoregions needs i information"
Please can you add the following abstract information to the :

![image](https://user-images.githubusercontent.com/45286876/96705407-89ed0980-1395-11eb-92b9-48215de61394.png)

The Freshwater Ecoregions Of the World (FEOW) provide a global biogeographic regionalization of the Earth's freshwater biodiversity. FEOW were published in 2008 by the The Nature Conservancy. TNC is the originator of this ve

[2020-10-21 12:18] mumaurice commented on #2330
@helendallas Many thanks Helen for the insightful feedback. Together with Obed, we are going to work with @mmindje and the data team so that we can have attributes containing the location information (as per the accepted code name) for each site. I hope this will enable @dimasciput to pull those attributes, concatenate them and make the name code appear automatically for every site

[2020-10-21 12:22] mumaurice commented on #2330
@dimasciput many thanks for the great support. The river duplicate has been removed successfully!

[2020-10-22 07:16] helendallas commented on #2330
@mumaurice @mmindje Data that are harvested from GBIF, will be updated on a regular basis to ensure that all data published to GBIF are served via RBIS.   So if you update this on RBIS it will be overwritten each time data are harvested. My suggestion would be the following:

@dimasciput Is it possible to include the Locality as the Site description for all GBIF data?  I have checked and it seems

[2020-10-22 07:18] helendallas opened #2335 "FBIS Site code not working for all sites"
Please check why some codes are not being generated correctly. I think this is GBIF data.

![image](https://user-images.githubusercontent.com/45286876/96837910-697d8780-1447-11eb-8321-cf5427f9f76d.png)

[2020-10-22 07:39] dimasciput commented on #2290
@helendallas you can check the summary here : https://rbis.ur.ac.rw/summary-report/

[2020-10-22 07:49] helendallas commented on #2290
@dimasciput That is very useful. SO should I ignore the descrpancy witht eh Aves data downloaded directly from GBIF?

See earlier comment...
Aves data extracted directly from GBIF in Rwanda – attached – record only 654 records.

[Avian data extracted from GBIF.xlsx](https://github.com/kartoza/django-bims/files/5364610/Avian.data.extracted.from.GBIF.xlsx)

[2020-10-22 07:49] #2289 closed

[2020-10-22 07:50] #2291 closed

[2020-10-22 07:52] helendallas commented on #2141
Data set tracker is maintained in the Data-management-FRC-RBIS project, ticket #3

[2020-10-22 07:58] helendallas commented on #2290
@dimasciput I just extracted Aves in Rwanda again and now I get 19,619 occurrences downloaded, so I reckon just ignore this. I am sure waht we are getting is fine??

[2020-10-22 08:09] helendallas commented on #2290
@dimasciput I am getting very confused with GBIF.....now I ran the query below:
and only 520 record, essentially including Aves, Present, Co-ordinates, Rwanda

https://www.gbif.org/occurrence/search?continent=AFRICA&country=RW&has_coordinate=true&has_geospatial_issue=false&taxon_key=212&occurrence_status=present

Please can you check again, as the numbers from your automated and mine are very diff

[2020-10-22 09:24] helendallas commented on #2290
@dimasciput Okay, closing this now. I dont really understand GBIF. Not intuitive

[2020-10-22 09:24] #2290 closed

[2020-10-22 09:27] #2295 closed

[2020-10-22 09:28] #2309 closed

[2020-10-28 12:16] helendallas commented on #1523
@dimasciput Thanks for the site visit addition.

Outstanding from this ticket is the

**Filter interactions**
Create functionality for filter interactions. E.g. Spatial Filter X Temporal Filter X Conservation Status X Ecological Category. This will allow the user to harness the full power of the system, allowing for full customisation when filtering for subsets of data

[2020-10-28 12:23] helendallas opened #2338 "Adding Filter interactions"
Create functionality for filter interactions. E.g. Spatial Filter X Temporal Filter X Conservation Status X Ecological Category. This will allow the user to harness the full power of the system, allowing for full customisation when filtering for subsets of data.

And within different Spatial filters: One such request was Ecoregion Level 1 + Geomorphological zone.

There is clearly a need for this

[2020-10-28 13:24] mmindje opened #2340 "Suggesting some changes"
@dimasciput we have got some discussion on the naming of some features,
Look at the screenshot

is there a way **owner** can be changed to **Users** and also, the data collection dates, on the first page, we see collection dates in November 2020 yet we are in October, may be we can revise this in our meeting to have all the notes

![image](https://user-images.githubusercontent.com/64961274/9744153

[2020-10-29 08:09] helendallas opened #2341 "SASS Scores not correct in CSV Summary table"
I noticed some very low SASS Scores in the CSV when testing #2196 . Then I checked on FBIS Live, and noted the following issues that needs urgent checking please.

Single Site Dashboard - SASS: https://freshwaterbiodiversity.org/sass/dashboard/9909/?taxon=&search=G2EERS-JONKE&siteId=9909&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&refere

[2020-10-29 08:10] helendallas commented on #2084
@dimasciput Please talk to this ticket......

[2020-10-29 08:18] helendallas commented on #2196
@dimasciput
I tested this on FBIS testing. The **SASS Summary** email was received in inbox
![image](https://user-images.githubusercontent.com/45286876/97542326-39962d00-19cf-11eb-9af9-73294fcd8f57.png)

The **All SASS data** email went to spam folder
![image](https://user-images.githubusercontent.com/45286876/97542381-4fa3ed80-19cf-11eb-8feb-45a9288674e2.png)

Both also show processing even thoug

[2020-10-29 08:22] dimasciput commented on #2196
@helendallas the testing will always go to spam folder, since it's not using correct email provider like production.

Yes because there is no way to know the email has been received so I did this to avoid multiple downloads by users.

[2020-10-29 09:59] timlinux opened #2342 "User name does not show properly in confirmation email"
![image](https://user-images.githubusercontent.com/178003/97553470-60ebfa80-19cd-11eb-8dba-02880257dcda.png)

[2020-10-29 10:14] timlinux opened #2343 "We need to validate and approve data download requests"
We need to have the ability to review any request for 'raw' data before it it provided to the user:

![image](https://user-images.githubusercontent.com/178003/97554593-e6bc7580-19ce-11eb-9114-28d1d48bad5d.png)

After clicking download, if the user is not logged in we should prompt them to first log in (already implemented on the site)
If the user is logged in and part of a 'downloads allowed' grou

[2020-10-29 10:45] mmindje commented on #2340
The new names @dimasciput and @timlinux can be straight after the site code/GBIF locality names and we add a column for updated names/RBIS names

[2020-10-29 10:47] mmindje commented on #2340
@dimasciput , so we agreed that owner would be rather GBIF than Dimas
Great!

[2020-10-29 11:56] helendallas commented on #2196
@dimasciput Thanks, then it is all working greta thanks. Closing ticket.